<template>
  <g>
    <!-- Column 1 -->
    <LogSectionScale
      :x="x"
      y="0"
      width="4"
      height="1"
      :scale-color="color"
      :scale-title="scaleTitle"
      :scale-unit="scaleUnit"
      scale-min="0"
      :scale-max="scaleMax"
    />
    <LogSection
      :x="x"
      y="1"
      width="4"
      :height="chartHeight"
      clip="section4x31"
    >
      <LogGrid
        width="4"
        :height="chartHeight"
        :min-depth="minDepth"
        :max-depth="maxDepth"
        :min-val="0"
        :max-val="scaleMax"
      />
      <LogLine
        v-if="chartType==='line'"
        width="4"
        :height="chartHeight"
        :min-depth="minDepth"
        :max-depth="maxDepth"
        :min-val="0"
        :max-val="scaleMax"
        :data="data"
        :stroke="color"
        stroke-width="2"
      />
      <!-- <k-log-histogram width="2.5" :height="chartHeight" :minDepth="minDepth" :maxDepth="maxDepth" :minVal="0" :maxVal="1000" :data="spp" stroke="black" stroke-width="1" fill="red" /> -->
      <LogHistogram
        v-if="chartType==='histogram'"
        width="4"
        :height="chartHeight"
        :min-depth="minDepth"
        :max-depth="maxDepth"
        :min-val="0"
        :max-val="scaleMax"
        :data="data"
        :stroke="color"
        stroke-width="1"
        :fill="color"
      /> -->
    </LogSection>
    <LogYScale
      :x="parseInt(x)+4"
      y="1"
      width="1"
      :height="chartHeight"
      :min-depth="minDepth"
      :max-depth="maxDepth"
    />
  </g>
</template>

<script>
// import k from '@/lib/k.js'
import * as d3 from 'd3'
window.d3 = d3

export default {
  name: 'DHLogColumn',
  props: {
    chartType: { type: String, default: 'line' },
    x: { type: [Number, String], default: 0 },
    minDepth: { type: Number, default: 0 }, // min Y value (in real data for example meters)
    maxDepth: { type: Number, default: 100 }, // max Y value
    color: { type: String, default: 'blue' },
    scaleMin: { type: String, default: '0' },
    scaleMax: { type: Number, default: 100 },
    scaleUnit: { type: String, default: 'Unit' },
    scaleTitle: { type: String, default: 'Title' },
    chartHeight: { type: Number, default: 10 },
    data: { type: Array, default: () => ([]) } // array of real values which will be converted to pixels and plot on the svg graphics
  },
  data () {
    return {
    }
  },
  computed: {
  },
  methods: {
    cm: v => v * 37.7952755906
  }
}
</script>
