<template>
  <clipPath>
    <path
      :d="filledData"
    />
  </clipPath>
</template>

<script>

import * as d3 from 'd3'

export default {
  name: 'LogClip',
  props: {
    width: { type: Number, default: 100 },
    height: { type: Number, default: 100 },
    minDepth: { type: Number, default: 0 },
    maxDepth: { type: Number, default: 100 },
    minVal: { type: Number, default: 0 },
    maxVal: { type: Number, default: 1 },
    data: { type: Array, default: () => ([]) }
  },

  computed: {
    xScale () { return d3.scaleLinear().domain([this.minVal, this.maxVal]).range([this.cm(0), this.cm(this.width)]) },
    yScale () { return d3.scaleLinear().domain([this.minDepth, this.maxDepth]).range([this.cm(0), this.cm(this.height)]) },
    filledData () {
      if (this.data.length) {
        const res = []
        for (let i = 0, n = this.data.length; i < n; i++) {
          if (i === 0) res.push({ depth: this.data[i].depth, value: 0 })
          res.push(this.data[i])
          if (i === n - 1) res.push({ depth: this.data[i].depth, value: 0 })
        }
        return (
          d3.line()
            .defined(d => !isNaN(d.value) && (!isNaN(d.depth) || (!isNaN(d.from) && !isNaN(d.to))))
            .x(d => this.xScale(d.value))
            .y(d => this.yScale(isNaN(d.depth) ? d.from + (d.to - d.from) / 2 : d.depth))
        )(res) + 'Z'
      }
      return null
    }
  },

  methods: {
    cm: v => v * 37.7952755906
  }

}

</script>
