<template>
  <g
    :transform="`translate(${ cm(x) },${ cm(y) })`"
  >
    <path
      v-for="(tick, i) in hticks"
      :key="'htick' + i "
      :d="hTickData(tick.val)"
      fill="none"
      :stroke="tick.main ? 'rgb(40, 40, 40)' : 'rgb(95, 170, 106)'"
      stroke-width="0.5"
    />
    <path
      v-for="(tick, i) in vticks"
      :key="'vtick' + i "
      :d="vTickData(tick.val)"
      fill="none"
      :stroke="tick.main ? 'rgb(40, 40, 40)' : 'rgb(95, 170, 106)'"
      stroke-width="0.5"
    />
  </g>
</template>

<script>

import * as d3 from 'd3'

export default {
  name: 'LogGrid',
  props: {
    x: { type: [Number, String], default: 0 },
    y: { type: [Number, String], default: 0 },
    width: { type: [Number, String], default: 100 },
    height: { type: [Number, String], default: 100 },
    minDepth: { type: Number, default: 0 },
    maxDepth: { type: Number, default: 100 },
    minVal: { type: Number, default: 0 },
    maxVal: { type: Number, default: 1 }
  },
  computed: {
    vticks () {
      const step = d3.tickStep(this.minVal, this.maxVal, 5)
      const substep = d3.tickStep(0, step, 2)
      return (d3.range(Math.floor(this.minVal), Math.ceil(this.maxVal) + 1, substep) || [])
        .reduce((a, b) => {
          if (b > this.minVal && b < this.maxVal) a.push({ val: b, main: b % step === 0 })
          return a
        }, [])
    },

    hticks () {
      const step = d3.tickStep(this.minDepth, this.maxDepth, 20)
      const substep = d3.tickStep(0, step, 5)
      return (d3.range(Math.floor(this.minDepth), Math.ceil(this.maxDepth) + 1, substep) || [])
        .reduce((a, b) => {
          if (b > this.minDepth && b < this.maxDepth) a.push({ val: b, main: b % step === 0 })
          return a
        }, [])
    },

    xScale () { return d3.scaleLinear().domain([this.minVal, this.maxVal]).range([this.cm(0), this.cm(this.width)]) },

    yScale () { return d3.scaleLinear().domain([this.minDepth, this.maxDepth]).range([this.cm(0), this.cm(this.height)]) }

  },
  methods: {
    cm: v => v * 37.7952755906,
    vTickData (tick) {
      const x = this.xScale(tick)
      return ['M', x, 0, 'L', x, this.cm(this.height)].join(' ')
    },
    hTickData (tick) {
      const y = this.yScale(tick)
      return ['M', 0, y, 'L', this.cm(this.width), y].join(' ')
    }
  }
}

</script>
