<template>
  <g
    :transform="`translate(${ cm(x) },${ cm(y) })`"
    :clip-path="`url(#${ clip })`"
  >
    <rect
      v-for="(val, i) in histData"
      :key="i"
      :stroke="stroke"
      :stroke-width="strokeWidth"
      :fill="val.fill"
      :x="val.x1"
      :y="val.y1"
      :width="val.x2 - val.x1"
      :height="val.y2 - val.y1"
    />
  </g>
</template>

<script>

import * as d3 from 'd3'

export default {
  name: 'LogHistogram',
  props: {
    x: { type: [Number, String], default: 0 },
    y: { type: [Number, String], default: 0 },
    width: { type: [Number, String], default: 100 },
    height: { type: [Number, String], default: 100 },
    fill: { type: String, default: 'none' },
    stroke: { type: String, default: 'black' },
    strokeWidth: { type: String, default: '0.5' },
    clip: { type: String, default: null },
    minDepth: { type: Number, default: 0 },
    maxDepth: { type: Number, default: 100 },
    minVal: { type: Number, default: 0 },
    maxVal: { type: Number, default: 1 },
    data: { type: Array, default: () => ([]) }
  },

  computed: {
    xScale () { return d3.scaleLinear().domain([this.minVal, this.maxVal]).range([this.cm(0), this.cm(this.width)]) },
    yScale () { return d3.scaleLinear().domain([this.minDepth, this.maxDepth]).range([this.cm(0), this.cm(this.height)]) },
    histData () {
      if (this.data) {
        return this.data.reduce((a, b) => {
          if (!isNaN(b.value) && (!isNaN(b.depth) || (!isNaN(b.from) && !isNaN(b.to)))) {
            a.push({
              x1: this.xScale(this.minVal < this.maxVal ? 0 : b.value),
              y1: this.yScale(isNaN(b.from) ? b.depth - 0.05 : b.from),
              x2: this.xScale(this.minVal < this.maxVal ? b.value : 0),
              y2: this.yScale(isNaN(b.to) ? b.depth + 0.05 : b.to),
              fill: b.fill || this.fill
            })
          }
          return a
        }, [])
      } else return null
    }
  },

  methods: {
    cm: v => v * 37.7952755906
  }
}

</script>
