<template>
  <g
    :transform="`translate(${ cm(x) },${ cm(y) })`"
  >
    <path
      v-if="(fill || 'none') !== 'none'"
      stroke="none"
      :fill="fill"
      :d="filledData"
    />
    <path
      v-if="(stroke || 'none') !== 'none'"
      :stroke="stroke"
      :stroke-width="strokeWidth"
      fill="none"
      :d="lineData"
    />
  </g>
</template>

<script>

import * as d3 from 'd3'

export default {
  name: 'LogLine',
  props: {
    x: { type: [Number, String], default: 0 }, // position in cm from left of the svg
    y: { type: [Number, String], default: 0 }, // position in cm from top of the svg
    width: { type: [Number, String], default: 100 }, // in cm - width of graphical area (for example column)
    height: { type: [Number, String], default: 100 }, // in cm - height of graphical area (for example column)
    fill: { type: String, default: 'none' },
    stroke: { type: String, default: 'black' }, // color of the line
    strokeWidth: { type: String, default: '0.5' }, // width of the line
    minDepth: { type: Number, default: 0 }, // min Y value (in real data for example meters)
    maxDepth: { type: Number, default: 100 }, // max Y value
    minVal: { type: Number, default: 0 }, // min X value (in real data for example microrentgen\h)
    maxVal: { type: Number, default: 1 }, // max X value
    data: { type: Array, default: () => ([]) } // array of real values which will be converted to pixels and plot on the svg graphics
  },

  computed: {
    xScale () {
      // create function for x scale - domain we give min max value, range we give min max in pixels
      return d3.scaleLinear().domain([this.minVal, this.maxVal]).range([this.cm(0), this.cm(this.width)])
    },
    yScale () {
      return d3.scaleLinear().domain([this.minDepth, this.maxDepth]).range([this.cm(0), this.cm(this.height)])
    },
    lineData () {
      return (
        d3.line() // creates line generator function
          .defined(d => !isNaN(d.value) && (!isNaN(d.depth) || (!isNaN(d.from) && !isNaN(d.to)))) // function to treat bad data
          .x(d => this.xScale(d.value)) //  function to treat x, before we convert data to pixels with xScale (scaleLinear)
          .y(d => this.yScale(isNaN(d.depth) ? d.from + (d.to - d.from) / 2 : d.depth)) //  function to treat y
      )(this.data) // call line generator function with our data in param
    },
    filledData () {
      if (((this.fill || 'none') !== 'none') && this.data.length) {
        const res = []
        for (let i = 0, n = this.data.length; i < n; i++) {
          if (i === 0) res.push({ depth: this.data[i].depth, value: 0 })
          res.push(this.data[i])
          if (i === (this.data.length - 1)) res.push({ depth: this.data[i].depth, value: 0 })
        }
        return (
          d3.line()
            .defined(d => !isNaN(d.value) && (!isNaN(d.depth) || (!isNaN(d.from) && !isNaN(d.to))))
            .x(d => this.xScale(d.value))
            .y(d => this.yScale(isNaN(d.depth) ? d.from + (d.to - d.from) / 2 : d.depth))
        )(res) + 'Z'
      }
      return null
    }
  },

  methods: {
    cm: v => v * 37.7952755906
  }
}

</script>
