<template>
  <LogSection
    :x="x"
    :y="y"
    :width="width"
    :height="height"
    :fill="fill"
    :stroke="stroke"
    :strokeWidth="strokeWidth"
  >
    <text
      :x="cm(width / 2)"
      :y="cm(height / 2)"
      :dy="-padding"
      text-anchor="middle"
    >
      {{ scaleTitle }}
    </text>
    <path
      :d="`M${ cm(0) + padding } ${ cm(height / 2) } ${ cm(width) - padding } ${ cm(height / 2) }`"
      :stroke="scaleColor"
      :stroke-width="scaleStrokeWidth"
    />
    <text
      :x="padding"
      :y="cm(height / 2)"
      :dy="padding"
      text-anchor="begin"
      dominant-baseline="hanging"
    >
      {{ scaleMin }}
    </text>
    <text
      :x="cm(width / 2)"
      :y="cm(height / 2)"
      :dy="padding"
      text-anchor="middle"
      dominant-baseline="hanging"
    >
      {{ scaleUnit }}
    </text>
    <text
      :x="cm(width) - padding"
      :y="cm(height / 2)"
      :dy="padding"
      text-anchor="end"
      dominant-baseline="hanging"
    >
      {{ scaleMax }}
    </text>
  </LogSection>
</template>

<script>

export default {
  name: 'LogSectionScale',
  props: {
    x: { type: [Number, String], default: 0 },
    y: { type: [Number, String], default: 0 },
    width: { type: [Number, String], default: 100 },
    height: { type: [Number, String], default: 100 },
    fill: { type: String, default: 'none' },
    stroke: { type: String, default: 'black' },
    strokeWidth: { type: String, default: '0.5' },
    padding: { type: Number, default: 4 },
    scaleColor: { type: String, default: 'blue' },
    scaleMin: { type: String, default: '0' },
    scaleMax: { type: Number, default: 100 },
    scaleUnit: { type: String, default: 'Unit' },
    scaleTitle: { type: String, default: 'Title' },
    scaleStrokeWidth: { type: String, default: '3' }
  },
  methods: {
    cm: v => v * 37.7952755906
  }
}

</script>
