<template>
  <g
    :transform="`translate(${ cm(x) },${ cm(y) })`"
  >
    <g
      :clip-path="clip ? `url(#${ clip })` : null"
    >
      <rect
        v-if="(fill || 'none') !== 'none'"
        stroke="none"
        :fill="fill"
        :width="cm(width)"
        :height="cm(height)"
      />
      <slot />
    </g>
    <rect
      :stroke="stroke"
      :stroke-width="strokeWidth"
      fill="none"
      :width="cm(width)"
      :height="cm(height)"
    />
  </g>
</template>

<script>

export default {
  name: 'LogSection',
  props: {
    x: { type: [Number, String], default: 0 },
    y: { type: [Number, String], default: 0 },
    width: { type: [Number, String], default: 100 },
    height: { type: [Number, String], default: 100 },
    fill: { type: String, default: 'none' },
    stroke: { type: String, default: 'black' },
    strokeWidth: { type: String, default: '0.5' },
    clip: { type: String, default: null }
  },
  methods: {
    cm: v => v * 37.7952755906
  }
}

</script>
