<template>
  <LogSection
    :x="x"
    :y="y"
    :width="width"
    :height="height"
    :fill="fill"
    :stroke="stroke"
    :strokeWidth="strokeWidth"
  >
    <template v-for="(tick, i) in ticks" :key="'tick' + i ">
      <!-- <path
        :key="'tick' + i "
        :d="tickData(tick.val)"
        fill="none"
        :stroke="tick.main ? 'rgb(128, 128, 128)' : 'rgb(95, 170, 106)'"
        stroke-width="0.5"
      /> -->
      <path
        
        :d="tickData(tick.val)"
        fill="none"
        :stroke="tick.main ? 'rgb(128, 128, 128)' : 'rgb(95, 170, 106)'"
        stroke-width="0.5"
      />
      <text
        :key="'lbl' + i"
        :x="cm(width / 2)"
        :y="yScale(tick.val)"
        text-anchor="middle"
        dominant-baseline="central"
        font-size="8pt"
        fill="rgb(128, 128, 128)"
        v-if="tick.main"
      >
        {{ tick.val }}
      </text>
    </template>
  </LogSection>
</template>

<script>

import * as d3 from 'd3'

export default {
  name: 'LogYScale',
  props: {
    x: { type: [Number, String], default: 0 },
    y: { type: [Number, String], default: 0 },
    width: { type: [Number, String], default: 100 },
    height: { type: [Number, String], default: 100 },
    fill: { type: String, default: 'none' },
    stroke: { type: String, default: 'black' },
    strokeWidth: { type: String, default: '0.5' },
    minDepth: { type: Number, default: 0 },
    maxDepth: { type: Number, default: 100 }
  },
  computed: {
    ticks () {
      const step = d3.tickStep(this.minDepth, this.maxDepth, 20)
      const substep = d3.tickStep(0, step, 5)
      return (d3.range(Math.floor(this.minDepth), Math.ceil(this.maxDepth) + 1, substep) || []).map(v => ({ val: v, main: v % step === 0 }))
    },

    yScale () { return d3.scaleLinear().domain([this.minDepth, this.maxDepth]).range([this.cm(0), this.cm(this.height)]) }

  },
  mounted () {
  // console.log('x: ' + this.x)
  },
  methods: {
    cm: v => v * 37.7952755906,
    tickData (tick) {
      const y = this.yScale(tick)
      return ['M', 0, y, 'L', 5, y, 'M', this.cm(this.width) - 5, y, 'L', this.cm(this.width), y].join(' ')
    }
  }
}

</script>
