<template>
  <v-row
    fill-height
  >
    <v-col
      :cols="5"
      fill-height
    >
      <RCGisSelectDataTable class="ml-1" />
    </v-col>

    <v-col 
      :cols="7"
      fill-height
    >
      <RCMapSelector
        show-selected-well-in-legend
      />
    </v-col>
  </v-row>
</template>
<script>

export default {
  name: 'RCGISSelect',
  mounted () {
    this.$store.state.ui.active.page.name = 'Reserve Calculation - GIS Selection'
    this.$store.state.ui.active.page.url = 'rc/gisselect'
  }
}
</script>
