<template>
  <v-row
    align="start"
  >
    <v-col
      col="12"
    >
      <v-row
        style="width:100%"
      >
        <v-col cols="12">
          <v-card>
            <v-card-title dense>
              {{ caption }}
            </v-card-title>
          </v-card>
          <ShapeInfo />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="8">
          <RCGtDataTable />
        </v-col>
        <v-col
          v-if="GtStatData"
          cols="4"
          class="elevation-3"
        >
          <GTStat />
          <Scatter
            :d="GtStatData.XYthicknessGrade"
            title-text="Thickness\grade scatter plot only for permeable"
            x-axis-name="Thickness, m"
            y-axis-name="Grade, %"
            c-style="height: 300px;width: 500px"
            :series-symbol-size="7"
          />
          <!-- :series-symbol-size="10"           -->
        </v-col>
        <!-- <v-btn
          v-if="!GtStatData"
        >
          If no stat and chart visible, click here to update
        </v-btn> -->
      </v-row>
    </v-col>
  </v-row>
</template>
<script>

import { mapGetters } from 'vuex'

export default {
  name: 'RCGT',
  data () {
    return {
      GtStatData: null
    }
  },
  computed: {
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    ...mapGetters('wellsgt', ['getGtStat']),
    caption () { return 'GT intervals ' + this.getCaption + ' from AtomGEO DB' }
  },
  watch: {
    getGtStat: {
      handler: function (n) {
        this.GtStatData = n
        // console.log('this.GtStatData ' + this.GtStatData)
        // console.log('this.GtStatData ' + this.GtStatData)
      },
      deep: true
    }
  },
  mounted: function () {
    this.$store.state.ui.active.page.name = 'Reserve Calculation - GT'
    this.$store.state.ui.active.page.url = 'rc/GT'
    this.$nextTick(function () {
      // Код, который будет запущен только после отображения всех представлений
      if (this.getGtStat) this.GtStatData = this.getGtStat
    })
  }
}

</script>
