<template>
  <v-row
    align="start"
  >
    <v-col cols="12">
      <v-row
        style="width:100%"
      >
        <v-col cols="12">
          <v-card>
            <v-card-title dense>
              {{ caption }}
            </v-card-title>
          </v-card>
          <ShapeInfo />
        </v-col>
      </v-row>
      <v-row>
        <v-col
          :cols="12"
        >
          <RCHsGtDataTable />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'RCHSGT',
  components: {
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Historical GT from acQuire'
    this.$store.state.ui.active.page.url = 'rc/hsgt'
  },

  computed: {
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return 'Historical GT ' + this.getCaption + ' from acQuire DB' }
  }
}

</script>
