<template>
  <v-row
    fill-height
    no-gutters
  >
    <v-col
      :cols="12"
      fill-height
    >
      <DepositSamplesDT />
    </v-col>
  </v-row>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters('ui2', ['getShapeType'])
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Reserves estimation - General info'
    this.$store.state.ui.active.page.url = 'id/deposamples'
  }
}
</script>
