<template>
  <svg
    x="0px"
    y="0px"
    :width="size+'px'"
    :height="size+'px'"
    :viewBox="'0 0 '+size+' '+size"
  >
    <g>
      <circle
        :cx="size/2"
        :cy="size/2"
        :r="size/2-1"
        :stroke="stroke"
        :fill="fill"
      />
    </g>
  </svg>
</template>

<script>

export default {

  name: 'SvgCircle',

  props: {
    size: { type: Number, default: 20 },
    stroke: { type: String, default: 'white' },
    fill: { type: String, default: 'blue' }
  }
}

</script>
