<template>
  <div>
      <v-row justify="center">
      <v-dialog
          v-model="dialog"
          scrollable
          max-width="800px"
      >
          <v-card>
            <v-card-title style="vertical-align: bottom; display:table-cell">
              <v-row>
              <v-col cols="10">
                <span style="padding-right: 10px;">Wells list {{ title }}</span><span style="padding-right: 10px; font-size: 12px;">{{ title_sub }}</span>
              </v-col>
              <v-col cols="2">
                <downloadExcel v-if="dataExist"
                    :data="totalWellsList"
                    name="QCWellsList"
                    worksheet="WellsListQC"
                  >
                  <v-btn
                  color="blue darken-1"
                  text
                  >
                  Excel
                  </v-btn>
                </downloadExcel>
            </v-col>
          </v-row>
            </v-card-title>
          <v-divider></v-divider>
          <v-card-text style="height: 420px; width: 800px;">
            <v-card v-if="showWellsListCircleProgress">
                <Loading />
            </v-card>
            <v-data-table
              height="390"
              :fixed-header=true
              :headers="headers"
              :items="totalWellsList"
              :items-per-page="-1"
              class="small"
            >
              <template v-slot:item.HOLEID="{ item }">
                <a target="_blank"
                  :href="item.HOLEIDurl">
                  {{ item.HOLEID }}
                </a>
              </template>
              <template #bottom></template>
            </v-data-table>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
              <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
              >
              Close
              </v-btn>
          </v-card-actions>
          </v-card>
      </v-dialog>
      </v-row>
  </div>
</template>

<style scoped>
.v-table {
  --v-table-header-height: 32px;
}
</style>

<script>
import f from '@/store/fetch.js'

export default {
  name: 'DemDashboardleWellsList',
  data () {
    return {
      dialog: false,
      totalWellsList: [],
      headers: [
        { title: 'rn', value: 'rownum' },
        { title: 'HOLEID', value: 'HOLEID' },
        { title: 'Path', value: 'HolePath' },
        { title: 'Status', value: 'HoleStatus' },
        { title: 'Purpose', value: 'HolePurpose' },
      ],
      showWellsListCircleProgress: false
    }
  },
  props: {
    detailParamsProp: {
    type: Object,
    // Object or array defaults must be returned from
    // a factory function. The function receives the raw
    // props received by the component as the argument.
    default(rawProps) {
      return {  BLOCK: '', PATH:'', STATUS:'', PUROPOSE:'', Quantity: '' }
    }
  },
    showDialogProp: { type: Number, default: 0 }
  },
  computed: {
    title () {
      return 'of block ' + this.detailParamsProp.BLOCK
    },
    title_sub () {
      return 'Quantity: ' + this.detailParamsProp.Quantity +', Path: ' + this.detailParamsProp.PATH + ', Status: ' + this.detailParamsProp.STATUS + ', Purpose: ' + this.detailParamsProp.PUROPOSE
    },
    dataExist () {
      if (this.totalWellsList) {
        if (this.totalWellsList.length > 0) { return true }
      }
      return false
    }
  },
  watch: {
    showDialogProp (newVal) {
      console.info('newVal = ', newVal)
      if (newVal === 0 ) return
      this.dialog = true
      this.setWellslist()
    }
  },
  methods: {
    getColor (calories) {
      if (calories) return 'green'
      else return 'red'
    },
    setWellslist () {
      // console.log('setWellslist started')
      this.showWellsListCircleProgress = true
      this.totalWellsList = []
      const tfnFunctionName = 'IC_TFN_DEM_DASHBOARD_WELLS_DETAILS'
      let url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn2.aspx?tfn=' + tfnFunctionName.slice(7)
      url += '&p1=' + this.detailParamsProp.BLOCK
      url += '&p2=' + this.detailParamsProp.PATH
      url += '&p3=' + this.detailParamsProp.STATUS
      url += '&p4=' + this.detailParamsProp.PUROPOSE
      console.log('M01. setWellslist. url = ', url)
      f.fget(url)
        .then(res => {
          let i = 1
          res.content.forEach(function (element) {
            // append column rownum
            element.rownum = i++
            element.HOLEIDurl = '#/w/' + element.HOLEID + '/details'
          })
          this.totalWellsList = res.content
          this.showWellsListCircleProgress = false
        })
    }
  }
}

</script>
