<template>
  <v-row no-gutters>
    <v-col>
    <v-row>
      <v-col cols="8">
        <v-card>
          <v-card-title dense>
            {{ caption }}
          </v-card-title>
        </v-card>
        <ShapeInfo />
      </v-col>
      <v-col cols="3">
        <v-card>
          <v-text-field
            v-model="search"
            dense
            prepend-icon="mdi-magnify"
            label="search"
            single-line
            hide-details
            cols="4"
          >
            <!-- In this example you can see how can look Group icon instead of the word group in the header
                <v-text-field
                prepend-icon="mdi-playlist-plus"
                label="Group"
              ></v-text-field>             -->
          </v-text-field>
        </v-card>
      </v-col>
      <v-col cols="1">
        <downloadExcel
          :data="getDH3DhistoryFT"
          :name="fileName"
          :worksheet="block"
        >
          <v-btn
            icon
            outlined
          >
            <v-icon>mdi-table-arrow-right</v-icon>
          </v-btn>
        </downloadExcel>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="10">
        <v-card v-if="!getDH3DhistoryFT">
          <Loading />
        </v-card>
        <v-card>
          <!-- <v-data-table
            v-if="getDH3DhistoryFT"
            dense
            :search="search"
            :headers="headers_p"
            :items="filteredGetDH3DhistoryFT"
            :items-per-page="-1"
            class="elevation-2"
            :custom-filter="filterOnlyCapsText"
            show-group-by
          > -->
          <v-data-table
            v-if="getDH3DhistoryFT"
            dense
            :headers="headers_p"
            :items="getDH3DhistoryFT"
            :items-per-page="-1"
            class="elevation-2"
            :search="search">
            <template v-slot:[`item.HoleStatus`]="{ value }">
              <HoleStatus :hole-status="value" />
            </template>
          </v-data-table>
            <!-- <template
              v-slot:[`header.HoleStatus`]="{ header }"
            >
              <DataTableHeaderColumn
                v-if="HoleStatusExist"
                v-model="filterStatus"
                :items="filterStatusItems"
                :header-text="header.HoleStatus.toUpperCase()"
                :table="getDH3DhistoryFT"
                column="HoleStatus"
                dense
                class="filter-column"
              />
            </template>
            <template
              v-slot:[`header.HolePurpose`]="{ header }"
            >
              <DataTableHeaderColumn
                v-if="HolePurposeExist"
                v-model="filterPurpose"
                :items="filterPurposeItems"
                :header-text="header.text.toUpperCase()"
                :table="getDH3DhistoryFT"
                column="HolePurpose"
                dense
                class="filter-column"
              />
            </template>
            <template
              v-slot:[`header.list_version`]="{ header }"
            >
              <DataTableHeaderColumn
                v-if="ListVersionExist"
                v-model="filterListVersion"
                :items="filterListVersionItems"
                :header-text="header.text.toUpperCase()"
                :table="getDH3DhistoryFT"
                column="list_version"
                dense
                class="filter-column"
              />
            </template>
            <template
              v-slot:[`header.DB`]="{ header }"
            >
              <DataTableHeaderColumn
                v-model="filterDB"
                :items="filterDBItems"
                :header-text="header.text.toUpperCase()"
                :table="getDH3DhistoryFT"
                column="DB"
                dense
                class="filter-column"
              />
            </template>
            <template
              v-slot:[`header.Ignored`]="{ header }"
            >
              <DataTableHeaderColumn
                v-model="filterIgnored"
                :items="filterIgnoredItems"
                :header-text="header.text.toUpperCase()"
                :table="getDH3DhistoryFT"
                column="Ignored"
                dense
                class="filter-column"
              />
            </template>
            <template
              v-slot:[`header.ADD_DATE`]="{ header }"
            >
              <DataTableHeaderColumn
                v-model="filterAddDate"
                :items="filterAddDateItems"
                :header-text="header.text.toUpperCase()"
                :table="getDH3DhistoryFT"
                column="ADD_DATE"
                dense
                class="filter-column"
              />
            </template>
            <template
              v-slot:[`header.ADD_USER`]="{ header }"
            >
              <DataTableHeaderColumn
                v-model="filterAddUser"
                :items="filterAddUserItems"
                :header-text="header.text.toUpperCase()"
                :table="getDH3DhistoryFT"
                column="ADD_USER"
                dense
                class="filter-column"
              />
            </template> 
            -->
            <!-- <template v-slot:[`item.HoleStatus`]="{ value }">
              <HoleStatus :hole-status="value" />
            </template>
            <template v-slot:[`item.HOLEID`]="{ item }">
              <span v-if="item.HYBRID_DEM_HOLEID">
                <HoleID :hole-id="item.HOLEID" /> (<HoleID :hole-id="item.HYBRID_DEM_HOLEID" />)
              </span>
              <span v-if="!item.HYBRID_DEM_HOLEID">
                <HoleID :hole-id="item.HOLEID" />
              </span>
            </template> -->
         <!--  </v-data-table> -->
        </v-card>
      </v-col>
    </v-row>
  </v-col>
  </v-row>
</template>

<style scoped>
  .v-table {
    --v-table-header-height: 32px;
  }
</style>

<script>
// eslint-disable @typescript-eslint/camelcase
import { mapGetters } from 'vuex'

export default {
  name: 'DH3DhistDataTable',
  props: {
    headers_p: Array
  },
  data () {
    return {
      filterStatus: [],
      filterPurpose: [],
      filterDB: [],
      filterListVersion: [],
      filterIgnored: [],
      filterAddDate: [],
      filterAddUser: [],
      today: new Date(),
      fileName: '',
      search: ''
    }
  },
  computed: {
    ...mapGetters('dh3dhistory', ['getDH3DhistoryFT', 'getDH3DhistDistinct']),
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return 'History ' + this.getCaption },
    /* filteredGetDH3DhistoryFT () {
      return (
        this.getDH3DhistoryFT || []).filter(item => {
        return (
          (this.filterStatus.indexOf(item.HoleStatus) >= 0) &&
           (this.filterPurpose.indexOf(item.HolePurpose) >= 0) &&
            (this.filterDB.indexOf(item.DB) >= 0) &&
             (this.filterListVersion.indexOf(item.list_version) >= 0) &&
              (this.filterIgnored.indexOf(item.Ignored) >= 0) &&
               (this.filterAddDate.indexOf(item.ADD_DATE) >= 0) &&
                (this.filterAddUser.indexOf(item.ADD_USER) >= 0)
        )
      }
      )
      // && (this.selectedCategories.length === 0 || this.selectedCategories.indexOf(item.category) >= 0)
    }, */
    /* HoleStatusExist () {
      const __FOUND = this.headers_p.findIndex(function (header) {
        if (header.value === 'HoleStatus') return true
      })
      if (__FOUND === -1) return false
      else return true
    },
    HolePurposeExist () {
      const __FOUND = this.headers_p.findIndex(function (header) {
        if (header.value === 'HolePurpose') return true
      })
      if (__FOUND === -1) return false
      else return true
    },
    ListVersionExist () {
      const __FOUND = this.headers_p.findIndex(function (header) {
        if (header.value === 'list_version') return true
      })
      if (__FOUND === -1) return false
      else return true
    },
    IgnoredExist () {
      const __FOUND = this.headers_p.findIndex(function (header) {
        if (header.value === 'Ignored') return true
      })
      if (__FOUND === -1) return false
      else return true
    },
    AddDateExist () {
      const __FOUND = this.headers_p.findIndex(function (header) {
        if (header.value === 'ADD_DATE') return true
      })
      if (__FOUND === -1) return false
      else return true
    },
    AddUserExist () {
      const __FOUND = this.headers_p.findIndex(function (header) {
        if (header.value === 'ADD_USER') return true
      })
      if (__FOUND === -1) return false
      else return true
    },

    filterStatusItems () { return this.getDH3DhistDistinct.HoleStatus },
    filterPurposeItems () { return this.getDH3DhistDistinct.HolePurpose },
    filterListVersionItems () { return this.getDH3DhistDistinct.list_version },
    filterDBItems () { return this.getDH3DhistDistinct.DB },
    filterIgnoredItems () { return this.getDH3DhistDistinct.Ignored },
    filterAddDateItems () { return this.getDH3DhistDistinct.ADD_DATE },
    filterAddUserItems () { return this.getDH3DhistDistinct.ADD_USER }, */

    block () {
      return this.$route.params.p1
    }
  },

  watch: {
    getDH3DhistoryFT () {
      /* this.updateFilters() */
    }
  },

  mounted: function () {
    // console.log('h01. mounted. headers_p =', this.headers_p)
    // console.log('getDH3DhistoryFT = ', this.getDH3DhistoryFT)
    this.$nextTick(function () {
      //this.updateFilters()
    })
  },
  methods: {
    filterOnlyCapsText (value, search) {
      return value != null &&
          search != null &&
          typeof value === 'string' &&
          value.toString().toLocaleUpperCase().indexOf(search.toString().toLocaleUpperCase()) !== -1
    },
    /* updateFilters () {
      if (this.filterStatus !== [] && this.getDH3DhistDistinct.HoleStatus && this.filterStatusItems) {
        this.filterStatus = this.filterStatusItems
      }

      if (this.filterPurpose !== [] && this.getDH3DhistDistinct.HolePurpose && this.filterPurposeItems) {
        this.filterPurpose = this.filterPurposeItems
      }

      if (this.filterDB !== [] && this.getDH3DhistDistinct.DB && this.filterDBItems) {
        this.filterDB = this.filterDBItems
      }

      if (this.filterListVersion !== [] && this.getDH3DhistDistinct.list_version && this.filterListVersionItems) {
        this.filterListVersion = this.filterListVersionItems
      }

      if (this.filterIgnored !== [] && this.getDH3DhistDistinct.Ignored && this.filterIgnoredItems) {
        this.filterIgnored = this.filterIgnoredItems
      }

      if (this.filterAddDate !== [] && this.getDH3DhistDistinct.ADD_DATE && this.filterAddDateItems) {
        this.filterAddDate = this.filterAddDateItems
      }

      if (this.filterAddUser !== [] && this.getDH3DhistDistinct.ADD_USER && this.filterAddUserItems) {
        this.filterAddUser = this.filterAddUserItems
      }
      this.fileName = 'Drillholes ' + this.block + ' ' + this.today.toISOString().slice(0, 10)
    } */

  }
}
</script>

<style scoped>
  .filter-column {
    font-size: 0.75rem;
  }
</style>
