<template>
  <div>
    <!-- <v-row no-gutters></v-row> -->
    <v-row>
      <v-col cols="8">
        <v-card>
          <v-card-title dense>
            {{ caption }}
          </v-card-title>
        </v-card>
        <ShapeInfo />
      </v-col>
      <v-col cols="3">
        <v-card>
          <v-text-field
            v-model="search"
            dense
            prepend-icon="mdi-magnify"
            label="search"
            single-line
            hide-details
            cols="4"
          >
            <!-- In this example you can see how can look Group icon instead of the word group in the header
                <v-text-field
                prepend-icon="mdi-playlist-plus"
                label="Group"
              ></v-text-field>             -->
          </v-text-field>
        </v-card>
      </v-col>
      <v-col cols="1">
        <downloadExcel
          :data="getDrillholesFT"
          :name="fileName"
          :worksheet="block"
        >
          <v-btn
            icon
            outlined
          >
            <v-icon>mdi-table-arrow-right</v-icon>
          </v-btn>
        </downloadExcel>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card>
          <!-- {{ headers }} -->
          <v-data-table
            v-if="getDrillholesFT"
            dense
            :height="tableDataHeight"
            :fixed-header = "true"
            :search="search"
            :headers="headers"
            :items="filteredGetDrillholesFT"
            :items-per-page="-1"
            class="elevation-2"
            show-group-by
          > 
            <template v-slot:headers="{ columns, isSorted, getSortIcon, toggleSort }">
              <tr>
                <template v-for="column in columns" :key="column.value">
                  <td style="background-color: rgb(230, 230, 230);">
                    <span class="mr-2 cursor-pointer font-weight-bold" @click="() => toggleSort(column)">{{ column.text }}</span>
                    <template v-if="isSorted(column)">
                      <v-icon :icon="getSortIcon(column)"></v-icon>
                    </template>
                    <!-- <v-icon v-if="column.removable" icon="$close" @click="() => remove(column.key)"></v-icon> -->
                  </td>
                </template>
              </tr>
            </template>
            <template v-slot:[`item.HOLEID`]="{ item }">
              <span v-if="item.HYBRID_DEM_HOLEID">
                <HoleID :hole-id="item.HOLEID" /> (<HoleID :hole-id="item.HYBRID_DEM_HOLEID" />)
              </span>
              <span v-if="!item.HYBRID_DEM_HOLEID">
                <HoleID :hole-id="item.HOLEID" />
              </span>
            </template>
            <template v-slot:[`item.HoleStatus`]="{ value }">
              <HoleStatus :hole-status="value" />
            </template>
            <template v-slot:[`item.XRF_Status`]="{ value }">
              <XRFStatus :xrf-status="value" />
            </template>
            <template v-slot:[`item.Giklet_status`]="{ value }">
              <GikletStatus :giklet-status="value" />
            </template>
            <template v-slot:[`item.HOLEID`]="{ item }">
              <span v-if="item.HYBRID_DEM_HOLEID">
                <HoleID :hole-id="item.HOLEID" /> (<HoleID :hole-id="item.HYBRID_DEM_HOLEID" />)
              </span>
              <span v-if="!item.HYBRID_DEM_HOLEID">
                <HoleID :hole-id="item.HOLEID" />
              </span>
            </template>
          </v-data-table>
        </v-card>
        <v-card v-if="!getDrillholesFT">
          <Loading />
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
import f from '@/store/fetch.js'

export default {
  name: 'DHDataTable',
  props: {
    headers: Array
  },
  data () {
    return {
      today: new Date(),
      fileName: '',
      search: '',
      tableDataHeight: window.innerHeight - 280,
      getDrillholesFT: null
    }
  },
  computed: {
    // ...mapGetters('drillholes', ['getDrillholesFT', 'getDistinct']),
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return 'List of Drillholes ' + this.getCaption },
    filteredGetDrillholesFT () {
      console.log('h9. filteredGetDrillholesFT this.getDrillholesFT raw = ', this.getDrillholesFT)
      return this.getDrillholesFT
    },
    block () {
      return this.$route.params.p1
    }
  },
  watch: {
    getDrillholesFT () {
      //this.updateFilters()
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      //this.updateFilters()
    })
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
    this.setDrillholes()
  },
  methods: {
    setDrillholes () {
      console.log('h1. setDrillholes started')
      this.getDrillholesFT = null
      const payload = []
      payload[0] = this.block
      payload[1] = this.getShapeType.type  //'PROF'
      payload[2] = 20
      console.log('hi13. setDrillholes. &p1=' + payload[0] + '&p2=' + payload[1] + '&p3=' + payload[2]+', block = ', this.block)
      let url = ''
      if (payload[1] === 'TB_DEM' || payload[1] === 'TB_GEOS' || payload[1] === '3D_GEOS') {
        // console.log('payload[1] == TB_DEM TB_GEOS 3D_GEOS, as ' + payload[1] + ' payload[0] ' + payload[0])
        url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=' + 'SHAPE_DRILLHOLES' + '&p1=' + payload[0] + '&p2=' + payload[1] + '&p3=' + payload[2]
      } else if (payload[1] === 'PROF') {
        // console.log('NOT payload[1] == TB_DEM TB_GEOS 3D_GEOS, but ' + payload[1] + ' payload[0] ' + payload[0])
        url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=' + 'PROFILE_DRILLHOLES' + '&p1=' + payload[0] + '&p2=' + payload[1] + '&p3=' + payload[2]
      } else {
        // console.log('hi13-1. setDrillholes - DEPOSIT_DRILLHOLES &p1=' + payload[0] + '&p2=' + payload[1] + '&p3=' + payload[2])
        url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=' + 'DEPOSIT_DRILLHOLES' + '&p1=' + payload[0] + '&p2=' + payload[1] + '&p3=' + payload[2]
      }
      f.fget(url)
        .then(res => {
          this.getDrillholesFT = res.content
          /* context.commit('SET_DRILLHOLESFT', res.content)
          context.commit('SET_WELLSTAT') */
        })
    },
    makeUrl (holeid) {
      return '#/w/' + holeid + '/details'
    },
    onResize () {
      this.tableDataHeight = window.innerHeight - 280
    },
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  }
}
</script>

<style scoped>
  .filter-column {
    font-size: 0.75rem;
  }
</style>