<template>
  <v-row no-gutters>
    <v-row style="width: 100%">
      <v-col cols="7">
        <v-card>
          <v-card-title dense>
            {{ caption }}
          </v-card-title>
        </v-card>
        <ShapeInfo />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="7">
        <v-card v-if="getDHSummary2FT">
          <v-table dense>
            <template v-slot:default>
              <tbody>
                <tr>
                  <td />
                  <td>GEOS DB</td>
                  <td>DEM DB</td>
                  <td>TOTAL Giklet DONE</td>
                  <td>TOTAL With Logging Phase 1</td>
                  <td>DONE %</td>
                </tr>
                <tr>
                  <td>NB of DH with giklet</td>
                  <td>
                    {{ i(getDHSummary3FT.DONE_GEOS) }}
                  </td>
                  <td>
                    {{ i(getDHSummary3FT.DONE_DEM) }}
                  </td>
                  <td>
                    {{ si(getDHSummary3FT, ['DONE_GEOS','DONE_DEM']) }}
                  </td>
                  <td>
                    {{ totalWithLoggingPhase1 }}
                  </td>
                  <td>
                    {{ ((si(getDHSummary3FT, ['DONE_GEOS','DONE_DEM']) / totalWithLoggingPhase1) * 100).toFixed(2) }}
                  </td>
                </tr>
              </tbody>
            </template>
          </v-table>
        </v-card>

        <v-card v-if="dataExist">
          <Loading />
        </v-card>
      </v-col>
    </v-row>
  </v-row>
</template>

<script>
// eslint-disable @typescript-eslint/camelcase
import { mapGetters } from 'vuex'
import k from '@/lib/k.js'

export default {
  name: 'DHSummary3ST',
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters('dhsummary2', ['getDHSummary2FT']),
    ...mapGetters('dhsummary3', ['getDHSummary3FT']),
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return 'Number of Giklets ' + this.getCaption },
    dataExist () { return (!this.getDHSummary2FT || !this.getDHSummary3FT) },

    totalWithLoggingPhase1 () {
      return k.si(this.getDHSummary2FT,
        ['ACCEPTED_Kobra_GEOS', 'ACCEPTED_MountSopris_GEOS', 'ACCEPTED_Geovista_GEOS',
          'REFUSED_Kobra_GEOS', 'REFUSED_MountSopris_GEOS', 'REFUSED_Geovista_GEOS',
          'ECHEC_Kobra_GEOS', 'ECHEC_MountSopris_GEOS', 'ECHEC_Geovista_GEOS',
          'ACCEPTED_Kobra_DEM', 'ACCEPTED_MountSopris_DEM', 'ACCEPTED_Geovista_DEM',
          'REFUSED_Kobra_DEM', 'REFUSED_MountSopris_DEM', 'REFUSED_Geovista_DEM',
          'BROKEN_Kobra_DEM', 'BROKEN_MountSopris_DEM', 'BROKEN_Geovista_DEM',
          'LIQUID_Kobra_DEM', 'LIQUID_MountSopris_DEM', 'LIQUID_Geovista_DEM',
          'NOT_PROFITABLE_Kobra_DEM', 'NOT_PROFITABLE_MountSopris_DEM', 'NOT_PROFITABLE_Geovista_DEM',
          'CONSTRUCTION_Kobra_DEM', 'CONSTRUCTION_MountSopris_DEM', 'CONSTRUCTION_Geovista_DEM',
          'ENCOURS_Kobra_GEOS', 'ENCOURS_MountSopris_GEOS', 'ENCOURS_Geovista_GEOS'])
    }
  },
  watch: {
    // add watchers
  },
  mounted: function () {
    this.$nextTick(function () {
      // Код, который будет запущен только после отображения всех представлений
    })
  },
  methods: {
    i (text) { return k.i(text) },
    si (obj, keys) { return k.si(obj, keys) }
  }
}
</script>

<style scoped>
  .filter-column {
    font-size: 0.75rem;
  }
</style>
