<template>
  <v-row no-gutters>
    <v-row style="width: 100%">
      <v-col cols="7">
        <v-card>
          <v-card-title dense>
            {{ caption }}
          </v-card-title>
        </v-card>
        <ShapeInfo />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="7">
        <v-card v-if="getDHSummary2FT">
          <v-table dense>
            <template v-slot:default>
              <tbody>
                <tr>
                  <td />
                  <td />
                  <td />
                  <td />
                  <td>GEOS DB</td>
                  <td>DEM DB</td>
                  <td>TOTAL</td>
                  <td>% FROM TOTAL</td>
                </tr>
                <tr>
                  <td>With Logging Phase 1</td>
                  <td />
                  <td />
                  <td />
                  <td>
                    {{ WithLoggingPhase1GEOS }}
                  </td>
                  <td>
                    {{ WithLoggingPhase1DEM }}
                  </td>
                  <td>
                    {{ WithLoggingPhase1GEOS + WithLoggingPhase1DEM }}
                  </td>
                  <td />
                </tr>
                <tr>
                  <td />
                  <td>Kobra</td>
                  <td />
                  <td />
                  <td>
                    {{ KobraGEOS }}
                  </td>
                  <td>
                    {{ KobraDEM }}
                  </td>
                  <td>
                    {{ KobraGEOS + KobraDEM }}
                  </td>
                  <td>
                    {{ ((KobraGEOS + KobraDEM) / AllWells * 100).toFixed(2) }}
                  </td>
                </tr>
                <tr>
                  <td />
                  <td>Geovista</td>
                  <td />
                  <td />
                  <td>
                    {{ GeovistaGEOS }}
                  </td>
                  <td>
                    {{ GeovistaDEM }}
                  </td>
                  <td>
                    {{ GeovistaGEOS + GeovistaDEM }}
                  </td>
                  <td>
                    {{ ((GeovistaGEOS + GeovistaDEM) / AllWells * 100).toFixed(2) }}
                  </td>
                </tr>
                <tr>
                  <td />
                  <td>MountSopris</td>
                  <td />
                  <td />
                  <td>
                    {{ MountSoprisGEOS }}
                  </td>
                  <td>
                    {{ MountSoprisDEM }}
                  </td>
                  <td>
                    {{ MountSoprisGEOS + MountSoprisDEM }}
                  </td>
                  <td>
                    {{ ((MountSoprisGEOS + MountSoprisDEM) / AllWells * 100).toFixed(2) }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Without Logging Phase 1
                    <span @click="showWithoutByStatus=!showWithoutByStatus">
                      <v-icon v-if="!showWithoutByStatus">
                        mdi-plus-box
                      </v-icon>
                      <v-icon v-if="showWithoutByStatus">
                        mdi-minus-box
                      </v-icon>
                    </span>
                  </td>
                  <td />
                  <td />
                  <td />
                  <td>
                    {{ WithoutLoggingPhase1GEOS }}
                  </td>
                  <td>
                    {{ WithoutLoggingPhase1DEM }}
                  </td>
                  <td>
                    {{ WithoutLoggingPhase1GEOS + WithoutLoggingPhase1DEM }}
                  </td>
                  <td>
                    {{ ((WithoutLoggingPhase1GEOS + WithoutLoggingPhase1DEM) / AllWells * 100).toFixed(2) }}
                  </td>
                </tr>
                <tr v-if="showWithoutByStatus">
                  <td />
                  <td />
                  <td />
                  <td>ACCEPTED</td>
                  <td>
                    {{ i(getDHSummary2FT.ACCEPTED_NP1_GEOS) }}
                  </td>
                  <td>
                    {{ i(getDHSummary2FT.ACCEPTED_NP1_DEM) }}
                  </td>
                  <td>
                    {{ si(getDHSummary2FT, ['ACCEPTED_NP1_GEOS', 'ACCEPTED_NP1_DEM']) }}
                  </td>
                  <td />
                </tr>
                <tr v-if="showWithoutByStatus">
                  <td />
                  <td />
                  <td />
                  <td>ECHEC</td>
                  <td>
                    {{ i(getDHSummary2FT.ECHEC_NP1_GEOS) }}
                  </td>
                  <td />
                  <td>
                    {{ i(getDHSummary2FT.ECHEC_NP1_GEOS) }}
                  </td>
                  <td />
                </tr>
                <tr v-if="showWithoutByStatus">
                  <td />
                  <td />
                  <td />
                  <td>REFUSED</td>
                  <td>
                    {{ i(getDHSummary2FT.REFUSED_NP1_GEOS) }}
                  </td>
                  <td>
                    {{ i(getDHSummary2FT.REFUSED_NP1_DEM) }}
                  </td>
                  <td>
                    {{ si(getDHSummary2FT,['REFUSED_NP1_GEOS', 'REFUSED_NP1_DEM']) }}
                  </td>
                  <td />
                </tr>
                <tr v-if="showWithoutByStatus">
                  <td />
                  <td />
                  <td />
                  <td>BROKEN</td>
                  <td />
                  <td>
                    {{ i(getDHSummary2FT.BROKEN_NP1_DEM) }}
                  </td>
                  <td>
                    {{ i(getDHSummary2FT.BROKEN_NP1_DEM) }}
                  </td>
                  <td />
                </tr>
                <tr v-if="showWithoutByStatus">
                  <td />
                  <td />
                  <td />
                  <td>LIQUID</td>
                  <td />
                  <td>
                    {{ i(getDHSummary2FT.LIQUID_NP1_DEM) }}
                  </td>
                  <td>
                    {{ i(getDHSummary2FT.LIQUID_NP1_DEM) }}
                  </td>
                  <td />
                </tr>
                <tr v-if="showWithoutByStatus">
                  <td />
                  <td />
                  <td />
                  <td>NOT PROFITABLE</td>
                  <td />
                  <td>
                    {{ i(getDHSummary2FT.NOT_PROFITABLE_NP1_DEM) }}
                  </td>
                  <td>
                    {{ i(getDHSummary2FT.NOT_PROFITABLE_NP1_DEM) }}
                  </td>
                  <td />
                </tr>
                <tr v-if="showWithoutByStatus">
                  <td />
                  <td />
                  <td />
                  <td>CONSTRUCTION</td>
                  <td />
                  <td>
                    {{ i(getDHSummary2FT.CONSTRUCTION_NP1_DEM) }}
                  </td>
                  <td>
                    {{ i(getDHSummary2FT.CONSTRUCTION_NP1_DEM) }}
                  </td>
                  <td />
                </tr>
                <tr v-if="showWithoutByStatus">
                  <td />
                  <td />
                  <td />
                  <td>ENCOURS</td>
                  <td>
                    {{ i(getDHSummary2FT.ENCOURS_NP1_GEOS) }}
                  </td>
                  <td />
                  <td>
                    {{ i(getDHSummary2FT.ENCOURS_NP1_GEOS) }}
                  </td>
                  <td />
                </tr>
              </tbody>
            </template>
          </v-table>
        </v-card>

        <v-card v-if="!getDHSummary2FT">
          <Loading />
        </v-card>
      </v-col>
    </v-row>
  </v-row>
</template>

<script>
// eslint-disable @typescript-eslint/camelcase
import { mapGetters } from 'vuex'
import k from '@/lib/k.js'

export default {
  name: 'DHSummary2ST',
  data () {
    return {
      showWithoutByStatus: false
    }
  },
  computed: {
    ...mapGetters('dhsummary2', ['getDHSummary2FT']),
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return 'Number of Loggings ' + this.getCaption },

    WithLoggingPhase1GEOS () {
      return k.si(this.getDHSummary2FT,
        ['ACCEPTED_Kobra_GEOS', 'ACCEPTED_MountSopris_GEOS',
          'ACCEPTED_Geovista_GEOS', 'REFUSED_Kobra_GEOS',
          'REFUSED_MountSopris_GEOS', 'REFUSED_Geovista_GEOS',
          'ECHEC_Kobra_GEOS', 'ECHEC_MountSopris_GEOS',
          'ECHEC_Geovista_GEOS', 'ENCOURS_Kobra_GEOS'])
    },
    WithLoggingPhase1DEM () {
      return k.si(this.getDHSummary2FT,
        ['ACCEPTED_Kobra_DEM', 'ACCEPTED_MountSopris_DEM',
          'ACCEPTED_Geovista_DEM', 'REFUSED_Kobra_DEM',
          'REFUSED_MountSopris_DEM', 'REFUSED_Geovista_DEM',
          'BROKEN_Kobra_DEM', 'BROKEN_MountSopris_DEM',
          'BROKEN_Geovista_DEM', 'LIQUID_Kobra_DEM',
          'LIQUID_MountSopris_DEM', 'LIQUID_Geovista_DEM',
          'NOT_PROFITABLE_Kobra_DEM', 'NOT_PROFITABLE_MountSopris_DEM',
          'NOT_PROFITABLE_Geovista_DEM', 'CONSTRUCTION_Kobra_DEM',
          'CONSTRUCTION_MountSopris_DEM', 'CONSTRUCTION_Geovista_DEM'])
    },
    KobraGEOS () {
      return k.si(this.getDHSummary2FT,
        ['ACCEPTED_Kobra_GEOS', 'REFUSED_Kobra_GEOS',
          'ECHEC_Kobra_GEOS', 'ENCOURS_Kobra_GEOS'])
    },
    KobraDEM () {
      return k.si(this.getDHSummary2FT,
        ['ACCEPTED_Kobra_DEM', 'REFUSED_Kobra_DEM',
          'BROKEN_Kobra_DEM', 'LIQUID_Kobra_DEM',
          'NOT_PROFITABLE_Kobra_DEM', 'CONSTRUCTION_Kobra_DEM'])
    },
    AllWells () {
      return k.si(this.getDHSummary2FT,
        ['ACCEPTED_Kobra_GEOS', 'ACCEPTED_MountSopris_GEOS',
          'ACCEPTED_Geovista_GEOS', 'REFUSED_Kobra_GEOS',
          'REFUSED_MountSopris_GEOS', 'REFUSED_Geovista_GEOS',
          'ECHEC_Kobra_GEOS', 'ECHEC_MountSopris_GEOS',
          'ECHEC_Geovista_GEOS', 'ACCEPTED_Kobra_DEM',
          'ACCEPTED_MountSopris_DEM', 'ACCEPTED_Geovista_DEM',
          'REFUSED_Kobra_DEM', 'REFUSED_MountSopris_DEM',
          'REFUSED_Geovista_DEM', 'BROKEN_Kobra_DEM',
          'BROKEN_MountSopris_DEM', 'BROKEN_Geovista_DEM',
          'LIQUID_Kobra_DEM', 'LIQUID_MountSopris_DEM',
          'LIQUID_Geovista_DEM', 'NOT_PROFITABLE_Kobra_DEM',
          'NOT_PROFITABLE_MountSopris_DEM', 'NOT_PROFITABLE_Geovista_DEM',
          'ACCEPTED_NP1_GEOS', 'REFUSED_NP1_GEOS',
          'ECHEC_NP1_GEOS', 'ACCEPTED_NP1_DEM',
          'REFUSED_NP1_DEM', 'BROKEN_NP1_DEM',
          'LIQUID_NP1_DEM', 'NOT_PROFITABLE_NP1_DEM',
          'ENCOURS_Kobra_GEOS', 'ENCOURS_MountSopris_GEOS',
          'ENCOURS_Geovista_GEOS', 'ENCOURS_NP1_GEOS',
          'CONSTRUCTION_Kobra_DEM', 'CONSTRUCTION_MountSopris_DEM',
          'CONSTRUCTION_Geovista_DEM', 'CONSTRUCTION_NP1_DEM'])
    },
    GeovistaGEOS () {
      return k.si(this.getDHSummary2FT,
        ['ACCEPTED_Geovista_GEOS', 'REFUSED_Geovista_GEOS',
          'ECHEC_Geovista_GEOS', 'ENCOURS_Geovista_GEOS'])
    },
    GeovistaDEM () {
      return k.si(this.getDHSummary2FT,
        ['ACCEPTED_Geovista_DEM', 'REFUSED_Geovista_DEM',
          'BROKEN_Geovista_DEM', 'LIQUID_Geovista_DEM',
          'NOT_PROFITABLE_Geovista_DEM', 'CONSTRUCTION_Geovista_DEM'])
    },
    MountSoprisGEOS () {
      return k.si(this.getDHSummary2FT,
        ['ACCEPTED_MountSopris_GEOS', 'REFUSED_MountSopris_GEOS',
          'ECHEC_MountSopris_GEOS', 'ENCOURS_MountSopris_GEOS'])
    },
    MountSoprisDEM () {
      return k.si(this.getDHSummary2FT,
        ['ACCEPTED_MountSopris_DEM', 'REFUSED_MountSopris_DEM',
          'BROKEN_MountSopris_DEM', 'LIQUID_MountSopris_DEM',
          'NOT_PROFITABLE_MountSopris_DEM', 'CONSTRUCTION_MountSopris_DEM'])
    },
    WithoutLoggingPhase1GEOS () {
      return k.si(this.getDHSummary2FT,
        ['ACCEPTED_NP1_GEOS', 'REFUSED_NP1_GEOS',
          'ECHEC_NP1_GEOS', 'ENCOURS_NP1_GEOS'])
    },
    WithoutLoggingPhase1DEM () {
      return k.si(this.getDHSummary2FT,
        ['ACCEPTED_NP1_DEM', 'REFUSED_NP1_DEM',
          'BROKEN_NP1_DEM', 'LIQUID_NP1_DEM',
          'NOT_PROFITABLE_NP1_DEM', 'CONSTRUCTION_NP1_DEM'])
    }
  },
  watch: {
    // add watchers
  },
  mounted: function () {
    this.$nextTick(function () {
      // Код, который будет запущен только после отображения всех представлений
    })
  },
  methods: {
    i (text) { return k.i(text) },
    si (obj, keys) { return k.si(obj, keys) }
  }
}
</script>

<style scoped>
  .filter-column {
    font-size: 0.75rem;
  }
</style>
