<template>
  <v-row no-gutters>
    <v-row style="width: 100%">
      <v-col cols="7">
        <v-card>
          <v-card-title dense>
            {{ caption }}
          </v-card-title>
        </v-card>
        <ShapeInfo />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="7">
        <v-card v-if="getDHSummary1FT">
          <!-- <v-simple-table --> 
          <v-table dense>
            <template v-slot:default>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>GEOS DB</td>
                  <td>DEM DB</td>
                  <td>HYBRID</td>
                  <td>TOTAL</td>
                </tr>
                <tr>
                  <td><HoleStatus  hole-status ="ACCEPTED" /></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>Except hydro DH</td>
                  <td></td>
                  <td></td>
                  <td>
                    {{ si(getDHSummary1FT,['ACCEPTED_DVPT_GEOS','ACCEPTED_EXPLO_GEOS']) }}
                  </td>
                  <td>
                    {{ si(getDHSummary1FT,['ACCEPTED_INJECT_DEM','ACCEPTED_PRODUCT_DEM']) }}
                  </td>
                  <td>
                    {{ si(getDHSummary1FT,['ACCEPTED_DVPT_INJECT_GEOS','ACCEPTED_DVPT_PROD_GEOS']) }}
                  </td>
                  <td>
                    {{ WithoutHydroTotal }}
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Development</td>
                  <td>[DVPT]</td>
                  <td>
                    {{ i(getDHSummary1FT.ACCEPTED_DVPT_GEOS) }}
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Hybrid:</td>
                  <td>[DVPT-INJECT]</td>
                  <td></td>
                  <td></td>
                  <td>
                    {{ i(getDHSummary1FT.ACCEPTED_DVPT_INJECT_GEOS) }}
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>[DVPT-PROD]</td>
                  <td></td>
                  <td></td>
                  <td>
                    {{ i(getDHSummary1FT.ACCEPTED_DVPT_PROD_GEOS) }}
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Exploration</td>
                  <td>[EXPLO]</td>
                  <td>
                    {{ i(getDHSummary1FT.ACCEPTED_EXPLO_GEOS) }}
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Injector (without Hybrid)</td>
                  <td>[INJECT]</td>
                  <td></td>
                  <td>
                    {{ i(getDHSummary1FT.ACCEPTED_INJECT_DEM) }}
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Producer (without Hybrid)</td>
                  <td>[PRODUCT]</td>
                  <td></td>
                  <td>
                    {{ i(getDHSummary1FT.ACCEPTED_PRODUCT_DEM) }}
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>Hydro DH</td>
                  <td></td>
                  <td></td>
                  <td>
                    {{ HydroGEOS }}
                  </td>
                  <td>
                    {{ HydroDEM }}
                  </td>
                  <td></td>
                  <td>
                    {{ HydroGEOS + HydroDEM }}
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td><HoleStatus hole-status="REFUSED" /></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    {{ AllRefusedGEOS }}
                  </td>
                  <td>
                    {{ AllRefusedDEM }}
                  </td>
                  <td>
                    {{ si(getDHSummary1FT, ['REFUSED_DVPT_INJECT_GEOS','REFUSED_DVPT_PROD_GEOS']) }}
                  </td>
                  <td>
                    {{ AllRefusedGEOS + AllRefusedDEM +
                      si(getDHSummary1FT, ['REFUSED_DVPT_INJECT_GEOS','REFUSED_DVPT_PROD_GEOS']) }}
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td><HoleStatus hole-status="REFUSED" /></td>
                  <td></td>
                  <td></td>
                  <td>
                    {{ RefusedGEOS }}
                  </td>
                  <td>
                    {{ RefusedDEM }}
                  </td>
                  <td>
                    {{ si(getDHSummary1FT, ['REFUSED_DVPT_INJECT_GEOS', 'REFUSED_DVPT_PROD_GEOS']) }}
                  </td>
                  <td>
                    {{ RefusedGEOS + RefusedDEM +
                      si(getDHSummary1FT, ['REFUSED_DVPT_INJECT_GEOS', 'REFUSED_DVPT_PROD_GEOS']) }}
                  </td>
                </tr>
                <tr>
                <td></td>
                  <td><HoleStatus hole-status="ECHEC" /></td>
                 <td></td>
                 <td></td>
                  <td>
                    {{ EchecGEOS }}
                  </td>
                 <td></td>
                 <td></td>
                 <td></td>
                </tr>
                <tr>
                 <td></td>
                  <td><HoleStatus hole-status="BROKEN" /></td>
                 <td></td>
                 <td></td>
                 <td></td>
                  <td>
                    {{ BrokenDEM }}
                  </td>
                 <td></td>
                 <td></td>
                </tr>
                <tr>
                 <td></td>
                  <td><HoleStatus hole-status="LIQUID" /></td>
                 <td></td>
                 <td></td>
                 <td></td>
                  <td>
                    {{ LiquidDEM }}
                  </td>
                 <td></td>
                 <td></td>
                </tr><tr>
                 <td></td>
                  <td><HoleStatus hole-status="NOT PROFITABLE" /></td>
                 <td></td>
                 <td></td>
                 <td></td>
                  <td>
                    {{ NotProfitableDEM }}
                  </td>
                 <td></td>
                 <td></td>
                </tr>
                <tr>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                </tr>
                <tr>
                  <td><HoleStatus hole-status="DRILLING IN PROGRESS" /></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                  <td>
                    {{ Inprogress }}
                  </td>
                </tr>
                <tr>
                 <td></td>
                  <td><HoleStatus hole-status="ENCOURS" /></td>
                 <td></td>
                 <td></td>
                  <td>
                    {{ (parseInt(getDHSummary1FT.ENCOURS_DVPT_GEOS)||0) +
                      (parseInt(getDHSummary1FT.ENCOURS_EXPLO_GEOS)||0) +
                      (parseInt(getDHSummary1FT.ENCOURS_PIEZO_GEOS)||0) }}
                  </td>
                 <td></td>
                  <td>
                    {{ (parseInt(getDHSummary1FT.ENCOURS_DVPT_INJECT_GEOS)||0) +
                      (parseInt(getDHSummary1FT.ENCOURS_DVPT_PROD_GEOS)||0) }}
                  </td>
                  <td>
                    {{ (parseInt(getDHSummary1FT.ENCOURS_DVPT_GEOS)||0) +
                      (parseInt(getDHSummary1FT.ENCOURS_EXPLO_GEOS)||0) +
                      (parseInt(getDHSummary1FT.ENCOURS_PIEZO_GEOS)||0) +
                      (parseInt(getDHSummary1FT.ENCOURS_DVPT_INJECT_GEOS)||0) +
                      (parseInt(getDHSummary1FT.ENCOURS_DVPT_PROD_GEOS)||0) }}
                  </td>
                </tr>
                <tr>
                 <td></td>
                  <td><HoleStatus hole-status="CONSTRUCTION" /></td>
                 <td></td>
                 <td></td>
                 <td></td>
                  <td>
                    {{ (parseInt(getDHSummary1FT.CONSTRUCTION_INJECT_DEM)||0) +
                      (parseInt(getDHSummary1FT.CONSTRUCTION_PRODUCT_DEM)||0) +
                      (parseInt(getDHSummary1FT.CONSTRUCTION_PIEZO_DEM)||0) }}
                  </td>
                 <td></td>
                 <td></td>
                </tr>
                <tr>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                </tr>
              </tbody>
            </template>
          </v-table>
          <!-- </v-simple-table> -->
        </v-card>

        <v-card v-if="!getDHSummary1FT">
          <Loading />
        </v-card>
      </v-col>
    </v-row>
  </v-row>
</template>

<script>
// eslint-disable @typescript-eslint/camelcase
import { mapGetters } from 'vuex'
import k from '@/lib/k.js'

export default {
  name: 'DHSummary1ST',
  data () {
    return {
      version: '1.0.0'
    }
  },
  computed: {
    // TO DO - NOT ONLY PIEZO, BUT CONTROLE + WATER + EAU
    ...mapGetters('dhsummary1', ['getDHSummary1FT']),
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return 'Number of Drillholes ' + this.getCaption },

    WithoutHydroTotal () {
      return k.si(this.getDHSummary1FT,
        ['ACCEPTED_DVPT_GEOS', 'ACCEPTED_EXPLO_GEOS',
          'ACCEPTED_INJECT_DEM', 'ACCEPTED_PRODUCT_DEM',
          'ACCEPTED_DVPT_INJECT_GEOS', 'ACCEPTED_DVPT_PROD_GEOS'])
    },
    AllRefusedGEOS () {
      return k.si(this.getDHSummary1FT,
        ['REFUSED_DVPT_GEOS', 'REFUSED_EXPLO_GEOS',
          'REFUSED_PIEZO_GEOS', 'ECHEC_DVPT_GEOS',
          'ECHEC_EXPLO_GEOS', 'ECHEC_PIEZO_GEOS',
          'REFUSED_WATER_GEOS', 'ECHEC_WATER_GEOS',
          'REFUSED_CONTROLE_GEOS', 'ECHEC_CONTROLE_GEOS',
          'REFUSED_EAU_GEOS', 'ECHEC_EAU_GEOS'])
    },
    AllRefusedDEM () {
      return k.si(this.getDHSummary1FT,
        ['REFUSED_INJECT_DEM', 'REFUSED_PRODUCT_DEM',
          'REFUSED_PIEZO_DEM', 'BROKEN_INJECT_DEM',
          'BROKEN_PRODUCT_DEM', 'BROKEN_PIEZO_DEM',
          'LIQUID_INJECT_DEM', 'LIQUID_PRODUCT_DEM',
          'LIQUID_PIEZO_DEM', 'NOT_PROFITABLE_INJECT_DEM',
          'NOT_PROFITABLE_PRODUCT_DEM', 'NOT_PROFITABLE_PIEZO_DEM',
          'REFUSED_WATER_DEM', 'BROKEN_WATER_DEM',
          'LIQUID_WATER_DEM', 'NOT_PROFITABLE_WATER_DEM',
          'REFUSED_CONTROLE_DEM', 'ECHEC_CONTROLE_DEM',
          'LIQUID_CONTROLE_DEM', 'NOT_PROFITABLE_CONTROLE_DEM',
          'REFUSED_EAU_DEM', 'ECHEC_EAU_DEM',
          'LIQUID_EAU_DEM', 'NOT_PROFITABLE_EAU_DEM'])
    },
    HydroGEOS () {
      return k.si(this.getDHSummary1FT,
        ['ACCEPTED_PIEZO_GEOS', 'ACCEPTED_WATER_GEOS',
          'ACCEPTED_CONTROLE_GEOS', 'ACCEPTED_EAU_GEOS'])
    },
    HydroDEM () {
      return k.si(this.getDHSummary1FT,
        ['ACCEPTED_PIEZO_DEM', 'ACCEPTED_WATER_DEM',
          'ACCEPTED_CONTROLE_DEM', 'ACCEPTED_EAU_DEM'])
    },
    RefusedGEOS () {
      return k.si(this.getDHSummary1FT,
        ['REFUSED_DVPT_GEOS', 'REFUSED_EXPLO_GEOS',
          'REFUSED_PIEZO_GEOS', 'REFUSED_WATER_GEOS',
          'REFUSED_CONTROLE_GEOS', 'REFUSED_EAU_GEOS'])
    },
    RefusedDEM () {
      return k.si(this.getDHSummary1FT,
        ['REFUSED_INJECT_DEM', 'REFUSED_PRODUCT_DEM',
          'REFUSED_PIEZO_DEM', 'REFUSED_WATER_DEM',
          'REFUSED_CONTROLE_DEM', 'REFUSED_EAU_DEM'])
    },
    EchecGEOS () {
      return k.si(this.getDHSummary1FT,
        ['ECHEC_DVPT_GEOS', 'ECHEC_EXPLO_GEOS',
          'ECHEC_PIEZO_GEOS', 'ECHEC_WATER_GEOS',
          'ECHEC_CONTROLE_GEOS', 'ECHEC_EAU_GEOS'])
    },
    BrokenDEM () {
      return k.si(this.getDHSummary1FT,
        ['BROKEN_INJECT_DEM', 'BROKEN_PRODUCT_DEM',
          'BROKEN_PIEZO_DEM', 'BROKEN_WATER_DEM',
          'BROKEN_CONTROLE_DEM', 'BROKEN_EAU_DEM'])
    },
    LiquidDEM () {
      return k.si(this.getDHSummary1FT,
        ['LIQUID_INJECT_DEM', 'LIQUID_PRODUCT_DEM',
          'LIQUID_PIEZO_DEM', 'LIQUID_WATER_DEM',
          'LIQUID_CONTROLE_DEM', 'LIQUID_EAU_DEM'])
    },
    NotProfitableDEM () {
      return k.si(this.getDHSummary1FT,
        ['NOT_PROFITABLE_INJECT_DEM', 'NOT_PROFITABLE_PRODUCT_DEM',
          'NOT_PROFITABLE_PIEZO_DEM', 'NOT_PROFITABLE_WATER_DEM',
          'NOT_PROFITABLE_CONTROLE_DEM', 'NOT_PROFITABLE_EAU_DEM'])
    },
    Inprogress () {
      return k.si(this.getDHSummary1FT,
        ['ENCOURS_DVPT_GEOS', 'ENCOURS_EXPLO_GEOS',
          'ENCOURS_WATER_GEOS', 'ENCOURS_CONTROLE_GEOS',
          'ENCOURS_EAU_GEOS', 'ENCOURS_PIEZO_GEOS',
          'CONSTRUCTION_INJECT_DEM', 'CONSTRUCTION_PRODUCT_DEM',
          'CONSTRUCTION_PIEZO_DEM', 'CONSTRUCTION_WATER_DEM',
          'CONSTRUCTION_CONTROLE_DEM', 'CONSTRUCTION_EAU_DEM'])
    }
  },
  watch: {
    // add watchers
  },
  mounted: function () {
    this.$nextTick(function () {
      // Код, который будет запущен только после отображения всех представлений
    })
  },
  methods: {
    i (text) { return k.i(text) },
    si (obj, keys) { return k.si(obj, keys) }
  }
}
</script>

<style scoped>
  .filter-column {
    font-size: 0.75rem;
  }
</style>
