<template>
  <v-row no-gutters>
    <v-row style="width: 100%">
      <v-col cols="7">
        <v-card>
          <v-card-title dense>
            {{ caption }}
          </v-card-title>
        </v-card>
        <ShapeInfo />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="3">
        <v-card v-if="getWellStat.ignrdNtExistWcnt">
          <v-table dense>
            <template v-slot:default>
              <tbody>
                <tr>
                  <td>
                    wells in Access model exist (not ignored)
                  </td>
                  <td>
                    {{ i(getWellStat.ignrdNtExistWcnt) }}
                  </td>
                </tr>
                <tr>
                  <td>
                    wells in Access model exist (ignored)
                  </td>
                  <td>
                    {{ i(getWellStat.ignrdExistWcnt) }}
                  </td>
                </tr>
                <tr>
                  <td>
                    wells in Access model doesn't exist
                  </td>
                  <td>
                    {{ i(getWellStat.dsntExistWcnt) }}
                  </td>
                </tr>
              </tbody>
            </template>
          </v-table>
        </v-card>
        <v-card v-if="!getWellStat.ignrdNtExistWcnt">
          <Loading />
        </v-card>
      </v-col>
    </v-row>
  </v-row>
</template>

<script>
// eslint-disable @typescript-eslint/camelcase
import { mapGetters } from 'vuex'
import k from '@/lib/k.js'

export default {
  name: 'DHSummary4ST',
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters('drillholes', ['getWellStat']),
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return 'Number of Wells ' + this.getCaption }
  },
  watch: {
    // add watchers
  },
  mounted: function () {
    this.$nextTick(function () {
      // Код, который будет запущен только после отображения всех представлений
    })
  },
  methods: {
    i (text) { return k.i(text) },
    si (obj, keys) { return k.si(obj, keys) }
  }
}
</script>

<style scoped>
  .filter-column {
    font-size: 0.75rem;
  }
</style>
