<template>
  <v-chip
    :color="getGikletStatusColor(gikletStatus)"
    dark
  >
    {{ gikletStatus }}
  </v-chip>
</template>

<script>
// eslint-disable @typescript-eslint/camelcase
export default {
  name: 'GikletStatus',
  props: ['gikletStatus'],
  methods: {
    getGikletStatusColor (GikletStatus) {
      if (GikletStatus === 'done' || GikletStatus === 'Done by U-Ra (labgiklet)') return 'green'
      else if (GikletStatus.substring(0, 7) === 'Done by') return 'orange'
      else return 'red'
    }
  }
}
</script>

<style>

</style>
