<template>
  <v-row>
    <v-col>
      <v-row>
        <DHTabs />
      </v-row>
      <Loading
        v-if="!getHoleXRFFTSamples"
      />
      <v-row
        v-if="showChart"
        dense
      >
        <v-col>
          <v-row>
            <v-col cols="2">
              <v-switch
                v-model="showAllElements"
                dense
                label="Show more info - U/Ra samples"
              />
            </v-col>
            <v-col
              v-if="getHoleXRFFTSamples"
              cols="1"
            >
              <downloadExcel
                :data="getHoleXRFFTSamples"
                name="XRF"
                worksheet="XRF"
              >
                <v-btn
                  :disabled="true"
                  class="ma-1"
                  outlined
                >
                  <v-icon>mdi-table-arrow-right</v-icon>
                </v-btn>
              </downloadExcel>
            </v-col>
            <v-col
              v-if="getHoleXRFFTSamples"
              cols="1"
            >
              <v-btn
                :disabled="true"
                class="ma-1"
                outlined
                @click="copy"
              >
                <v-icon>
                  mdi-file-document-multiple-outline
                </v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-row
            dense
          >
            <v-col
              cols="12"
            >
              <v-data-table
                v-if="getHoleXRFFTSamples"
                dense
                :headers="headers"
                :items="getHoleXRFFTSamples"
                :items-per-page="15"
                class="elevation-1"
              />

              <v-card v-if="!getHoleXRFFTSamples">
                <Loading />
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row
        v-if="!showChart"
      >
        No data for this well - Samples (Ura)
      </v-row>
    </v-col>
  </v-row>
</template>

<style scoped>
.v-table {
  --v-table-header-height: 32px;
}
</style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'HoleSamples',
  data () {
    return {
      showAllElements: false
    }
  },
  computed: {
    // ...mapGetters('holexrf', ['getHoleXRFFT']),
    ...mapGetters('holesamples', ['getHoleXRFFTSamples']),
    showChart () {
      let res = false
      if (this.getHoleXRFFTSamples) {
        if (this.getHoleXRFFTSamples.length > 0) res = true
      }
      return res
    },
    headers () {
      let res = []
      if (this.showAllElements) {
        res = [
          { title: 'HOLEID', key: 'HOLEID' },
          { title: 'SAMPLEID', key: 'SAMPLEID' },
          { title: 'SAMPLE FROM', key: 'SAMPFROM' },
          { title: 'SAMPLE TO', key: 'SAMPTO' },
          { title: 'SAMPLETYPE', key: 'SAMPLETYPE' },
          { title: 'PRIORITY', key: 'PRIORITY' },
          { title: 'DESPATCHNO', key: 'DESPATCHNO' },
          { title: 'LABCODE', key: 'LABCODE' },
          { title: 'U_XRF, pct', key: 'U_XRF_pct' },
          { title: 'Ra_Gam_Spec, pct', key: 'Ra_Gam_Spec_pct' },
          { title: 'Ra_GamSpec_ERROR, pct', key: 'Ra_GamSpec_ERROR_pct' },
          { title: 'U_XRF_ERROR, pct', key: 'U_XRF_ERROR_pct' }
        ]
      } else {
        res = [
          { title: 'HOLEID', key: 'HOLEID' },
          { title: 'SAMPLE FROM', key: 'SAMPFROM' },
          { title: 'SAMPLE TO', key: 'SAMPTO' },
          { title: 'DESPATCHNO', key: 'DESPATCHNO' },
          { title: 'LABCODE', key: 'LABCODE' },
          { title: 'U_XRF, pct', key: 'U_XRF_pct' },
          { title: 'Ra_Gam_Spec, pct', key: 'Ra_Gam_Spec_pct' }
          // { title: 'Ra_GamSpec_ERROR', key: 'Ra_GamSpec_ERROR_pct' },
          // { title: 'U_XRF_ERROR, pct', key: 'U_XRF_ERROR_pct' },
        ]
      }
      return res
    }
  },
  methods: {
    copy () {
      let csv = 'HoleID\tSAMPLEID\tFrom, m\tTo, m\tU_XRF, ppm\tCa_XRF, ppm\tFe_XRF, ppm\tTi_XRF, ppm\r\n'
      csv += this.getHoleXRFFTSamples.map(item => {
        return [item.HOLEID, item.SAMPLEID, item.SAMPFROM,
          item.XRF_TO, item.U_XRF_ppm, item.Ca_XRF_ppm, item.Fe_XRF_ppm, item.Ti_XRF_ppm].join('\t')
      }).join('\r\n')
      navigator.clipboard.writeText(csv)
    }
  }

}
</script>
