<template>
  <v-row>
    <v-col>
      <v-row>
        <DHTabs />
      </v-row>
      <Loading
        v-if="!getHoleXRFFT"
      />
      <v-row
        v-if="showChart"
        dense
      >
        <v-col>
          <v-row>
            <v-col cols="3">
              <v-switch
                v-model="showAllElements"
                dense
                label="Show all columns"
              />
            </v-col>
            <v-col
              v-if="getHoleXRFFT"
              cols="1"
            >
              <downloadExcel
                :data="getHoleXRFFT"
                name="XRF"
                worksheet="XRF"
              >
                <v-btn
                  class="ma-1"
                  outlined
                >
                  <v-icon>mdi-table-arrow-right</v-icon>
                </v-btn>
              </downloadExcel>
            </v-col>
            <v-col
              v-if="getHoleXRFFT"
              cols="1"
            >
              <v-btn
                class="ma-1"
                outlined
                @click="copy"
              >
                <v-icon>
                  mdi-file-document-multiple-outline
                </v-icon>
              </v-btn>
            </v-col>
            <v-col>
              <v-btn
              @click="runExperiment()"
                  class="ma-1"
                  outlined
                >
                  <v-icon>mdi-table-clock</v-icon>
                </v-btn>
            </v-col>
          </v-row>
          <v-row
            dense
          >
            <v-col
              cols="12"
            >
              <v-data-table
                v-if="getHoleXRFFT"
                dense
                :fixed-header = true
                :height="tableDataHeight"
                :headers="headers"
                :items="getHoleXRFFT"
                :items-per-page="-1"
                class="elevation-1"
              />

              <v-card v-if="!getHoleXRFFT">
                <Loading />
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row
        v-if="!showChart"
      >
        No picking for this well
      </v-row>
    </v-col>
  </v-row>
</template>

<style scoped>
.v-table {
  --v-table-header-height: 32px;
}
</style>

<script>
import { mapGetters } from 'vuex'

class Animal {
  constructor (name) {
    this.name = name
  }

  x = 0

  setX (x) {
    this.x = x
  }

  setY (value) {
    this.y = value
  }

  speak () {
    console.info(`${this.name} makes a noise.`)
  }
}
export default {
  name: 'HoleXRF',
  data () {
    return {
      showAllElements: false,
      tableDataHeight: 600
    }
  },
  computed: {
    ...mapGetters('holexrf', ['getHoleXRFFT']),
    showChart () {
      let res = false
      if (this.getHoleXRFFT) {
        if (this.getHoleXRFFT.length > 0) res = true
      }
      return res
    },
    headers () {
      let res = []
      if (this.showAllElements) {
        res = [
          { title: 'SAMPLEID', key: 'SAMPLEID' },
          { title: 'XRF_FROM', key: 'XRF_FROM' },
          { title: 'XRF_TO', key: 'XRF_TO' },
          { title: 'U_XRF, ppm', key: 'U_XRF_ppm' },
          { title: 'As_XRF, ppm', key: 'As_XRF_ppm' },
          { title: 'Bi_XRF, ppm', key: 'Bi_XRF_ppm' },
          { title: 'Ca_XRF, ppm', key: 'Ca_XRF_ppm' },
          { title: 'Cd_XRF, ppm', key: 'Cd_XRF_ppm' },
          { title: 'Cl_XRF, ppm', key: 'Cl_XRF_ppm' },
          { title: 'Co_XRF, ppm', key: 'Co_XRF_ppm' },
          { title: 'Cr_XRF, ppm', key: 'Cr_XRF_ppm' },
          { title: 'Cu_XRF, ppm', key: 'Cu_XRF_ppm' },
          { title: 'Fe_XRF, ppm', key: 'Fe_XRF_ppm' },
          { title: 'Hg_XRF, ppm', key: 'Hg_XRF_ppm' },
          { title: 'K_XRF, ppm', key: 'K_XRF_ppm' },
          { title: 'Mn_XRF, ppm', key: 'Mn_XRF_ppm' },
          { title: 'Mo_XRF, ppm', key: 'Mo_XRF_ppm' },
          { title: 'Nb_XRF, ppm', key: 'Nb_XRF_ppm' },
          { title: 'Mn_XRF, ppm', key: 'Mn_XRF_ppm' },
          { title: 'Ni_XRF, ppm', key: 'Ni_XRF_ppm' },
          { title: 'Pb_XRF, ppm', key: 'Pb_XRF_ppm' },
          { title: 'Rb_XRF, ppm', key: 'Rb_XRF_ppm' },
          { title: 'S_XRF, ppm', key: 'S_XRF_ppm' },
          { title: 'Sb_XRF, ppm', key: 'Sb_XRF_ppm' },
          { title: 'Se_XRF, ppm', key: 'Se_XRF_ppm' },
          { title: 'Sn_XRF, ppm', key: 'Sn_XRF_ppm' },
          { title: 'Sr_XRF, ppm', key: 'Sr_XRF_ppm' },
          { title: 'Th_XRF, ppm', key: 'Th_XRF_ppm' },
          { title: 'Ti_XRF, ppm', key: 'Ti_XRF_ppm' },
          { title: 'V_XRF, ppm', key: 'V_XRF_ppm' },
          { title: 'W_XRF, ppm', key: 'W_XRF_ppm' },
          { title: 'Y_XRF, ppm', key: 'Y_XRF_ppm' },
          { title: 'Zn_XRF, ppm', key: 'Zn_XRF_ppm' },
          { title: 'Zr_XRF, ppm', key: 'Zr_XRF_ppm' }
        ]
      } else { // Yerlibek: 4 Risk mapping with XRF data Assign in Aqcuire database measured content of Ca, Ti, Fe, Al to main mineralized reservoirs under production DM/GED 0% 19.02.2022
        res = [
          { title: 'SAMPLEID', key: 'SAMPLEID' },
          { title: 'XRF_FROM', key: 'XRF_FROM' },
          { title: 'XRF_TO', key: 'XRF_TO' },
          { title: 'U_XRF, ppm', key: 'U_XRF_ppm' },
          { title: 'Ca_XRF, ppm', key: 'Ca_XRF_ppm' },
          { title: 'Fe_XRF, ppm', key: 'Fe_XRF_ppm' },
          { title: 'Ti_XRF, ppm', key: 'Ti_XRF_ppm' }
        ]
      }
      return res
    }
  },
  methods: {
    runExperiment () {
      console.log('Experiment')
      const jiraffe = new Animal('zhiraf')
      console.log('jiraffe.name = ', jiraffe.name)
      jiraffe.speak()

      jiraffe.setX(100)
      jiraffe.setY(120)

      console.log(`jiraffe x = ${jiraffe.x}`)
      console.log(`jiraffe Y = ${jiraffe.y}`)

      const { x, y } = jiraffe
      console.log(`local x = ${x}, y= ${y}`)

      console.log('end.')
    },
    onResize () {
      this.tableDataHeight = window.innerHeight - 260
    },
    copy () {
      let csv = 'HoleID\tSAMPLEID\tFrom, m\tTo, m\tU_XRF, ppm\tCa_XRF, ppm\tFe_XRF, ppm\tTi_XRF, ppm\r\n'
      csv += this.getHoleXRFFT.map(item => {
        return [item.HOLEID, item.SAMPLEID, item.XRF_FROM,
          item.XRF_TO, item.U_XRF_ppm, item.Ca_XRF_ppm, item.Fe_XRF_ppm, item.Ti_XRF_ppm].join('\t')
      }).join('\r\n')
      navigator.clipboard.writeText(csv)
    }
  },
  mounted () {
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })

    this.onResize()
  }
}
</script>
