<template>
  <v-row>
    <v-col>
      <v-row>
        <DHTabs />
      </v-row>
      <Loading
        v-if="!getHoleXRFFTSamplesGra"
      />
      <v-row
        v-if="showChart"
        dense
      >
        <v-col>
          <v-row>
            <v-col cols="2">
            </v-col>
            <v-col
              v-if="getHoleXRFFTSamplesGra"
              cols="1"
            >
              <downloadExcel
                :data="getHoleXRFFTSamplesGra"
                name="XRF"
                worksheet="XRF"
              >
                <v-btn
                  :disabled="true"
                  class="ma-1"
                  outlined
                >
                  <v-icon>mdi-table-arrow-right</v-icon>
                </v-btn>
              </downloadExcel>
            </v-col>
            <v-col
              v-if="getHoleXRFFTSamplesGra"
              cols="1"
            >
              <v-btn
                :disabled="true"
                class="ma-1"
                outlined
                @click="copy"
              >
                <v-icon>
                  mdi-file-document-multiple-outline
                </v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-row
            dense
          >
            <v-col
              cols="12"
            >
              <v-data-table
                v-if="getHoleXRFFTSamplesGra"
                dense
                :headers="headers"
                :items="getHoleXRFFTSamplesGra"
                :items-per-page="15"
                class="elevation-1"
              />

              <v-card v-if="!getHoleXRFFTSamplesGra">
                <Loading />
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row
        v-if="!showChart"
      >
        No data for this well - SamplesGra
      </v-row>
    </v-col>
  </v-row>
</template>

<style scoped>
.v-table {
  --v-table-header-height: 32px;
}
</style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'HoleSamplesGra',
  data () {
    return {
      showAllElementsGra: false
    }
  },
  computed: {
    // ...mapGetters('holexrf', ['getHoleXRFFT']),
    ...mapGetters('holesamplesgra', ['getHoleXRFFTSamplesGra']),
    showChart () {
      let res = false
      if (this.getHoleXRFFTSamplesGra) {
        if (this.getHoleXRFFTSamplesGra.length > 0) res = true
      }
      return res
    },
    headers () {
      let res = []
      if (this.showAllElementsGra) {
        res = [
        ]
      } else {
        res = [
          { title: 'HOLEID', key: 'HOLEID' },
          { title: 'SAMPLEID', key: 'SAMPLEID' },
          { title: 'SAMPLE FROM', key: 'SAMPFROM' },
          { title: 'SAMPLE TO', key: 'SAMPTO' },
          { title: 'SAMPLETYPE', key: 'SAMPLETYPE' },
          { title: 'PRIORITY', key: 'PRIORITY' },
          { title: 'DESPATCHNO', key: 'DESPATCHNO' },
          { title: 'LABCODE', key: 'LABCODE' },
          { title: 'Gr_0_001, mm', key: 'Gr_0_001_mm' },
          { title: 'Gr_0_005, mm', key: 'Gr_0_005_mm' },
          { title: 'Gr_0_01, mm', key: 'Gr_0_01_mm' },
          { title: 'Gr_0_05, mm', key: 'Gr_0_05_mm' },
          { title: 'Gr_0_05To0_005, mm', key: 'Gr_0_05To0_005_mm' },
          { title: 'Gr_0_1To0_05, mm', key: 'Gr_0_1To0_05_mm' },
          { title: 'Gr_0_25To0_1, mm', key: 'Gr_0_25To0_1_mm' },
          { title: 'Gr_0_5To0_25, mm', key: 'Gr_0_5To0_25_mm' },
          { title: 'Gr_10, mm', key: 'Gr_10_mm' },
          { title: 'Gr_10To5, mm', key: 'Gr_10To5_mm' },
          { title: 'Gr_1To0_5, mm', key: 'Gr_1To0_5_mm' },
          { title: 'Gr_2To1, mm', key: 'Gr_2To1_mm' },
          { title: 'Gr_5To2, mm', key: 'Gr_5To2_mm' },
          { title: 'Gr_SG_none', key: 'Gr_SG_none' },
          { title: 'Humid_Hygro_PHYS, pct', key: 'Humid_Hygro_PHYS_pct' }
        ]
      }
      return res
    }
  },
  methods: {
    copy () {
      let csv = 'HoleID\tSAMPLEID\tFrom, m\tTo, m\tU_XRF, ppm\tCa_XRF, ppm\tFe_XRF, ppm\tTi_XRF, ppm\r\n'
      csv += this.getHoleXRFFTSamplesGra.map(item => {
        return [item.HOLEID, item.SAMPLEID, item.SAMPFROM,
          item.XRF_TO, item.U_XRF_ppm, item.Ca_XRF_ppm, item.Fe_XRF_ppm, item.Ti_XRF_ppm].join('\t')
      }).join('\r\n')
      navigator.clipboard.writeText(csv)
    }
  }

}
</script>
