<template>
  <v-row>
    <v-col>
      <v-row>
        <DHTabs />
      </v-row>
      <Loading
        v-if="!getHoleXRFFTSamplesCo"
      />
      <v-row
        v-if="showChart"
        dense
      >
        <v-col>
          <v-row>
            <v-col cols="2">
            </v-col>
            <v-col
              v-if="getHoleXRFFTSamplesCo"
              cols="1"
            >
              <downloadExcel
                :data="getHoleXRFFTSamplesCo"
                name="XRF"
                worksheet="XRF"
              >
                <v-btn
                  :disabled="true"
                  class="ma-1"
                  outlined
                >
                  <v-icon>mdi-table-arrow-right</v-icon>
                </v-btn>
              </downloadExcel>
            </v-col>
            <v-col
              v-if="getHoleXRFFTSamplesCo"
              cols="1"
            >
              <v-btn
                :disabled="true"
                class="ma-1"
                outlined
                @click="copy"
              >
                <v-icon>
                  mdi-file-document-multiple-outline
                </v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-row
            dense
          >
            <v-col
              cols="12"
            >
              <v-data-table
                v-if="getHoleXRFFTSamplesCo"
                dense
                :headers="headers"
                :items="getHoleXRFFTSamplesCo"
                :items-per-page="15"
                class="elevation-1"
              />

              <v-card v-if="!getHoleXRFFTSamplesCo">
                <Loading />
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row
        v-if="!showChart"
      >
        No data for this well - SamplesCo
      </v-row>
    </v-col>
  </v-row>
</template>

<style scoped>
.v-table {
  --v-table-header-height: 32px;
}
</style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'HoleSamplesCo',
  data () {
    return {
      showAllElements: false
    }
  },
  computed: {
    // ...mapGetters('holexrf', ['getHoleXRFFT']),
    ...mapGetters('holesamplesco', ['getHoleXRFFTSamplesCo']),
    showChart () {
      let res = false
      if (this.getHoleXRFFTSamplesCo) {
        if (this.getHoleXRFFTSamplesCo.length > 0) res = true
      }
      return res
    },
    headers () {
      let res = []
      if (this.showAllElements) {
        res = [
        ]
      } else {
        res = [
          { title: 'HOLEID', key: 'HOLEID' },
          { title: 'SAMPLEID', key: 'SAMPLEID' },
          { title: 'SAMPLE FROM', key: 'SAMPFROM' },
          { title: 'SAMPLE TO', key: 'SAMPTO' },
          { title: 'SAMPLETYPE', key: 'SAMPLETYPE' },
          { title: 'PRIORITY', key: 'PRIORITY' },
          { title: 'DESPATCHNO', key: 'DESPATCHNO' },
          { title: 'LABCODE', key: 'LABCODE' },
          { title: 'CO2_chem_V_pct, pct', key: 'CO2_chem_V_pct' }
        ]
      }
      return res
    }
  },
  methods: {
    copy () {
      let csv = 'HoleID\tSAMPLEID\tFrom, m\tTo, m\tU_XRF, ppm\tCa_XRF, ppm\tFe_XRF, ppm\tTi_XRF, ppm\r\n'
      csv += this.getHoleXRFFTSamplesCo.map(item => {
        return [item.HOLEID, item.SAMPLEID, item.SAMPFROM,
          item.XRF_TO, item.U_XRF_ppm, item.Ca_XRF_ppm, item.Fe_XRF_ppm, item.Ti_XRF_ppm].join('\t')
      }).join('\r\n')
      navigator.clipboard.writeText(csv)
    }
  }

}
</script>
