<template>
  <v-chip
    :color="getStatusColor"
    dark
  >
    {{ holeStatus }}
  </v-chip>
</template>

<script>
export default {
  name: 'HoleStatus',
  props: {
    holeStatus: String
  },
  computed: {
    getStatusColor () {
      // console.log('h1. getStatusColor started. this.HoleStatus=', this.holeStatus)
      const HoleStatus = this.holeStatus
      if (HoleStatus === 'ACCEPTED') { return 'green' }
      if (HoleStatus === 'BROKEN' || HoleStatus === 'LIQUID' || HoleStatus === 'REFUSED' || HoleStatus === 'ECHEC' || HoleStatus === 'NOT PROFITABLE') {
         return 'red' 
        } else { return 'orange' }
    }
  }
}
</script>

<style>

</style>
