<template>
  <l-feature-group>
    <l-marker
      v-for="(w, i) in wells"
      :key="i"
      :lat-lng="[w.LAT,w.LON]"
      :icon="icon"
    >
      <l-tooltip
        :options="{
          permanent: permanentTooltip,
          interactive: !permanentTooltip
        }"
      >
        <small style="background-color: transparent; ">{{ w.HOLEID }}</small>
      </l-tooltip>
    </l-marker>
  </l-feature-group>
</template>

<script>
// eslint-disable @typescript-eslint/camelcase
/* eslint new-cap: ["error", { "newIsCap": false }] */
export default {
  name: 'WellMarkers',
  props: {
    wells: { type: Array, default: () => [] },
    icon: { type: Object, default: () => ({}) },
    permanentTooltip: { type: Boolean, default: false }
  }
}
</script>

<style scoped>
</style>
