<template>
  <l-feature-group>
    <l-circle-marker
      v-for="(w, i) in wells"
      :key="i"
      :lat-lng="[w.LAT,w.LON]"
      :radius="radius"
      :fill="fill"
      :fill-color="fillColor"
      :fill-opacity="fillopacity"
      :color="borderColor"
      :weight="1"
      :visible="visibility"
    >
      <!-- :fill-color="fillColor"
      :fill="fill" -->
      <l-tooltip
        :options="{
          permanent: permanentTooltip,
          interactive: !permanentTooltip
        }"
      >
        <b style="background-color: transparent; ">{{ tooltipText(w) }}</b>
      </l-tooltip>
    </l-circle-marker>
  </l-feature-group>
</template>

<script>
/* this component is not used now, you can modify it and use for your purposes */
// eslint-disable @typescript-eslint/camelcase
/* eslint new-cap: ["error", { "newIsCap": false }] */
export default {
  name: 'WellCircleMarkers',
  props: {
    wells: { type: Array, default: () => [] },
    permanentTooltip: { type: Boolean, default: false },
    tooltipFields: { type: String, default: 'tooltip' },
    tooltipSeparator: { type: String, default: ': ' },
    tooltipTextMethod: { type: Number, default: 1 },
    radius: { type: Number, default: 10 },
    fillColor: { type: String, default: 'green' },
    fill: { type: Boolean, default: true },
    fillopacity: { type: Number, default: 0.9 },
    visibility: { type: Boolean, default: true },
    borderColor: { type: String, default: 'black' }
  },
  methods: {
    tooltipText (w) {
      let res = ''
      if (this.tooltipTextMethod) {
        const tooltipFieldsArray = this.tooltipFields.split(',')// ['HOLEID', 'GT_U_RECOV_sum']
        res = w[tooltipFieldsArray[0]] + this.tooltipSeparator + w[tooltipFieldsArray[1]]
      }
      return res
    }
  }
}
</script>

<style scoped>
</style>
