<template>
  <v-row>
    <v-col :cols="12">
      <v-card>
        <v-card-title class="text-h6 text-md-h5 text-lg-h4">Access denied</v-card-title>
      <v-card-text>
        You are not allowed to access this page.<br>
        Please contact Data management group (GEOS) for further assistance.
      </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'AccessDeniedPage'
}

</script>
