<template>
  <v-row>
    <v-col :cols="12">
      <v-card>
        <h3>Please choose the specific object by its name from the list</h3>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'HomeType',
  components: {},
  mounted () {
    this.$store.state.activePage = 'HomeType'
  }
}

</script>
