<template>
  <v-row>
    <v-col :cols="12">
      <v-card>
        <h1>Welcome to ID Card web pages !</h1><br>
        <h3>1) First, you need choose topic of your interest on the top: blocks or models or wells </h3><br>
        <h3>2) Second, you need choose the specific object by its name from the list</h3><br>
        <h3>3) You can choose specific page about this object in the menu on the left</h3>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'HomePage',
  components: {},
  mounted () {
    this.$store.state.activePage = 'Home'
    this.$store.state.activeVersion = '1.0.2'
  }
}

</script>
