<template>
  <v-row>
    <v-col :cols="12">
      <v-card>
        <h3>Sandbox 1 надо проверить локал сторадж</h3>
        <span>{{ text }}</span>
        <v-text-field
          v-model="text"
          label="Regular"
        />
      </v-card>
      <v-btn
        @click="save"
      >
        Save
      </v-btn>
      <v-btn
        @click="load"
      >
        Load
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'Sandbox1',
  data () {
    return {
      text: ''
    }
  },
  mounted () {
    this.$store.state.activePage = 'Sandbox1'
  },
  methods: {
    save () {
      localStorage.setItem('testText', this.text)
    },
    load () {
      this.text = localStorage.getItem('testText')
    }
  }
}

</script>
