<template>
  <v-row
    fill-height
    no-gutters
  >
    <v-col
      :cols="12"
      fill-height
    >
      <v-card v-if="getShapeType.type==='3D_GEOS'">
        <DH3DhistoryDT />
      </v-card>
      <!-- <v-card v-if="getShapeType.type!=='3D_GEOS'">
        <DrillholesDT />
      </v-card> -->
    </v-col>
  </v-row>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters('ui2', ['getShapeType'])
  },
  mounted () {
    this.$store.state.ui.active.page.name = '3D Model drillholes - Historical list'
    this.$store.state.ui.active.page.url = 'id/dh3dhistories'
  }
}
</script>
