<template>
  <v-row
    fill-height
    no-gutters
  >
    <v-col
      :cols="12"
      fill-height
    >
     {{ this.$route.path }},  {{   $route.params.p1 }}
      <v-card v-if="getShapeType.type==='3D_GEOS'">
        <Drillholes3DT />
      </v-card>
      <v-card v-if="getShapeType.type!=='3D_GEOS'">
        <DrillholesDT />
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Drillholes',
  computed: {
    ...mapGetters('ui2', ['getShapeType'])
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Drillholes - General list'
    this.$store.state.ui.active.page.url = 'id/drillholes'
  }
}
</script>
