
<template>
  <v-col cols="12">
    <v-row>
      <v-col cols="10">
        <v-card>
            <h2>
              {{ caption }}
            </h2>
        </v-card>
      </v-col>
      <v-spacer />
      <v-col cols="2">
        <v-row
          no-gutters
          dense
          style="height:20px"
        >
          <v-col
            cols="4"
            no-gutters
            dense
            style="height:20px;vertical-align: middle"
          >
            <v-switch
              v-model="showGTmap"
              dense
              label="🗺️GT"
              style="height:20px;vertical-align: middle"
            >
              <v-icon>
                mdi-map-search-outline
              </v-icon>
            </v-switch>
          </v-col>
          <v-col
            cols="8"
            no-gutters
            dense
            style="height:30px"
          >
            <v-switch
              v-model="showHolePurpose"
              dense
              label="🗺️DH purpose"
              style="height:20px"
            />
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row style="height:100%">
      <v-col cols="3">
        <v-card>
          <v-card-title dense>
            <SdeTblockDT v-if="showSdeTblockDT"/>
            <DepositShortInfo v-if="showDepositShortInfo"/>
          </v-card-title>
        </v-card>
        <v-card>
          <v-card-title dense>
            <DepositParamDT v-if="showDepositParamDT"/>
          </v-card-title>
        </v-card>
      </v-col>
      <v-col
        v-if="showGTmap"
        fill-height
      >
        <v-card
          height="750"
        >
          <RCMapSelector2 />
        </v-card>
      </v-col>
      <v-col
        v-if="showHolePurpose"
        fill-height
      >
        <v-card
          height="750"
        >
          <RCMapSelector />
        </v-card>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: 'IDCard',
  data () {
    return {
      showGTmap: true,
      showHolePurpose: false
    }
  },
  computed: {
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return 'IDCard ' + this.getCaption },
    showSdeTblockDT () { return (this.getShapeType.type !== 'DEPO') },
    showDepositShortInfo () { return (this.getShapeType.type === 'DEPO') },
    showDepositParamDT () { return true }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'IDCard'
    this.$store.state.ui.active.page.url = 'id/idcard'
  }
}
</script>
