<template>
  <v-row
    fill-height
    no-gutters
  >
    <v-col
      :cols="12"
      fill-height
    >
      <v-card>
        <QCOsidem1 />
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  mounted () {
    this.$store.state.ui.active.page.name = 'Osidem QC for Modeling'
    this.$store.state.ui.active.page.url = 'qc/osidem1'
  }
}
</script>
