<template>
  <v-row
    fill-height
    no-gutters
  >
    <v-col
      :cols="12"
      fill-height
    >
      <!-- <DrillholesDT /> -->
      <v-row no-gutters>
        <v-col>
          <DHDataTable
            :headers="headers"
          />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'ProfDrillholes',
  computed: {
    ...mapGetters('ui2', ['getShapeType']),
    headers () {
      return [
        { text: 'HoleID', value: 'HOLEID', groupable: false },
        { text: 'Project', value: 'PROJECTCODE' },
        { text: 'Start Date ', value: 'STARTDATE', sortable: true, groupable: false },
        { text: 'End Date ', value: 'ENDDATE', sortable: true, groupable: false },
        { text: 'Purpose', value: 'HolePurpose', filterable: true, sortable: false },
        { text: 'Status', value: 'HoleStatus', filterable: true, sortable: false },
        { text: 'XRF Status', value: 'XRF_Status', filterable: true, sortable: false },
        { text: 'Depth, m', value: 'DEPTH', align: 'end', groupable: false },
        { text: 'Will Not Be Giklet', value: 'WillNotBeGiklet', filterable: true, sortable: false },
        { text: 'Giklet status', value: 'Giklet_status', filterable: true, sortable: false },
        { text: 'Logging station type', value: 'LogStation', sortable: false, groupable: false },
        { text: 'Giklet date', value: 'GikletDate', filterable: true, sortable: true, groupable: false },
        { text: 'Comment', value: 'HoleComm', filterable: true, sortable: true, groupable: false },
        { text: 'DB', value: 'DB', sortable: false }
      ]
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Drillholes of Profile - General list'
    this.$store.state.ui.active.page.url = 'id/drillholes'
  }
}
</script>
