<template>
    <v-row>
      <v-col
        cols="5"
        >
      <v-col
          fill-height
        >
          <v-card
            height="750"
          >
            <RCMapSelectorISR1
              v-if="showMap"
            />
          </v-card>
        </v-col>
      </v-col>
      <v-col
        cols="7"
        >
          <v-row>
            <v-col cols="12">
              <KDataTable
                tfn="BLOCK_INJECTING_PRODUCERS"
                item-number="1"
                header-text="INJECTOR+T_CONNECTION, events 'Should not exist'"
                p2="INJECTOR,T_CONNECTION"
                p3="P_INJECTING_FROM_PR_COLLECTOR,P_PUMPING_TO_TUZ,P_PUMPING_TO_PLANT"
                good-text="Check passed. No events for "
              />
            </v-col>
          </v-row>
          <v-row>
          <v-col cols="12">
          <KDataTable
            tfn="BLOCK_INJECTING_PRODUCERS"
            item-number="2"
            header-text="UNIVERSAL_WELL, events 'Non-standard mode' "
            p2="UNIVERSAL_WELL"
            p3="P_INJECTING_FROM_PR_COLLECTOR"
            good-text="Check Passed. No events for "
          /></v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <KDataTable
                tfn="BLOCK_INJECTING_PRODUCERS"
                item-number="3"
                header-text="PRODUCER, events: Non-standard mode(rare)"
                p2="PRODUCER"
                p3="P_INJECTING_FROM_PR_COLLECTOR"
                good-text="Check passed. No events for "
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <KDataTable
                tfn="BLOCK_INJECTING_PRODUCERS"
                item-number="4"
                header-text="PRODUCER, events 'Reverse mode' "
                p2="PRODUCER"
                p3="P_INJECTING_FROM_TUZ,P_INJECTING_FROM_PLANT"
                good-text="Check passed. No events for "
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <KDataTable
                tfn="BLOCK_INJECTING_PRODUCERS"
                item-number="5"
                header-text="INJECTOR+T_CONNECTION, events 'Recirculation mode'"
                p2="INJECTOR,T_CONNECTION"
                p3="P_INJECTING_FROM_TUZ"
                good-text="Check passed. No events for "
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <KDataTable
                tfn="BLOCK_INJECTING_PRODUCERS"
                item-number="6"
                header-text="PRODUCER, events 'Recirculation mode'"
                p2="PRODUCER"
                p3="P_PUMPING_TO_TUZ"
                good-text="Check passed. No events for "
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <KDataTable
                tfn="BLOCK_INJECTING_PRODUCERS"
                item-number="7"
                header-text="UNIVERSAL_WELL, events 'Recirculation mode' "
                p2="UNIVERSAL_WELL"
                p3="P_INJECTING_FROM_TUZ,P_PUMPING_TO_TUZ"
                good-text="Check passed. No events for "
              />
            </v-col>
          </v-row>
          <v-row>
          <v-col cols="12">
          <KDataTable
            tfn="BLOCK_UNIWELLS_ALL_EVENTS"
            item-number="8"
            header-text="UNIVERSAL_WELL, All events"
            good-text="Check passed. No events for "
          /></v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <KDataTable
                tfn="BLOCK_QC_OSIDEM_WELLS_HIERARCHY"
                item-number="9"
                header-text="INJECTOR\PRODUCER TYPE MISMATCH BETWEEN ACQ AND OSIDEM"
                good-text="Check passed. No events for "
              />
            </v-col>
          </v-row>
      </v-col>
    </v-row>
</template>

<script>

// -- Event template name             |INJECTOR       =|=T_CONNECTION   |PRODUCER                  |UNIVERSAL_WELL   |
// -- P_INJECTING_FROM_TUZ            |Recirculation   |Recirculation   |Reverse mode              |Recirculation    |
// -- P_INJECTING_FROM_PR_COLLECTOR   |Should not exist|Should not exist|Non-standard mode(rare)   |Non-standard mode|
// -- P_INJECTING_FROM_PLANT          |Normal mode     |Normal mode     |Reverse mode              |Normal mode      |
// -- P_PUMPING_TO_TUZ                |Should not exist|Should not exist|Recirculation             |Recirculation    |
// -- P_PUMPING_TO_PLANT              |Should not exist|Should not exist|Normal mode               |Normal mode      |

// --Check #5 For INJECTOR+T_CONNECTION, events 'Recirculation mode' -43310 rows 1 sec
// --SELECT * FROM [rr].[IC_TFN_BLOCK_INJECTING_PRODUCERS]('','INJECTOR,T_CONNECTION','P_INJECTING_FROM_TUZ') ORDER BY HOLEID, event_template_name,ENDTIME
// --UNION
// --PRODUCER, events  10014 - rows 1 sec
// --SELECT * FROM [rr].[IC_TFN_BLOCK_INJECTING_PRODUCERS]('','PRODUCER','P_PUMPING_TO_TUZ') ORDER BY HOLEID, event_template_name,ENDTIME

// --Check #6 For UNIVERSAL_WELL, events 'Recirculation mode' 351 rows - rows 1 sec
// --SELECT * FROM [rr].[IC_TFN_BLOCK_INJECTING_PRODUCERS]('','UNIVERSAL_WELL','P_INJECTING_FROM_TUZ,P_PUMPING_TO_TUZ') ORDER BY HOLEID, event_template_name,ENDTIME

export default {
  name: 'QCOsidem1',
  data () {
    return {
      showMap: true
    }
  },
  computed: {
    block () {
      return this.$route.params.p1
    }
  },
  methods: {
    hideMap () {
      this.showMap = false
    }
  },
  mounted () {
  }
}
</script>
