<template>
  <v-row>
    <v-col
      v-if="getQCresultsbydeposit"
      cols="1"
    >
      <v-btn
        class="ma-2"
        color="indigo"
        @click="copy"
      >
        <v-icon>
          mdi-file-document-multiple-outline
        </v-icon>
      </v-btn>
    </v-col>
    <v-col
      v-if="getQCresultsbydeposit"
      cols="29"
    >
      <v-data-table
        dense
        :headers="headers"
        :items="getQCresultsbydeposit"
        :items-per-page="15"
        class="elevation-3"
        show-group-by
      >
      </v-data-table>
    </v-col>
    <v-card v-if="!getQCresultsbydeposit">
      <Loading />
    </v-card>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'AppQCResultsDataTable',
  data () {
    return {
      headers: [
        // here we should define header for the table
        // text - will be shown to user
        // value - to match json file
        { text: 'QC Date', value: 'CDATE' },
        { text: 'Database', value: 'DATABASE', groupable: false },
        { text: 'Category', value: 'CATEGORY_FK', groupable: false },
        { text: 'Query', value: 'QUERY_PK', groupable: false },
        { text: '<2000', value: '<2000' },
        { text: '2000', value: '2000' },
        { text: '2001', value: '2001' },
        { text: '2002', value: '2002' },
        { text: '2003', value: '2003' },
        { text: '2004', value: '2004' },
        { text: '2005', value: '2005' },
        { text: '2006', value: '2006' },
        { text: '2007', value: '2007' },
        { text: '2008', value: '2008' },
        { text: '2009', value: '2009' },
        { text: '2010', value: '2010' },
        { text: '2011', value: '2011' },
        { text: '2012', value: '2012' },
        { text: '2013', value: '2013' },
        { text: '2014', value: '2014' },
        { text: '2015', value: '2015' },
        { text: '2016', value: '2016' },
        { text: '2017', value: '2017' },
        { text: '2018', value: '2018' },
        { text: '2019', value: '2019' },
        { text: '2020', value: '2020' },
        { text: '2021', value: '2021' },
        { text: '2022', value: '2022' },
        { text: '2023', value: '2023' }
      ]
    }
  },
  computed: {
    ...mapGetters('qcresultsbydeposit', ['getQCresultsbydeposit']),
    block () {
      return this.$route.params.p1
    }
  },
  methods: {
    copy () {
      let csv = 'QC Date\tDatabase\tCategory\tQuery'
      csv = csv + '\t<2000\t2000\t2001\t2002\t2003\t2004\t2005'
      csv = csv + '\t2006\t2007\t2008\t2009\t2010\t2011\t2012\t2013'
      csv = csv + '\t2014\t2015\t2016\t2017\t2018\t2019\t2020\t2021\t2022\t2023\r\n'
      csv += this.getQCresultsbydeposit.map(item => {
        return [item.CDATE, item.DATABASE,
          item.CATEGORY_FK, item.QUERY_PK,
          item['<2000'], item['2000'], item['2001'], item['2002'],
          item['2003'], item['2004'], item['2005'], item['2006'],
          item['2007'], item['2008'], item['2009'], item['2010'],
          item['2011'], item['2012'], item['2013'], item['2014'],
          item['2015'], item['2016'], item['2017'], item['2018'],
          item['2019'], item['2020'], item['2021'], item['2022'],
          item['2023']].join('\t')
      }).join('\r\n')
      navigator.clipboard.writeText(csv)
    }
  }
}
</script>
