<template>
  <div>
      <v-row justify="center">
      <v-dialog
          v-model="dialog"
          scrollable
          max-width="900px"
      >
          <v-card>
            <v-card-title style="vertical-align: bottom; display:table-cell">
              <v-row>
              <v-col cols="10">
                <span style="padding-right: 10px;">QC list {{ title }}</span><span style="padding-right: 10px; font-size: 12px;">{{ title_period }}</span>
              </v-col>
              <v-col cols="2">
                <downloadExcel v-if="dataExist"
                    :data="totalWellsList"
                    name="QCWellsList"
                    worksheet="WellsListQC"
                  >
                  <v-btn
                  color="blue darken-1"
                  text
                  >
                  Excel
                  </v-btn>
                </downloadExcel>
            </v-col>
          </v-row>
            </v-card-title>
          <v-divider></v-divider>
          <v-card-text style="height: 420px; width: 900px;">
            <v-card v-if="showWellsListCircleProgress">
                <Loading />
            </v-card>
            <v-data-table
              height="335"
              :headers="headers"
              :items="totalWellsList"
              :items-per-page="-1"
              class="small"
            >
            <template v-slot:item.HOLEID="{ item }">
              <a target="_blank"
                :href="item.HOLEIDurl">
                {{ item.HOLEID }}
              </a>
            </template>
            <template v-slot:item.ACID="{ item }">
              <v-chip v-if="item.ACID>''"
                :color="getColor(item.ACID)"
                dark>
                {{ item.ACID }}
              </v-chip>
            </template>
            </v-data-table>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
              <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
              >
              Close
              </v-btn>
          </v-card-actions>
          </v-card>
      </v-dialog>
      </v-row>
  </div>
</template>

<script>
import f from '@/store/fetch.js'

export default {
  name: 'QCResultsDataTableVeWellsList',
  data () {
    return {
      dialog: false,
      totalWellsList: [],
      headers: [
        { text: 'rn', value: 'rownum' },
        { text: 'QUERY', value: 'QUERY_PK_custom' },
        { text: 'ERROR DETAIL', value: 'ERROR_VALUE' },
        { text: 'HOLEID', value: 'HOLEID' }
      ],
      showWellsListCircleProgress: false
    }
  },
  props: {
    detailParamsProp: {
    type: Object,
    // Object or array defaults must be returned from
    // a factory function. The function receives the raw
    // props received by the component as the argument.
    default(rawProps) {
      return { DEPOSIT: '', DATABASE:'', CDATE:'' }
    }
  },
    showDialogProp: { type: Number, default: 0 }
  },
  computed: {
    title () {
      return 'of deposit ' + this.detailParamsProp.DEPOSIT
    },
    title_period () {
      return 'QC date: ' + this.detailParamsProp.CDATE + ', Drilling year: ' + this.detailParamsProp.ENDYEARCAT + ', Quantity: ' + this.detailParamsProp.ROWSCOUNT
    },
    dataExist () {
      if (this.totalWellsList) {
        if (this.totalWellsList.length > 0) { return true }
      }
      return false
    }
  },
  watch: {
    showDialogProp (newVal) {
      console.info('newVal = ', newVal)
      if (newVal === 0 ) return
      this.dialog = true
      this.setWellslist()
    }
  },
  methods: {
    getColor (calories) {
      if (calories) return 'green'
      else return 'red'
    },
    setWellslist () {
      // console.log('setWellslist started')
      /* console.log('vals: database, deposit, querypk, endyearcat, cdate =',
        this.detailParamsProp.DATABASE,
        this.detailParamsProp.DEPOSIT,
        this.detailParamsProp.QUERY_PK,
        this.detailParamsProp.ENDYEARCAT,
        this.detailParamsProp.CDATE) */
      this.showWellsListCircleProgress = true
      this.totalWellsList = []
      let url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytv2.aspx?view=QC_ALL_REPORT'
      url += '&where="DEPOSIT=%27' + this.detailParamsProp.DEPOSIT + '%27'
      url += ' and [DATABASE]=%27' + this.detailParamsProp.DATABASE + '%27'
      url += ' and QUERY_PK=%27' + this.detailParamsProp.QUERY_PK + '%27'
      url += ' and ENDYEARCAT=%27' + this.detailParamsProp.ENDYEARCAT + '%27'
      url += ' and CDATE=%27' +     this.detailParamsProp.CDATE + '%27'
      url += '"'
      url += '&orderby=CDATE, [DATABASE], [DEPOSIT], QUERY_PK, [ENDYEARCAT], HOLEID'
      // console.log('url = ', url)
      f.fget(url)
        .then(res => {
          let i = 1
          res.content.forEach(function (element) {
            // append column rownum
            element.rownum = i++
            element.QUERY_PK_custom = element.QUERY_PK.replaceAll('_', ' ')
            element.HOLEIDurl = '#/w/' + element.HOLEID + '/details'
          })
          this.totalWellsList = res.content
          this.showWellsListCircleProgress = false
        })
    }
  }
}

</script>
