<template>
  <v-row
    fill-height
    no-gutters
  >
  <v-col>
  <v-row>
      <v-col cols="6">
        <v-card>
          <v-card-title dense>
            {{ caption }}
          </v-card-title>
        </v-card>
        <!-- <ShapeInfo /> -->
      </v-col>
      <v-col 
        cols="5"
        style="display:flex;">
        <v-container class="pa-0 mt-2"
          style="width: 190px;">
          <v-combobox
            v-model="tableDataDatesSelected"
            :items="tableDataDates"
            :hide-details=true
            label="QC date"
            density="compact"
          ></v-combobox>
      </v-container>
        <v-card v-if="showCircleProgress"
        height="45px"
        class="pa-0">
                <Loading 
                sizeOfCircle="30"
                classText="mt-2 mb-2"/>
        </v-card> 
        <QCResultsDataTableVeWellsList
          :detailParamsProp = "detailParams"
          :showDialogProp = "showDialogDetail"
        />
        <v-combobox class="pl-5"
          v-model="categoryforFilterSelected"
          :items="categoryforFilterItems"
          label="Select a category for filtering"
          multiple
          hide-details="true"
          small-chips
          density="compact"
          max-height="50">
        </v-combobox>
      </v-col>
      <v-col cols="1">
            <span class="tooltipAB"
            data-tooltip="Export to Excel">
            <downloadExcel 
                :data="tableData"
                name="QCDepositList"
                worksheet="QCList"
              >
                <v-btn
                  style="height: 45px;"
                  icon
                outlined
              >
                <v-icon>mdi-table-arrow-right</v-icon>
              </v-btn>
            </downloadExcel>
            </span>
         
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols=12
      >
        <v-card  class="pa-3">
          <!-- <ve-table -->
          <v-data-table
            :fixed-header = true
            :height="tableDataHeight"
            :headers="columnsFiltered"
            :items="tableData"
            :key="componentKeyForForceRendering"
            items-per-page="-1"
            density="compact"
            >
            <template v-slot:item="{ item }">
              <tr>
                <td v-for="header in columnsFiltered">
                  <span v-if="!header.styleForGreater0">
                    {{ item[header.key] }}
                  </span>
                  <span v-else-if="item[header.key]==='0'" >
                    <v-chip variant="plain"> 
                    {{ item[header.key] }}
                  </v-chip>
                  </span>
                  <span v-else-if="item[header.key]!=='0'" >
                    <v-chip v-if="header.styleForGreater0"
                      color="red"
                      @click="tableCellPressed(header.key, item.rownum )">
                      {{ item[header.key] }}
                    </v-chip>
                  </span>

                </td>
              </tr>
            </template>
          </v-data-table>
        </v-card>
        <v-data-table v-if=false
          :height=200
          :fixed-header = true
          :items="items2"
          :headers="headers"
          :search="search"
          @update:search="updateSearch">
            
          <template v-slot:header="{ header }">
            <th v-if="header.value !== 'actions'" @click="sortData(header.value)">
              {{ header.title }}
              <v-icon small>arrow_upward</v-icon>
              <v-icon small>arrow_downward</v-icon>
            </th>
            <!-- Add other header columns as needed -->
          </template>
          <template v-slot:header.age>
              <div class="text-end">Age Stock 
              
              <v-icon @click="fileterAlert">mdi-table-arrow-right</v-icon>
              
            </div>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    </v-col>
  </v-row>
</template>

<style>
    .gray-class1 {
        background: #dbdbdb !important;
        color: rgb(116, 116, 116)  !important;
        font-weight: bold;
    }
    .table-show-class1 {
        background: #effff1 !important;
        /*  color: rgb(116, 116, 116)  !important; */
        /* font-weight: bold; */
    }
    .table-cell-red-class1 {
        background: #f9eaea !important;
        /*  color: rgb(116, 116, 116)  !important; */
        /* font-weight: bold; */
    }
    .table-cell-green-class1 {
        /* background: #e0ffe1 !important; */
        color: rgb(215, 215, 215)  !important;
        /* font-weight: bold; */
    }
    .table-cell-small_font-class1 {
      font-size: smaller;
    }
</style>

<script>
// import { mapGetters } from 'vuex'
import f from '@/store/fetch.js'
export default {
  name: 'QCResultsDataTableVe',
  data () {
    return {
      items2: [
        { name: 'John', age: 25 },
        { name: 'Jane', age: 30 },
        // Add more items as needed
      ],
      headers: [
        { title: 'NameCustom', value: 'name' },
        { title: 'Age', value: 'age' },
        // Add more headers as needed
      ],
      search: '',
      filters: {},

      dialogHelpShowKey: 0,
      columns: [
        { field: 'rownum', key: 'rownum', title: 'rn', align: 'start', sortBy: '' },
        { field: 'CDATE', key: 'CDATE', title: 'QC Date', align: 'start', sortBy: '' },
        { field: 'DATABASE', key: 'DATABASE', value: 'DATABASE', title: 'Database', align: 'start', sortBy: ''},
        { field: 'DEPOSIT', key: 'DEPOSIT', title: 'Deposit', align: 'start', sortBy: '' },
        { field: 'CATEGORY_FK_custom', key: 'CATEGORY_FK_custom', title: 'Category', align: 'start', sortBy: ''},
        { field: 'QUERY_PK_custom', key: 'QUERY_PK_custom', title: 'Query', align: 'start', sortBy: '' },
        { field: '<2000', key: '<2000', title: '<2000', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2000', key: '2000', title: '2000', align: 'end', sortBy: '', styleForGreater0: true },
        { field: '2001', key: '2001', title: '2001', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2002', key: '2002', title: '2002', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2003', key: '2003', title: '2003', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2004', key: '2004', title: '2004', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2005', key: '2005', title: '2005', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2006', key: '2006', title: '2006', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2007', key: '2007', title: '2007', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2008', key: '2008', title: '2008', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2009', key: '2009', title: '2009', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2010', key: '2010', title: '2010', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2011', key: '2011', title: '2011', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2012', key: '2012', title: '2012', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2013', key: '2013', title: '2013', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2014', key: '2014', title: '2014', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2015', key: '2015', title: '2015', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2016', key: '2016', title: '2016', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2017', key: '2017', title: '2017', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2018', key: '2018', title: '2018', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2019', key: '2019', title: '2019', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2020', key: '2020', title: '2020', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2021', key: '2021', title: '2021', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2022', key: '2022', title: '2022', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2023', key: '2023', title: '2023', align: 'center', sortBy: '', styleForGreater0: true },
        { field: '2024', key: '2024', title: '2024', align: 'center', sortBy: '', styleForGreater0: true }
      ],
      tableData: [],
      componentKeyForForceRendering: 100,
      tableDataHeight: (window.innerHeight - 260),
      sourceData: [],
      tableDataDates: [],
      tableDataDatesSelected: '',
      showCircleProgress: false,
      tableDataDetails: [],
      dialogImage: false,
      showDialogDetail: 0,
      detailParams: [],
      columnHiddenOption: [],
      categoryforFilterSelected: ['ASSAY','ATOMGEO'],
      categoryforFilterItems: ['ASSAY','ATOMGEO','COLLAR', 'GEOLOGY','GEOPHYSICS', 'MON CONSTRUCTION','SURVEY'],
      columnsFiltered: [],
    }
  },
  computed: {
    // ...mapGetters('qcresultsbydeposit', ['getQCresultsbydeposit']),
    caption () { return 'List of QC results' },
    block () {
      return this.$route.params.p1
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'List of QC results'
    this.$store.state.ui.active.page.url = 'qc/qcresults'
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
    this.getInitTableQCDate()
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  },
  methods: {
    showVal(val) {
      console.info('val = ', val)
      return 'dgf, rn='+ val.rownum+'</td><td>'+val.DEPOSIT 
    },
    getCellProps (data) {
      // console.log('h71. getCellProps data = ', data)
      if (data.column.key === 'QUERY_PK_custom') {
        return { class: 'table-cell-small_font-class1' }
      }
      if (data.column.styleForGreater0) {
        if (data.value > 0) {
          return { class: 'table-cell-red-class1' }
        } else {
          return { class: 'table-cell-green-class1' }
        }
      }
    },
    fileterAlert() {
      console.log('filetr pressed!')
    },
    updateFilters() {
      this.$refs.dataTable.filter(this.filters);
    },
    updateSearch(search) {
      this.search = search;
      this.$refs.dataTable.filter(search);
    },
    sortData(column) {
      // Implement your custom sorting logic here
    },

    rightClickHandler(event, item) {
    // do something with event and/or item
    console.log(event, item)
    },
    tableCellPressed (col, row) {
      // console.info(`col = ${col}, row=${row}`)
      this.tableData.forEach(element => {
        if (element.rownum === row) {
          console.info('element row found')
          if (element[col] > 0) {
            // console.info('element col > 0')
            // console.log('element = ', element)
            // console.log('value=', element[col])
            // console.log('QUERY val =', element.QUERY_PK)
            // this.getTableDataDetail(element.DATABASE, element.DEPOSIT, element.QUERY_PK, col, element.CDATE)
            const arrParams = []
            arrParams.DATABASE = element.DATABASE
            arrParams.DEPOSIT = element.DEPOSIT
            arrParams.QUERY_PK = element.QUERY_PK
            arrParams.CDATE = element.CDATE
            arrParams.ENDYEARCAT = col
            arrParams.ROWSCOUNT = element[col]
            this.detailParams = arrParams
            this.showDialogDetail += 1
          } else {
            // console.log('value = 0!!!!')
          }
        }
      })
    },
    searchByNameField (labels) {
      this.tableData = this.sourceData.filter(
        (x) => labels.length === 0 || labels.includes(x.CATEGORY_FK_custom)
      )

       // *** Checking values for each column, if all values is 0, then we should hide column
       this.columnHiddenOption.defaultHiddenColumnKeys = []
          // console.log('this.columnHiddenOption.defaultHiddenColumnKeys = ', this.columnHiddenOption.defaultHiddenColumnKeys)

        // *** check for column ['<2000']
        const sumOfCoumnLess2000 = this.tableData.map(item => item['<2000']).reduce((prev, next) => parseInt(prev) + parseInt(next))
        if (sumOfCoumnLess2000 === 0) { this.columnHiddenOption.defaultHiddenColumnKeys.push('<2000') }

        // *** check for columns: 2000 -> 2024
        for (let i = 2000; i <= 2024; i++) {
          const sumOfCoumn = this.tableData.map(item => item[i]).reduce((prev, next) => parseInt(prev) + parseInt(next))
          // console.log('i=', i, ', sumOfCoumn = ', sumOfCoumn)
          if (sumOfCoumn === 0) {
            // console.log('sumOfCoumn added')
            this.columnHiddenOption.defaultHiddenColumnKeys.push('' + i)
          }
        }
       /*  console.log('h01. this.columnHiddenOption.defaultHiddenColumnKeys = ', this.columnHiddenOption.defaultHiddenColumnKeys)
        console.log('h02. this.sourceData = ', this.sourceData)
        console.log('h03. this.categoryforFilterSelected = ', this.categoryforFilterSelected)
      */
      // *** Hide zero columns
      const hiddenColumns = this.columnHiddenOption.defaultHiddenColumnKeys
      this.columnsFiltered = this.columns.filter(
        (x) => hiddenColumns.length === 0 || !hiddenColumns.includes(x.key)
      )
    },
    onResize () {
      this.tableDataHeight = window.innerHeight - 260
      // console.log('windowHeight=', this.windowHeight)
    },
    getInitTableQCDate () {
      const arr = []
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytv2.aspx?view=QC_ALL_REPORT_DATES&where="depositname=%27' + this.block + '%27"&orderby=qc_date%20desc'
      f.fget(url)
        .then(res => {
          res.content.forEach(function (element) {
            // console.log('element)=', element, ' element.qc_date=', element.qc_date)
            arr.push(element.qc_date)
          })
          this.tableDataDates = arr
          if (this.tableDataDatesSelected) { this.tableDataDatesSelected = arr[0] }
        })
    },
    getTableData () {
      // console.log(' getTableData started, selectdDate=', this.tableDataDatesSelected)
      this.showCircleProgress = true
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytv2.aspx?view=QC_V_ALL_REPORT_BY_DEPOSIT_CDATE&where=%22deposit%20=%27' + this.block + '%27%20AND%20CDATE%20=%20%27' + this.tableDataDatesSelected + '%27%22'
      f.fget(url)
        .then(res => {
          // console.log('res.content = ', res.content)
          let i = 1
          res.content.forEach(function (element) {
            // append column rownum
            element.rownum = i++
            element.CATEGORY_FK_custom = element.CATEGORY_FK.replaceAll('_', ' ')
            element.QUERY_PK_custom = element.QUERY_PK.replaceAll('_', ' ')
          })
          this.sourceData = res.content
          this.tableData = this.sourceData
          
          this.searchByNameField(this.categoryforFilterSelected)

          this.componentKeyForForceRendering += 1
          this.showCircleProgress = false
        })
    },
    copy () {
      let csv = 'QC Date\tDatabase\tCategory\tQuery'
      csv = csv + '\t<2000\t2000\t2001\t2002\t2003\t2004\t2005'
      csv = csv + '\t2006\t2007\t2008\t2009\t2010\t2011\t2012\t2013'
      csv = csv + '\t2014\t2015\t2016\t2017\t2018\t2019\t2020\t2021\t2022\t2023\r\n'
      csv += this.sourceData.map(item => {
        return [item.CDATE, item.DATABASE,
          item.CATEGORY_FK, item.QUERY_PK,
          item['<2000'], item['2000'], item['2001'], item['2002'],
          item['2003'], item['2004'], item['2005'], item['2006'],
          item['2007'], item['2008'], item['2009'], item['2010'],
          item['2011'], item['2012'], item['2013'], item['2014'],
          item['2015'], item['2016'], item['2017'], item['2018'],
          item['2019'], item['2020'], item['2021'], item['2022'],
          item['2023']].join('\t')
      }).join('\r\n')
      navigator.clipboard.writeText(csv)
    },
    sortChange (params) {
      const keys = Object.keys(params)
      let keyYear = ''
      let sortType = ''
      keys.forEach(element => {
        if (params[element]) {
          keyYear = element
          sortType = params[element]
          // console.log('3. keyYear =', keyYear, ', sortType = ', params[element])
        }
      })
      // console.log('4. sortType=', sortType, ', keyYear = ', keyYear)
      this.sourceData.sort((a, b) => {
        if (sortType === 'asc') {
          return a[keyYear] - b[keyYear]
        } else if (sortType === 'desc') {
          return b[keyYear] - a[keyYear]
        } else {
          return 0
        }
      })
    }
  },
  watch: {
    tableDataDatesSelected: function (val) {
      // console.log('tableDataDatesSelected changed, new val = ', val)
      this.getTableData()
    },
    categoryforFilterSelected: function () {
      this.searchByNameField(this.categoryforFilterSelected)
    }
  },
  created () {
    this.$watch(
      () => this.$route.params.p1,
      (toParams, previousParams) => {
        // react to route changes...
        // console.log('p1 changed, new val = ', this.$route.params.p1)
        this.getInitTableQCDate()
        this.getTableData()
      }
    )
  }
}
</script>
