<template>
  <div class="text-center">
    <v-dialog
      v-model="dialogImage"
      width="1000"
    >
      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
          {{ dialogCaptionImage }}
        </v-card-title>
        <v-card-text>
          {{  dialogMessageTextImageTop }}
        </v-card-text>
        <v-img
        src="./Guide_for_QCResult_to_IDCARD.png"
        ></v-img>
        <v-card-text>
          {{  dialogMessageTextImageBottom }}
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="info"
            text
            @click="dialogImage = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  name: 'QCResultsDataTableVeHelpDialog',
  props: {
    showDialogProp: { type: Number, default: 0 }
  },
  data () {
    return {
      dialogImage: false,
      dialogCaptionImage: 'User guide',
      dialogMessageTextImageTop: '',
      dialogMessageTextImageBottom: 'Запуск формирования нового QC - Выполните запрос: exec GEOS_EXTRA.[rr].[QC_ALL_DH_REPORT] \'ACQKZ1\',  \'1,2,4,8,128\', \'\'\'CONCISTENCY_GEOLOGY_FROM_EQUAL_TO\'\',\'\'CONSISTENCY_GEOLOGY_FROM_TO\'\'\' '
    }
  },
  watch: {
    showDialogProp () {
      this.dialogImage = true
    }
  }
}
</script>
