<template>
  <v-row>
    <v-col>
      <v-row>
        <DHTabs />
      </v-row>
      <v-row>
        <v-col cols="1">
          <v-card>
            <v-card-text dense>
              Data to consult:
            </v-card-text>
          </v-card>
        </v-col>
        <v-col  cols="11">
          <AppDHDataAutoComplete v-if="getWellDataDropDownList" />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
// eslint-disable @typescript-eslint/camelcase
import { mapGetters } from 'vuex' // mapActions
export default {
  name: 'DHData',
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters('ui3', ['getWellDataDropDownList']),
    well () {
      return this.$route.params.p1
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      // Код, который будет запущен только после отображения всех представлений
      this.$store.state.ui.active.page.name = 'Drillhole - Data'
      this.$store.state.ui.active.page.url = 'data'
    })
  }
}
</script>
