<template>
  <v-row>
    <v-col>
      <v-row>
        hi!!!!
        <DHTabs />
      </v-row>
      <v-row>
        <v-col>
          <HoleDT />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'DHDetails',
  data () {
    return {
    }
  },
  computed: {
    well () {
      return this.$route.params.p1
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Drillhole - Details'
    this.$store.state.ui.active.page.url = 'details'
  }
}
</script>
