<template>
  <v-row no-gutters>
    <v-col>
      <svg
        v-if="getHoleXRFU && getHoleXRFUMax"
        width="5cm"
        height="15cm"
        :viewBox="`0 0 ${ cm(5) } ${ cm(15) }`"
        style="background-color: white"
      >
        <!-- Column 1 -->
        <LogSectionScale
          x="0"
          y="0"
          width="4"
          height="1"
          scale-color="blue"
          scale-title="U_XRF"
          scale-unit="ppm"
          scale-min="0"
          :scale-max="maxUXRF"
        />
        <LogSection
          x="0"
          y="1"
          width="4"
          :height="chartHeight"
          clip="section4x31"
        >
          <LogGrid
            width="4"
            :height="chartHeight"
            :min-depth="minDepth"
            :max-depth="maxDepth"
            :min-val="0"
            :max-val="maxUXRF"
          />
          <!-- PS -->
          <LogLine
            width="4"
            :height="chartHeight"
            :min-depth="minDepth"
            :max-depth="maxDepth"
            :min-val="0"
            :max-val="maxUXRF"
            :data="getHoleXRFU"
            stroke="blue"
            stroke-width="2"
          />
        </LogSection>
        <LogYScale
          x="4"
          y="1"
          width="1"
          :height="chartHeight"
          :min-depth="minDepth"
          :max-depth="maxDepth"
        />
      </svg>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
import k from '@/lib/k.js'
import * as d3 from 'd3'
window.d3 = d3

export default {
  name: 'DHLog',
  data () {
    return {
      minDepth: 370,
      maxDepth: 410,
      chartHeight: 14
    }
  },
  computed: {
    ...mapGetters('holexrf', ['getHoleXRFU', 'getHoleXRFUMax']),
    well () {
      return this.$route.params.p1
    },
    maxUXRF () {
      if (this.getHoleXRFUMax) return k.maxRoundedScale(this.getHoleXRFUMax)
      else return 1
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Drillhole - Log graphics'
  },
  methods: {
    cm: v => v * 37.7952755906
  }
}
</script>
