<template>
  <v-row no-gutters>
    <v-col>
      <p>here</p>
      <svg
        width="5cm"
        height="10cm"
        :viewBox="`0 0 ${ cm(5) } ${ cm(10) }`"
        style="background-color: white"
      >
        <!-- Column 1 -->
        <LogSectionScale
          x="0"
          y="0"
          width="4"
          height="1"
          scale-color="blue"
          scale-title="PS"
          scale-unit="mV"
          scale-min="0"
          scale-max="60"
        />
        <LogSection
          x="0"
          y="1"
          width="4"
          :height="chartHeight"
          clip="section4x31"
        >
          <LogGrid
            width="4"
            :height="chartHeight"
            :minDepth="minDepth"
            :maxDepth="maxDepth"
            :minVal="0"
            :maxVal="60"
          />
          <!-- PS -->
          <LogLine
            width="4"
            :height="chartHeight"
            :minDepth="minDepth"
            :maxDepth="maxDepth"
            :minVal="0"
            :maxVal="60"
            :data="ps"
            stroke="blue"
            stroke-width="2"
          />
        </LogSection>
        <LogYScale
          x="4"
          y="1"
          width="1"
          :height="chartHeight"
          :min-depth="minDepth"
          :max-depth="maxDepth"
        />
      </svg>
    </v-col>
  </v-row>
</template>

<script>
import * as d3 from 'd3'
window.d3 = d3

export default {
  name: 'DHLog',
  data () {
    return {
      ps: [
        { depth: 410, value: 0 },
        { depth: 420, value: 20 },
        { depth: 430, value: 60 },
        { depth: 440, value: 50 },
        { depth: 450, value: 20 },
        { depth: 460, value: 10 },
        { depth: 470, value: 30 },
        { depth: 480, value: 40 },
        { depth: 490, value: 20 },
        { depth: 500, value: 30 }
      ],
      ps2: [
        { depth: 410, value: 10 },
        { depth: 420, value: 30 },
        { depth: 430, value: 70 },
        { depth: 440, value: 60 },
        { depth: 450, value: 30 },
        { depth: 460, value: 20 },
        { depth: 470, value: 40 },
        { depth: 480, value: 50 },
        { depth: 490, value: 30 },
        { depth: 500, value: 40 }
      ],
      minDepth: 410,
      maxDepth: 500,
      chartHeight: 9
    }
  },
  computed: {
    well () {
      return this.$route.params.p1
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Drillhole - Log graphics'
  },
  methods: {
    cm: v => v * 37.7952755906
  }
}
</script>
