<template>
  <v-row>
    <v-col>
      <v-row>
        <DHTabs />
      </v-row>
      <Loading
        v-if="!getHoleXRFFT && !getWellGt"
      />
      <v-row
        v-if="showChart"
      >
        <v-col>
          <svg
            v-if="getHoleXRFU && getHoleXRFUSamples"
            :width="viewBoxWidthCm+'cm'"
            :height="viewBoxHeightCm+'cm'"
            :viewBox="`0 0 ${ cm(viewBoxWidthCm) } ${ cm(viewBoxHeightCm) }`"
            style="background-color: white"
          >
            <!-- x - is left position in cm -->
            <DHLogColumn
              x="0"
              color="orange"
              scale-title="Atomgeo grade"
              :data="getWellGt"
              :scale-max="maxAtomgeoGrade"
              scale-unit=" "
              :min-depth="minDepth"
              :max-depth="maxDepth"
              :chart-height="chartHeight"
              chart-type="histogram"
            />
            <DHLogColumn
              x="5"
              color="green"
              scale-title="U_XRF"
              :data="getHoleXRFU"
              :scale-max="maxUXRF"
              scale-unit="ppm"
              :min-depth="minDepth"
              :max-depth="maxDepth"
              :chart-height="chartHeight"
            />
            <DHLogColumn
              x="10"
              color="blue"
              scale-title="Samples U"
              :data="getHoleXRFUSamples"
              :scale-max="maxUXRFSamples"
              scale-unit="pct"
              :min-depth="minDepth"
              :max-depth="maxDepth"
              :chart-height="chartHeight"
            />
          </svg>
        </v-col>
      </v-row>
      <v-row
        v-if="!showChart && getHoleXRFFT"
      >
        No data for this well
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
import k from '@/lib/k.js'
import * as d3 from 'd3'
window.d3 = d3

export default {
  name: 'DHMIXChart',
  data () {
    return {
      viewBoxWidthCm: 15,
      chartHeight: 15,
      viewBoxHeightCm: 16 // should be chartHeight + 1
    }
  },
  computed: {
    ...mapGetters('holexrf', ['getHoleXRFFT', 'getHoleXRFU']),
    ...mapGetters('wellsgt', ['getWellGt']),
    ...mapGetters('holesamples', ['getHoleXRFUSamples']),
    showChart () {
      let res = false
      if (this.getHoleXRFFT) {
        if (this.getHoleXRFFT.length > 0) res = true
      }
      return res
    },
    maxDepth () {
      let res = parseInt(this.maxXFRdepth)
      if (this.maxGTdepth > res) res = this.maxGTdepth
      return res + 1
    },
    maxGTdepth () {
      if (this.getWellGt) return k.maxValueInField(this.getWellGt, 'to')
      else return 0
    },
    maxXFRdepth () {
      if (this.getHoleXRFFT) return k.maxValueInField(this.getHoleXRFFT, 'XRF_TO')
      else return 0
    },
    minDepth () {
      let res = parseInt(this.minXFRdepth)
      if (this.minGTdepth < res) res = this.minGTdepth
      return res - 1
    },
    minGTdepth () {
      if (this.getWellGt) return k.minValueInField(this.getWellGt, 'from')
      else return 0
    },
    minXFRdepth () {
      if (this.getHoleXRFFT) return k.minValueInField(this.getHoleXRFFT, 'XRF_FROM')
      else return 0
    },
    well () {
      return this.$route.params.p1
    },
    maxUXRF () {
      if (this.getHoleXRFU) return k.maxRoundedScale(k.maxValueInField(this.getHoleXRFU, 'value'))
      else return 1
    },
    maxUXRFSamples () {
      if (this.getHoleXRFUSamples) { return k.maxValueInField(this.getHoleXRFUSamples, 'value') } else return 1
    },
    maxCaXRF () {
      if (this.getHoleXRFCa) return k.maxRoundedScale(k.maxValueInField(this.getHoleXRFCa, 'value'))
      else return 1
    },
    maxFeXRF () {
      if (this.getHoleXRFFe) return k.maxRoundedScale(k.maxValueInField(this.getHoleXRFFe, 'value'))
      else return 1
    },
    maxTiXRF () {
      if (this.getHoleXRFTi) return k.maxRoundedScale(k.maxValueInField(this.getHoleXRFTi, 'value'))
      else return 1
    },
    maxAtomgeoGrade () {
      if (this.getWellGt) return k.maxRoundedScale(k.maxValueInField(this.getWellGt, 'value'))
      else return 1
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Drillhole - XRF vs Sampling U/Ra chart'
  },
  methods: {
    cm: v => v * 37.7952755906
  }
}
</script>
