<template>
  <v-row>
    <v-col>
      <HoleSamplesCo />
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'DHSamplesCo',
  data () {
    return {
    }
  },
  computed: {
    well () {
      return this.$route.params.p1
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Drillhole - Samples (CO)'
    this.$store.state.ui.active.page.url = 'samplesco'
  }
}
</script>
