<template>
  <v-row>
    <v-col>
      <HoleSamples />
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'DHSamples',
  data () {
    return {
    }
  },
  computed: {
    well () {
      return this.$route.params.p1
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Drillhole - Samples (Ura)'
    this.$store.state.ui.active.page.url = 'samples'
  }
}
</script>
