<template>
  <v-row
    fill-height
    no-gutters
  >
    <v-col
      :cols="12"
      fill-height
    >
      <DHSummary4ST />
    </v-col>
  </v-row>
</template>
<script>

export default {
  name: 'DHSummary4',
  mounted () {
    this.$store.state.ui.active.page.name = 'Wells - Summary for 3D model'
    this.$store.state.ui.active.page.url = 'dh/3dmodel'
  }
}
</script>
