<template>
  <v-row
    fill-height
    no-gutters
  >
    <v-col
      :cols="12"
      fill-height
    >
      <DHSummary3ST />
    </v-col>
  </v-row>
</template>
<script>

export default {
  name: 'DHSummary3',
  mounted () {
    this.$store.state.ui.active.page.name = 'Giklet - Summary'
    this.$store.state.ui.active.page.url = 'dh/giklets'
  }
}
</script>
