<template>
  <v-row
    fill-height
    no-gutters
  >
    <v-col
      :cols="12"
      fill-height
    >
      <DHSummary1ST />
    </v-col>
  </v-row>
</template>
<script>

export default {
  name: 'DHSummary1',
  mounted () {
    this.$store.state.ui.active.page.name = 'Drillholes - Summary by status / purpose'
    this.$store.state.ui.active.page.url = 'dh/summary1'
  }
}
</script>
