<template>
  <v-row>
    <v-col>
      <HoleXRF />
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'DHXRF',
  data () {
    return {
    }
  },
  computed: {
    well () {
      return this.$route.params.p1
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Drillhole - XRF Picking'
    this.$store.state.ui.active.page.url = 'xrf'
  }
}
</script>
