<template>
  <div>
    <v-row>
      <v-col
        style="background-color:#eff0fa ;">
        <v-row>
          <v-col cols="5">
              <div id="qualtity">
                <table style="border-collapse:unset; border: 0px">
                  <tr>
                    <td rowspan="2"
                    style="border-style: solid; border-width: 2px; padding-right: 20px;padding-left: 20px;">GEOLOGICAL BLOCK</td>
                    <td style="text-align: center; border-style: solid; border-width: 2px; padding-right: 20px;padding-left: 20px;"> Quantity </td>
                  </tr>
                  <tr>
                    <td style="text-align: center;  border-style: solid; border-width: 2px; padding-right: 20px;padding-left: 20px;"> {{ CQuantityAll }} </td>
                  </tr>
                </table>
              </div>
            </v-col>
            <v-col cols="3">
            <v-menu
                        :close-on-content-click="false">
              <template v-slot:activator="{ props }">
                <v-text-field
                  v-model="queryDateFrom"
                  label="Date from"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="props"

                ></v-text-field>
              <!--   <v-btn
                v-bind="props"
                > {{  queryDateFrom }}
                </v-btn> -->
              </template>
                    <v-date-picker
                      color="primary"
                      v-model="dateFromDTS"
                      @input="menudate1 = false"
                    ></v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="3">
            <v-menu
            :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="auto">
              <template v-slot:activator="{ props }">
                <v-text-field
                  v-model="queryDateTo"
                  label="Date to"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="props"
                ></v-text-field>
              </template>
                    <v-date-picker
                      color="primary"
                      v-model="dateToDTS"
                      @input="menudate2 = false"
                    ></v-date-picker>
              <!-- <v-date-picker
                first-day-of-week=1
                v-model="dateToDTS"
                @input="menudate2 = false"
              ></v-date-picker> -->
            </v-menu>
          </v-col>
          <!-- <v-col cols="3">
            <v-menu
              v-model="menudate1"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ props }">
                <v-text-field
                  v-model="dateFromDTS"
                  label="Date from"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="props"
                  v-on_old="on"
                ></v-text-field>
              </template>
              <v-date-picker
                first-day-of-week=1
                v-model="dateFromDTS"
                @input="menudate1 = false"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="3">
            <v-menu
              v-model="menudate2"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ props: menu }">
                <v-text-field
                  v-model="dateToDTS"
                  label="Date to"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="mergeProps(menu)"
                ></v-text-field>
              </template>
              <v-date-picker
                first-day-of-week=1
                v-model="dateToDTS"
                @input="menudate2 = false"
              ></v-date-picker>
            </v-menu>
            <v-date-picker
                first-day-of-week=1
                v-model="dateToDTS"
                @input="menudate2 = false"
              ></v-date-picker>
          </v-col> -->
          <v-col cols="1"
            class="pl-0">
            <div class="text-center">
              <v-menu>
                <template v-slot:activator="{ props: menu }">
                  <v-tooltip location="bottom">
                    <template v-slot:activator="{ props: tooltip  }">
                      <v-btn
                        small
                        color="primary"
                        dark
                        v-bind="mergeProps(menu, tooltip)"
                      >
                        Period
                      </v-btn>
                    </template>
                    <span>Choose period</span>
                    </v-tooltip>
                </template>
                <v-list>
                  <v-list-item
                    v-for="(item, index) in menuItems"
                    :key="index"
                    :value="index"
                    link
                  >
                    <v-list-item-title
                    @click="menu_setperiod(item)"
                    >{{ item.title }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="4">
            <div id="overal-reserve-count">
              <table id="table-overal-revserve"
                style="border-collapse: unset; border: 0px">
                <tr>
                  <td style="padding-right: 20px;padding-left: 20px; border-collapse:unset; border: 0px"></td>
                  <td class="td-gray"><span class="tooltip"
                    data-tooltip="Quantity of GB">Overal</span></td>
                  <td class="td-gray"><span class="tooltip"
                    data-tooltip="Total balance metal_tU">Reserve</span></td>
                </tr>
                <tr>
                  <td class="td-beige">
                      B+C1
                    </td>
                  <td class="td-beige"> {{ getCount_of_blocks(1) }}</td>
                  <td class="td-beige"> {{ getSum_metal_tu(1) }}</td>
                </tr>
                <tr>
                  <td class="td-lilac"> C2</td>
                  <td class="td-lilac"> {{ getCount_of_blocks(2) }}</td>
                  <td class="td-lilac"> {{ getSum_metal_tu(2) }}</td>
                </tr>
                <tr>
                  <td class="td-green"
                    style="font-size: 14px;padding-left: 3px;padding-right: 3px;"> zb(only Kn)</td>
                  <td class="td-green"> {{ getCount_of_blocks(3) }}</td>
                  <td class="td-green"> {{ getSum_metal_tu(3) }}</td>
                </tr>
              </table>
            </div>
          </v-col>
          <v-col
            id="col-dh-logging-phase1">
              <DepositSamplesDTLogginTypes
                v-bind:DepositName = "block"
                :QueryDateFrom = "queryDateFrom"
                :QueryDateTo = "queryDateTo"
                :key="key_loggingTypes"
              />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
           
              <DepositSamplesDTGikletDone
                v-bind:DepositName = "block"
                :QueryDateFrom = "queryDateFrom"
                :QueryDateTo = "queryDateTo"
                :key="key_gikletDone"
              /><br>
              <table class="deposamples"
              v-if="false">
              <thead>
                <tr  style="height: 64px;">
                  <th></th>
                  <th>Cross-section <br>to be updated</th>
                </tr>
              </thead>
              <tr>
                <td>Explo(KATCO)</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Explo (Volkov)</td>
                <td>0</td>
              </tr>
              <tr>
                <td>DVPT</td>
                <td>0</td>
              </tr>
              <tr>
                <td>HYBRID</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Other(PIEZO,EAU)</td>
                <td>0</td>
              </tr>
              </table>
            </v-col>
        </v-row>
        <v-row class="pl-2 pt-2"
        style="background-color:#ffefef;">
          <!-- Techno block -->
            <v-row>
              <v-col colls="6">
                <div id="qualtity">
                  <table style="border-collapse:unset; border: 0px">
                    <tr>
                      <td rowspan="2"
                      style="border-style: solid; border-width: 2px; padding-right: 20px;padding-left: 20px;">TECHNO BLOCK</td>
                      <td style="text-align: center; border-style: solid; border-width: 2px; padding-right: 20px;padding-left: 20px;"> Quantity </td>
                    </tr>
                    <tr>
                      <td style="text-align: center;  border-style: solid; border-width: 2px; padding-right: 20px;padding-left: 20px;"> {{ countOfTechBlocsShow }} </td>
                    </tr>
                  </table>
                </div>
              </v-col>
              <v-col colls="6">
                <div id="overal-reserve-count"
                  v-if = "false">
                  <table id="table-overal-revserve"
                    style="border-collapse: unset; border: 0px">
                    <tr>
                      <td style="padding-right: 20px;padding-left: 20px; border-collapse:unset; border: 0px"></td>
                      <td class="td-gray-light">Type of reserves</td>
                      <td class="td-gray-light">Tonnage</td>
                    </tr>
                    <tr>
                      <td class="td-beige"
                        rowspan="3"> RESERVES</td>
                      <td class="td-beige"> RTG pro rata</td>
                      <td class="td-beige"> ??</td>
                    </tr>
                    <tr>
                      <td class="td-lilac"> RTED</td>
                      <td class="td-lilac"> ??</td>
                    </tr>
                    <tr>
                      <td class="td-green"> RTEDTa </td>
                      <td class="td-green"> ??</td>
                    </tr>
                  </table>
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col id="col-dh-logging-phase1">
                <div v-if="false"
                  style="text-align:center; font-weight: 600;"><span class="tooltip"
                        data-tooltip="Count of wells depend on selected period.">Log types</span></div>
                  <DepositSamplesDTLogginTypeDem
                    v-bind:DepositName = "block"
                    :QueryDateFrom = "queryDateFrom"
                    :QueryDateTo = "queryDateTo"
                    :key="key_loggingTypeDem"
                  />
              </v-col>
            </v-row>
            <v-row>
              <v-col id="col-dh-logging-phase1">
                <div v-if="false"
                  style="text-align:center; font-weight: 600;"><span class="tooltip"
                        data-tooltip="Count of wells depend on selected period.">Giklet done</span></div>
                  <DepositSamplesDTDemGk
                    v-bind:DepositName = "block"
                    :QueryDateFrom = "queryDateFrom"
                    :QueryDateTo = "queryDateTo"
                    :key="key_DepositSamplesDTDemGk"
                  />
                  <br>
              </v-col>
            </v-row>
        </v-row>
      </v-col>
      <v-col
        fill-height
      >
        <v-card
          height="750"
        >
          <RCMapByDeposit
            @CountOfTechBlocs="getCountOfTechBlocs"
            :depositName = "block"
            :QueryDateFrom = "queryDateFrom"
            :QueryDateTo = "queryDateTo"
            :key="key_map"
          />
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { mergeProps } from 'vue'
import { useDate } from 'vuetify'



export default {
  name: 'DepositSamplesDT',
  data () {
    return {
      dateFromDTS: new Date(new Date().setDate(new Date().getDate() - 6)),
      dateToDTS: new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000),
      menudate1: false,
      menudate2: false,
      key_gikletDone: 0,
      key_loggingTypes: 1000,
      key_sampling: 2000,
      key_map: 3000,
      key_loggingTypeDem: 4000,
      key_DepositSamplesDTDemGk: 5000,
      countOfTechBlocsShow: 0,
      dateRules: [
        v => { return (!!v || 'Date is required') },
        v => { return (v.length = 10 || 'Date must be 10 characters, like that - 1700-01-25') }
      ],
      headers: [
        // here we should define header for the table
        // text - will be shown to user
        // value - to match json file
        { text: 'QC Date', value: 'CDATE' },
        { text: 'Database', value: 'DATABASE', groupable: false },
        { text: 'Category', value: 'CATEGORY_FK', groupable: false },
        { text: 'Query', value: 'QUERY_PK', groupable: false }
      ],
      menuItems: [
        { title: 'All time', key: 'AllTime' },
        { title: 'This week', key: 'ThisWeek' },
        { title: 'Previous week', key: 'PreviousWeek' },
        { title: 'This month', key: 'InThisMonth' },
        { title: 'This year', key: 'InThisYear' }
      ]
    }
  },
  computed: {
    // ...mapGetters('depositsamples', ['getQCresultsbydeposit']),
    ...mapGetters('depositsamples', ['getDepositsamples']),
    block () {
      return this.$route.params.p1
    },
    CQuantityAll () {
      if (this.getDepositsamples) {
        return this.getDepositsamples[0].count_of_blocks
      } else return 0
    },
    queryDateFrom () {
      // console.log('h04-1 . subs2 = ', this.dateFromDTS.toLocaleString("sv-SE")) // "sv-SE" - convert date from GMT to format "2024-02-25 09:09:27"
      // console.log('h04-2 . subs2 = ', this.dateFromDTS.toLocaleString("sv-SE").substring(0,10))
      return this.dateFromDTS.toLocaleString("sv-SE").substring(0,10)
    },
    queryDateTo () {
      return this.dateToDTS.toLocaleString("sv-SE").substring(0,10) // "sv-SE" - convert date from GMT to format "2024-02-25 09:09:27"
    }
  },
  methods: {
    mergeProps,
    // getting info from map component
    getCountOfTechBlocs (payload) {
      this.countOfTechBlocsShow = payload
    },
    menu_setperiod (selectedItem) {
      if (selectedItem.key === 'AllTime') {
        this.dateFromDTS = new Date('1899-12-31')
        this.dateToDTS = new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)
      }
      if (selectedItem.key === 'ThisWeek') {
        this.dateFromDTS = new Date(new Date().setDate(new Date().getDate() - 6)).toISOString().substr(0, 10)
        this.dateToDTS = (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)
      }
      if (selectedItem.key === 'PreviousWeek') {
        this.dateFromDTS = new Date(new Date().setDate(new Date().getDate() - 13)).toISOString().substr(0, 10)
        this.dateToDTS = new Date(new Date().setDate(new Date().getDate() - 7)).toISOString().substr(0, 10)
      }
      if (selectedItem.key === 'InThisMonth') {
        // const dateLocal = new Date()
        this.dateFromDTS = (new Date()).toISOString().substr(0, 7) + '-01'
        this.dateToDTS = (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)
      }
      if (selectedItem.key === 'InThisYear') {
        this.dateFromDTS = new Date((new Date()).getFullYear() + '-01-01')
        this.dateToDTS = (new Date(new Date().setDate(new Date().getDate() - 7)))
      }
    },
    btn_setallperiod () {
      this.dateFromDTS = new Date('1900-01-01')
      this.dateToDTS = new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)
      // this.btn_refresh()
    },
    btn_refresh () {
      // console.log('hi4. btn_refresh pressed.')
      this.key_gikletDone = this.key_gikletDone + 1
      this.key_loggingTypes = this.key_loggingTypes + 1
      this.key_sampling = this.key_sampling + 1
      this.key_map = this.key_map + 1
      this.key_loggingTypeDem += 1
      this.key_DepositSamplesDTDemGk += 1
    },
    getCount_of_blocks (idx) {
      if (this.getDepositsamples) {
        return this.getDepositsamples[idx].count_of_blocks
      } else return 0
    },
    getSum_metal_tu (idx) {
      if (this.getDepositsamples) {
        return this.getDepositsamples[idx].sum_metal_tu
      } else return 0
    },
    copy () {
      const csv = 'QC Date\tDatabase\tCategory\tQuery'
      navigator.clipboard.writeText(csv)
    }
  },
  watch: {
    block () {
      this.btn_refresh()
    },
    dateFromDTS () {
      //console.log('dateFromDTS changed. dateFromDTS = ', this.dateFromDTS)
      this.btn_refresh()
    },
    dateToDTS () {
      this.btn_refresh()
    }
  }
}
</script>

<style>

.deposamples, .deposamples table, .deposamples th, .deposamples td {
  border: 1px solid #868686;
  border-collapse: collapse;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
}

#table-overal-revserve td {
  text-align: center;
  border-style: solid;
  border-width: 2px;
  padding-right: 20px;
  padding-left: 20px;
  color: black;
}

#table-overal-revserve td.td-beige {
  background-color: rgb(255, 230, 204);
  border-color: rgb(215, 155, 0);
}

#table-overal-revserve td.td-lilac {
  background-color: rgb(218, 232, 252);
  border-color: rgb(108, 142, 191);
}

#table-overal-revserve td.td-green {
  background-color: rgb(213, 232, 212);
  border-color: rgb(130, 179, 102);
}

#table-overal-revserve td.td-gray {
  background-color: rgb(179, 179, 179);
  border-color: rgb(102, 102, 102);
}

#table-overal-revserve td.td-gray-light {
  background-color: rgb(219, 219, 219);
  border-color: rgb(192, 190, 190);
  font-size: small;
}

/* sample */
.tooltip {
 border-bottom: 1px dotted #0077AA;
 cursor: help;
}

.tooltip::after {
 background: rgba(0, 0, 0, 0.8);
 border-radius: 8px 8px 8px 0px;
 box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
 color: #FFF;
 content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
 margin-top: -24px;
 opacity: 0; /* Наш элемент прозрачен... */
 padding: 3px 7px;
 position: absolute;
 visibility: hidden; /* ...и скрыт. */

 transition: all 0.4s ease-in-out; /* Добавить плавности по вкусу */
}

.tooltip:hover::after {
 opacity: 1; /* Показываем его */
 visibility: visible;
 z-index: 10000;
}
</style>
