<template>
  <!-- <v-simple-table -->

  <v-table
    fixed-header
    dense
  >
    <template v-slot:default>
      <thead>
        <tr>
          <th colspan="2">
            Deposit brief info
          </th>
        </tr>
      </thead>
      <v-card v-if="!getWellsFT">
        <Loading />
      </v-card>
      <tbody v-if="getWellsFT">
        <tr>
          <td>Quantity of drillholes:</td>
          <td >
            {{ parseInt(countOfWells()) }}
          </td>
        </tr>
      </tbody>
    </template>
  </v-table>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'DepositShortInfo',
  data () {
    return {
    }
  },

  computed: {
    ...mapGetters('wells', ['getWellsFT', 'getActiveWell']),
    block () {
      return this.$route.params.p1
    }
  },
  watch: {
  },

  methods: {
    countOfWells () {
      return (this.getWellsFT.length)
    }
  }
}
</script>

  <style scoped>
  .filter-column {
    font-size: 0.75rem;
  }
</style>
