
<template>
  <!-- <v-simple-table -->
  <v-table
    fixed-header
    dense
  >
    <template v-slot:default>
      <thead>
        <tr>
          <th
            colspan="2"
          >
            Attributes of geological parameters of the block
          </th>
          <v-card v-if="!gettbDepositParamsFT">
            <Loading />
          </v-card>
        </tr>
      </thead>
      <tbody v-if="gettbDepositParamsFT">
        <tr>
          <td>Deposit:</td>
          <td>{{ gettbDepositParamsFT[0].Deposit }}</td>
        </tr>
        <tr>
          <td>Correction of humidity Ik, %:</td>
          <td>{{ gettbDepositParamsFT[0].CorrectionOfHumidityIkPct }}</td>
        </tr>
        <tr>
          <td>Correction of humidity Uk, %:</td>
          <td>{{ gettbDepositParamsFT[0].CorrectionOfHumidityUkPct }}</td>
        </tr>
        <tr>
          <td>Conversion coefficient, μR/h*0.01%U:</td>
          <td>{{ gettbDepositParamsFT[0].ConversionCoeff }}</td>
        </tr>
        <tr>
          <td>Effective atomic number Zeff:</td>
          <td>{{ gettbDepositParamsFT[0].EffectiveAtomicNumZeff }}</td>
        </tr>
        <tr>
          <td>Ore wet density, Ik g/сm3:</td>
          <td>{{ gettbDepositParamsFT[0].OreWetDensityIk }}</td>
        </tr>
        <tr>
          <td>Ore wet density, Uk g/сm3:</td>
          <td>{{ gettbDepositParamsFT[0].OreWetDensityUk }}</td>
        </tr>
        <tr>
          <td>Correction of Radon effect:</td>
          <td>{{ gettbDepositParamsFT[0].CorrectionOfRandonEffect }}</td>
        </tr>
        <tr>
          <td>Common Krr (permeable):</td>
          <td>{{ gettbDepositParamsFT[0].CommonKrrPermeable }}</td>
        </tr>
        <tr>
          <td>Common Krr (impermeable):</td>
          <td>{{ gettbDepositParamsFT[0].CommonKrrImPermeable }}</td>
        </tr>
        <tr>
          <td>Krr Nose:</td>
          <td>{{ gettbDepositParamsFT[0].KrrNose }}</td>
        </tr>
        <tr>
          <td>Krr Wing:</td>
          <td>{{ gettbDepositParamsFT[0].KrrWing }}</td>
        </tr>
      </tbody>
    </template>
  </v-table>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'DepositParamDT',
  data () {
    return {
    }
  },

  computed: {
    ...mapGetters('depositparam', ['gettbDepositParamsFT']),

    block () {
      return this.$route.params.p1
    }
  },
  watch: {
  },

  methods: {
  }
}
</script>

  <style scoped>
  .filter-column {
    font-size: 0.75rem;
  }
  
  tbody { tr { td { height: unset  !important; } } } 
</style>
