<template>
  <div>
        <div id="deposit-dem-gk-values-in-tables">
          <table class="deposamples">
            <thead>
              <tr><th colspan="5">Giklet done</th></tr>
              <tr style="height: 40px;">
              <th><v-card v-if="!gikletDoneTable.length">
                  <Loading
                  size-of-circle="25"/>
                </v-card>
                <div v-else>Purpose</div></th>
              <th v-for="idy in typeOfStationHeader.length"
                  :key = "idy">{{ typeOfStationHeader[idy-1] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="idx in typeOfWells.length"
                :key = "idx">
                <td>{{ typeOfWells[idx-1] }}</td>
                <td v-for="idy in typeOfStation.length"
                  :key = "idy">
                  <DepositSampleTableItemMenu
                    :value_p = getValueFromData(typeOfWells[idx-1],typeOfStation[idy-1])
                    v-bind:deposit_t = "block"
                    :typeOPurpose = typeOfWells[idx-1]
                    :typeOfColumn = typeOfStation[idy-1]
                    :QueryDateFrom = "QueryDateFrom"
                    :QueryDateTo = "QueryDateTo"
                    nameOfWellsListComponent = "DepositSamplesDTDemGkWellsList"
                    ></DepositSampleTableItemMenu>
                </td>
              </tr>
              <tr>
                <td>Total</td>
                <td v-for="idy in typeOfStation.length"
                  :key = "idy">{{ tableTotalRow[typeOfStation[idy-1]] }}</td>
              </tr>
              <tr><td colspan="5"
                style="padding: 1px;"><div><span>
                <DepositSamplesDTDemGkWellsList
                v-bind:deposit="block"
                :QueryDateFrom = "QueryDateFrom"
                :QueryDateTo = "QueryDateTo"
              /></span></div></td> </tr>
          </tbody>
          </table>
        </div>
</div>
</template>

<script>
import f from '@/store/fetch.js'

export default {
  name: 'DepositSamplesDTDemGk',
  props: {
    DepositName: String,
    QueryDateFrom: { type: String, default: '' },
    QueryDateTo: { type: String, default: '' }
  },
  data () {
    return {
      typeOfWells: ['INJECT', 'PRODUCT'],
      typeOfStation: ['overall', 'gk', 'wnbgk', 'ag'],
      typeOfStationHeader: ['Overall', 'Giklet done', 'Will not be giklet', 'AtomGeoStatus'],
      gikletDoneTable: [],
      tableTotalRow: []
    }
  },
  computed: {
    block () {
      return this.$route.params.p1
    }
  },
  methods: {
    setDepositsamplesGikletDone2 () {
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=DEPOSIT_DH_GIKLETDONE_DEM_V2&p1=' + this.DepositName + '&p2=' + this.QueryDateFrom + ' 00:00:00' + '&p3=' + this.QueryDateTo + ' 23:59:59.999'
      f.fget(url)
        .then(res => {
          this.tableTotalRow = []
          this.tableTotalRow.overall = 0
          this.tableTotalRow.gk = 0
          this.tableTotalRow.wnbgk = 0
          this.tableTotalRow.ag = 0
          for (let i = 0; i < res.content.length; i++) {
            this.tableTotalRow.overall =
            this.tableTotalRow.gk += parseInt(res.content[i].gk)
            this.tableTotalRow.wnbgk += parseInt(res.content[i].wnbgk)
            this.tableTotalRow.ag += parseInt(res.content[i].ag)
          }
          this.gikletDoneTable = res.content
        })
    },
    getValueFromData (PurposeName, colname) {
      if (this.gikletDoneTable) {
        const res = this.gikletDoneTable.find(i => i.HolePurposeIC === PurposeName)
        if (res) return res[colname]
      }
      return '0'
    }
  },
  mounted () {
    this.setDepositsamplesGikletDone2()
  }
}
</script>

<style>
.deposamples, .deposamples table, .deposamples th, .deposamples td {
  border: 1px solid #868686;
  border-collapse: collapse;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
}
</style>
