<template>
  <div>
        <div id="sample-values-in-tables">
          <table class="deposamples">
            <thead>
              <tr>
                <th colspan="2"></th>
                <th colspan="3"><span class="tooltip"
                    data-tooltip="Count of wells depend on selected period.">Drill hole logging type (Phase 1)</span></th>
              </tr>
              <tr style="height: 40px;">
              <th>
                <v-card v-if="!logTypesTable.length">
                  <Loading
                  size-of-circle="25"/>
                </v-card>
                <span v-else>Purpose</span></th>
              <th
                class="deposamples-small"
                v-for="idy in typeOfStation.length"
                  :key = "idy">{{ typeOfStationTitle[idy-1] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="idx in typeOfWells.length"
                :key = "idx">
                <td>{{ typeOfWells[idx-1] }}</td>
                <td v-for="idy in typeOfStation.length"
                  :key = "idy">
                  <DepositSampleTableItemMenu
                    :value_p = getValueFromData(typeOfWells[idx-1],typeOfStation[idy-1])
                    v-bind:deposit_t = "block"
                    :typeOPurpose = typeOfWells[idx-1]
                    :typeOfColumn = typeOfStation[idy-1]
                    :QueryDateFrom = "QueryDateFrom"
                    :QueryDateTo = "QueryDateTo"
                    nameOfWellsListComponent = "DepositSamplesDTLogginTypesWellsList"
                    tfnName = "DEPOSIT_DH_LOGGING_TYPES_DETAILS_V2"
                    ></DepositSampleTableItemMenu>
                </td>
              </tr>
              <tr>
                <td>Total</td>
                <td v-for="idy in typeOfStation.length"
                  :key = "idy">{{ tableTotalRow[typeOfStation[idy-1]] }}</td>
              </tr>
              <tr><td colspan="5"
                style="padding: 10px;"><div><span>
                <DepositSamplesDTLogginTypesWellsList
                  v-bind:deposit="block"
                  :QueryDateFrom = "QueryDateFrom"
                  :QueryDateTo = "QueryDateTo"
                  tfnName = "DEPOSIT_DH_LOGGING_TYPES_DETAILS_V2"/>
              </span></div></td> </tr>
          </tbody>
          </table>
        </div>
</div>
</template>

<script>
import f from '@/store/fetch.js'

export default {
  name: 'DepositSamplesDTLogginTypes',
  props: {
    DepositName: String,
    QueryDateFrom: { type: String, default: '' },
    QueryDateTo: { type: String, default: '' }
  },
  data () {
    return {
      typeOfWells: ['EXPLO (KATCO)', 'EXPLO (VOLKOV)', 'DVPT', 'HYBRID', 'HYDRO(PIEZO,EAU)'],
      typeOfStation: ['total', 'overall', 'nologging', 'MountSopris', 'KOBRA', 'GEOVISTA'],
      typeOfStationTitle: ['Total in deposit', 'Total with Phase1', 'No logging data', 'MountSopris', 'KOBRA', 'GEOVISTA'],
      logTypesTable: [],
      tableTotalRow: []
    }
  },
  computed: {
    block () {
      return this.$route.params.p1
    }
  },
  methods: {
    getDepositsamplesLogTypes2 () {
      this.logTypesTable = []
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=DEPOSIT_DH_LOGGING_TYPES_V3&p1=' + this.DepositName + '&p2=' + this.QueryDateFrom + ' 00:00:00' + '&p3=' + this.QueryDateTo + ' 23:59:59.999'
      f.fget(url)
        .then(res => {
          this.tableTotalRow = []
          this.tableTotalRow.overall = 0
          this.tableTotalRow.MountSopris = 0
          this.tableTotalRow.KOBRA = 0
          this.tableTotalRow.GEOVISTA = 0
          this.tableTotalRow.nologging = 0
          this.tableTotalRow.total = 0
          for (let i = 0; i < res.content.length; i++) {
            this.tableTotalRow.overall += parseInt(res.content[i].overall)
            this.tableTotalRow.MountSopris += parseInt(res.content[i].MountSopris)
            this.tableTotalRow.KOBRA += parseInt(res.content[i].KOBRA)
            this.tableTotalRow.GEOVISTA += parseInt(res.content[i].GEOVISTA)
            this.tableTotalRow.nologging += parseInt(res.content[i].nologging)
            this.tableTotalRow.total += parseInt(res.content[i].total)
          }
          this.logTypesTable = res.content
        })
    },
    getValueFromData (PurposeName, colname) {
      if (this.logTypesTable) {
        const res = this.logTypesTable.find(i => i.HolePurposeIC === PurposeName)
        if (res) return res[colname]
      }
      return '0'
    }
  },
  mounted () {
    this.getDepositsamplesLogTypes2()
  }
}
</script>

<style>

.deposamples, deposamples table, .deposamples th, .deposamples td {
  border: 1px solid #868686;
  border-collapse: collapse;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
}

.deposamples-small {
  font-size: 13px !important
}
</style>
