<template>
    <div>
        <v-row justify="center">
        <v-dialog
            v-model="dialog"
            scrollable
            max-width="900px"
        >
            <template v-slot:activator="{ props }">
            <v-btn
              size="small"
              color="grey-lighten-3"
              text
              v-bind="props"
            >
                Wells list
            </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span style="padding-right: 10px;">Wells list {{ title }}</span><span style="padding-right: 10px; font-size: 12px;">{{ title_period }}</span>
                <v-btn
                  v-on:click.native="setWellslist"
                  color="green darken-1"
                  text
                  style="padding-left: 10px;"
                  >
                    Refresh wells info
                </v-btn>
                <downloadExcel v-if="dataExist"
                    :data="totalWellsList"
                    name="DepositGK"
                    worksheet="DepositSampling"
                  >
                  <v-btn
                  color="blue darken-1"
                  text
                  >
                  Excel
                  </v-btn>
                </downloadExcel>
                <v-card v-if="showCircleProgress">
                  <Loading
                  sizeOfCircle="25"/>
                </v-card>
              </v-card-title>
            <v-divider></v-divider>
            <v-card-text style="height: 500px; width: 900px; padding-bottom: 5px;padding-right: 10px;padding-left: 10px;">
              <v-data-table
                height="430"
                :fixed-header = "true"
                :headers="headers"
                :items="totalWellsList"
                :items-per-page="-1"
                class="elevation-1"
              >
                <template v-slot:item.HOLEID="{ item }">
                  <a target="_blank"
                  :href="item.HOLEIDurl">
                    {{ item.HOLEID }}
                  </a>
                </template>
              </v-data-table>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-btn
                color="blue darken-1"
                text
                @click="dialog = false"
                >
                Close
                </v-btn>
            </v-card-actions>
            </v-card>
        </v-dialog>
        </v-row>
    </div>
</template>

<script>
import f from '@/store/fetch.js'

export default {
  name: 'DepositSamplesDTDemGkWellsList',
  data () {
    return {
      dialog: false,
      totalWellsList: [],
      headers: [
        { title: 'rn', value: 'rownum' },
        { title: 'Purpose', value: 'HolePurposeIC' },
        { title: 'TENEMENTID', value: 'TENEMENTID' },
        { title: 'HOLEID', value: 'HOLEID' },
        { title: 'Deposit', value: 'DepositName' },
        { title: 'GiKlet done', value: 'gk' },
        { title: 'Will not be giklet', value: 'wnbgk' },
        { title: 'AtomGeoStatus', value: 'ag' }
      ],
      showCircleProgress: false
    }
  },
  props: {
    deposit: String,
    typeOPurpose: { type: String, default: '' },
    typeOfColumn: { type: String, default: '' },
    QueryDateFrom: { type: String, default: '' },
    QueryDateTo: { type: String, default: '' }
  },
  computed: {
    title () {
      if (!this.typeOPurpose && !this.typeOfColumn) {
        return 'of deposit ' + this.deposit
      } else {
        return 'for \'' + this.typeOPurpose + '\' and \'' + this.typeOfColumn + '\' '
      }
    },
    title_period () {
      return this.QueryDateFrom + ' - ' + this.QueryDateTo
    },
    dataExist () {
      if (this.totalWellsList) {
        if (this.totalWellsList.length > 0) { return true }
      }
      return false
    }
  },
  watch: {
    dialog (value) {
      // console.log('new value = ', value)
      if (value) {
        this.setWellslist()
      }
    }
  },
  methods: {
    getColor (calories) {
      if (calories) return 'green'
      else return 'red'
    },
    setWellslist () {
      this.showCircleProgress = true
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=DEPOSIT_DH_GIKLETDONE_DEM_DETAILS_V2&p1=' + this.deposit + '&p2=' + this.QueryDateFrom + ' 00:00:00' + '&p3=' + this.QueryDateTo + ' 23:59:59.999'
      f.fget(url)
        .then(res => {
          const arr = []
          if (this.typeOPurpose === '' && this.typeOfColumn === '') {
            this.totalWellsList = res.content
          } else {
            res.content.forEach(element => {
              if (element.HolePurposeIC === this.typeOPurpose) {
                /* if ((this.typeOfColumn === 'gk' && element.gk) ||
                  (this.typeOfColumn === 'ag' && element.ag)) {
                  arr.push(element)
                } */
                if ((this.typeOfColumn === 'overall') ||
                    (element[this.typeOfColumn] > 0)) {
                  arr.push(element)
                }
              }
            })
            this.totalWellsList = arr
          }
          let i = 1
          this.totalWellsList.forEach(element => {
            element.rownum = i++
            element.HOLEIDurl = '#/w/' + element.HOLEID + '/details'
          })
          this.showCircleProgress = false
        })
    }
  }
}

</script>
