<template>
  <div>
        <div id="deposit-gikletdone-values-in-tables">
          <table class="deposamples">
            <thead>
              <tr>
                <th colspan="5"></th>
                <th colspan="3"
                  style="background: #b5c8ed;"><span class="tooltip"
                  data-tooltip="Count of wells depend on selected period.">Giklet done</span></th>
                  <th colspan="3"
                    style="background: #f3ddae;"><span class="tooltip"
                    data-tooltip="Count of wells depend on selected period.">Sampling</span></th>
              </tr>
              <tr style="height: 40px;">
              <th>
                <v-card v-if="!gikletDoneTable.length">
                  <Loading
                  size-of-circle="22"/>
                </v-card>
                <span v-else>Purpose</span></th>
              <th v-for="idy in typeOfStationHeader.length"
                  :key = "idy">{{ typeOfStationHeader[idy-1] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="idx in typeOfWells.length"
                :key = "idx">
                <td>{{ typeOfWells[idx-1] }}</td>
                <td v-for="idy in typeOfStation.length"
                  :key = "idy">
                  <DepositSampleTableItemMenu
                    :value_p = getValueFromData(typeOfWells[idx-1],typeOfStation[idy-1])
                    v-bind:deposit_t = "block"
                    :typeOPurpose = typeOfWells[idx-1]
                    :typeOfColumn = typeOfStation[idy-1]
                    :QueryDateFrom = "QueryDateFrom"
                    :QueryDateTo = "QueryDateTo"
                    nameOfWellsListComponent = "DepositSamplesDTGikletDoneWellsList"
                    ></DepositSampleTableItemMenu>
                </td>
              </tr>
              <tr>
                <td>Total</td>
                <td v-for="idy in typeOfStation.length"
                  :key = "idy">{{ tableTotalRow[typeOfStation[idy-1]] }}</td>
              </tr>
              <tr><td colspan="5"
                style="padding: 10px;"><div><span>
                <DepositSamplesDTGikletDoneWellsList
                v-bind:deposit="block"
                :QueryDateFrom = "QueryDateFrom"
                :QueryDateTo = "QueryDateTo"
              /></span></div></td> </tr>
          </tbody>
          </table>
        </div>
</div>
</template>

<script>
import f from '@/store/fetch.js'

export default {
  name: 'DepositSamplesDTGikletDone',
  props: {
    DepositName: String,
    QueryDateFrom: { type: String, default: '' },
    QueryDateTo: { type: String, default: '' }
  },
  data () {
    return {
      typeOfWells: ['EXPLO (KATCO)', 'EXPLO (VOLKOV)', 'DVPT', 'HYBRID', 'HYDRO(PIEZO,EAU)'],
      typeOfStation: ['overall', 'gikletdone', 'willnotbegiklet', 'delta', 'gk', 'xrf', 'ura', 'sampled', 'samplingxrf', 'returned'],
      typeOfStationHeader: ['Total with Phase1', 'Giklet done', 'Will not be giklet', 'To check', 'GK', 'XRF', 'U/ra', 'Sampled', 'XRF', 'Recieved'],
      gikletDoneTable: [],
      tableTotalRow: []
    }
  },
  computed: {
    block () {
      return this.$route.params.p1
    }
  },
  methods: {
    setDepositsamplesGikletDone2 () {
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=DEPOSIT_DH_GIKLETDONE_V2&p1=' + this.DepositName + '&p2=' + this.QueryDateFrom + ' 00:00:00' + '&p3=' + this.QueryDateTo + ' 23:59:59.999'
      f.fget(url)
        .then(res => {
          this.tableTotalRow = []
          this.tableTotalRow.overall = 0
          this.tableTotalRow.gikletdone = 0
          this.tableTotalRow.willnotbegiklet = 0
          this.tableTotalRow.ura = 0
          this.tableTotalRow.gk = 0
          this.tableTotalRow.xrf = 0
          this.tableTotalRow.delta = 0
          this.tableTotalRow.sampled = 0
          this.tableTotalRow.samplingxrf = 0
          this.tableTotalRow.returned = 0
          for (let i = 0; i < res.content.length; i++) {
            this.tableTotalRow.overall += parseInt(res.content[i].overall)
            this.tableTotalRow.gikletdone += parseInt(res.content[i].gikletdone)
            this.tableTotalRow.willnotbegiklet += parseInt(res.content[i].willnotbegiklet)
            this.tableTotalRow.delta += parseInt(res.content[i].delta)
            this.tableTotalRow.gk += parseInt(res.content[i].gk)
            this.tableTotalRow.xrf += parseInt(res.content[i].xrf)
            this.tableTotalRow.ura += parseInt(res.content[i].ura)
            this.tableTotalRow.sampled += parseInt(res.content[i].sampled)
            this.tableTotalRow.samplingxrf += parseInt(res.content[i].samplingxrf)
            this.tableTotalRow.returned += parseInt(res.content[i].returned)
          }
          this.gikletDoneTable = res.content
        })
    },
    getValueFromData (PurposeName, colname) {
      if (this.gikletDoneTable) {
        const res = this.gikletDoneTable.find(i => i.HolePurposeIC === PurposeName)
        if (res) return res[colname]
      }
      return '0'
    }
  },
  mounted () {
    this.setDepositsamplesGikletDone2()
  }
}
</script>

<style>
.deposamples, .deposamples table, .deposamples th, .deposamples td {
  border: 1px solid #868686;
  border-collapse: collapse;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
}
</style>
