<template>
    <v-menu
        bottom
        right
        :rounded="false"
        >
      <template v-slot:activator="{ props }">
        <v-btn
          variant="plain"
          size="small"
          v-bind="props"
          class="ma-1 pa-1"
        >
        {{ value_p }}
        </v-btn>
      </template>

      <div 
        v-if="value_p!=='0'" >
        <div>
            <!--  <v-list-item-title> -->
          
            <!-- <DepositSamplesDTSamplingWellsList v-if="nameOfWellsListComponent=='DepositSamplesDTSamplingWellsList'"
              v-bind:deposit = "deposit_t"
              :typeOPurpose = "typeOPurpose"
              :typeOfColumn = "typeOfColumn"
              :QueryDateFrom = "QueryDateFrom"
              :QueryDateTo = "QueryDateTo"
            /> -->
            <DepositSamplesDTGikletDoneWellsList v-if="nameOfWellsListComponent=='DepositSamplesDTGikletDoneWellsList'"
              v-bind:deposit = "deposit_t"
              :typeOPurpose = "typeOPurpose"
              :typeOfColumn = "typeOfColumn"
              :QueryDateFrom = "QueryDateFrom"
              :QueryDateTo = "QueryDateTo"
            />
            <DepositSamplesDTLogginTypesWellsList v-if="nameOfWellsListComponent=='DepositSamplesDTLogginTypesWellsList'"
              v-bind:deposit = "deposit_t"
              :typeOPurpose = "typeOPurpose"
              :typeOfColumn = "typeOfColumn"
              :QueryDateFrom = "QueryDateFrom"
              :QueryDateTo = "QueryDateTo"
              :tfnName = "tfnName"
            />
            <!--  <DepositSamplesDTLogginTypeDemWellsList v-if="nameOfWellsListComponent=='DepositSamplesDTLogginTypeDemWellsList'"
              v-bind:deposit = "deposit_t"
              :typeOPurpose = "typeOPurpose"
              :typeOfColumn = "typeOfColumn"
              :QueryDateFrom = "QueryDateFrom"
              :QueryDateTo = "QueryDateTo"
            /> --><DepositSamplesDTDemGk v-if="nameOfWellsListComponent=='DepositSamplesDTDemGk'"
              v-bind:deposit = "deposit_t"
              :typeOPurpose = "typeOPurpose"
              :typeOfColumn = "typeOfColumn"
              :QueryDateFrom = "QueryDateFrom"
              :QueryDateTo = "QueryDateTo"
            /><DepositSamplesDTDemGkWellsList v-if="nameOfWellsListComponent=='DepositSamplesDTDemGkWellsList'"
              v-bind:deposit = "deposit_t"
              :typeOPurpose = "typeOPurpose"
              :typeOfColumn = "typeOfColumn"
              :QueryDateFrom = "QueryDateFrom"
              :QueryDateTo = "QueryDateTo"
            />
          
          <!--  </v-list-item-title> -->
            </div >
          </div >
    </v-menu>
</template>

<script>
export default {
  name: 'DepositSampleTableItemMenu',
  props: {
    nameOfWellsListComponent: { type: String, default: '' },
    value_p: { type: String, default: '0' },
    deposit_t: { type: String, default: '' },
    typeOPurpose: { type: String, default: '' },
    typeOfColumn: { type: String, default: '' },
    QueryDateFrom: { type: String, default: '' },
    QueryDateTo: { type: String, default: '' },
    tfnName: { type: String, default: 'DEPOSIT_DH_LOGGING_TYPES_DETAILS_V2' }
  },
  computed: {
  },
  methods: {
    itemClicked () {
      // console.log('item clicked') // need to control when clicked
    }
  }
}
</script>
