<template>
  <v-row no-gutters>
    <v-col>
      <DH3DhistDataTable
        :headers_p="headers_p"
      />
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'DH3DhistoryDT',
  data () {
    return {
    }
  },
  computed: {
    block () {
      return this.$route.params.p1
    },
    headers_p () {
      return [
        { text: 'HoleID', title: 'HoleID', value: 'HOLEID', key: 'HOLEID', groupable: false },
        { text: 'List version', title: 'List version', value: 'list_version', key: 'list_version', sortable: false, groupable: true },
        { text: 'Add date', title: 'Add date', value: 'ADD_DATE', key: 'ADD_DATE', sortable: false, groupable: false },
        { text: 'Add user', title: 'Add user', value: 'ADD_USER', key: 'ADD_USER', sortable: false, groupable: false },
        { text: 'Ignored', title: 'Ignored', value: 'Ignored', key: 'Ignored', sortable: false, groupable: false },
        { text: 'Purpose', title: 'Purpose', value: 'HolePurpose', key: 'HolePurpose', filterable: true, sortable: false },
        { text: 'Status', title: 'Status', value: 'HoleStatus', key: 'HoleStatus', filterable: true, sortable: false },
        { text: 'DB',title: 'DB', value: 'DB', key: 'DB', sortable: false }
      ]
    }
  }
}
</script>
