<template>
  <v-row>
    <!-- <v-row no-gutters></v-row> -->
    <v-row>
      <v-col cols="8">
        <v-card>
          <v-card-title dense>
           {{ caption }} dddd
          </v-card-title>
        </v-card>
        <ShapeInfo />
      </v-col>
      <v-col cols="3">
        <v-card>
          <v-text-field
            v-model="search"
            dense
            prepend-icon="mdi-magnify"
            label="search"
            single-line
            hide-details
            cols="4"
          >
            <!-- In this example you can see how can look Group icon instead of the word group in the header
                <v-text-field
                prepend-icon="mdi-playlist-plus"
                label="Group"
              ></v-text-field>             -->
          </v-text-field>
        </v-card>
      </v-col>
      <v-col cols="1">
        <downloadExcel
          :data="getDrillholesFT"
          :name="fileName"
          :worksheet="block"
        >
          <v-btn
            icon
            outlined
          >
            <v-icon>mdi-table-arrow-right</v-icon>
          </v-btn>
        </downloadExcel>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-data-table
            v-if="getDrillholesFT"
            dense
            :search="search"
            :headers="headers"
            :items="filteredGetDrillholesFT"
            :items-per-page="15"
            class="elevation-2"
            :custom-filter="filterOnlyCapsText"
            show-group-by
          >
            <template
              v-slot:[`header.HoleStatus`]="{ header }"
            >
            ddd - {{ header }}
              <DataTableHeaderColumn
                v-if="HoleStatusExist"
                v-model="filterStatus"
                :items="filterStatusItems"
                :header-text="header.text.toUpperCase()"
                :table="getDrillholesFT"
                column="HoleStatus"
                dense
                class="filter-column"
              />
            </template>
            <template
              v-slot:[`header.HolePurpose`]="{ header }"
            >
              <DataTableHeaderColumn
                v-if="HolePurposeExist"
                v-model="filterPurpose"
                :items="filterPurposeItems"
                :header-text="header.text.toUpperCase()"
                :table="getDrillholesFT"
                column="HolePurpose"
                dense
                class="filter-column"
              />
            </template>
            <template
              v-slot:[`header.XRF_Status`]="{ header }"
            >
              <DataTableHeaderColumn
                v-if="XRF_StatusExist"
                v-model="filterXRF_Status"
                :items="filterXRF_StatusItems"
                :header-text="header.text.toUpperCase()"
                :table="getDrillholesFT"
                column="XRF_Status"
                dense
                class="filter-column"
              />
            </template>
            <template
              v-slot:[`header.WillNotBeGiklet`]="{ header }"
            >
              <DataTableHeaderColumn
                v-if="WillNotBeGikletExist"
                v-model="filterWillNotBeGiklet"
                :items="filterWillNotBeGikletItems"
                :header-text="header.text.toUpperCase()"
                :table="getDrillholesFT"
                column="WillNotBeGiklet"
                dense
                class="filter-column"
              />
            </template>
            <template
              v-slot:[`header.Giklet_status`]="{ header }"
            >
              <DataTableHeaderColumn
                v-if="Giklet_statusExist"
                v-model="filterGiklet_status"
                :items="filterGiklet_statusItems"
                :header-text="header.text.toUpperCase()"
                :table="getDrillholesFT"
                column="Giklet_status"
                dense
                class="filter-column"
              />
            </template>
            <template
              v-slot:[`header.LogStation`]="{ header }"
            >
              <DataTableHeaderColumn
                v-if="LogStationExist"
                v-model="filterLogStation"
                :items="filterLogStationItems"
                :header-text="header.text.toUpperCase()"
                :table="getDrillholesFT"
                column="LogStation"
                dense
                class="filter-column"
              />
            </template>
            <template
              v-slot:[`header.DB`]="{ header }"
            >
              <DataTableHeaderColumn
                v-model="filterDB"
                :items="filterDBItems"
                :header-text="header.text.toUpperCase()"
                :table="getDrillholesFT"
                column="DB"
                dense
                class="filter-column"
              />
            </template>
            <template
              v-slot:[`header.Well_exist`]="{ header }"
            >
              <DataTableHeaderColumn
                v-model="filterWellExist"
                :items="filterWellExistItems"
                :header-text="header.text.toUpperCase()"
                :table="getDrillholesFT"
                column="Well_exist"
                dense
                class="filter-column"
              />
            </template>
            <template
              v-slot:[`header.Ignored_well`]="{ header }"
            >
              <DataTableHeaderColumn
                v-model="filterIgnoredWell"
                :items="filterIgnoredWellItems"
                :header-text="header.text.toUpperCase()"
                :table="getDrillholesFT"
                column="Ignored_well"
                dense
                class="filter-column"
              />
            </template>
            <template v-slot:[`item.HoleStatus`]="{ value }">
              <HoleStatus :hole-status="value" />
            </template>
            <template v-slot:[`item.XRF_Status`]="{ value }">
              <XRFStatus :xrf-status="value" />
            </template>
            <template v-slot:[`item.Giklet_status`]="{ value }">
              <GikletStatus :giklet-status="value" />
            </template>
            <template v-slot:[`item.HOLEID`]="{ item }">
              <span v-if="item.HYBRID_DEM_HOLEID">
                <HoleID :hole-id="item.HOLEID" /> (<HoleID :hole-id="item.HYBRID_DEM_HOLEID" />)
              </span>
              <span v-if="!item.HYBRID_DEM_HOLEID">
                <HoleID :hole-id="item.HOLEID" />
              </span>
            </template>
          </v-data-table>
        </v-card>

        <v-card v-if="!getDrillholesFT">
          <Loading />
        </v-card>
      </v-col>
    </v-row>
  </v-row>
</template>

<script>
// eslint-disable @typescript-eslint/camelcase
import { mapGetters } from 'vuex'

export default {
  name: 'DHDataTable',
  props: {
    headers: Array
  },
  data () {
    return {
      filterStatus: [],
      filterPurpose: [],
      filterXRF_Status: [],
      filterWillNotBeGiklet: [],
      filterGiklet_status: [],
      filterLogStation: [],
      filterDB: [],
      filterWellExist: [],
      filterIgnoredWell: [],
      today: new Date(),
      fileName: '',
      search: ''
    }
  },
  computed: {
    ...mapGetters('drillholes', ['getDrillholesFT', 'getDistinct']),
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return '+++ List of Drillholes ' + this.getCaption },
    filteredGetDrillholesFT () {
      return (
        this.getDrillholesFT || []).filter(item => {
        return (
          (this.filterStatus.indexOf(item.HoleStatus) >= 0) &&
           (this.filterPurpose.indexOf(item.HolePurpose) >= 0) &&
            (this.filterGiklet_status.indexOf(item.Giklet_status) >= 0) &&
             (this.filterWillNotBeGiklet.indexOf(item.WillNotBeGiklet) >= 0) &&
              (this.filterLogStation.indexOf(item.LogStation) >= 0) &&
               (this.filterDB.indexOf(item.DB) >= 0) &&
                (this.filterWellExist.indexOf(item.Well_exist) >= 0) &&
                  (this.filterIgnoredWell.indexOf(item.Ignored_well) >= 0) &&
                    (this.filterXRF_Status.indexOf(item.XRF_Status) >= 0)
        )
      }
      )
      // && (this.selectedCategories.length === 0 || this.selectedCategories.indexOf(item.category) >= 0)
    },
    HoleStatusExist () {
      const __FOUND = this.headers.findIndex(function (header) {
        if (header.value === 'HoleStatus') return true
      })
      if (__FOUND === -1) return false
      else return true
    },
    XRF_StatusExist () {
      const __FOUND = this.headers.findIndex(function (header) {
        if (header.value === 'XRF_Status') return true
      })
      if (__FOUND === -1) return false
      else return true
    },
    HolePurposeExist () {
      const __FOUND = this.headers.findIndex(function (header) {
        if (header.value === 'HolePurpose') return true
      })
      if (__FOUND === -1) return false
      else return true
    },
    WillNotBeGikletExist () {
      const __FOUND = this.headers.findIndex(function (header) {
        if (header.value === 'WillNotBeGiklet') return true
      })
      if (__FOUND === -1) return false
      else return true
    },
    Giklet_statusExist () {
      const __FOUND = this.headers.findIndex(function (header) {
        if (header.value === 'Giklet_status') return true
      })
      if (__FOUND === -1) return false
      else return true
    },
    LogStationExist () {
      const __FOUND = this.headers.findIndex(function (header) {
        if (header.value === 'LogStation') return true
      })
      if (__FOUND === -1) return false
      else return true
    },
    WellExistExist () {
      const __FOUND = this.headers.findIndex(function (header) {
        if (header.value === 'Well_exist') return true
      })
      if (__FOUND === -1) return false
      else return true
    },
    IgnoredWellExist () {
      const __FOUND = this.headers.findIndex(function (header) {
        if (header.value === 'Ignored_well') return true
      })
      if (__FOUND === -1) return false
      else return true
    },

    filterStatusItems () { return this.getDistinct.HoleStatus },
    filterPurposeItems () { return this.getDistinct.HolePurpose },
    filterXRF_StatusItems () { return this.getDistinct.XRF_Status },
    filterWillNotBeGikletItems () { return this.getDistinct.WillNotBeGiklet },
    filterGiklet_statusItems () { return this.getDistinct.Giklet_status },
    filterLogStationItems () { return this.getDistinct.LogStation },
    filterDBItems () { return this.getDistinct.DB },
    filterWellExistItems () { return this.getDistinct.Well_exist },
    filterIgnoredWellItems () { return this.getDistinct.Ignored_well },

    block () {
      return this.$route.params.p1
    }
  },

  watch: {
    getDrillholesFT () {
      this.updateFilters()
    }
  },

  mounted: function () {
    this.$nextTick(function () {
      this.updateFilters()
    })
  },
  methods: {
    filterOnlyCapsText (value, search) {
      return value != null &&
          search != null &&
          typeof value === 'string' &&
          value.toString().toLocaleUpperCase().indexOf(search.toString().toLocaleUpperCase()) !== -1
    },
    updateFilters () {
      if (this.filterStatus !== [] && this.getDistinct.HoleStatus && this.filterStatusItems) {
        this.filterStatus = this.filterStatusItems
      }

      if (this.filterPurpose !== [] && this.getDistinct.HolePurpose && this.filterPurposeItems) {
        this.filterPurpose = this.filterPurposeItems
      }

      if (this.filterXRF_Status !== [] && this.getDistinct.XRF_Status && this.filterXRF_StatusItems) {
        this.filterXRF_Status = this.filterXRF_StatusItems
      }

      if (this.filterWillNotBeGiklet !== [] && this.getDistinct.WillNotBeGiklet && this.filterWillNotBeGikletItems) {
        this.filterWillNotBeGiklet = this.filterWillNotBeGikletItems
      }

      if (this.filterGiklet_status !== [] && this.getDistinct.Giklet_status && this.filterGiklet_statusItems) {
        this.filterGiklet_status = this.filterGiklet_statusItems
      }

      if (this.filterLogStation !== [] && this.getDistinct.LogStation && this.filterLogStationItems) {
        this.filterLogStation = this.filterLogStationItems
      }

      if (this.filterDB !== [] && this.getDistinct.DB && this.filterDBItems) {
        this.filterDB = this.filterDBItems
      }

      if (this.filterWellExist !== [] && this.getDistinct.Well_exist && this.filterWellExistItems) {
        this.filterWellExist = this.filterWellExistItems
      }

      if (this.filterIgnoredWell !== [] && this.getDistinct.Ignored_well && this.filterIgnoredWellItems) {
        this.filterIgnoredWell = this.filterIgnoredWellItems
      }
      this.fileName = 'Drillholes ' + this.block + ' ' + this.today.toISOString().slice(0, 10)
    }

  }
}
</script>

<style scoped>
  .filter-column {
    font-size: 0.75rem;
  }
</style>
