<template> <!-- This file is not in use. Azim Atentay. 2024-01-29. content of this file copied to ProfDrillholes -->
  <v-row no-gutters>
    <v-col>
      <DHDataTable
        :headers="headers"
      />
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'DrillholesDT',
  data () {
    return {
    }
  },
  computed: {
    block () {
      return this.$route.params.p1
    },
    headers () {
      return [
        { text: 'HoleID', value: 'HOLEID', groupable: false },
        { text: 'Project', value: 'PROJECTCODE' },
        { text: 'Start Date ', value: 'STARTDATE', sortable: true, groupable: false },
        { text: 'End Date ', value: 'ENDDATE', sortable: true, groupable: false },
        { text: 'Purpose', value: 'HolePurpose', filterable: true, sortable: false },
        { text: 'Status', value: 'HoleStatus', filterable: true, sortable: false },
        { text: 'XRF Status', value: 'XRF_Status', filterable: true, sortable: false },
        { text: 'Depth, m', value: 'DEPTH', align: 'end', groupable: false },
        { text: 'Will Not Be Giklet', value: 'WillNotBeGiklet', filterable: true, sortable: false },
        { text: 'Giklet status', value: 'Giklet_status', filterable: true, sortable: false },
        { text: 'Logging station type', value: 'LogStation', sortable: false, groupable: false },
        { text: 'Giklet date', value: 'GikletDate', filterable: true, sortable: true, groupable: false },
        { text: 'Comment', value: 'HoleComm', filterable: true, sortable: true, groupable: false },
        { text: 'DB', value: 'DB', sortable: false }
      ]
    }
  }
}
</script>
