<template>
  <v-row
    dense
  >
    <v-col>
      <v-row
        dense
      >
        <v-col
          cols="5"
        >
          <v-data-table
            :fixed-header = true
            :height="tableDataHeight"
            v-if="getHoleDetailsFT"
            dense
            :headers="headers"
            :items="getHoleDetailsFT"
            :items-per-page="-1"
            class="elevation-2"
          />

          <v-card v-if="!getHoleDetailsFT">
            <Loading />
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'HoleDT',
  data () {
    return {
      headers: [
        { title: 'Name', value: 'Key1' },
        { title: 'Value', value: 'Value1' }
      ],
      tableDataHeight: 600
    }
  },
  computed: {
    ...mapGetters('holedetails', ['getHoleDetailsFT'])
  },
  methods: {
    onResize () {
      this.tableDataHeight = window.innerHeight - 210
    }
  },
  mounted () {
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })

    this.onResize()
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  }
}
</script>

<style >

  table { tbody { tr { td { height: 31px!important } } } }
</style>
