<template>
  <v-row>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title dense>
            Attributes of tech.block from ArcGIS DEM
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols="12"
      >
        <v-card v-if="gettbSdeAttrFT">
          <v-simple-table dense>
            <template v-slot:default>
              <tbody>
                <tr>
                  <td>Area:</td>
                  <td>{{ parseInt(gettbSdeAttrFT[0].STArea)+' m' }} <sup>2</sup> </td>
                </tr>
                <tr>
                  <td>PROJECT:</td>
                  <td>{{ (gettbSdeAttrFT[0].PROJECT) }}</td>
                </tr>
                <tr>
                  <td>STATUS:</td>
                  <td>{{ (gettbSdeAttrFT[0].STATUS) }}</td>
                </tr>
                <tr>
                  <td>STARTDATE:</td>
                  <td>{{ (gettbSdeAttrFT[0].STARTDATE) }}</td>
                </tr>
                <tr>
                  <td>COMMENT:</td>
                  <td>{{ (gettbSdeAttrFT[0].COMMENT) }}</td>
                </tr>
                <tr>
                  <td>Last modification:</td>
                  <td>{{ (gettbSdeAttrFT[0].EDIT_MODIFYDATE) +' by '+ (gettbSdeAttrFT[0].EDIT_MODIFIER) }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
        <v-card v-if="!gettbSdeAttrFT">
          <Loading />
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card width="525">
          <v-card-title dense>
            Geological block attributes
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols="12"
      >
        <v-card v-if="gettbDepositParamsFT">
          <v-simple-table dense>
            <template v-slot:default>
              <tbody>
                <tr>
                  <td>Deposit:</td>
                  <td>{{ (gettbDepositParamsFT[0].Deposit) }} </td>
                </tr>
                <tr>
                  <td>Correction of humidity Ik, %:</td>
                  <td>{{ (gettbDepositParamsFT[0].CorrectionOfHumidityIkPct) }}</td>
                </tr>
                <tr>
                  <td>Correction of humidity Uk, %:</td>
                  <td>{{ (gettbDepositParamsFT[0].CorrectionOfHumidityUkPct) }}</td>
                </tr>
                <tr>
                  <td>Conversion coefficient, μR/h*0.01%U:</td>
                  <td>{{ (gettbDepositParamsFT[0].ConversionCoeff) }}</td>
                </tr>
                <tr>
                  <td>Effective atomic number Zeff:</td>
                  <td>{{ (gettbDepositParamsFT[0].EffectiveAtomicNumZeff) }}</td>
                </tr>
                <tr>
                  <td>Ore wet density, Ik g/сm3:</td>
                  <td>{{ (gettbDepositParamsFT[0].OreWetDensityIk) }}</td>
                </tr>
                <tr>
                  <td>Ore wet density, Uk g/сm3:</td>
                  <td>{{ (gettbDepositParamsFT[0].OreWetDensityUk) }}</td>
                </tr>
                <tr>
                  <td>Ore dry density, g/сm3:</td>
                  <td>{{ (gettbDepositParamsFT[0].OreDryDensity) }}</td>
                </tr>
                <tr>
                  <td>Correction of Radon effect:</td>
                  <td>{{ (gettbDepositParamsFT[0].CorrectionOfRandonEffect) }}</td>
                </tr>
                <tr>
                  <td>Common Krr (permeable):</td>
                  <td>{{ (gettbDepositParamsFT[0].CommonKrrPermeable) }}</td>
                </tr>
                <tr>
                  <td>Common Krr (impermeable):</td>
                  <td>{{ (gettbDepositParamsFT[0].CommonKrrImPermeable) }}</td>
                </tr>
                <tr>
                  <td>Krr Nose:</td>
                  <td>{{ (gettbDepositParamsFT[0].KrrNose) }}</td>
                </tr>
                <tr>
                  <td>Krr Wing:</td>
                  <td>{{ (gettbDepositParamsFT[0].KrrWing) }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
        <v-card v-if="!gettbDepositParamsFT">
          <Loading />
        </v-card>
      </v-col>
    </v-row>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'SdeTblockDT',
  data () {
    return {
    }
  },

  computed: {
    ...mapGetters('sde', ['gettbSdeAttrFT']),
    ...mapGetters('depositparam', ['gettbDepositParamsFT']),

    block () {
      return this.$route.params.p1
    }
  },
  watch: {
  },

  methods: {
  }
}
</script>

  <style scoped>
  .filter-column {
    font-size: 0.75rem;
  }
</style>
