<template>
  <!-- v-simple-table -->
  <v-table
    fixed-header
    dense
  >

      <thead>
        <tr>
          <th colspan="2">
            Attributes of tech.block from ArcGIS DEM
          </th>
        </tr>
      </thead>
      <v-card v-if="!gettbSdeAttrFT">
        <Loading />
      </v-card>
      <tbody v-if="gettbSdeAttrFT">
        <tr>
          <td>Area:</td>
          <td v-if="gettbSdeAttrFT[0].STArea">
            {{ parseInt(gettbSdeAttrFT[0].STArea)+' m' }} <sup>2</sup>
          </td>
        </tr>
        <tr>
          <td>PROJECT:</td>
          <td>{{ (gettbSdeAttrFT[0].PROJECT) }}</td>
        </tr>
        <tr>
          <td>STATUS:</td>
          <td>{{ (gettbSdeAttrFT[0].STATUS) }}</td>
        </tr>
        <tr>
          <td>STARTDATE:</td>
          <td>{{ (gettbSdeAttrFT[0].STARTDATE) }}</td>
        </tr>
        <tr>
          <td>COMMENT:</td>
          <td>{{ (gettbSdeAttrFT[0].COMMENT) }}</td>
        </tr>
        <tr>
          <td>Last modification:</td>
          <td v-if="gettbSdeAttrFT[0].EDIT_MODIFYDATE">
            {{ (gettbSdeAttrFT[0].EDIT_MODIFYDATE) +' by '+ (gettbSdeAttrFT[0].EDIT_MODIFIER) }}
          </td>
        </tr>
      </tbody>

  </v-table>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'SdeTblockDT',
  data () {
    return {
    }
  },

  computed: {
    ...mapGetters('sde', ['gettbSdeAttrFT']),

    block () {
      return this.$route.params.p1
    }
  },
  watch: {
  },

  methods: {
  }
}
</script>

<style scoped>
  .filter-column {
    font-size: 0.75rem;  
  }


 tbody { tr { td { height: unset  !important; } } }  
 
</style>
