<template>
  <v-row>
    <scatter-chart
      v-if="getmPrcThickness"
      :data="getmPrcThickness"
      xtitle="Thickness, m"
      ytitle="GRADE, %"
      :download="true"
    />
    <v-card v-if="!getmPrcThickness">
      <Loading />
    </v-card>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'GTScatter1',
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters('wellsgt', ['getmPrcThickness'])
  },
  methods: {
  }
}
</script>
