<template>
  <v-row no-gutters>
    <v-row>
      <v-col cols="7">
        <v-card v-if="getWellsGtFT">
          <h3><u>Basic statistics:</u></h3>
          <v-table dense>
            <template v-slot:default>
              <tbody
                v-if="GtStatData"
              >
                <tr>
                  <td>Quantity of drillholes</td>
                  <td>{{ GtStatData.cntDrillholes }}</td>
                </tr>
                <tr>
                  <td>Quantity of ore intervals</td>
                  <td>{{ getWellsGtFT.length }}</td>
                </tr>
                <tr>
                  <td>Average thickness, m</td>
                  <td>{{ GtStatData.avgThickness }}</td>
                </tr>
                <tr>
                  <td>Average grade, %</td>
                  <td>{{ GtStatData.avgGrade }}</td>
                </tr>
                <tr>
                  <td>Average GT, m%</td>
                  <td>{{ GtStatData.avgGt }}</td>
                </tr>
                <tr>
                  <td>Sum of GTs, m%</td>
                  <td>{{ GtStatData.sumGt }}</td>
                </tr>
                <tr>
                  <td>Minimum GT value, m%</td>
                  <td>{{ GtStatData.minGt }}</td>
                </tr>
                <tr>
                  <td>Maximum GT value, m%</td>
                  <td>{{ GtStatData.maxGt }}</td>
                </tr>
                <tr>
                  <td>Average Krr of permeable GTs</td>
                  <td>{{ GtStatData.avgKrr }}</td>
                </tr>
              </tbody>
            </template>
          </v-table>
        </v-card>

        <v-card v-if="!getWellsGtFT">
          <Loading />
        </v-card>
      </v-col>
    </v-row>
  </v-row>
</template>

<script>
// eslint-disable @typescript-eslint/camelcase
import { mapGetters } from 'vuex'
import k from '@/lib/k.js'

export default {
  name: 'GTStat',
  data () {
    return {
      GtStatData: null
    }
  },
  computed: {
    ...mapGetters('wellsgt', ['getWellsGtFT', 'getGtStat']),
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption'])
  },
  watch: {
    getGtStat: {
      handler: function (n) {
        this.GtStatData = n
        // console.log('this.GtStatData ' + this.GtStatData)
        // console.log('this.GtStatData ' + this.GtStatData)
      },
      deep: true
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      // Код, который будет запущен только после отображения всех представлений
      if (this.getGtStat) this.GtStatData = this.getGtStat
    })
  },
  methods: {
    i (text) { return k.i(text) },
    si (obj, keys) { return k.si(obj, keys) }
  }
}
</script>

<style scoped>
  .filter-column {
    font-size: 0.75rem;
  }
</style>
