<template>
  <v-row
    style="height:100%;width:100%"
  >
    <v-col>
      <v-row>
        <ShapeInfo />
        <v-card>
          <v-data-table
            v-if="getWellsFT"
            dense
            :headers="headers"
            :items="getWellsFT"
            :items-per-page="15"
            class="elevation-1"
          >
            <template v-slot:item.HoleStatus="{ value }">
              <HoleStatus :hole-status="value" />
            </template>
            <template
              v-slot:item.HOLEID="{ item }"
            >
              <div @mouseover="selectedWell=item.HOLEID">
                <span v-if="item.HYBRID_DEM_HOLEID">
                  <HoleID :hole-id="item.HOLEID" /> (<HoleID :hole-id="item.HYBRID_DEM_HOLEID" />)
                </span>
                <span
                  v-if="!item.HYBRID_DEM_HOLEID"
                >
                  <HoleID :hole-id="item.HOLEID" />
                </span>
              </div>
            </template>
          </v-data-table>
          <v-btn
            v-if="getWellsFT"
            class="ma-2"
            color="indigo"
            @click="copy"
          >
            <v-icon>
              mdi-file-document-multiple-outline
            </v-icon>
          </v-btn>
        </v-card>
        <v-card v-if="!getWellsFT">
          <Loading />
        </v-card>
      </v-row>
    </v-col>
  </v-row>
</template>

<style scoped>
.v-table {
  --v-table-header-height: 32px;
}
</style>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'RCGisSelectDataTable',
  data () {
    return {
      headers: [
        // Define header for the table text - will be shown to user, value - to match json file
        { title: 'HoleID', value: 'HOLEID' },
        { title: 'Purpose', value: 'HolePurpose' },
        { title: 'HoleStatus', value: 'HoleStatus' },
        { title: 'X', value: 'X' },
        { title: 'Y', value: 'Y' },
        { title: 'Z', value: 'Z' }
      ],
      selectedWell: null
    }
  },
  computed: {
    ...mapGetters('wells', ['getWellsFT']),
    block () {
      return this.$route.params.p1
    }
  },
  watch: {
    selectedWell () {
      this.setActiveWell(this.selectedWell)
    }
  },
  methods: {
    ...mapActions('wells', ['setActiveWell']),
    copy () {
      let csv = 'HoleID\tHYBRID_DEM_HOLEID\tPurpose\tHoleStatus\tX\tY\tZ\r\n'
      csv += this.getWellsFT.map(item => {
        return [item.HOLEID, item.HYBRID_DEM_HOLEID, item.HolePurpose, item.HoleStatus, item.X, item.Y, item.Z].join('\t')
      }).join('\r\n')
      navigator.clipboard.writeText(csv)
    }
  }
}
</script>
