<template>
  <v-row>
    <v-card v-if="!getWellsGrmFT">
      <Loading />
    </v-card>
    <v-col cols="4">
      <v-data-table
        v-if="getWellsGrmFT"
        dense
        :height="tableDataHeight"
        :headers="headers"
        :items="getWellsGrmFT"
        :items-per-page="-1"
        class="elevation-1"
        show-group-by>
        <template v-slot:[`item.HOLEID`]="{ item }">
          <span>
            <HoleID :hole-id="item.HOLEID" />
          </span>
        </template>
      </v-data-table>
       <!--  <template v-slot:[`item.HOLEID`]="{ item }">
          <span>
            <HoleID :hole-id="item.HOLEID" />
          </span>
        </template> -->
      
    </v-col>
    <v-col cols="2">
      <v-btn
        v-if="getWellsGrmFT"
        class="ma-2"
        color="indigo"
        @click="copy"
      >
        <v-icon>
          mdi-file-document-multiple-outline
        </v-icon>
      </v-btn>
    </v-col>
  </v-row>
</template>

<style scoped>
.v-table {
  --v-table-header-height: 32px;
}
</style>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'RCGrmDataTable',
  components: {
  },
  data () {
    return {
      headers: [
        { title: 'HoleID', value: 'HOLEID', groupable: false },
        { title: 'From, m', value: 'DEPTH_FROM', groupable: false },
        { title: 'To, m', value: 'DEPTH_TO', groupable: false },
        { title: 'Thickness, m', value: 'THICKNESS', groupable: false }
      ],
      tableDataHeight: 600
    }
  },
  computed: {
    ...mapGetters('wellsgrm', ['getWellsGrmFT']),
    block () {
      return this.$route.params.p1
    }
  },
  methods: {
    ...mapActions('wellsgrm', ['setWellsGrm']),
    copy () {
      let csv = 'HoleID\tFrom, m\tTo, m\tThickness, m\r\n'
      csv += this.getWellsGrmFT.map(item => {
        return [item.HOLEID, item.DEPTH_FROM,
          item.DEPTH_TO, item.THICKNESS].join('\t')
      }).join('\r\n')
      navigator.clipboard.writeText(csv)
    }
  }
}
</script>
