<template>
  <v-row>
    <v-col
      v-if="getWellsGtFT"
      cols="11"
    >
      <v-data-table
        dense
        :headers="headers"
        :items="getWellsGtFT"
        :items-per-page="20"
        class="elevation-3"
        show-group-by
      >
        <template v-slot:[`item.HOLEID`]="{ item }">
          <span>
            <HoleID :hole-id="item.HOLEID" />
          </span>
        </template>
      </v-data-table>
    </v-col>
    <v-col
      v-if="getWellsGtFT"
      cols="1"
    >
      <v-btn
        class="ma-2"
        color="indigo"
        @click="copy"
      >
        <v-icon>
          mdi-file-document-multiple-outline
        </v-icon>
      </v-btn>
    </v-col>
    <v-card v-if="!getWellsGtFT">
      <Loading />
    </v-card>
  </v-row>
</template>

<style scoped>
.v-table {
  --v-table-header-height: 32px;
}
</style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'AppGtDataTable',
  data () {
    return {
      headers: [
        // here we should define header for the table
        // text - will be shown to user
        // value - to match json file
        { title: 'HoleID', value: 'HOLEID' },
        { title: 'From, m', value: 'DEPTH_FROM', groupable: false },
        { title: 'To, m', value: 'DEPTH_TO', groupable: false },
        { title: 'Thickness, m', value: 'THICKNESS', groupable: false },
        { title: 'Grade, %', value: 'GRADE', groupable: false },
        { title: 'GT U, m%', value: 'GT_U_mPERC', groupable: false },
        { title: 'Permeability Code', value: 'Permeability' },
        { title: 'KRR', value: 'KRR' },
        { title: 'Morphology', value: 'Morphology' }
      ]
    }
  },
  computed: {
    ...mapGetters('wellsgt', ['getWellsGtFT']),
    block () {
      return this.$route.params.p1
    }
  },
  methods: {
    copy () {
      let csv = 'HoleID\tFrom, m\tTo, m\tThickness\tGT U,m%\tPermeability\tKRR\tMorphology\tGRADE\r\n'
      csv += this.getWellsGtFT.map(item => {
        return [item.HOLEID, item.DEPTH_FROM,
          item.DEPTH_TO, item.THICKNESS,
          item.GT_U_mPERC, item.Permeability,
          item.KRR, item.Morphology, item.GRADE].join('\t')
      }).join('\r\n')
      navigator.clipboard.writeText(csv)
    }
  }
}
</script>
