<template>
  <v-row>
    <v-card v-if="!getWellsHsGtFT">
      <Loading />
    </v-card>
    <v-col cols="10">
    <v-data-table
      v-if="getWellsHsGtFT"
      dense
      :headers="headers"
      :items="getWellsHsGtFT"
      :items-per-page="20"
      class="elevation-1"
      show-group-by
    >
      <template v-slot:item.HOLEID="{ item }">
        <span>
          <HoleID :hole-id="item.HOLEID" />
        </span>
      </template>
    </v-data-table>
  </v-col>
  <v-col cols="2">
    <v-btn
      v-if="getWellsHsGtFT"
      class="ma-2"
      color="indigo"
      @click="copy"
    >
      <v-icon>
        mdi-file-document-multiple-outline
      </v-icon>
    </v-btn>
  </v-col>
  </v-row>
</template>

<style scoped>
.v-table {
  --v-table-header-height: 32px;
}
</style>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'RCHsGtDataTable',
  components: {
  },
  data () {
    return {
      headers: [
        { title: 'HoleID', value: 'HOLEID', groupable: false },
        { title: 'From, m', value: 'DEPTH_FROM', groupable: false },
        { title: 'To, m', value: 'DEPTH_TO', groupable: false },
        { title: 'Thickness, m', value: 'THICKNESS', groupable: false },
        { title: 'Grade, m%', value: 'GRADE', groupable: false },
        { title: 'GT, m%', value: 'GT', groupable: false },
        { title: 'Category', value: 'CATEGORY', groupable: true },
        { title: 'Origine', value: 'ORIGINE', groupable: true },
        { title: 'Permeability', value: 'PERMEABILITY_CODE', groupable: true }
      ]
    }
  },
  computed: {
    ...mapGetters('wellshsgt', ['getWellsHsGtFT']),
    block () {
      return this.$route.params.p1
    }
  },
  methods: {
    ...mapActions('wellshsgt', ['setWellsHsGtFT']),
    copy () {
      let csv = 'HoleID\tFrom, m\tTo, m\tThickness, m\tGrade, m%\tGT, m%\tCategory\tOrigine\tPermeability\r\n'
      csv += this.getWellsHsGtFT.map(item => {
        return [item.HOLEID, item.DEPTH_FROM,
          item.DEPTH_TO, item.THICKNESS, item.GRADE,
          item.GT, item.CATEGORY, item.ORIGINE,
          item.PERMEABILITY_CODE].join('\t')
      }).join('\r\n')
      navigator.clipboard.writeText(csv)
    }
  }
}
</script>
