<template>
  <v-row
    no-gutters
    style="height:100%"
  >
    <v-col :cols="1"
      v-if="loading"
    >
      <Loading />
    </v-col>
    <v-col
      fill-height
      style="background-color: transparent; overflow:hidden"
    >
      <v-img
        height="100%"
        width="100%"
      >
        <l-map
          ref="map"
          style="background-color: transparent; height:100%;"
          :center="[44.23,68.92]"
          :zoom="zoom"
          :options="option1"
          :key="componentKeyForForceRendering"
        >
          <l-tile-layer url="https://{s}.tile.osm.org/{z}/{x}/{y}.png"
          :key="0"/>
          <l-geo-json
            :geojson="depositGeojson"
            > </l-geo-json>
            <l-geo-json
            :geojson="geolBlocksGeojson"
            :options="geolBlocksOptions"
            :options-style="geolBlocksStyleFunction"
            :visible="geolBlocksVisibility"
            > </l-geo-json>
          <l-geo-json
          :geojson="techBlocksGeojson"
          :options="techBlocksOptions"
          :options-style="techBlocksStyleFunction"
          :visible="techBlocksVisibility"
          > </l-geo-json>
          <l-geo-json ref="profile"
          :geojson="profilesGeojson"
          :options="profilesOptions"
          :options-style="profilesStyleFunction"
          :visible="pofileVisibility"
          > </l-geo-json>
          <l-feature-group>
            <WellCircleMarkers
                v-if="wellsDemFeatures"
                :wells="wellsDemFeatures"
                tooltip-fields="geos_dem,info"
                tooltip-separator=": "
                :radius="4"
                :fillopacity = 0.5
                fill-color = "orange"
                :visibility = "wellsDemVisibility"
                borderColor = "#8d5b01"
              />
            <WellCircleMarkers
                v-if="wellsGeosFeatures"
                :wells="wellsGeosFeatures"
                tooltip-fields="geos_dem,info"
                tooltip-separator=": "
                :radius="4"
                :fillopacity = 0.5
                fill-color = "blue"
                :visibility = "wellsGeosVisibility"
              />
            <WellCircleMarkers
                v-if="wellsGeos2023Features"
                :wells="wellsGeos2023Features"
                tooltip-fields="geos_dem,info"
                tooltip-separator=": "
                :radius="4"
                :fillopacity = 0.5
                fill-color = "blue"
                :visibility = "wellsGeos2023Visibility"
              />
            <WellCircleMarkers
                v-if="wellsGeos2022Features"
                :wells="wellsGeos2022Features"
                tooltip-fields="geos_dem,info"
                tooltip-separator=": "
                :radius="4"
                :fillopacity = 0.5
                fill-color = "blue"
                :visibility = "wellsGeos2022Visibility"
              />
            <WellCircleMarkers
              v-if="wellsGeos2020Features"
              :wells="wellsGeos2020Features"
              tooltip-fields="geos_dem,info"
              tooltip-separator=": "
              :radius="4"
              :fillopacity = 0.5
              fill-color = "blue"
              :visibility = "wellsGeos2020Visibility"
              />
            <WellCircleMarkers
              v-if="wellsGeos2010Features"
              :wells="wellsGeos2010Features"
              tooltip-fields="geos_dem,info"
              tooltip-separator=": "
              :radius="4"
              :fillopacity = 0.5
              fill-color = "blue"
              :visibility = "wellsGeos2010Visibility"
              />
            <WellCircleMarkers
              v-if="wellsGeos1999Features"
              :wells="wellsGeos1999Features"
              tooltip-fields="geos_dem,info"
              tooltip-separator=": "
              :radius="4"
              :fillopacity = 0.5
              fill-color = "blue"
              :visibility = "wellsGeos1999Visibility"
              borderColor = "blue"
            />
            <WellCircleMarkers
              v-if="wellsGeosRigFeatures"
              :wells="wellsGeosRigFeatures"
              tooltip-fields="geos_dem,info"
              tooltip-separator=": "
              :radius="8"
              :fillopacity = 0.8
              fill-color = "#2196f3"
              :visibility = "wellsGeosRigVisibility"
              borderColor = "white"
            />
            <WellCircleMarkers
              v-if="wellsDemRigFeatures"
              :wells="wellsDemRigFeatures"
              tooltip-fields="geos_dem,info"
              tooltip-separator=": "
              :radius="8"
              :fillopacity = 0.8
              fill-color = "#f7cc7e"
              :visibility = "wellsDemRigVisibility"
              borderColor = "white"
            />
        </l-feature-group>
        </l-map>
      </v-img>
    </v-col>
    <v-col
      :cols="2"
      style="height:100%;padding:5px"
    >
      <v-card style="padding-left: 5px; padding-top: 5px;">
            <span>
              Focus:
            </span>
            <v-btn
              tooltip
              fab
              small
            >
              <v-icon
                @click="flyToDeposit"
              >
                mdi-target
              </v-icon>
            </v-btn>
        <v-checkbox
          hide-details
          label="Profiles"
          :model-value="pofileVisibility"
          @click="pofileVisibility = !pofileVisibility">
        </v-checkbox>
        <v-checkbox
          hide-details
          label="Geological blocks"
          :model-value="geolBlocksVisibility"
          @click="geolBlocksVisibility = !geolBlocksVisibility">
        </v-checkbox>
        <v-checkbox
          hide-details
          label="Tech blocks"
          :model-value="techBlocksVisibility"
          @click="techBlocksVisibility = !techBlocksVisibility">
        </v-checkbox>
        <v-checkbox
          hide-details
          :model-value="wellsGeosVisibility"
          @click="wellsGeosVisibility = !wellsGeosVisibility">
          <template v-slot:label>
            <span class="checkboxLayerNameLabel"><span class="tooltip"
                    data-tooltip="Count of wells depend on selected period.">{{ wellsGeosLayerName }}</span></span>
          </template>
        </v-checkbox>
        <v-checkbox v-if="false"
          hide-details
          v-model="wellsGeos2023Visibility"
          @click="wellsGeos2023Visibility = !wellsGeos2023Visibility">
          <template v-slot:label>
            <span class="checkboxLayerNameLabel">{{ wellsGeos2023LayerName }}</span>
          </template>
        </v-checkbox>
        <v-checkbox v-if="false"
          hide-details
          v-model="wellsGeos2022Visibility"
          @click="wellsGeos2022Visibility = !wellsGeos2022Visibility">
          <template v-slot:label>
            <span class="checkboxLayerNameLabel">{{ wellsGeos2022LayerName }}</span>
          </template>
        </v-checkbox>
        <v-checkbox v-if="false"
          hide-details
          input-value="wellsGeos2020Visibility"
          @click="wellsGeos2020Visibility = !wellsGeos2020Visibility">
          <template v-slot:label>
            <span class="checkboxLayerNameLabel">{{ wellsGeos2020LayerName }}</span>
          </template>
        </v-checkbox>
        <v-checkbox v-if="false"
          hide-details
          input-value="wellsGeos2010Visibility"
          @click="wellsGeos2010Visibility = !wellsGeos2010Visibility">
          <template v-slot:label>
            <span class="checkboxLayerNameLabel">{{ wellsGeos2010LayerName }}</span>
          </template>
        </v-checkbox>
        <v-checkbox v-if="false"
          hide-details
          input-value="wellsGeos1999Visibility"
          @click="wellsGeos1999Visibility = !wellsGeos1999Visibility">
          <template v-slot:label>
            <span class="checkboxLayerNameLabel">{{ wellsGeos1999LayerName }}</span>
          </template>
        </v-checkbox>
        <v-checkbox
          hide-details
          class="shrink mr-2"
          :model-value="wellsDemVisibility"
          true-value="true"
          false-value="false"
          @click="wellsDemVisibility = !wellsDemVisibility">
          <template v-slot:label>
            <span class="checkboxLayerNameLabel"><span class="tooltip"
                    data-tooltip="Count of wells depend on selected period.">{{ wellsDemLayerName }}</span></span>
          </template>
        </v-checkbox>
        <v-checkbox
          hide-details
          class="shrink mr-2"
          :model-value="wellsGeosRigVisibility"
          @click="wellsGeosRigVisibility = !wellsGeosRigVisibility">
          <template v-slot:label>
            <span class="checkboxLayerNameLabel">{{ wellsGeosRigLayerName }}</span>
          </template>
        </v-checkbox>
        <v-checkbox
          hide-details
          class="shrink mr-2"
          :model-value="wellsDemRigVisibility"
          @click="wellsDemRigVisibility = !wellsDemRigVisibility">
          <template v-slot:label>
            <span class="checkboxLayerNameLabel">{{ wellsDemRigLayerName }}</span>
          </template>
        </v-checkbox>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>

import f from '@/store/fetch.js'

export default {
  name: 'RCMapByDeposit',
  props: {
    depositName: { type: String, default: '' },
    QueryDateFrom: { type: String, default: '' },
    QueryDateTo: { type: String, default: '' },
    placeholder: { type: String, default: '00' }
  },
  data () {
    return {
      componentKeyForForceRendering: 0,
      showMap: true,
      zoom: 17,
      permanentTooltip: false,
      enableTooltip: true,
      option1: { name: '1' },
      depositData: null,
      depositGeojson: null,
      depositBound: null,
      geolBlocksData: null,
      geolBlocksGeojson: null,
      techBlocksData: null,
      techBlocksGeojson: null,
      fillColor: '#e4ce7f',
      wellsFeatures: null,
      wellsVisibility: true,
      profilesGeojson: null,
      pofileVisibility: true,
      geolBlocksVisibility: true,
      techBlocksVisibility: true,
      wellsGeos2023Visibility: true,
      wellsGeos2023Features: null,
      wellsGeos2023LayerName: 'Wells GEOS 2023',
      wellsGeos2022Visibility: true,
      wellsGeos2022Features: null,
      wellsGeos2022LayerName: 'Wells GEOS 2021-2022',
      wellsGeos2020Visibility: true,
      wellsGeos2020Features: null,
      wellsGeos2020LayerName: 'Wells GEOS 2011-2020',
      wellsGeos2010Visibility: true,
      wellsGeos2010Features: null,
      wellsGeos2010LayerName: 'Wells GEOS 2000-2010',
      wellsGeos1999Visibility: true,
      wellsGeos1999Features: null,
      wellsGeos1999LayerName: 'Wells GEOS before 2000',
      wellsDemFeatures: null,
      wellsDemVisibility: false,
      wellsDemLayerName: 'Wells DEM',
      wellsGeosRigVisibility: true,
      wellsGeosRigFeatures: null,
      wellsGeosRigLayerName: 'RIGs GEOS',
      wellsDemRigVisibility: true,
      wellsDemRigFeatures: null,
      wellsDemRigLayerName: 'RIGs DEM',
      wellsGeosLayerName: 'Wells GEOG',
      wellsGeosFeatures: null,
      wellsGeosVisibility: true
    }
  },
  computed: {
    getLayerNameForGeosWells (text, varname) {
      return text + ' - ' + varname
    },
    loading () {
      let res = true
      if ((this.depositBound)) res = false
      return res
    },
    geolBlocksOptions () {
      return { onEachFeature: this.geolBlocksOnEachFeatureFunction }
    },
    geolBlocksStyleFunction () {
      const fillColor = '#ffcccc' // important! need touch fillColor in computed for re-calculate when change fillColor
      return () => {
        return {
          weight: 0.6,
          color: '#957171',
          opacity: 0.5,
          fillColor,
          fillOpacity: 0.65
        }
      }
    },
    geolBlocksOnEachFeatureFunction () {
      if (!this.enableTooltip) {
        return () => {}
      }
      return (feature, layer) => {
        layer.bindTooltip(
          '<div>Geological  block: ' +
            feature.properties.info +
            '</div>',
          { permanent: false, sticky: true }
        )
      }
    },
    techBlocksOptions () {
      return { onEachFeature: this.techBlocksOnEachFeatureFunction }
    },
    techBlocksStyleFunction () {
      // const fillColor = '#ffcccc' // important! need touch fillColor in computed for re-calculate when change fillColor
      return () => {
        return {
          weight: 0.7,
          color: 'magenta',
          opacity: 0.65,
          fillColor: '#ffffff',
          fillOpacity: 0.2
        }
      }
    },
    techBlocksOnEachFeatureFunction () {
      if (!this.enableTooltip) {
        return () => {}
      }
      return (feature, layer) => {
        layer.bindTooltip(
          '<div>Technology block: ' +
            feature.properties.info +
            '</div>',
          { permanent: false, sticky: true }
        )
      }
    },
    profilesOptions () {
      return {
        onEachFeature: this.profilesOnEachFeatureFunction
      }
    },
    profilesStyleFunction () {
      return () => {
        return {
          weight: 1.5,
          color: '#020202',
          opacity: 0.65,
          fillColor: '#ffffff',
          fillOpacity: 0.2
        }
      }
    },
    profilesOnEachFeatureFunction () {
      if (!this.enableTooltip) {
        return () => {}
      }
      return (feature, layer) => {
        layer.bindTooltip(
          '<div>Profile: ' +
            feature.properties.info +
            '</div>',
          { permanent: false, sticky: true }
        )
      }
    }
  },
  watch: {
    depositName () {
      this.depositBound = null
      this.setDepositShape()
      this.setGeologyBlocksShape()
      this.setTechBlocksShape()
      this.setWellsShape()
      this.setProfilesShape()
      this.setWellsRisShape()
    }
  },
  methods: {
    techBlocsCount (count) {
      this.$emit('CountOfTechBlocs', count)
    },
    setDepositShape () {
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=DEPOSIT_SHAPE&p1=' + this.depositName + '&p2=DEPO&p3=0'
      f.fget(url)
        .then(res => {
          this.depositData = res.content
          const arr = []
          res.content.forEach(element => {
            element.geojson.features.forEach(el2 => {
              arr.push(el2)
            })
          })
          this.depositGeojson = arr
          // making bound box for Flyto. Get attribute "bounds", that contain coordinates
          const bound = res.content[0].geojson.features[0].properties.bounds.replace(/[^\w ,.]/g, ' ')
          const splited = bound.split(',')
          this.depositBound = [[parseFloat(splited[0]), parseFloat(splited[1])], [parseFloat(splited[2]), parseFloat(splited[3])]]
          this.flyToDeposit()
          // this.forceRerender() // call this function for apply this.depoJSON
        })
    },
    setGeologyBlocksShape () {
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=DEPOSIT_SHAPE&p1=' + this.depositName + '&p2=GEOLBLOCKS&p3=0'
      f.fget(url)
        .then(res => {
          const arr = []
          res.content.forEach(element => {
            element.geojson.features.forEach(el2 => {
              // add atribute into feature for show as popup window on map
              el2.properties.info = element.info
              arr.push(el2)
            })
          })
          this.geolBlocksGeojson = arr
        })
    },
    setTechBlocksShape () {
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=DEPOSIT_SHAPE&p1=' + this.depositName + '&p2=TECHBLOCKS&p3=0'
      f.fget(url)
        .then(res => {
          const arr = []
          res.content.forEach(element => {
            element.geojson.features.forEach(el2 => {
              el2.properties.info = element.info
              arr.push(el2)
            })
          })
          this.techBlocksGeojson = arr
          this.techBlocsCount(this.techBlocksGeojson.length) // return value to parent pontrol
        })
    },
    setWellsShape () {
      this.wellsGeosFeatures = []
      this.wellsDemFeatures = []
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=DEPOSIT_SHAPE_WELLS&p1=' + this.depositName + '&p2=' + this.QueryDateFrom + ' 00:00:00' + '&p3=' + this.QueryDateTo + ' 23:59:59.999'
      f.fget(url)
        .then(res => {
          res.content.forEach(element => {
            const el = []
            el.id = element.OBJECTID
            el.info = element.info
            el.year = 0
            if (element.info2) {
              const year = element.info2.substr(6, 5).replace('-', '').replace(' ', '') // getting only Year
              el.year = parseInt(year)
              el.info = element.info + ' ' + el.year
            }
            el.LAT = element.lat
            el.LON = element.lon // [38.6109607, -90.2050322]
            if (element.geojson === 1) { // GEOS
              el.geos_dem = 'GEOS'
              this.wellsGeosFeatures.push(el)
            } else {
              el.geos_dem = 'DEM'
              this.wellsDemFeatures.push(el)
            }
          })
          this.wellsDemLayerName = 'Wells DEM (' + this.wellsDemFeatures.length + ')'
          this.wellsGeosLayerName = 'Wells GEOS (' + this.wellsGeosFeatures.length + ')'
        })
    },
    setProfilesShape () {
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=DEPOSIT_SHAPE&p1=' + this.depositName + '&p2=PROF&p3=0'
      f.fget(url)
        .then(res => {
          const arr = []
          res.content.forEach(element => {
            element.geojson.features.forEach(el2 => {
              el2.properties.info = element.info
              arr.push(el2)
            })
          })
          this.profilesGeojson = arr
        })
    },
    setWellsRisShape () {
      this.wellsGeosRigFeatures = []
      this.wellsDemRigFeatures = []
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=DEPOSIT_SHAPE&p1=' + this.depositName + '&p2=RIGS&p3=0'
      f.fget(url)
        .then(res => {
          res.content.forEach(element => {
            const el = []
            el.id = element.OBJECTID
            el.info = element.info
            el.LAT = element.lat
            el.LON = element.lon // [38.6109607, -90.2050322]
            if (element.geojson === 1) { // GEOS
              el.geos_dem = 'RIG GEOS'
              this.wellsGeosRigFeatures.push(el)
            } else {
              el.geos_dem = 'RIG DEM'
              this.wellsDemRigFeatures.push(el)
            }
          })
          this.wellsGeosRigLayerName = 'RIGs GEOS (' + this.wellsGeosRigFeatures.length + ')'
          this.wellsDemRigLayerName = 'RIGs DEM (' + this.wellsDemRigFeatures.length + ')'
        })
    },
    forceRerender () {
      this.componentKeyForForceRendering += 1
    },
    flyToDeposit () {
      if (this.depositBound && this.$refs.map) {
        this.$refs.map.leafletObject.flyToBounds(this.depositBound, { duration: 0.5 })
      }
    }
  },
  mounted () {
    this.setDepositShape()
    this.setGeologyBlocksShape()
    this.setTechBlocksShape()
    this.setWellsShape()
    this.setProfilesShape()
    this.setWellsRisShape()
    /* this.geojson = [{
      type: 'Feature',
      geometry: {
        type: 'Polygon',
        coordinates: [[[69.257566992972485, 44.600218082846794], [69.222103550543906, 44.600296634353555], [69.216519426470967, 44.600330584712388], [69.226319504178790, 44.587669180878684], [69.226742084336550, 44.587673386304381], [69.229954336582523, 44.587705305046271], [69.231181174314457, 44.587748967909000], [69.232133106155416, 44.587791738858243], [69.232317783808213, 44.587800035542564], [69.234506319799777, 44.587898334191578], [69.234564114108380, 44.587900929561961], [69.234658980857063, 44.588070315538076], [69.235834658012848, 44.590169414960641], [69.235880440888963, 44.590251154634359], [69.245764576234691, 44.587945148171137], [69.252546970133210, 44.586362204022777], [69.257556211728740, 44.585668922425455], [69.257566992972485, 44.600218082846794]]]
      }
    }] */
  }
}
</script>

<style scoped>
.checkboxLayerNameLabel {
   font-size: 14px;
}

</style>
