<template>
  <v-row
    no-gutters
    style="height:100%"
  >
    <!-- If data hasn't came yet show Loading indicator by user-defined component-->
    <v-col
      v-if="loading"
      :cols="12"
    >
      <Loading />
    </v-col>
    <v-col
      :cols="10"
      fill-height
      style="background-color: transparent; overflow:hidden"
    >
      <v-img
        height="100%"
        width="100%"
      >
        <l-map
          ref="map"
          style="background-color: transparent; height:100%;"
          :center="[44.23,68.92]"
          :zoom="zoom"
          :options="{ preferCanvas: false }"
          @ready="flyToBlockWithIdle()"
        >
          <l-tile-layer url="https://{s}.tile.osm.org/{z}/{x}/{y}.png" />

          <l-feature-group
            v-if="getWellsgtmapFT"
            ref="wellpoints"
          >
            <l-feature-group
              v-for="legendItem in legendItems"
              :key="legendItem.value"
            >
              <WellCircleMarkers
                v-if="getWellsBy(legendItem.filterColumn,legendItem.filterArray)"
                :wells="getWellsBy(legendItem.filterColumn,legendItem.filterArray)"
                tooltip-fields="HOLEID,Z"
                tooltip-separator=", Z: "
                :radius="5"
                :fill-color="legendItem.color"
              />
            </l-feature-group>
            <l-feature-group
              v-if="activeWell"
            >
              <WellCircleMarkers
                v-if="activeWell"
                :wells="activeWell"
                tooltip-fields="HOLEID,Z"
                tooltip-separator=", Z: "
                :radius="5"
                fill-color="yellow"
                permanent-tooltip
              />
            </l-feature-group>
            <l-feature-group
              v-if="getBlockShape"
              ref="shape"
            >
            <l-geo-json :geojson="getBlockShape"
              v-if="showBlockPolygon()"/>
            </l-feature-group>
          </l-feature-group>
        </l-map>
      </v-img>
    </v-col>
    <v-col
      :cols="2"
      style="height:100%;padding:5px"
    >
      <v-card>
        <span>
          Focus:
        </span>
        <v-btn
          fab
        >
          <v-icon
            @click="flyToBlockPressed()"
          >
            mdi-target
          </v-icon>
        </v-btn>
      </v-card>
      <v-card
        dense
      >
        <v-card-text dense>
          <p><b><u>Legend:</u></b></p>
          <p>Drillhole purpose:</p>
        </v-card-text>
      </v-card>
      <!--Legend elements generated by v-for with legendItems in data-->
      <v-card
        v-for="legendItem in legendItems"
        :key="legendItem.value"
        dense
        style="background-color:white"
      >
        <svg-circle
          :size="12"
          stroke="black"
          :fill="legendItem.color"
        />
        <small
          style="color:blue"
        >
          {{ legendItem.value }}
        </small>
      </v-card>
      <v-card
        v-if="showSelectedWellInLegend"
        dense
        style="background-color:white"
      >
        <svg-circle
          :size="12"
          fill="yellow"
          stroke="black"
        />
        <small
          style="color:blue"
        >
          SELECTED WELL
        </small>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
/* eslint new-cap: ["error", { "newIsCap": false }] */
// eslint-disable @typescript-eslint/camelcase
import { mapGetters } from 'vuex'

export default {
  name: 'RCMapSelector',
  props: {
    showSelectedWellInLegend: { type: Boolean, default: false }
  },
  data () {
    return {
      showMap: true,
      zoom: 17,
      activeWell: null,
      permanentTooltip: false,
      legendItems: [
        // Used tool for color picking from screenshot, png - https://imagecolorpicker.com/
        {
          value: 'PRODUCT + DVPT-PROD',
          filterColumn: 'HolePurpose',
          filterArray: ['PRODUCT', 'DVPT-PROD'],
          color: '#ff0000'
        },
        {
          value: 'INJECT + DVPT-INJECT',
          filterColumn: 'HolePurpose',
          filterArray: ['INJECT', 'DVPT-INJECT'],
          color: '#ffa500'
        },
        {
          value: 'DVPT + EXPLO',
          filterColumn: 'HolePurpose',
          filterArray: ['DVPT', 'EXPLO'],
          color: '#0000ff'
        },
        {
          value: 'HYDRO',
          filterColumn: 'HolePurpose',
          filterArray: ['PIEZO', 'EAU', 'CONTROLE', 'WATER'],
          color: '#7fffd4'
        }
      ]
    }
  },
  computed: {
    ...mapGetters('tblocks', ['getTDeposBounds', 'getTBlocksBounds', 'getGeos3DBounds']),
    ...mapGetters('wellsgtmap', ['getWellsgtmapFT']),
    ...mapGetters('bhistory', ['getBlockShape']),
    ...mapGetters('ui2', ['getShapeType']),
    ...mapGetters('wells', ['getWellsFT', 'getActiveWell']),
    block () {
      return this.$route.params.p1
    },
    bounds () {
      if (this.getShapeType.type === 'TB_DEM') return this.getTBlocksBounds
      else if (this.getShapeType.type === '3D_GEOS') return this.getGeos3DBounds
      else if (this.getShapeType.type === 'TB_GEOS') return this.getTBlocksBounds
      else if (this.getShapeType.type === 'DEPO') return this.getTDeposBounds
      else return null
    },
    loading () {
      let res = true
      if ((this.bounds) && (this.getWellsgtmapFT) && (this.getBlockShape)) res = false
      return res
    }
  },
  watch: {
    getWellsgtmapFT () {
      this.flyToBlock(this.block)
    },
    bounds () {
      this.flyToBlock(this.block)
    },
    getActiveWell () {
      if (this.getActiveWell) {
        this.activeWell = this.getWellsBy('HOLEID', this.getActiveWell)
      }
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      if (this.block) this.flyToBlock(this.block)
    })
  },
  methods: {
    flyToBlockPressed () {
      this.flyToBlock(this.block)
    },
    flyToBlock (blockName) {
      //console.info('rv00. flyToBlock (blockName) started.')
      if (this.bounds && this.$refs.map && this.$refs.map.leafletObject) {
        //console.info('rv00. ', this.bounds, ', this.bounds[blockName] = ', this.bounds[blockName] )
        if (this.bounds[blockName]) {
          // console.log('rv01. this.bounds[blockName] = ', this.bounds[blockName])
          const bounds = this.bounds[blockName]
          // this.$refs.map.mapObject.flyToBounds(bounds, { duration: 0.5 })
          const mapL = this.$refs.map.leafletObject
          mapL.flyToBounds(bounds)
        }
      } else {
        // console.log('rv02.flyToBlock failed.')
      }      
    },
    flyToBlockWithIdle () {
      // console.log('flyToBlockWithIdle started')
      setTimeout(() => {
        this.flyToBlock(this.block)
          }, 1000);
    },
    getWellsByRange (Field, ValueMin, ValueMax) {
      return (
        this.getWellsFT || []).filter(item => {
        return (
          (item[Field] >= ValueMin) && (item[Field] < ValueMax)
        )
      }
      )
    },
    getWellsBy (Field, Value) {
      return (
        this.getWellsFT || []).filter(item => {
        return (Value.indexOf(item[Field]) >= 0)
      }
      )
    },
    showBlockPolygon () {
      return (this.getShapeType.type !== 'DEPO')
    }
  }
}
</script>
<style scoped>

</style>
