<template>
  <v-row
    no-gutters
    style="height:100%"
  >
    <v-col
      v-if="loading"
      :cols="12"
    >
      <Loading />
    </v-col>
    <v-col
      :cols="10"
      fill-height
      style="background-color: transparent; overflow:hidden"
    >
      <v-img
        height="100%"
        width="100%"
      >
       <!--  <div id="map1" style="height: 360px; z-index: 10000;"></div> -->

        <l-map
          ref="map"
          style="background-color: transparent; height:100%;"
          :center="[44.23,68.92]"
          :zoom="zoom"
          :options="{ preferCanvas: false }"
          @ready="setBHistoryGet()"
        >
          <l-tile-layer url="https://{s}.tile.osm.org/{z}/{x}/{y}.png" />

          <l-feature-group
            v-if="getWellsgtmapFT"
            ref="wellpoints"
          >
            <l-feature-group
              id="wellMarkersGroupLayer"
              v-for="legendItem in legendItems"
              :key="legendItem.value"
            >
              <WellCircleMarkers
                v-if="getWellsByRange('GT_U_RECOV_sum',legendItem.ValueMin,legendItem.ValueMax)"
                :wells="getWellsByRange('GT_U_RECOV_sum',legendItem.ValueMin,legendItem.ValueMax)"
                tooltip-fields="HOLEID,GT_U_RECOV_sum"
                tooltip-separator=", GT sum: "
                :radius="5"
                :fill-color="legendItem.color"
              />
            </l-feature-group>
            <l-feature-group
              v-if="getBlockShapeData"
              ref="shape"
            >
            <l-geo-json :geojson="getBlockShapeData"
              id="blockShapeGroupLayer"
              v-if="showBlockPolygon()"/>
            </l-feature-group>
          </l-feature-group>
        </l-map>
      </v-img>
    </v-col>
    <v-col
      :cols="2"
      style="height:100%;padding:5px"
    >
      <v-card>
        <span>
          Focus:
        </span>
        <v-btn
          fab
        >
          <v-icon
            @click="flyToCoordBox()"
          >
            mdi-target
          </v-icon>
        </v-btn>
      </v-card>
      <v-card
        dense
      >
        <v-card-text dense>
          <p><b><u>Legend:</u></b></p>
          <p>Atomgeo GT sum by a well:</p>
        </v-card-text>
      </v-card>
      <!--Legend elements generated by v-for with legendItems in data-->
      <v-card
        v-for="legendItem in legendItems"
        :key="legendItem.value"
        dense
        style="background-color:white"
      >
        <svg-circle
          :size="12"
          stroke="black"
          :fill="legendItem.color"
        />
        <small
          style="color:blue"
        >
          {{ legendItem.value }}
        </small>
      </v-card>
    </v-col>
  </v-row>
</template>

<script setup>
 //  import {LMap, LTileLayer, LMarker, LCircleMarker, LLayerGroup, l-feature-group, LTooltip, LGeoJson, LPopup, LIcon } from "@vue-leaflet/vue-leaflet"

</script>

<script>

import { mapGetters } from 'vuex'
import f from '@/store/fetch.js'

export default {
  name: 'RCMapSelector2',
  props: {
    showSelectedWellInLegend: { type: Boolean, default: false }
  },
  data () {
    return {
      showMap: true,
      zoom: 17,
      permanentTooltip: false,
      legendItems: [
        // https://imagecolorpicker.com/
        {
          value: '>0.25',
          ValueMin: 0.25,
          ValueMax: 9999,
          color: '#e60000'
        },
        {
          value: '0.06-0.25',
          ValueMin: 0.06,
          ValueMax: 0.25,
          color: '#ffaa00'
        },
        {
          value: '0.04-0.06',
          ValueMin: 0.04,
          ValueMax: 0.06,
          color: '#55ff00'
        },
        {
          value: '0.02-0.04',
          ValueMin: 0.02,
          ValueMax: 0.04,
          color: '#00c5ff'
        },
        {
          value: '0.00-0.02',
          ValueMin: 0,
          ValueMax: 0.02,
          color: '#b3b3b3'
        }
      ],
      getBlockShapeData: null,
      blockBoundsCoords: null
    }
  },
  computed: {
    //...mapGetters('tblocks', ['getTDeposBounds', 'getTBlocksBounds', 'getGeos3DBounds']),
    ...mapGetters('tblocks', ['getTDeposBounds', 'getGeos3DBounds']),
    ...mapGetters('wellsgtmap', ['getWellsgtmapFT']),
    // ...mapGetters('bhistory', ['getBlockShape']),
    ...mapGetters('ui2', ['getShapeType']),
    block () {
      return this.$route.params.p1
    },
    bounds () {
      // console.log('bounds. this.getShapeType.type = ', this.getShapeType.type)
      if (this.getShapeType.type === 'TB_DEM') return this.blockBoundsCoords
      else if (this.getShapeType.type === '3D_GEOS') return this.getGeos3DBounds
      else if (this.getShapeType.type === 'TB_GEOS') return this.blockBoundsCoords
      else if (this.getShapeType.type === 'DEPO') return (this.getTDeposBounds)
      else return null
    },
    loading () {
      let res = true
      if ((this.bounds) && (this.getWellsgtmapFT) && (this.getBlockShapeData)) res = false
      return res
    }
  },
  watch: {
    block () {
      this.setBHistoryGet()
    }
  },
  mounted: function () {
  },
  methods: {
    setTBlocksBounds () {
      if (!this.getBlockShapeData) {
        return null
      }
      // calcualte envilope of block
      let xmin = 180
      let xmax=0
      let ymin = 180
      let ymax=0
      const faturesList = this.getBlockShapeData.features

      // const listOfCoords = this.getBlockShapeData.features[0].geometry.coordinates[0]
      faturesList.forEach(element => {
        let listOfCoords = element.geometry.coordinates[0]
        // console.log('list = ', listOfCoords)
        let i=0
        listOfCoords.forEach(el => {
          i +=1
          // console.log('i=',i,', x=', el[0], ', y=', el[1])
          xmin = ((el[0]<xmin)?el[0]: xmin) 
          xmax = ((el[0]>xmax)?el[0]: xmax) 
          ymin = ((el[1]<ymin)?el[1]: ymin) 
          ymax=  ((el[1]>ymax)?el[1]: ymax) 
        });
      });
      // console.log('coords = ',xmin, xmax, ymin, ymax)
      this.blockBoundsCoords = [[ymin,xmin], [ymax,xmax]]
      // console.log('coordBox = ', this.blockBoundsCoords)
    },
    setBHistoryGet () {
      const payload = []
      payload[0] = this.block
      payload[1] = this.getShapeType.type

      let url = ''
      if (payload[1] === 'TB_DEM') {
        url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/bh/tblockgeojson.aspx?tblock=' + payload[0]
      } else if (payload[1] === 'TB_GEOS') {
        url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=' + 'BH_TBLOCK_GEOS_GEOJSON' + '&p1=' + payload[0] + '&orderby=' + 'GDB_FROM_DATE'
      } else if (payload[1] === '3D_GEOS') {
        url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=' + 'BH_3D_GEOJSON' + '&p1=' + payload[0]
      } else if (payload[1] === 'DEPO') {
        url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/bh/tblockgeojson.aspx?tblock=' + payload[0] + '&type=' + payload[1]
      }
      f.fget(url)
        .then(res => {
          // console.log(' res.content = ', res.content)
          const blockShapeList = res.content
          // console.log('R01. blockShapeList = ', blockShapeList)
          // this.getBlockShapeData = blockShapeList[blockShapeList.length - 1].geojson
          this.getBlockShapeData = blockShapeList.pop().geojson // get last item's geojson
          // console.log('R02. this.getBlockShapeData = ', this.getBlockShapeData)
          this.setTBlocksBounds()
          // console.log('R03. this.blockBoundsCoords = ', this.blockBoundsCoords)
          setTimeout(() => {
            this.setBlockShapeToBackOfMap()
            this.flyToCoordBox()
          }, 1000);
          
        })
    },
    flyToCoordBox () {
      //console.info('v00. flyToCoordBox started ')
      if (this.blockBoundsCoords) {
        const coordBox = this.blockBoundsCoords
        const mapL = this.$refs.map.leafletObject
       // console.log('v01. mapL = ', mapL, this.$refs.map)
        mapL.flyToBounds(coordBox)
        //console.log('v02. flyToBounds complete! coordBox = ', coordBox)
      } else {
        //console.warn('v03. this.blockBoundsCoords is null!')
      }
    },
    setBlockShapeToBackOfMap() {
      // ставит полигональный слой Блока ниже других слоев. Чтобы объекты слои 
      if (this.$refs && this.$refs.map) {
        const mapL = this.$refs.map.leafletObject
        mapL.eachLayer(function(layer) {
          if (layer instanceof L.Polygon) {
            layer.bringToBack();
          }
        });
      }
    },
    getWellsByRange (Field, ValueMin, ValueMax) {
      return (
        this.getWellsgtmapFT || []).filter(item => {
        return (
          (item[Field] >= ValueMin) && (item[Field] < ValueMax)
        )
      }
      )
    },
    showBlockPolygon () {
      return (this.getShapeType.type !== 'DEPO')
    }

  }
}
</script>
<style scoped>

</style>
