<template>
  <v-row>
    <v-col :cols="12">
      <v-card>
        <h1>About page !</h1><br>
        <h3>This is sandbox for test routes.</h3><br>
        
      </v-card>
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'HomePage',
  components: {},
  mounted () {
    this.$store.state.activePage = 'Home'
    this.$store.state.activeVersion = '1.0.2'
  }
}

</script>
