<template>
  <div class="ma-0">
    <v-row class="ma-0">
      <v-col cols="3" 
        class="pa-2">
            <v-card
            :height="tableDataHeight">
            <v-card-title>List of users</v-card-title>
            <UserList
              @AccountName="getAccountName"
              @AccountRid="getAccountRid"
            />
          </v-card>
      </v-col>
      <v-col cols="3"
        class="pa-2"
        fill-height
      >
        <v-card
          :height="tableDataHeight"
        >
        <v-card-title>Groups of &nbsp; <span class="font-weight-bold">{{ currentAccountName }}</span></v-card-title>
        <GroupsList
              :userAccountName="currentAccountName"
              :userAccountRid="currentAccountRid"
              @GroupName="getGroupName"
              @GroupRid="getGroupRid"
            />
        </v-card>
      </v-col>
      <v-col cols="4"
        class="pa-2"
        fill-height
      >
        <v-card
          :height="tableDataHeight"
        >
        <v-card-title>List of routs for &nbsp; <span class="font-weight-bold">{{ currentGroupName }}</span></v-card-title>
        <RoutesOfGroup
              :routeGroupName="currentGroupName"
              :routeGroupRid="currentGroupRid"
            />
        </v-card>
      </v-col>
      <v-col cols="2"
        class="pa-2"
        fill-height
      >
        <v-card
          :height="tableDataHeight"
          class="pa-2"
        >
        About administration:
        <a
          href="https://dev.azure.com/orano/DevOps%20BU%20Mines/_wiki/wikis/Wiki%20of%20Katco%20DMG/2810/%D0%90%D0%B4%D0%BC%D0%B8%D0%BD%D0%BA%D0%B0-IDCARD-%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BF%D1%80%D0%B0%D0%B2%D0%B0%D0%BC%D0%B8"
          target="_blank">
        Wiki Katco
        </a>
      </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
// import { mapGetters } from 'vuex'

export default {
  name: 'AdminRightsDT',
  data () {
    return {
      currentAccountName: '',
      currentAccountRid: '-1',
      currentGroupName: '',
      currentGroupRid: '-1',
      tableDataHeight: 0,
    }
  },
  mounted: function () {
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
    this.onResize()
  },
  methods: {
    // getting info from UserAccount component
    getAccountName (payload) {
      this.currentAccountName = payload
    },
    getAccountRid (payload) {
      this.currentAccountRid = payload
    },
    // getting info from Group component
    getGroupName (payload) {
      this.currentGroupName = payload
    },
    getGroupRid (payload) {
      this.currentGroupRid = payload
    },
    onResize () {
      this.tableDataHeight = window.innerHeight - 120
    },
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  }
}
</script>
