<template>
  <v-card
    class="mx-auto overflow-y-auto"
    max-width="95%"
    :height="tableDataHeight"
    tile
  >
    <v-list dense
    
      >
      <!-- <v-list-item-group
        color="success"
      > -->
        <v-list-item
          v-for="(item, i) in tableData"
          :key="i"
          :value="item"
          class="pt-3"
          color="success"
          @click="listItemSelected(item.groupname, item.group_rid)"
        >
        <template v-slot:prepend="{ isActive }">
          <v-list-item-action>
              <v-checkbox-btn
                class="pr-2 pb-2"
                :model-value="item.value"
                color="success"
                @change="checkBoxChaged($event, item)"
                :key="item.group_rid"
              ></v-checkbox-btn>
              <v-icon icon=mdi-account-multiple></v-icon>
          </v-list-item-action>
        </template>
          <!-- <v-list-item-content> -->
            <v-list-item-title
              class="font-weight-bold"
              > {{ item.groupname }}</v-list-item-title>
            <v-list-item-subtitle>acc: {{ item.account }}</v-list-item-subtitle>
          <!-- </v-list-item-content> -->
        </v-list-item>
      <!-- </v-list-item-group> -->
    </v-list>
  </v-card>
</template>

<script>
import f from '@/store/fetch.js'

export default {
  name: 'GroupsList',
  props: {
    userAccountName: String,
    userAccountRid: String
  },
  data () {
    return {
      tableData: [],
      selectedItem: -1,
      keyRenderList: 0,
      tableDataHeight: window.innerHeight - 180
    }
  },
  watch: {
    userAccountName () {
      this.setUserlist()
    }
  },
  methods: {
    listItemSelected (group, rid) {
      this.$emit('GroupName', group)
      this.$emit('GroupRid', rid)
    },
    checkBoxChaged (event, item) {
      // console.log('h01. checkBoxChaged started event =', event, ', item=', item)
      const target = event.target.control ?? event.target
      // console.log( 'h02. target.checked = ', target.checked)
      const flag = (target.checked) ? 1 : 2
      this.setGrantToUser(flag, item.group_rid, this.userAccountRid)
      item.value = !item.value
    },
    setUserlist () {
      if (!this.userAccountName) return
      this.tableData = []
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=PORTAL_ROUTEGROUPS_BY_USERNAME&p1=' + this.userAccountName
      f.fget(url)
        .then(res => {
          if (res.error) {
            console.log('Error in setUserlist: ', res.error)
            return
          }
          const arr = res.content
          arr.forEach(el => {
            if (el.account === '') {
              el.class = ''
              el.value = false
            } else {
              el.class = 'tile-green'
              el.value = true
            }
          })
          this.tableData = arr
        })
    },
    setGrantToUser (grant, groupRid, userRid) {
      // console.log('h02. setGrantToUser started')
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/execsp1.aspx?tfn=PORTAL_SET_GROUPTOUSERS&p1=' + grant + '&p2=' + groupRid + '&p3=' + userRid + '&p4=0&p5=1'
      // console.log('h03. url = ', url)
      f.fget(url)
        .then(res => {
          // console.log('h04. res = ', res)
          if (res.content[0].status !== 'OK') {
            this.dialogMessageText = res.content[0].status
            this.dialog = true
          }
        })
    },
    onResize () {
      this.tableDataHeight = window.innerHeight - 180
    }
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  },
  mounted () {
    this.setUserlist()
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
  }
}
</script>
<!-- 
<style scoped>
  .tile-green {
    margin-top: 2px;
   /*  background: rgb(215, 243, 215) */
  }
</style>
 -->