<template>
  <v-card
    class="mx-auto overflow-y-auto"
    max-width="95%"
    tile
    :height="tableDataHeight"
  >
  <v-toolbar color="green"
      dark>
      <v-toolbar-title
      class="mr-1 text-body-1 font-weight-medium">Routes</v-toolbar-title>
      <v-text-field class="text-body-1"
        flat
        label="Search"
        prepend-inner-icon="mdi-magnify"
        solo-inverted
        v-model="search"
        single-line
        clearable
        hide-details
        @click:clear="clearSearch">
        Search
      </v-text-field>
    </v-toolbar>
    <v-list dense>
      <!-- <v-subheader>Right of &nbsp; <span class="font-weight-bold">{{ routeGroupName }}, rid={{ routeGroupRid }}</span></v-subheader> -->
      <!-- <v-list-item-group
        color="success"
      > -->
        <v-list-item
          v-for="(item, i) in filteredItems"
          :key="i"
          :item="item"
          color="success"
          :class="item.class"
        >
          <template v-slot:prepend="{ isActive }">
            <v-list-item-action>
              <v-checkbox-btn
                class="pr-3"
                :model-value="item.value"
                color="success"
                @change="checkBoxChaged($event, item)"
                :key="item.route_rid"
              ></v-checkbox-btn>
              <v-icon icon=mdi-drawing-box></v-icon>
            </v-list-item-action>
          </template>
         <!--  <v-list-item-content> -->
            <v-list-item-title
              class="font-weight-bold"
              > {{ item.route_comment }}</v-list-item-title>
            <v-list-item-subtitle>{{ item.routepath }}</v-list-item-subtitle>
          <!-- </v-list-item-content> -->
        </v-list-item>
      <!-- </v-list-item-group> -->
      <DialogComponent v-if="showDialogwindow"
        :title="dialogTitle"
        :message="dialogMessage"
        :objectToStore="objectToStoreInDialog"
        :show-button-yes="true"
        :show-button-no="true"
        :key = "keyRenderDialog"
        @ReturnPressedKey = "getReturnPressedKey"
        />
    </v-list>
  </v-card>
</template>

<script>
import f from '@/store/fetch.js'
import _ from 'lodash'

export default {
  name: 'RoutesOfGroup',
  props: {
    routeGroupName: String,
    routeGroupRid: String
  },
  data () {
    return {
      tableData: [],
      selectedItem: -1,
      keyRenderList: 0,
      showDialogwindow: false,
      keyRenderDialog: 1000,
      objectToStoreInDialog: null,
      dialogTitle: 'Message',
      dialogMessage: '',
      search: '',
      tableDataHeight: window.innerHeight - 180
    }
  },
  watch: {
    routeGroupName () {
      this.setUserlist()
    }
  },
  computed: {
    filteredItems () {
      return _.orderBy(this.tableData.filter(item => {
        if (!this.search) return this.tableData
        return (item.routepath.toLowerCase().includes(this.search.toLowerCase()) ||
                      item.route_comment.toLowerCase().includes(this.search.toLowerCase()))
      }), 'account')
    }
  },
  methods: {
    clearSearch () {
      this.search = ''
    },
    getReturnPressedKey (payload) {
      this.showDialogwindow = false
      if (payload.key === 'Yes') {
        this.setGrantToUser(payload.obj.flag, payload.obj.route_rid, payload.obj.routeGroupRid)
      } else {
        this.setUserlist()
      }
    },
    checkBoxChaged (event, item) {
      const target = event.target.control ?? event.target
      // console.log('checkBoxChaged. item = ', item, ', route_rid = ', item.route_rid, ', user_rid = ', item.group_rid, ',ug_rid = ', item.ug_rid)
      // Собираем значения для передачи в Диалог, и после подтверждения в Дилоге отработает функция "getReturnPressedKey (payload)"
      this.dialogMessage = 'Измение затронет всех пользователей подключенных к данной группе прав [' + this.routeGroupName + '] ! Выполнить операцию?'
      this.dialogTitle = 'Confirm'
      const flag = (target.checked) ? 1 : 2
      this.objectToStoreInDialog = { item, flag, route_rid: item.route_rid, routeGroupRid: this.routeGroupRid }
      this.showDialogwindow = true
    },
    setUserlist () {
      if (!this.routeGroupRid || this.routeGroupRid < 0) return
      this.tableData = []
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=PORTAL_ROUTES_BY_GROUP&p1=' + this.routeGroupRid
      f.fget(url)
        .then(res => {
          // this.tableData = []
          if (res.error) {
            console.log('Error in setUserlist: ', res.error)
            return
          }
          const arr = res.content
          arr.forEach(el => {
            if (el.groupname === '') {
              el.class = ''
              el.value = false
            } else {
              el.class = 'tile-green'
              el.value = true
            }
          })
          this.tableData = arr
        })
    },
    setGrantToUser (grant, routeRid, groupRid) {
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/execsp1.aspx?tfn=PORTAL_SET_ROUTESTOGROUP&p1=' + grant + '&p2=' + routeRid + '&p3=' + groupRid + '&p4=0&p5=1'
      f.fget(url)
        .then(res => {
          if (res.content[0].status !== 'OK') {
            this.dialogMessageText = res.content[0].status
            this.dialog = true
          }
          // this.setUserlist()
        })
    },
    onResize () {
      this.tableDataHeight = window.innerHeight - 180
    }
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  },
  mounted () {
    this.setUserlist()
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
  }
}
</script>

<style scoped>
  .tile-green {
    margin-top: 2px;
    background: rgb(215, 243, 215)
  }
</style>
