<template>
  <v-card
    class="mx-auto overflow-y-auto"
    max-width="90%"
    tile
    :height="tableDataHeight"
  >
    <v-toolbar color="blue"
      dark>
      <v-toolbar-title
      class="mr-1 text-body-1 font-weight-medium">Users</v-toolbar-title>
      <v-text-field class="text-body-1"
        flat
        label="Search"
        prepend-inner-icon="mdi-magnify"
        solo-inverted
        v-model="search"
        single-line
        clearable
        hide-details
        @click:clear="clearSearch">
        Search
      </v-text-field>
    </v-toolbar>
    <v-row class="pt-2 text-alig">
      <v-col class="d-flex justify-end">
        <v-btn
            color="primary"
            class="ma-2 text-button"
            dark
            @click="dialog2NewAccount = true"
          >
            Create
        </v-btn>
    </v-col>
    </v-row>
    <v-list dense>
     <!--  <v-list-item-group
        v-model="selectedItem"
        color="primary"
      > -->
        <v-list-item
          v-for="(item, i) in filteredItems"
          :key="i"
          :value="item"
          @click="listItemSelected(item.account, item.rid)"
        >
          <!-- <v-list-item-icon>
            <v-icon>mdi-account</v-icon>
          </v-list-item-icon>-->
          <template v-slot:prepend>
            <v-icon icon=mdi-account></v-icon>
          </template>
          <!-- <v-list-item-content> -->
            <v-list-item-title v-text="item.account"></v-list-item-title>
            <v-list-item-subtitle>{{ item.comment }}</v-list-item-subtitle>
          <!-- </v-list-item-content> -->
        </v-list-item>
      <!-- </v-list-item-group> -->
    </v-list>
    <v-dialog
        v-model="dialog2NewAccount"
        max-width="500px"
      >
        <v-card>
          <v-card-title>
            Add new user
          </v-card-title>
          <v-card-text>
            <v-text-field v-model="newAccountName"
                  label="*Username (without domain)"
                  hint="example: aatentay or ysadovskiy"
                ></v-text-field>
              <v-text-field v-model="newAccountComment"
                  label="Comment"
                  hint="Can be empty"
                ></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="saveNewAccountName"
            >
              Save
            </v-btn>
            <v-btn
              color="secondary"
              text
              @click="dialog2NewAccount = false"
            >
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    <DialogComponent v-if="showErrDialogwindow"
      title="Error"
      :message="dialogErrMessage"
      :show-button-close="true"
      @ReturnPressedKey = "getReturnPressedKey"
      />
  </v-card>
</template>

<script>
import f from '@/store/fetch.js'
import _ from 'lodash'

export default {
  name: 'AdminRightsDT',
  data () {
    return {
      tableData: [],
      selectedItem: 0,
      dialog2NewAccount: false,
      newAccountName: '',
      newAccountComment: '',
      dialogErrMessage: '',
      showErrDialogwindow: false,
      search: '',
      tableDataHeight: window.innerHeight - 180
    }
  },
  computed: {
    filteredItems () {
      return _.orderBy(this.tableData.filter(item => {
        if (!this.search) return this.tableData
        return (item.account.toLowerCase().includes(this.search.toLowerCase()) ||
                      item.comment.toLowerCase().includes(this.search.toLowerCase()))
      }), 'account')
    }
  },
  methods: {
    clearSearch () {
      this.search = ''
    },
    getReturnPressedKey () {
      this.showErrDialogwindow = false
    },
    saveNewAccountName () {
      this.dialog2NewAccount = false
      if (!this.newAccountComment) { this.newAccountComment = ' ' }
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/execsp1.aspx?tfn=PORTAL_ADD_NEWACCOUNT&p1=' + this.newAccountName + '&p2=' + this.newAccountComment + '&p3=1'
      f.fget(url)
        .then(res => {
          if (res.error) {
            this.dialogErrMessage = res.error
            this.showErrDialogwindow = true
          }
          if (res.content) {
            if (res.content[0].status === 'OK') {
              this.setUserlist()
            } else {
              this.dialogErrMessage = res.content[0].status
              this.showErrDialogwindow = true
            }
          }
        })
    },
    setUserlist () {
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytv1.aspx?view=IC_T_PORTAL_USERS&where=&fields=rid,account,%20disable,%20create_timestamp,%20comment'
      f.fget(url)
        .then(res => {
          this.tableData = res.content
        })
    },
    listItemSelected (account, rid) {
      this.$emit('AccountName', account)
      this.$emit('AccountRid', rid)
    },
    onResize () {
      this.tableDataHeight = window.innerHeight - 180
    }
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  },
  mounted () {
    this.setUserlist()
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
  }
}
</script>
