<template>
  <v-row
    fill-height
    no-gutters
  >
    <v-col
      cols="6"
      style="background-color:#ffefef;"
      fill-height>
            <v-row class="pl-5 pt-5"
              >
              <DemDashboardleWellsList
                :detailParamsProp = "detailParams"
                :showDialogProp = "showDialogDetail"
              />
                <!-- Techno block -->
                    <div id="qualtity">
                      <table style="border-collapse:unset; border: 0px">
                        <tr>
                          <td rowspan="2"
                            style="border-style: solid; border-width: 2px; padding-right: 20px;padding-left: 20px;">TECHNO BLOCK 
                            <br><p class="font-weight-black text-center"> {{ p1 }} </p></td>
                          <td style="text-align: center; border-style: solid; border-width: 2px; padding-right: 20px;padding-left: 20px;"> Quantity </td>
                        </tr>
                        <tr>
                          <td style="text-align: center;  border-style: solid; border-width: 2px; padding-right: 20px;padding-left: 20px;"> {{ countOfTechBlocsShow }} </td>
                        </tr>
                      </table>
                    </div>
            </v-row>
            <v-row>
              <v-container style="width: 300px; ">
                  <v-combobox
                  label="Choose estimation date"
                  :items="getActualReportDateList"
                  v-model = "selectedActualReportDate" >
                </v-combobox>
              </v-container>
            </v-row>
            <v-row class="mt-10 ml-5">
                    <div id="overal-reserve-count"
                      v-if = "true">
                      <table id="table-overal-revserve"
                        style="border-collapse: unset; border: 0px">
                        <tr>
                          <td style="padding-right: 20px;padding-left: 20px; border-collapse:unset; border: 0px"></td>
                          <td class="td-gray-light">Type of reserves</td>
                          <td class="td-gray-light">Tonnage</td>
                          <td class="td-gray-light">Estimation date</td>
                          <td class="td-gray-light">Area</td>
                        </tr>
                        <tr>
                          <td class="td-beige"
                            rowspan="3"> RESERVES</td>
                          <td class="td-beige"> RTG pro rata
                          </td>
                          <td class="td-beige"> {{ getValueFromRTGProRata('RTG pro rata', 'resource_tu') ? (parseFloat(getValueFromRTGProRata('RTG pro rata', 'resource_tu'))).toFixed(2) : '' }} </td>
                          <td class="td-beige"> {{ getValueFromRTGProRata('RTG pro rata', 'estimation_date') ? ( new Date( getValueFromRTGProRata('RTG pro rata', 'estimation_date')).toLocaleDateString('ru-RU') ) : ''}} </td>
                          <td class="td-beige"> {{ getValueFromRTGProRata('RTG pro rata', 'surface') ? parseInt(getValueFromRTGProRata('RTG pro rata', 'surface')) : '' }}</td>
                        </tr>
                        <tr>
                          <td class="td-lilac"> RTED</td>
                          <td class="td-lilac"> {{ getValueFromRTGProRata('RTED', 'resource_tu') ? (parseFloat(getValueFromRTGProRata('RTED', 'resource_tu'))).toFixed(2) : '' }} </td>
                          <td class="td-lilac"> {{ getValueFromRTGProRata('RTED', 'estimation_date') ? ( new Date( getValueFromRTGProRata('RTED', 'estimation_date')).toLocaleDateString('ru-RU') ) : ''}} </td>
                          <td class="td-lilac"> {{ getValueFromRTGProRata('RTED', 'surface') ? parseInt(getValueFromRTGProRata('RTED', 'surface')) : '' }}</td>
                        </tr>
                        <tr>
                          <td class="td-green"> RTEDTa </td>
                          <td class="td-green"> {{ getValueFromRTGProRata('RTEDTa', 'resource_tu') ? (parseFloat(getValueFromRTGProRata('RTEDTa', 'resource_tu'))).toFixed(2) : '' }} </td>
                          <td class="td-green"> {{ getValueFromRTGProRata('RTEDTa', 'estimation_date') ? ( new Date( getValueFromRTGProRata('RTEDTa', 'estimation_date')).toLocaleDateString('ru-RU') ) : ''}} </td>
                          <td class="td-green"> {{ getValueFromRTGProRata('RTEDTa', 'surface') ? parseInt(getValueFromRTGProRata('RTEDTa', 'surface')) : '' }}</td>
                        </tr>
                      </table>
                    </div>
            </v-row>
            <v-row class="mt-10 ml-5 mb-5">
              <div id="dem-acquire-numbers">
                <table class="dem-table-accepted" >
                  <thead>
                    <tr style="height: 40px;">
                      <th><div></div></th>
                      <th>ACCEPTED <br>PRODUCT </th>
                      <th>ACCEPTED <br>INJECT</th>
                      <th>PROJECT <br> PRODUCT</th>
                      <th>PROJECT <br>INJECT</th>
                      <th>LIQUID</th>
                      <th>NOT <br>PROFITABLE</th>
                      <th>other</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in dataTableRef">
                      <td> {{ item.hole_path }}</td>
                      <td>
                        <v-chip v-if="item.cnt_acc_prod>0"
                          @click="tableCellPressed(item.hole_path , 'ACCEPTED', 'PRODUCT', item.cnt_acc_prod)">
                          {{ item.cnt_acc_prod }}
                        </v-chip>
                        <span v-else>{{ item.cnt_acc_prod }}</span>
                      </td>
                      <td>
                        <v-chip v-if="item.cnt_acc_inject>0"
                          @click="tableCellPressed(item.hole_path , 'ACCEPTED', 'INJECT', item.cnt_acc_inject)">
                          {{ item.cnt_acc_inject }}
                        </v-chip>
                        <span v-else>{{ item.cnt_acc_inject }}</span>
                      </td>
                      <td>
                        <v-chip v-if="item.cnt_pro_prod>0"
                          @click="tableCellPressed(item.hole_path , 'PROJECT,PICKET', 'PRODUCT', item.cnt_pro_prod)">
                          {{ item.cnt_pro_prod }}
                        </v-chip>
                        <span v-else>{{ item.cnt_pro_prod }}</span>
                      </td>
                      <td>
                        <v-chip v-if="item.cnt_pro_inject>0"
                          @click="tableCellPressed(item.hole_path , 'PROJECT,PICKET', 'INJECT', item.cnt_pro_inject)">
                          {{ item.cnt_pro_inject }}
                        </v-chip>
                        <span v-else>{{ item.cnt_pro_inject }}</span>
                      </td>
                      <td>
                        <v-chip v-if="item.cnt_liquid>0"
                          @click="tableCellPressed(item.hole_path , 'LIQUID', '*', item.cnt_liquid)">
                          {{ item.cnt_liquid }}
                        </v-chip>
                        <span v-else>{{ item.cnt_liquid }}</span>
                      </td>
                      <td> 
                        <v-chip v-if="item.cnt_nprofit>0"
                          @click="tableCellPressed(item.hole_path , 'NOT PROFITABLE', '*', item.cnt_nprofit)">
                          {{ item.cnt_nprofit }}
                        </v-chip>
                        <span v-else>{{ item.cnt_nprofit }}</span>
                      </td>
                      <td>
                        <v-chip v-if="item.cnt_other>0"
                          @click="tableCellPressed(item.hole_path , 'other', '*', item.cnt_other)">
                          {{ item.cnt_other }}
                        </v-chip>
                        <span v-else>{{ item.cnt_other }}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </v-row>
            <v-row class="mt-10 ml-5 mb-5">
              <table class="dem-table-ls" style="background-color:  rgb(217 226 243);">
                <thead><tr><th colspan="3">Last date: <span class="text-red">{{ (new Date(getValueFromTo25Table('f0'))).toLocaleDateString('ru-RU',{ month: 'long', day:'2-digit', year: 'numeric'} ) }}</span></th><th colspan="2">L/S</th><th colspan="3">Specific consumption of sulfuric acid</th></tr>
                </thead>
                <tbody>
                  <tr><td>GRM</td><td>reserves</td><td>Recovery factor</td><td>acidification</td><td>leaching</td><td>acidification</td><td>leaching</td><td>leaching</td></tr>
                  <tr><td>t</td><td>tU</td><td>%</td><td>&nbsp;</td><td>&nbsp;</td><td>Kg/tGRM</td><td>Kg/tGRM</td><td>Kg/kgU</td></tr>
                  <tr class="font-weight-black"><td>{{ getValueFromTo25Table('f2') }}</td><td>{{ getValueFromTo25Table('f4') }}</td><td>{{ getValueFromTo25Table('f24') }}</td><td>{{ getValueFromTo25Table('f33') }}</td>
                    <td>{{ getValueFromTo25Table('f34') }}</td><td>{{ getValueFromTo25Table('f41') }}</td><td>{{ getValueFromTo25Table('f43') }}</td><td>{{ getValueFromTo25Table('f44') }}</td></tr>
                </tbody>
              </table>
            </v-row>
    </v-col>
    <v-col cols="6">

    </v-col>
  </v-row>
</template>
<script>
import f from '@/store/fetch.js'

export default {
  name: 'DemDashboard',
  data() {
    return {
      countOfTechBlocsShow: 0,
      dataTableAcqure: null,
      actualReportDate: new Date('23 March 2022'),
      dataTableProRata: null,
      dataTableTO25: null,
      showDialogDetail: 0,
      detailParams: [],
      dataTableRef: [],
      dataTableAllRef: [],
      selectedActualReportDate: ''
    }
  },
  computed: {
    // ...mapGetters('ui2', ['getShapeType']),
    p1 () {
      return this.$route.params.p1
    },
   /*  getActualReportDate () {
      // console.log('getActualReportDate started')
      const resValue = this.getValueFromRTGProRata('RTG pro rata', 'estimation_date')
      if(resValue ) {
        // console.log('M05. resValue = ', resValue)
        const strValueDate = (new Date(resValue)).toLocaleDateString('ru-RU',{ month: 'long', day:'2-digit', year: 'numeric'} )
        return strValueDate // .toLocaleDateString('ru-RU',{ month: 'long', day:'2-digit', year: 'numeric'} )
      }
      return ''
    }, */
    getActualReportDateList () {
      // console.log('K01. getActualReportDateList started')
      if (this.dataTableAllRef) {
        // console.log('K02. this.dataTableAllRef is not null')
        const resList = this.dataTableAllRef.filter( (el) => { return el.category === 'RTG pro rata'})
        // console.log('K03. resList = ', resList)
        return this.dataTableAllRef
      }
      return null
    }
  },
  watch:{
    selectedActualReportDate (newSelItem) {
      // console.log('W01. watch. selectedActualReportDate newValue = ', newSelItem)
      if (newSelItem) {
        // console.log('W02. watch. ValidData')
        const selDate = newSelItem.estimation_date
        // console.log('W03. watch selDate = ', selDate)
        const items = this.dataTableAllRef.filter(el=>{ return el.estimation_date==selDate })
        // console.log('W04. items = ', items)
        this.dataTableProRata = items

      }
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'DEM Dashboard - General info'
    this.$store.state.ui.active.page.url = 'demdash'
    this.setDateFromRefFile()
    this.setBlockRTGProRata()
    this.setWellsInfoFromRef()
    this.setTo25Info()
  },
  methods: {
    tableCellPressed (pathIn, statusIn, purposeIn, quantityIn) {
      // tableCellPressed('FIRST', 'ACCEPTED', 'INJECT' )
      console.info('H01. tableCellPressed started. pathIn=', pathIn, ', statusIn = ', statusIn, ', purposeIn = ', purposeIn, ', quantityIn = ', quantityIn)
      const arrParams = []
      arrParams.BLOCK = this.p1
      arrParams.PATH =  pathIn === 'FIRST'? "FIRST,FIRST REDRILLING" : pathIn
      arrParams.STATUS = statusIn
      arrParams.PUROPOSE = purposeIn
      arrParams.Quantity = quantityIn
      this.detailParams = arrParams
      this.showDialogDetail += 1
    },
    getValueFromTo25Table (columnIn) {
      // console.log('V01. getValueFromTo25Table. columnIn = ', columnIn)
      if (this.dataTableTO25 && this.dataTableTO25.length>0) {
        if (this.dataTableTO25[0].hasOwnProperty(columnIn)) {
          // console.log('V02. value = ', this.dataTableTO25[0][columnIn])
          return this.dataTableTO25[0][columnIn]
        }
      }
      return ''
    },
    getExistPath (pathIn) {
      // console.log('V82. pathIn = ', pathIn)
      if (this.dataTableAcqure) {
        const resRow = this.dataTableAcqure.filter(el=>{return el.hole_path === pathIn})
        return (resRow.length>0)
      }
      return false
    },
    getRowFromAcquireTable (pathIn, colIn) {
      // console.log('V86. getRowFromAcquireTable started. pathIn = ', pathIn, ', colIn = ', colIn, ', this.dataTableAcqure =', this.dataTableAcqure )
      let resRow = []
      if (this.dataTableRef) {
        resRow = this.dataTableRef.filter(el=>{return el.hole_path === pathIn})
        if (resRow.length>0) {
          // console.log('V87. resRow  = ', resRow )
          // console.log('V86-1 colIn is exist = ', resRow[0].hasOwnProperty(colIn))
          if ( resRow[0].hasOwnProperty(colIn)) {
            // console.log('V88. resRow[colIn]  = ', resRow[0][colIn] )
            return resRow[0][colIn]
          }
        }
      }
      return ''
    },
    getValueFromRTGProRata (categoryIn, columnIn) {
      // console.log('getValueFromRTGProRata categoryIn = ', categoryIn, ', columnIn = ', columnIn)
      let resRow = []
      if (this.dataTableProRata) {
        resRow = this.dataTableProRata.filter(el=>{return el.category === categoryIn})
        if (resRow.length>0) {
          if ( resRow[0].hasOwnProperty(columnIn)) {
            return resRow[0][columnIn]
          }
        }
      }
      return ''
    },
    // this Correct All data for Date control
    setDateFromRefFile() {
      const tfnFunctionName = 'IC_TFN_DEM_ESTIMATION_REF_BY_BLOCK'
      let url = ' https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=' + tfnFunctionName.slice(7)
      url += '&p1=' + this.p1
      // console.log('V01. url = ', url),
      f.fget(url)
        .then(res => {
          const dataTable = res.content
          this.selectedActualReportDate = null
          dataTable.forEach(element => {
            element.title = element.estimation_date_str + ' - ' + element.category
            if (!this.selectedActualReportDate) {
              this.selectedActualReportDate = element
            }
          });
          this.dataTableAllRef = dataTable
        })
    },
    // Depricated
    setBlockRTGProRata() {
      return
      // https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytv2.aspx?view=IC_V_DEM_ESTIMATION_REF_ACTUAL&where_field_for_equal=blockname&where_value_for_equal=MSU44
      const tfnFunctionName = 'IC_TFN_DEM_ESTIMATION_REF_BY_BLOCK'
      let url = ' https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=' + tfnFunctionName.slice(7)
      url += '&p1=' + this.p1

      // console.log('V01. url = ', url),
      f.fget(url)
        .then(res => {
          this.dataTableProRata = res.content
        })
    },
    setWellsInfoFromRef() {
      // console.log('setWellsInfoFromAcquire started.')
      // https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytv2.aspx?view=IC_V_DEM_ESTIMATION_REF_ACTUAL&where_field_for_equal=blockname&where_value_for_equal=MSU44
      const tfnFunctionName = 'IC_TFN_DEM_DASHBOARD_WELLS_INFO'
      let url = ' https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=' + tfnFunctionName.slice(7)
      url += '&p1=' + this.p1
      this.dataTableRef = null
      // console.log('G21. url = ', url)
      f.fget(url)
        .then(res => {
          // console.log('G22. res.content = this.dataTableRef = ', res.content)
          this.dataTableRef=res.content
        })
    },
    setTo25Info() {
      console.log('L01. setTo25Info started.')
      // https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytv2.aspx?view=IC_V_DEM_ESTIMATION_REF_ACTUAL&where_field_for_equal=blockname&where_value_for_equal=MSU44
      const tfnFunctionName = 'IC_TFN_DEM_DASHBOARD_TO25_INFO'
      let url = ' https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=' + tfnFunctionName.slice(7)
      url += '&p1=' + this.p1
      this.dataTableTO25 = null
      // console.log('G21. url = ', url)
      f.fget(url)
        .then(res => {
          // console.log('L02. res.content = ', res.content)
          this.dataTableTO25=res.content
        })
    }
  },
  created () {
    this.$watch(
      () => this.$route.params.p1,
      (toParams, previousParams) => {
        this.setDateFromRefFile()
        this.setBlockRTGProRata()
        this.setWellsInfoFromRef()
        this.setTo25Info()
      }
    )
  }
}
</script>

<style>

.dem-table-accepted, .dem-table-accepted table, .dem-table-accepted th, .dem-table-accepted td {
  border: 2px solid #888787;
  border-collapse: collapse;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  background-color: #e9e8e8;
  font-weight: normal;
}

.dem-table-ls, .dem-table-ls table, .dem-table-ls th, .dem-table-ls td {
  border: 2px solid #798cce;
  border-collapse: collapse;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  background-color: #d9e2f3;
}

.titleDate {
	font-size: 24px;
	line-height: 56px;	
	color: #101007;
}
.titleDate span {
	padding: 0 10px;
	background: yellow;
}
</style>