<template>
  <v-row
    no-gutters
    fill-height
  >
    <v-col
      no-gutters
      fill-height
      :cols="12"
    >
      <v-row
        no-gutters
        fill-height
      >
        <v-col
          v-if="showtable"
          id="datatable"
          no-gutters
          fill-height
          :cols="tablecols"
        >
          <v-row
            no-gutters
          >
            <v-col>
              <BHISRTechBlocksHDT />
            </v-col>
          </v-row>
        </v-col>

        <v-col
          v-if="showmap"
          id="left"
          no-gutters
          fill-height
          :cols="mapcols"
        >
          <v-row
            no-gutters
            fill-height
          >
            <v-col>
              <BHShape />
            </v-col>
          </v-row>
        </v-col>

        <v-col
          v-if="show2"
          id="right"
          no-gutters
          :cols="mapcols"
        >
          <v-row
            no-gutters
            fill-height
          >
            <v-col>
              <BHShape />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'BHDesign',
  components: {
  },
  data () {
    return {
      showmap: true,
      show2: false,
      showtable: true,
      show: true,
      tablecols: 5,
      mapcols: 7
    }
  },
  computed: {
    ...mapGetters('tblocks', ['getTBlocksBounds']),
    ...mapGetters('ui2', ['getShapeType', 'getPathP1'])
  },
  watch: {
    showmap () { this.changeLayout() },
    show2 () { this.changeLayout() },
    showtable () { this.changeLayout() },
    getPathP1 () { this.update() }
  },
  mounted () {
    this.$nextTick(function () {
      this.update()
    })
  },
  methods: {
    update () {
      let caption = ''
      if (this.getShapeType.type === 'TB_DEM') caption = 'Block History - ArcGIS DEM Editor Tracking'
      else if (this.getShapeType.type === 'TB_GEOS') caption = 'Block History - GEOS Versions'
      this.$store.state.ui.active.page.name = caption
      this.$store.state.ui.active.page.url = 'bh/design'
    }
  }
}
</script>
