<template>
  <v-row no-gutters>
    <v-col
      no-gutters
      :cols="12"
    >
      <BHTO25Annex1DT />
    </v-col>
  </v-row>
</template>
<script>
export default {
  name: 'BHTO25Annex1',
  components: {
  },
  data () {
    return {
    }
  },
  computed: {
    block () { return this.$route.params.p1 }
  },
  watch: {
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Block History - TO25Annex1'
    this.$store.state.ui.active.page.url = 'bh/to25annex1'
  }
}
</script>
