<template>
  <v-row
    fill-height
    no-gutters
  >
  <v-col cols="12">
  <v-row>
      <v-col cols="8">
        <v-card>
          <v-card-title dense>
            {{ caption }}
          </v-card-title>
        </v-card>
        <!-- <ShapeInfo /> -->
      </v-col>
      <v-col cols="3">
        <v-row
          no-gutters
          dense
        >
          <v-col cols="6">
            <v-switch
              v-model="showAll"
              dense
              label="Show all"
              style="height:20px"
              hint="Show all list"
            />
          </v-col>
          <v-col cols="6">
            <div style="padding-top: 10px;">
              <v-btn
                v-on:click.native="execute_validation"
                dense
                color="darken-1"
                style="padding-left: 10px;"
                >
                  Set Validated
              </v-btn>
              <div>
                <div class="text-center">
                  <v-dialog
                    v-model="dialog"
                    width="500"
                  >
                    <v-card>
                      <v-card-title class="text-h5 grey lighten-2">
                        Warning
                      </v-card-title>
                      <v-card-text>
                        {{  dialogMessageText }}
                      </v-card-text>
                      <v-divider></v-divider>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="error"
                          text
                          @click="dialog = false"
                        >
                          Close
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </div>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="1">
        <downloadExcel
          :data="totalWellsList"
          :name="fileName"
          :worksheet="worksheet"
        >
          <v-btn
            icon
            outlined
          >
            <v-icon>mdi-table-arrow-right</v-icon>
          </v-btn>
        </downloadExcel>
      </v-col>
    </v-row>
    <v-row class="ma-0">
      <v-col cols="12" class="pa-0 pt-3">
        <v-card>
          <v-data-table
          :fixed-header=true
          :items-per-page=-1
          :height="tableDataHeight" 
          :headers="columns"
          :items="tableData"
          :key="componentKeyForForceRendering"
          row-key-field-name="rid"
          density="compact"
          :cell-props="getCellProps">
            <template v-slot:item.checkbox_column="{ item }">
              <v-checkbox v-if="item.validated_user!=''"
                :model-value="true"
                disabled
              ></v-checkbox>
              <v-checkbox v-if="item.validated_user==''"
                v-model="currentSelectedRidsList"
                :value="item.rid"
              ></v-checkbox>              
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </v-col>
  </v-row>
</template>
<style>
    .maxg_value-cell-class1 {
        background: #e2f0ea !important;
        color: rgb(12, 138, 12)  !important;
        font-weight: bold;
    }
</style>
<script>
import f from '@/store/fetch.js'
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      dialog: false,
      dialogMessageText: '',
      showAll: false,
      pageIndex: 1,
      pageSize: 10,
      currentSelectedRidsList: [],
      columnHiddenOption: {
        // default hidden column keys
        defaultHiddenColumnKeys: ['rid', 'validated_date_fmt']
      },
      cellStyleOption: {
        bodyCellClass: ({ row, column, rowIndex }) => {
          if (column.field === 'maxg_value') {
            return 'maxg_value-cell-class1'
          }
        }
      },
      checkboxOption: {
        disableSelectedRowKeys: [],
        // defaultSelectedRowKeys: [],
        // row select change event
        selectedRowChange: ({ row, isSelected, selectedRowKeys }) => {
          // console.log('selectedRowChange. ', row, isSelected, selectedRowKeys)
          this.currentSelectedRidsList = selectedRowKeys
        },
        // selected all change event
        selectedAllChange: ({ isSelected, selectedRowKeys }) => {
          // console.log('selectedAllChange. ', isSelected, selectedRowKeys)
          this.currentSelectedRidsList = selectedRowKeys
        }
      },
      columns: [
        { field: 'rownum', key: 'rownum', title: '#', align: 'center', sortable: false },
        { field: 'HOLEID', key: 'HOLEID', title: 'HOLEID', align: 'center', sortable: false },
        { field: 'PROJECTCODE', key: 'PROJECTCODE', title: 'PROJECTCODE', align: 'center', sortable: false },
        { field: 'maxg_name', key: 'maxg_name', title: 'PARAM NAME', align: 'left', sortable: false },
        { field: 'maxg_value', key: 'maxg_value', title: 'VALUE', align: 'center', sortable: false },
        { field: 'date_name', key: 'date_name', title: 'Date_name', align: 'center', sortable: false },
        { field: 'date_value', key: 'date_value', title: 'DATE', align: 'center', sortable: false },
        { field: 'filename', key: 'filename', title: 'Filename', align: 'left', sortable: false },
        { field: 'session_key', key: 'session_key', title: 'Session key', align: 'left', sortable: false },
        { key: 'checkbox_column', title: 'Validation', width: 50, align: 'center', sortable: false},// type=checkbox
        { field: 'validated_user', key: 'validated_user', title: 'Validated user', align: 'left', sortable: false },
        { field: 'validated_date_fmt', key: 'validated_date_fmt', title: 'Validated_date', align: 'left', sortable: false },
        { field: 'rid', key: 'rid', title: 'Rid', align: 'left', sortable: false }
      ],
      fileName: 'validation_radioecology',
      worksheet: 'data',
      totalWellsList: [],
      tableData: [],
      footerData: [],
      diffValueFilter: [],
      rapportAttributeFilter: [],
      statusNameFilter: [],
      componentKeyForForceRendering: 0,
      tableDataHeight: (window.innerHeight - 220),
    }
  },
  computed: {
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return 'Validation Radioecology survey' },
    disableSelectedRowKeysList () {
      const validatedRids = []
      this.tableData.forEach(function (element) {
        if (element.validated_date) {
          validatedRids.push(element.rid)
        }
      })
      return validatedRids
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Validation Imported Radioecology survey'
    // this.$store.state.ui.active.page.url // = 'r/importvalidation/radeco'
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  },
  methods: {
    getCellProps (data) {
      // console.log('h71. getCellProps data = ', data)
      if (data.column.key === 'maxg_value') { return { class: 'maxg_value-cell-class1' } }
    },
    onResize () {
      this.windowHeight = window.innerHeight
      this.tableDataHeight = this.windowHeight - 220
    },
    forceRerender () {
      // this function needed for apply list to status_name column filterList.
      this.componentKeyForForceRendering += 1
    },
    execute_validation () {
      // collect selected rows
      const rids = this.currentSelectedRidsList.toString()
      // console.log('h41. execute_validation started. rids = ', rids)
      if (rids.length === 0) {
        this.dialogMessageText = 'No one rows selected. Please, select validation rows.'
        this.dialog = true
      } else {
        const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/execsp1.aspx?tfn=RADIOECOLOGY_VALIDATE&p1=' + rids + '&p2=1'
        f.fget(url)
          .then(res => {
            if (res.content[0].status !== 'OK') {
              this.dialogMessageText = res.content[0].status
              this.dialog = true
            }
            this.setWellslist()
          })
      }
    },
    setWellslist () {
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=RADIOECOLOGY_VALIDATE'
      f.fget(url)
        .then(res => {
          this.totalWellsList = res.content
          this.tableData = this.totalWellsList
          // console.info('h01. res.content = ', res.content)
          // filter by ShowAll
          if (!this.showAll) {
            this.tableData = this.totalWellsList.filter(function (el) {
              return el.validated_user === ''
            })
          }

          let i = 1
          this.tableData.forEach(function (element) {
            // append column rownum
            element.rownum = i++
            if (element.validated_date) {
              const rpTs = new Date(element.validated_date)
              element.validated_date_fmt = rpTs.toLocaleString('sv-SE') // + ' ' + rpTs.toLocaleTimeString('it-IT') // repalce 
              // element.checkbox_column = true
            } else {
              // element.checkbox_column = false
            }
            if (element.file_holeid !== element.HOLEID) {
              element.HOLEID = element.file_holeid + ' => ' + element.HOLEID
            }
          })
          this.initValidatedRidsList()
        })
    },
    initValidatedRidsList () {
      this.checkboxOption.disableSelectedRowKeys = this.disableSelectedRowKeysList
    }
  },
  created () {
    this.setWellslist()
  },
  watch: {
    showAll () {
      this.setWellslist()
    }
  }
}
</script>
