<template>
  <v-row
    fill-height
    no-gutters
  >
  <v-col cols="12">
  <v-row>
      <v-col cols="7">
        <v-card>
          <v-card-title dense>
            {{ caption }} <span class="text-red">&nbsp;</span>
          </v-card-title>
        </v-card>
        <!-- <ShapeInfo /> -->
      </v-col>
      <v-col cols="4">
        <v-row
          no-gutters
          dense
        >
          <v-col>
            <div style="padding-top: 10px;">
              <v-btn
                v-on:click.native="execute_validation"
                dense
                color="darken-1"
                style="padding-left: 10px;"
                >
                  1.Fill table
              </v-btn>
              <v-btn
                v-on:click.native="execute_send_table4check"
                dense
                color="darken-1"
                style="padding-left: 10px;"
                >
                  2.Verify
              </v-btn>
              <v-btn
              :disabled="buttonSaveDisable"
                v-on:click.native="execute_send_table4save"
                dense
                color="darken-1"
                style="padding-left: 10px;"
                >
                  3.Save to DB
              </v-btn>
              <v-card v-if="showCircleProgress">
                <Loading />
              </v-card>
              <div>
                <div class="text-center">
                  <v-dialog
                    v-model="dialog"
                    width="500"
                  >
                    <v-card>
                      <v-card-title class="text-h5 grey lighten-2">
                        {{ dialogCaption }}
                      </v-card-title>
                      <v-card-text>
                        {{  dialogMessageText }}
                      </v-card-text>
                      <v-divider></v-divider>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          :color="dialogType"
                          text
                          @click="dialog = false"
                        >
                          Close
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </div>
                <div class="text-center">
                  <v-dialog
                    v-model="dialogImage"
                    width="1000"
                  >
                    <v-card>
                      <v-card-title class="text-h5 grey lighten-2">
                        {{ dialogCaptionImage }}
                      </v-card-title>
                      <v-card-text>
                        {{  dialogMessageTextImage }}
                      </v-card-text>
                      <v-img
                      src="./Guide_for_Upload_XRFSampes_to_IDCARD.png"
                      ></v-img>
                      <v-divider></v-divider>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          :color="dialogType"
                          text
                          @click="dialogImage = false"
                        >
                          Close
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </div>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="1">
        <v-row>
          <v-col cols=6>
            <downloadExcel
              :data="tableData4control"
              :name="fileName"
              :worksheet="worksheet"
            >
              <v-btn
                icon
                outlined
              >
                <v-icon>mdi-table-arrow-right</v-icon>
              </v-btn>
            </downloadExcel>
          </v-col>
          <v-col cols ="6">
              <v-btn
                icon
                outlined
                v-on:click.native="showHelpGuide"
              >
                <v-icon>mdi-help</v-icon>
              </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row class="pl-1">
      <v-col cols="12">
        <v-row>
          <v-card>
            <v-tabs
              v-model="tab"
              color="primary"
              active-class="tab-active-class"
            >
              <v-tab :value="1">Excel table ({{ importTableRowCount }})</v-tab>
              <v-tab :value="2">XRF Samples ({{ controlTableRowCount }})
                <span v-if="controlTableRowCountError>0"
                  class="red--text"> ({{ controlTableRowCountError }})</span>
                </v-tab>
              <v-tab :value="3">XRF Check Samples ({{ controlTableXRFCheckSamplesRowCount }})
                <span v-if="controlTableXRFCheckSamplesErrorCount>0"
                  class="red--text"> ({{ controlTableXRFCheckSamplesErrorCount }})</span>
              </v-tab>
              <v-tab :value="4">Sample Despatch & Return ({{ controlTableSampleDespatchRowCount }})
                <span v-if="controlTableSampleDespatchErrorCount>0"
                  class="red--text"> ({{ controlTableSampleDespatchErrorCount }})</span>
              </v-tab>
              <v-tab :value="5">Lab Meta Data ({{ controlTableLabMetaDataRowCount }})
                <span v-if="controlTableLabMetaDataErrorCount>0"
                  class="red--text"> ({{ controlTableLabMetaDataErrorCount }})</span>
              </v-tab>
              <v-tab :value="6">Sample and Check Import ({{ controlRowCount4SampleAndCheckImport }})
                <span v-if="controlRowCount4SampleAndCheckImportError>0"
                  class="red--text"> ({{ controlRowCount4SampleAndCheckImportError }})</span>
              </v-tab>
            </v-tabs>
            <v-window v-model="tab">
              <v-window-item :key="1" :value="1">
                <v-card class="pa-2">
                  <v-row >
                    <v-col cols="2">
                      <v-text-field
                        class="pl-3 custom-label-red"
                        v-model="holeIdValue"
                        :hide-details=true
                        label="Hole ID*"></v-text-field>
                    </v-col>
                    <v-col cols="2">
                      <v-combobox
                        style="z-index: 20; width: 130px"
                        v-model="sampleTypeValue"
                        :items="sampleTypeItems"
                        :hide-details=true
                        label="XRF Standard Used"
                      ></v-combobox>
                    </v-col>
                    <v-col cols="2">
                      <v-combobox
                        style="z-index: 20; width: 220px"
                        v-model="despatchedByValue"
                        :items="despatchedByItems"
                        :hide-details=true
                        label="XRF Standard used"
                      ></v-combobox>
                    </v-col>
                    <v-col cols="2">
                      <v-combobox
                      style="z-index: 20; width: 130px"
                      v-model="analysisTypeValue"
                      :items="analysisTypeItems"
                      :hide-details=true
                      label="Analysis"
                    ></v-combobox>
                    </v-col>
                  </v-row>
                </v-card>
                <v-card  class="pa-2 pr-5">
                  <v-data-table
                    id="input-excel-table"
                    :fixed-header=true
                    :items-per-page=-1
                    :height="tableDataHeight"
                    :headers="columns"
                    :items="tableData"
                    :key="componentKeyForForceRendering"
                    row-key-field-name="rid"
                    :columnHiddenOption_old="columnHiddenOption"
                    :cell-style-option_old="cellStyleOption"
                    :border-y="true"
                    density="compact"
                    :cell-props="getCellProps">
                    <template #bottom></template>
                  </v-data-table>
                </v-card>
              </v-window-item>
              <v-window-item :key="2" :value="2">
                <v-card class="pa-5"
                  color="basil"
                  flat
                >
                  <v-data-table
                    :fixed-header=true
                    :items-per-page=-1
                    :height="tableData4controlHeight"
                    :headers="columns2control"
                    :items="tableData4control"
                    :key="componentKeyForForceRendering4control"
                    row-key-field-name="rownum"
                    :cell-style-option="cellStyleOption4control"
                    :border-y="true"
                    density="compact"
                    :cell-props="getCellPropsControltable">
                    <template #bottom></template>
                  </v-data-table>
                </v-card>
              </v-window-item>
              <v-window-item :key="3" :value="3">
                <v-card class="pa-5"
                  color="basil"
                  flat
                >
                  <v-data-table
                    :fixed-header=true
                    :items-per-page=-1
                    :height="tableData4controlHeight"
                    :headers="columns4XRFCheckSamples"
                    :items="tableData4XRFCheckSamples"
                    :key="componentKeyForForceRendering4XRFCheckSamples"
                    row-key-field-name="rownum"
                    :cell-style-option="cellStyleOption4control"
                    :border-y="true"
                    density="compact"
                    :cell-props="getCellPropsControltable">
                    <template #bottom></template>
                  </v-data-table>
                </v-card>
              </v-window-item>
              <v-window-item :key="4" :value="4">
                <v-card class="pa-5"
                  color="basil"
                  flat
                >
                  <v-row>
                  <v-data-table
                  :fixed-header=true
                  :items-per-page=-1
                  :height="tableData4controlHeight"
                    :headers="columns4SampleDespatch"
                    :items="tableData4SampleDespatch"
                    :key="componentKeyForForceRendering4SampleDespatch"
                    row-key-field-name="rownum"
                    :cell-style-option="cellStyleOption4control"
                    :border-y="true"
                    density="compact"
                    :cell-props="getCellPropsControltable">
                    <template #bottom></template>
                  </v-data-table>
                  </v-row>
                </v-card>
              </v-window-item>
              <v-window-item :key="5" :value="5">
                <v-card class="pa-2 pr-5"
                  color="basil"
                  flat
                >
                  <v-data-table
                    :fixed-header=true
                    :items-per-page=-1
                    :height="tableData4controlHeight"
                    :headers="columns4LabMetaData"
                    :items="tableData4LabMetaData"
                    :key="componentKeyForForceRendering4LabMetaData"
                    row-key-field-name="rownum"
                    :cell-style-option="cellStyleOption4control"
                    :border-y="true"
                    density="compact"
                    :cell-props="getCellPropsControltable">
                    <template #bottom></template>
                  </v-data-table>
                </v-card>
              </v-window-item>
              <v-window-item :key="6" :value="6">
                <v-card class="pa-2 pr-5"
                  color="basil"
                  flat>
                  <v-data-table
                    
                    :items-per-page=-1
                    :height="tableData4controlHeight"
                    :headers="controlColumns4SampleAndCheckImport"
                    :items="controlTableData4SampleAndCheckImport"
                    :key="componentKeyForForceRendering4SampleAndCheckImport"
                    row-key-field-name="rownum"
                    :cell-style-option="cellStyleOption4control"
                    :border-y="true"
                    density="compact"
                    :cell-props="getCellPropsControltable">
                    <template #bottom></template>
                  </v-data-table>
                </v-card>
              </v-window-item>
            </v-window>
          </v-card>
        </v-row>
        <v-row>
      </v-row>
      </v-col>
    </v-row>
  </v-col>
  </v-row>
</template>
<style scoped>
    .correct-class1 {
        background: #e2f0ea !important;
        color: rgb(12, 138, 12)  !important;
        font-weight: bold;
    }
    .gray-class1 {
        background: #dbdbdb !important;
        color: rgb(116, 116, 116)  !important;
        font-weight: bold;
    }
    .table-show-class1 {
        background: #effff1 !important;
        /*  color: rgb(116, 116, 116)  !important; */
        /* font-weight: bold; */
    }
    .row-error-class1 {
        background: #fbe0e0 !important;
        /*  color: rgb(116, 116, 116)  !important; */
        /* font-weight: bold; */
    }
    .table-header-control-class {
      background: rgb(227, 229, 253) !important;
      /* color: blue !important; */
    }
    .table-header-DESPATCHNO-class {
      background: rgb(250, 219, 250) !important;
    }
    .v-progress-circular {
      margin: 1rem;
    }
    .table-CHECKID-class1 {
        background: #daedf9 !important;
        /*  color: rgb(116, 116, 116)  !important; */
        /* font-weight: bold; */
    }
    .tab-active-class {
      background: #E2DFF0; /*lavanda from Katcos brandbook*/
      /* color: #5A5A5A!important; */ /*violet from Katcos brandbook*/
    }
    .custom-label-red .v-label {
      color: #db2c2c;
      opacity: 1;
    }
</style>
<script>
// import f from '@/store/fetch.js'
// import { VueUseComponentsResolver } from 'unplugin-vue-components/resolvers'
import { mapGetters } from 'vuex'
import f from '@/store/fetch.js'

export default {
  name: 'RImpSamplesXRF',
  data () {
    return {
      dialog: false,
      dialogMessageText: '',
      dialogType: '',
      dialogCaption: 'Warning',
      dialogImage: false,
      dialogMessageTextImage: 'User guide for Import XRF Samples',
      dialogTypeImage: '',
      dialogCaptionImage: 'User guide',
      tab: 0,
      showAll: false,
      pageIndex: 1,
      pageSize: 10,
      currentSelectedRidsList: [],
      columnHiddenOption: {
        // default hidden column keys
        defaultHiddenColumnKeys: ['rid_']
      },
      cellStyleOption: {
        bodyCellClass: ({ row, column, rowIndex }) => {
          if (column.field === 'rownum') {
            return 'gray-class1'
          }
          if (rowIndex >= 1) {
            return 'table-show-class1' // table with data
          }
        }
      },
      cellStyleOption4control: {
        bodyCellClass: ({ row, column, rowIndex }) => {
          if (column.field === 'rownum') {
            return 'gray-class1'
          }
          if (column.field !== 'rownum') {
            // console.log('row = ', row) // row-error-class1
            if (row.Error) {
              return 'row-error-class1'
            }
            if (row.CHECKID) {
              return 'table-CHECKID-class1'
            }
            return 'table-show-class1' // table with data
          }
        },
        headerCellClass: ({ column, rowIndex }) => {
          if (column.field === 'CHECKID' || column.field === 'DUPLICATENO' || column.field === 'STANDARDID') {
            return 'table-header-control-class'
          }
        }
      },
      cellStyleOption4short: {
        bodyCellClass: ({ row, column, rowIndex }) => {
          if (column.field === 'rownum') {
            return 'gray-class1'
          }
          if (column.field !== 'rownum') {
            // console.log('row = ', row) // row-error-class1
            if (row.Error) {
              return 'row-error-class1'
            }
            return 'table-show-class1' // table with data
          }
        },
        headerCellClass: ({ column, rowIndex }) => {
          if (column.field === 'CHECKID' || column.field === 'DUPLICATENO' || column.field === 'STANDARDID') {
            return 'table-header-control-class'
          }
        }
      },
      checkboxOption: {
        disableSelectedRowKeys: [],
        // defaultSelectedRowKeys: [],
        // row select change event
        selectedRowChange: ({ row, isSelected, selectedRowKeys }) => {
          // console.log('selectedRowChange. ', row, isSelected, selectedRowKeys)
          this.currentSelectedRidsList = selectedRowKeys
        },
        // selected all change event
        selectedAllChange: ({ isSelected, selectedRowKeys }) => {
          // console.log('selectedAllChange. ', isSelected, selectedRowKeys)
          this.currentSelectedRidsList = selectedRowKeys
        }
      },
      columns: [
        { field: 'rownum', key: 'rownum', title: 'rn', align: 'left', sortable: false },
        { field: 'f1', key: 'f1', title: 'Date', align: 'left', sortable: false },
        { field: 'f2', key: 'f2', title: 'Time', align: 'left', sortable: false },
        { field: 'f3', key: 'f3', title: 'Reading Number', align: 'left', sortable: false },
        { field: 'f4', key: 'f4', title: 'Mode', align: 'left', sortable: false },
        { field: 'f5', key: 'f5', title: 'Field 1', align: 'left', sortable: false },
        { field: 'f6', key: 'f6', title: 'Field 2', align: 'left', sortable: false },
        { field: 'f7', key: 'f7', title: 'Field 3', align: 'left', sortable: false },
        { field: 'f8', key: 'f8', title: 'Field 4', align: 'left', sortable: false },
        { field: 'f9', key: 'f9', title: 'Field 5', align: 'left', sortable: false },
        { field: 'f10', key: 'f10', title: 'Field 6', align: 'left', sortable: false },
        { field: 'f11', key: 'f11', title: 'Field 7', align: 'left', sortable: false },
        { field: 'f12', key: 'f12', title: 'Field 8', align: 'left', sortable: false },
        { field: 'f13', key: 'f13', title: 'U', align: 'left', sortable: false },
        { field: 'f14', key: 'f14', title: 'U +/-', align: 'left', sortable: false },
        { field: 'f15', key: 'f15', title: 'Se', align: 'left', sortable: false },
        { field: 'f16', key: 'f16', title: 'Se +/-', align: 'left', sortable: false },
        { field: 'f17', key: 'f17', title: 'P', align: 'left', sortable: false },
        { field: 'f18', key: 'f18', title: 'P +/-', align: 'left', sortable: false },
        { field: 'f19', key: 'f19', title: 'S', align: 'left', sortable: false },
        { field: 'f20', key: 'f20', title: 'S +/-', align: 'left', sortable: false },
        { field: 'f21', key: 'f21', title: 'Cl', align: 'left', sortable: false },
        { field: 'f22', key: 'f22', title: 'Cl +/-', align: 'left', sortable: false },
        { field: 'f23', key: 'f23', title: 'K', align: 'left', sortable: false },
        { field: 'f24', key: 'f24', title: 'K +/-', align: 'left', sortable: false },
        { field: 'f25', key: 'f25', title: 'Ca', align: 'left', sortable: false },
        { field: 'f26', key: 'f26', title: 'Ca +/-', align: 'left', sortable: false },
        { field: 'f27', key: 'f27', title: 'Ti', align: 'left', sortable: false },
        { field: 'f28', key: 'f28', title: 'Ti +/-', align: 'left', sortable: false },
        { field: 'f29', key: 'f29', title: 'V', align: 'left', sortable: false },
        { field: 'f30', key: 'f30', title: 'V +/-', align: 'left', sortable: false },
        { field: 'f31', key: 'f31', title: 'Cr', align: 'left', sortable: false },
        { field: 'f32', key: 'f32', title: 'Cr +/-', align: 'left', sortable: false },
        { field: 'f33', key: 'f33', title: 'Mn', align: 'left', sortable: false },
        { field: 'f34', key: 'f34', title: 'Mn +/-', align: 'left', sortable: false },
        { field: 'f35', key: 'f35', title: 'Fe', align: 'left', sortable: false },
        { field: 'f36', key: 'f36', title: 'Fe +/-', align: 'left', sortable: false },
        { field: 'f37', key: 'f37', title: 'Co', align: 'left', sortable: false },
        { field: 'f38', key: 'f38', title: 'Co +/-', align: 'left', sortable: false },
        { field: 'f39', key: 'f39', title: 'Ni', align: 'left', sortable: false },
        { field: 'f40', key: 'f40', title: 'Ni +/-', align: 'left', sortable: false },
        { field: 'f41', key: 'f41', title: 'Cu', align: 'left', sortable: false },
        { field: 'f42', key: 'f42', title: 'Cu +/-', align: 'left', sortable: false },
        { field: 'f43', key: 'f43', title: 'Zn', align: 'left', sortable: false },
        { field: 'f44', key: 'f44', title: 'Zn +/-', align: 'left', sortable: false },
        { field: 'f45', key: 'f45', title: 'As', align: 'left', sortable: false },
        { field: 'f46', key: 'f46', title: 'As +/-', align: 'left', sortable: false },
        { field: 'f47', key: 'f47', title: 'Rb', align: 'left', sortable: false },
        { field: 'f48', key: 'f48', title: 'Rb +/-', align: 'left', sortable: false },
        { field: 'f49', key: 'f49', title: 'Sr', align: 'left', sortable: false },
        { field: 'f50', key: 'f50', title: 'Sr +/-', align: 'left', sortable: false },
        { field: 'f51', key: 'f51', title: 'Zr', align: 'left', sortable: false },
        { field: 'f52', key: 'f52', title: 'Zr +/-', align: 'left', sortable: false },
        { field: 'f53', key: 'f53', title: 'Mo', align: 'left', sortable: false },
        { field: 'f54', key: 'f54', title: 'Mo +/-', align: 'left', sortable: false },
        { field: 'f55', key: 'f55', title: 'Ag', align: 'left', sortable: false },
        { field: 'f56', key: 'f56', title: 'Ag +/-', align: 'left', sortable: false },
        { field: 'f57', key: 'f57', title: 'Cd', align: 'left', sortable: false },
        { field: 'f58', key: 'f58', title: 'Cd +/-', align: 'left', sortable: false },
        { field: 'f59', key: 'f59', title: 'Sn', align: 'left', sortable: false },
        { field: 'f60', key: 'f60', title: 'Sn +/-', align: 'left', sortable: false },
        { field: 'f61', key: 'f61', title: 'Sb', align: 'left', sortable: false },
        { field: 'f62', key: 'f62', title: 'Sb +/-', align: 'left', sortable: false },
        { field: 'f63', key: 'f63', title: 'W', align: 'left', sortable: false },
        { field: 'f64', key: 'f64', title: 'W +/-', align: 'left', sortable: false },
        { field: 'f65', key: 'f65', title: 'Hg', align: 'left', sortable: false },
        { field: 'f66', key: 'f66', title: 'Hg +/-', align: 'left', sortable: false },
        { field: 'f67', key: 'f67', title: 'Pb', align: 'left', sortable: false },
        { field: 'f68', key: 'f68', title: 'Pb +/-', align: 'left', sortable: false },
        { field: 'f69', key: 'f69', title: 'Bi', align: 'left', sortable: false },
        { field: 'f70', key: 'f70', title: 'Bi +/-', align: 'left', sortable: false },
        { field: 'f71', key: 'f71', title: 'Th', align: 'left', sortable: false },
        { field: 'f72', key: 'f72', title: 'Th +/-', align: 'left', sortable: false },
        { field: 'f73', key: 'f73', title: 'Y', align: 'left', sortable: false },
        { field: 'f74', key: 'f74', title: 'Y +/-', align: 'left', sortable: false },
        { field: 'f75', key: 'f75', title: 'Nb', align: 'left', sortable: false },
        { field: 'f76', key: 'f76', title: 'Nb +/-', align: 'left', sortable: false },
        { field: 'f77', key: 'f77', title: 'Mg', align: 'left', sortable: false },
        { field: 'f78', key: 'f78', title: 'Mg +/-', align: 'left', sortable: false },
        { field: 'f79', key: 'f79', title: 'Al ', align: 'left', sortable: false },
        { field: 'f80', key: 'f80', title: 'Al +/-', align: 'left', sortable: false },
        { field: 'f81', key: 'f81', title: 'Si', align: 'left', sortable: false },
        { field: 'f82', key: 'f82', title: 'Si +/-', align: 'left', sortable: false },
        { field: 'f83', key: 'f83', title: 'Ba', align: 'left', sortable: false },
        { field: 'f84', key: 'f84', title: 'Ba +/-', align: 'left', sortable: false },
        { field: 'f85', key: 'f85', title: 'La', align: 'left', sortable: false },
        { field: 'f86', key: 'f86', title: 'La +/-', align: 'left', sortable: false },
        { field: 'f87', key: 'f87', title: 'Ce', align: 'left', sortable: false },
        { field: 'f88', key: 'f88', title: 'Ce +/-', align: 'left', sortable: false },
        { field: 'f89', key: 'f89', title: 'Pr', align: 'left', sortable: false },
        { field: 'f90', key: 'f90', title: 'Pr +/-', align: 'left', sortable: false },
        { field: 'f91', key: 'f91', title: 'Nd', align: 'left', sortable: false },
        { field: 'f92', key: 'f92', title: 'Nd +/-', align: 'left' }
      ],
      fileName: 'samplesxrf_list',
      worksheet: 'data',
      totalWellsList: [],
      tableData: [],
      footerData: [],
      diffValueFilter: [],
      rapportAttributeFilter: [],
      statusNameFilter: [],
      componentKeyForForceRendering: 0,
      columns2control: [
        { key: 'rownum', title: 'rn', align: 'left', sortable: false },
        { key: 'Error',  title: 'Error message', align: 'left', sortable: false },
        { key: 'Info',  title: 'Info message', align: 'left', sortable: false },
        { key: 'SAMPLEID', title: 'SAMPLEID', align: 'left', sortable: false },
        { key: 'HOLEID',  title: 'HOLEID', align: 'left', sortable: false },
        { key: 'PROJECTCODE',  title: 'PROJECTCODE', align: 'left', sortable: false },
        { key: 'SAMPFROM', title: 'SAMPFROM', align: 'left', sortable: false },
        { key: 'SAMPTO',  title: 'SAMPTO', align: 'left', sortable: false },
        { key: 'PRIORITY',  title: 'PRIORITY', align: 'left', sortable: false },
        { key: 'XRF_Date',  title: 'XRF_Date', align: 'left', sortable: false },
        { key: 'XRF_Time',  title: 'XRF_Time', align: 'left', sortable: false },

        { key: 'XRF_ReadingNumber',  title: 'XRF_ReadingNumber', align: 'left', sortable: false },
        { key: 'XRF_Mode',  title: 'XRF_Mode', align: 'left', sortable: false },
        { key: 'XRF_InterpretedDepth',title: 'XRF_InterpretedDepth', align: 'left', sortable: false },
        { key: 'XRF_Geologist',  title: 'XRF_Geologist', align: 'left', sortable: false },

      ],
      tableData4control: [],
      componentKeyForForceRendering4control: 1000,
      buttonSaveDisable: true,
      laboratoryItems: [],
      laboratoryValue: 'VOLKOV',
      despatchedByItems: [],
      despatchedByValue: 'XRF_Vanta_2021',
      sampleTypeItems: [],
      sampleTypeValue: '1a',
      analysisTypeItems: ['XRF', 'XRF10', 'URa'],
      analysisTypeValue: 'XRF10',
      columns4short: [
        { key: 'rownum', title: 'rn', align: 'left', sortable: false },
        { key: 'Error',  title: 'Error message', align: 'left', sortable: false },
        { key: 'Info',  title: 'Info message', align: 'left', sortable: false },
        { key: 'DESPATCHNO',  title: 'DESPATCHNO', align: 'left', sortable: false },
        { key: 'SENDDATE',  title: 'SENDDATE', align: 'left', sortable: false },
        { key: 'LABCODE',  title: 'LABCODE', align: 'left', sortable: false },
        { key: 'COMMENTS',  title: 'COMMENTS', align: 'left', sortable: false },
        { key: 'DespatchedBy', title: 'Despatched By', align: 'left', sortable: false },
        { key: 'DespatchSampleType',  title: 'Despatch Sample Type', align: 'left' }

      ],
      tableData4short: [],
      componentKeyForForceRendering4short: 1100,
      sendDateDTS: new Date(new Date().setDate(new Date().getDate())).toISOString().substr(0, 10),
      menudate1: false,
      holeIdValue: '',
      showCircleProgress: false,
      windowHeight: window.innerHeight,
      tableDataHeight: (window.innerHeight - 370),
      tableData4controlHeight: (window.innerHeight - 250),

      controlTableXRFCheckSamplesRowCount: 0,
      controlTableXRFCheckSamplesErrorCount: 0,
      columns4XRFCheckSamples: [
        { key: 'rownum', title: 'rn', align: 'left', sortable: false },
        
        { key: 'Error', title: 'Error message', align: 'left', sortable: false },
        { key: 'Info', title: 'Info message', align: 'left', sortable: false },
        { key: 'CHECKID', title: 'CHECKID', align: 'left', sortable: false },
        { key: 'DUPLICATENO', title: 'DUPLICATENO', align: 'left', sortable: false },
        { key: 'SAMPLEID',  title: 'SAMPLEID', align: 'left', sortable: false },
        { key: 'XRF_Date', title: 'XRF_Date', align: 'left', sortable: false },
        { key: 'XRF_Time', title: 'XRF_Time', align: 'left', sortable: false },

        { key: 'XRF_ReadingNumber', title: 'XRF_ReadingNumber', align: 'left', sortable: false },
        { key: 'XRF_Mode',  title: 'XRF_Mode', align: 'left', sortable: false },
        { key: 'XRF_InterpretedDepth', title: 'XRF_InterpretedDepth', align: 'left', sortable: false },
        { key: 'XRF_Geologist', title: 'XRF_Geologist', align: 'left', sortable: false },
      ],
      componentKeyForForceRendering4XRFCheckSamples: 1400,
      tableData4XRFCheckSamples: [],

      controlTableSampleDespatchRowCount: 0,
      controlTableSampleDespatchErrorCount: 0,
      columns4SampleDespatch: [
        { key: 'rownum', key2: 'rownum', title: 'rn', align: 'left', sortable: false },
        { key: 'Error', key2: '25', title: 'Error message', align: 'left', sortable: false },
        { key: 'Info', key2: '26', title: 'Info message', align: 'left', sortable: false },
        { key: 'SAMPLEID', key2: '1', title: 'SAMPLEID', align: 'left', sortable: false },
        { key: 'DUPLICATENO', key2: '2', title: 'DUPLICATENO', align: 'left', sortable: false },
        { key: 'DESPATCHNO', key2: '3', title: 'DESPATCHNO', align: 'left', sortable: false },
        { key: 'LABJOBNO', key2: '4', title: 'LABJOBNO', align: 'left', sortable: false },
        { key: 'RETURNDATE', key2: '5', title: 'RETURNDATE', align: 'left',sortable: false }


      ],
      componentKeyForForceRendering4SampleDespatch: 1400,
      tableData4SampleDespatch: [],

      controlTableLabMetaDataRowCount: 0,
      controlTableLabMetaDataErrorCount: 0,
      columns4LabMetaData: [
        { key: 'rownum', ke_: 'rownum', title: 'rn', align: 'left', sortable: false },
        
        { key: 'Error', ke_: '35', title: 'Error message', align: 'left', sortable: false },
        { key: 'Info', ke_: '36', title: 'Info message', align: 'left', sortable: false },

        { key: 'LABJOBNO', ke_: '1', title: 'LABJOBNO', align: 'left', sortable: false },
        { key: 'DESPATCHNO', ke_: '2', title: 'DESPATCHNO', align: 'left', sortable: false },
        { key: 'U_XRF_ppm_ASSAYPRECISION', ke_: '3', title: 'U_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Se_XRF_ppm_ASSAYPRECISION', ke_: '4', title: 'Se_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'P_XRF_ppm_ASSAYPRECISION', ke_: '5', title: 'P_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'S_XRF_ppm_ASSAYPRECISION', ke_: '6', title: 'S_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Cl_XRF_ppm_ASSAYPRECISION', ke_: '7', title: 'Cl_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'K_XRF_ppm_ASSAYPRECISION', ke_: '8', title: 'K_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Ca_XRF_ppm_ASSAYPRECISION', ke_: '9', title: 'Ca_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Ti_XRF_ppm_ASSAYPRECISION', ke_: '10', title: 'Ti_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'V_XRF_ppm_ASSAYPRECISION', ke_: '11', title: 'V_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Cr_XRF_ppm_ASSAYPRECISION', ke_: '12', title: 'Cr_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Mn_XRF_ppm_ASSAYPRECISION', ke_: '13', title: 'Mn_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Fe_XRF_ppm_ASSAYPRECISION', ke_: '14', title: 'Fe_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Co_XRF_ppm_ASSAYPRECISION', ke_: '15', title: 'Co_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Ni_XRF_ppm_ASSAYPRECISION', ke_: '16', title: 'Ni_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Cu_XRF_ppm_ASSAYPRECISION', ke_: '17', title: 'Cu_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Zn_XRF_ppm_ASSAYPRECISION', ke_: '18', title: 'Zn_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'As_XRF_ppm_ASSAYPRECISION', ke_: '19', title: 'As_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Rb_XRF_ppm_ASSAYPRECISION', ke_: '20', title: 'Rb_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Sr_XRF_ppm_ASSAYPRECISION', ke_: '21', title: 'Sr_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Zr_XRF_ppm_ASSAYPRECISION', ke_: '22', title: 'Zr_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Mo_XRF_ppm_ASSAYPRECISION', ke_: '23', title: 'Mo_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Ag_XRF_ppm_ASSAYPRECISION', ke_: '24', title: 'Ag_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Cd_XRF_ppm_ASSAYPRECISION', ke_: '25', title: 'Cd_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Sn_XRF_ppm_ASSAYPRECISION', ke_: '26', title: 'Sn_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Sb_XRF_ppm_ASSAYPRECISION', ke_: '27', title: 'Sb_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'W_XRF_ppm_ASSAYPRECISION', ke_: '28', title: 'W_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Hg_XRF_ppm_ASSAYPRECISION', ke_: '29', title: 'Hg_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Pb_XRF_ppm_ASSAYPRECISION', ke_: '30', title: 'Pb_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Bi_XRF_ppm_ASSAYPRECISION', ke_: '31', title: 'Bi_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Th_XRF_ppm_ASSAYPRECISION', ke_: '32', title: 'Th_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Y_XRF_ppm_ASSAYPRECISION', ke_: '33', title: 'Y_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false },
        { key: 'Nb_XRF_ppm_ASSAYPRECISION', ke_: '34', title: 'Nb_XRF_ppm ASSAYPRECISION', align: 'left', sortable: false }
      ],
      componentKeyForForceRendering4LabMetaData: 1600,
      tableData4LabMetaData: [],

      controlRowCount4SampleAndCheckImport: 0,
      controlRowCount4SampleAndCheckImportError: 0,
      controlColumns4SampleAndCheckImport: [
        { key: 'rownum', ke_: 'rownum', title: 'rn', align: 'left', sortable: false },
        { key: 'Error', ke_: '100', title: 'Error message', align: 'left', sortable: false },
        { key: 'Info', ke_: '101', title: 'Info message', align: 'left', sortable: false },
        { key: 'SAMPLEID', ke_: '1', title: 'SAMPLEID', align: 'left', sortable: false },
        { key: 'DUPLICATENO', ke_: '2', title: 'DUPLICATENO', align: 'left', sortable: false },

        { key: 'U_XRF_ppm', ke_: '3', title: 'U_XRF_ppm', align: 'left', sortable: false },
        { key: 'U_XRF_ppm_LABJOBNO', ke_: '4', title: 'U_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'U_XRF_ppm_ORDER', ke_: '5', title: 'U_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Se_XRF_ppm', ke_: '6', title: 'Se_XRF_ppm', align: 'left', sortable: false },
        { key: 'Se_XRF_ppm_LABJOBNO', ke_: '7', title: 'Se_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Se_XRF_ppm_ORDER', ke_: '8', title: 'Se_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'P_XRF_ppm', ke_: '9', title: 'P_XRF_ppm', align: 'left', sortable: false },
        { key: 'P_XRF_ppm_LABJOBNO', ke_: '10', title: 'P_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'P_XRF_ppm_ORDER', ke_: '11', title: 'P_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'S_XRF_ppm', ke_: '12', title: 'S_XRF_ppm', align: 'left', sortable: false },
        { key: 'S_XRF_ppm_LABJOBNO', ke_: '13', title: 'S_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'S_XRF_ppm_ORDER', ke_: '14', title: 'S_XRF_ppm ORDER', align: 'left', sortable: false },

        { key: 'Cl_XRF_ppm', ke_: '141', title: 'Cl_XRF_ppm', align: 'left', sortable: false },
        { key: 'Cl_XRF_ppm_LABJOBNO', ke_: '142', title: 'Cl_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Cl_XRF_ppm_ORDER', ke_: '143', title: 'Cl_XRF_ppm ORDER', align: 'left', sortable: false },

        { key: 'K_XRF_ppm', ke_: '15', title: 'K_XRF_ppm', align: 'left', sortable: false },
        { key: 'K_XRF_ppm_LABJOBNO', ke_: '16', title: 'K_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'K_XRF_ppm_ORDER', ke_: '17', title: 'K_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Ca_XRF_ppm', ke_: '18', title: 'Ca_XRF_ppm', align: 'left', sortable: false },
        { key: 'Ca_XRF_ppm_LABJOBNO', ke_: '19', title: 'Ca_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Ca_XRF_ppm_ORDER', ke_: '20', title: 'Ca_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Ti_XRF_ppm', ke_: '21', title: 'Ti_XRF_ppm', align: 'left', sortable: false },
        { key: 'Ti_XRF_ppm_LABJOBNO', ke_: '22', title: 'Ti_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Ti_XRF_ppm_ORDER', ke_: '23', title: 'Ti_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'V_XRF_ppm', ke_: '24', title: 'V_XRF_ppm', align: 'left', sortable: false },
        { key: 'V_XRF_ppm_LABJOBNO', ke_: '25', title: 'V_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'V_XRF_ppm_ORDER', ke_: '26', title: 'V_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Cr_XRF_ppm', ke_: '27', title: 'Cr_XRF_ppm', align: 'left', sortable: false },
        { key: 'Cr_XRF_ppm_LABJOBNO', ke_: '28', title: 'Cr_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Cr_XRF_ppm_ORDER', ke_: '29', title: 'Cr_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Mn_XRF_ppm', ke_: '30', title: 'Mn_XRF_ppm', align: 'left', sortable: false },
        { key: 'Mn_XRF_ppm_LABJOBNO', ke_: '31', title: 'Mn_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Mn_XRF_ppm_ORDER', ke_: '32', title: 'Mn_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Fe_XRF_ppm', ke_: '33', title: 'Fe_XRF_ppm', align: 'left', sortable: false },
        { key: 'Fe_XRF_ppm_LABJOBNO', ke_: '34', title: 'Fe_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Fe_XRF_ppm_ORDER', ke_: '35', title: 'Fe_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Co_XRF_ppm', ke_: '36', title: 'Co_XRF_ppm', align: 'left', sortable: false },
        { key: 'Co_XRF_ppm_LABJOBNO', ke_: '37', title: 'Co_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Co_XRF_ppm_ORDER', ke_: '38', title: 'Co_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Ni_XRF_ppm', ke_: '39', title: 'Ni_XRF_ppm', align: 'left', sortable: false },
        { key: 'Ni_XRF_ppm_LABJOBNO', ke_: '40', title: 'Ni_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Ni_XRF_ppm_ORDER', ke_: '41', title: 'Ni_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Cu_XRF_ppm', ke_: '42', title: 'Cu_XRF_ppm', align: 'left', sortable: false },
        { key: 'Cu_XRF_ppm_LABJOBNO', ke_: '43', title: 'Cu_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Cu_XRF_ppm_ORDER', ke_: '44', title: 'Cu_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Zn_XRF_ppm', ke_: '45', title: 'Zn_XRF_ppm', align: 'left', sortable: false },
        { key: 'Zn_XRF_ppm_LABJOBNO', ke_: '46', title: 'Zn_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Zn_XRF_ppm_ORDER', ke_: '47', title: 'Zn_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'As_XRF_ppm', ke_: '48', title: 'As_XRF_ppm', align: 'left', sortable: false },
        { key: 'As_XRF_ppm_LABJOBNO', ke_: '49', title: 'As_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'As_XRF_ppm_ORDER', ke_: '50', title: 'As_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Rb_XRF_ppm', ke_: '51', title: 'Rb_XRF_ppm', align: 'left', sortable: false },
        { key: 'Rb_XRF_ppm_LABJOBNO', ke_: '52', title: 'Rb_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Rb_XRF_ppm_ORDER', ke_: '53', title: 'Rb_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Sr_XRF_ppm', ke_: '54', title: 'Sr_XRF_ppm', align: 'left', sortable: false },
        { key: 'Sr_XRF_ppm_LABJOBNO', ke_: '55', title: 'Sr_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Sr_XRF_ppm_ORDER', ke_: '56', title: 'Sr_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Zr_XRF_ppm', ke_: '57', title: 'Zr_XRF_ppm', align: 'left', sortable: false },
        { key: 'Zr_XRF_ppm_LABJOBNO', ke_: '58', title: 'Zr_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Zr_XRF_ppm_ORDER', ke_: '59', title: 'Zr_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Mo_XRF_ppm', ke_: '60', title: 'Mo_XRF_ppm', align: 'left', sortable: false },
        { key: 'Mo_XRF_ppm_LABJOBNO', ke_: '61', title: 'Mo_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Mo_XRF_ppm_ORDER', ke_: '62', title: 'Mo_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Ag_XRF_ppm', ke_: '63', title: 'Ag_XRF_ppm', align: 'left', sortable: false },
        { key: 'Ag_XRF_ppm_LABJOBNO', ke_: '64', title: 'Ag_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Ag_XRF_ppm_ORDER', ke_: '65', title: 'Ag_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Cd_XRF_ppm', ke_: '66', title: 'Cd_XRF_ppm', align: 'left', sortable: false },
        { key: 'Cd_XRF_ppm_LABJOBNO', ke_: '67', title: 'Cd_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Cd_XRF_ppm_ORDER', ke_: '68', title: 'Cd_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Sn_XRF_ppm', ke_: '69', title: 'Sn_XRF_ppm', align: 'left', sortable: false },
        { key: 'Sn_XRF_ppm_LABJOBNO', ke_: '70', title: 'Sn_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Sn_XRF_ppm_ORDER', ke_: '71', title: 'Sn_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Sb_XRF_ppm', ke_: '72', title: 'Sb_XRF_ppm', align: 'left', sortable: false },
        { key: 'Sb_XRF_ppm_LABJOBNO', ke_: '73', title: 'Sb_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Sb_XRF_ppm_ORDER', ke_: '74', title: 'Sb_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'W_XRF_ppm', ke_: '75', title: 'W_XRF_ppm', align: 'left', sortable: false },
        { key: 'W_XRF_ppm_LABJOBNO', ke_: '76', title: 'W_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'W_XRF_ppm_ORDER', ke_: '77', title: 'W_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Hg_XRF_ppm', ke_: '78', title: 'Hg_XRF_ppm', align: 'left', sortable: false },
        { key: 'Hg_XRF_ppm_LABJOBNO', ke_: '79', title: 'Hg_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Hg_XRF_ppm_ORDER', ke_: '80', title: 'Hg_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Pb_XRF_ppm', ke_: '81', title: 'Pb_XRF_ppm', align: 'left', sortable: false },
        { key: 'Pb_XRF_ppm_LABJOBNO', ke_: '82', title: 'Pb_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Pb_XRF_ppm_ORDER', ke_: '83', title: 'Pb_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Bi_XRF_ppm', ke_: '84', title: 'Bi_XRF_ppm', align: 'left', sortable: false },
        { key: 'Bi_XRF_ppm_LABJOBNO', ke_: '85', title: 'Bi_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Bi_XRF_ppm_ORDER', ke_: '86', title: 'Bi_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Th_XRF_ppm', ke_: '87', title: 'Th_XRF_ppm', align: 'left', sortable: false },
        { key: 'Th_XRF_ppm_LABJOBNO', ke_: '88', title: 'Th_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Th_XRF_ppm_ORDER', ke_: '89', title: 'Th_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Y_XRF_ppm', ke_: '90', title: 'Y_XRF_ppm', align: 'left', sortable: false },
        { key: 'Y_XRF_ppm_LABJOBNO', ke_: '91', title: 'Y_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Y_XRF_ppm_ORDER', ke_: '92', title: 'Y_XRF_ppm ORDER', align: 'left', sortable: false },
        { key: 'Nb_XRF_ppm', ke_: '93', title: 'Nb_XRF_ppm', align: 'left', sortable: false },
        { key: 'Nb_XRF_ppm_LABJOBNO', ke_: '94', title: 'Nb_XRF_ppm LABJOBNO', align: 'left', sortable: false },
        { key: 'Nb_XRF_ppm_ORDER', ke_: '95', title: 'Nb_XRF_ppm ORDER', align: 'left', sortable: false }
      ],
      componentKeyForForceRendering4SampleAndCheckImport: 1600,
      controlTableData4SampleAndCheckImport: []
    }
  },
  computed: {
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return 'Import XRF Samples' },
    disableSelectedRowKeysList () {
      const validatedRids = []
      this.tableData.forEach(function (element) {
        if (element.validated_date) {
          validatedRids.push(element.rid)
        }
      })
      return validatedRids
    },
    controlTableRowCount () {
      if (this.tableData4control) {
        return this.tableData4control.length
      }
      return 0
    },
    controlTableRowCountError () {
      let errCount = 0
      if (this.tableData4control) {
        this.tableData4control.forEach(element => {
          if (element.Error) { errCount++ }
        })
        return errCount
      }
      return 0
    },
    importTableRowCount () {
      if (this.tableData) {
        return this.tableData.length
      }
      return 0
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Import XRF Samples'
    // this.$store.state.ui.active.page.url // = 's/import/sx'
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  },
  methods: {
    getCellProps (data) {
      // console.log('h71. getCellProps data = ', data)
      if (data.column.key === 'rownum') { return { class: 'gray-class1' } } // rownum column
      if (data.column.key !== 'rownum' && data.index > 0 ) { return { class: 'table-show-class1' } } // *** Green style for all importing values
    },
    getCellPropsControltable (data) {
      // console.log('h71. getCellPropsControltable data = ', data)
      if (data.column.key === 'rownum') { return { class: 'gray-class1' } } // rownum column
      if (data.item.Error !== '') {
         return { class: 'row-error-class1' } // *** Red  style for correct rows
      } 
      if (data.item.CHECKID && data.item.CHECKID !== '') {
         return { class: 'table-CHECKID-class1' } // Blue rows for checksamples
      }
      return { class: 'table-show-class1' }// // *** Green style for correct rows
    },
    onResize () {
      this.windowHeight = window.innerHeight
      this.tableDataHeight = this.windowHeight - 370
      this.tableData4controlHeight = window.innerHeight - 250
      // console.log('windowHeight=', this.windowHeight)
    },
    pasteFromClipboard () {
      // console.trace('Started')
      // console.time('fromClipborad')
      this.resetControlTables()
      this.tab = 0
      this.showCircleProgress = true
      navigator.clipboard.readText()
        .then(text => {
          // console.log('paste executed.')
          // console.log(text)
          /*  , code:  9 = tab, between cells
              , code:  13, 10 = between rows
          */
          const rows = text.split(/\r\n/gm)
          // let rowNumber = 0
          const row1 = []
          rows.forEach(element => {
            // rowNumber += 1
            // console.log('r. ', element)
            const cols = element.split(/\t/gm)
            const dataA = {}
            let i = 0
            cols.forEach(el2 => {
              // console.log('c. ', el2)
              const val = el2.replace('"', '').replace("'", '').replace("'", '').replace('"', '')
              // console.log('val = ', val)
              i += 1
              dataA['f' + i] = val.replace(/(\r\n|\n|\r)/gm, ' ')
            })
            row1.push(dataA)
          })
          // console.log('rows = ', rowNumber)
          // console.log('obj list: ', row1)
          // remove last empty rows
          let cutRows = 0
          let sumVal = ''
          // console.log('row1=', row1)
          for (let index = (row1.length - 1); index > 0; index--) {
            const lastElement = row1[index]
            // console.log('index = ', index, ', lastElement = ', lastElement)
            // console.log('lastElement.length = ', Object.keys(lastElement).length)

            for (const key in lastElement) {
              // console.log(key, lastElement[key])
              sumVal += lastElement[key]
            }
            if (sumVal === '') { cutRows++ } else { break }
          }
          // console.log('cutRows = ', cutRows)

          row1.length = row1.length - cutRows
          this.tableData = row1
          // add rownum attribute
          let i = 1
          this.tableData.forEach(function (element) {
            // append column rownum
            element.rownum = i++
          })
          // console.log('vv3. this.tableData = ', this.tableData)
          this.showCircleProgress = false
          // console.timeEnd('fromClipborad')
        })
        .catch(err => {
          // возможно, пользователь не дал разрешение на чтение данных из буфера обмена
          console.log('Something went wrong.', err)
          console.log('возможно, пользователь не дал разрешение на чтение данных из буфера обмена.')
          this.showCircleProgress = false
        })
      this.buttonSaveDisable = true
    },
    forceRerender () {
      // this function needed for apply list to status_name column filterList.
      this.componentKeyForForceRendering += 1
    },
    execute_send_table4check () {
      this.executeRequest('CHECK')
    },
    executeRequest (operFlag) {
      console.time('timerFor=' + operFlag)
      this.tab = 1
      // console.log('this.tableData = ', this.tableData)
      const clonedArray = this.tableData // this.tableData.map(a => { return { ...a } })
      // console.log('clonedArray = ', clonedArray)
      // console.log('forSQL = ', JSON.stringify(clonedArray))
      const bodyText = JSON.stringify(clonedArray).replace(/"/g, "'")
      // console.log('body = ', bodyText)
      // operFlag = 'CHECK' // temporary set value
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/execsp3.aspx?tfn=IMPORT_XRFSAMPLES_V3&p1=' + operFlag + '&p2=' + this.laboratoryValue +
                  '&p3=' + this.sendDateDTS + '&p4=' + this.despatchedByValue + '&p5=' + this.sampleTypeValue + '&p6=' + this.analysisTypeValue +
                  '&p7=' + (this.holeIdValue === '' ? '_empty_' : this.holeIdValue)
      this.showCircleProgress = true
      fetch(url,
        {
          method: 'POST',
          credentials: 'include',
          body: bodyText // "[{'f1':'50271'}]"
        })
        .then(async res => {
          // console.log('res=', res)
          // console.log('res.text', res.text()) // to view rae data and error messages
          let data = []
          if (res.ok) {
            data = await res.json() // text() // .body // json()
            // console.log('4. dataRaw = ', data)
            if (data.error) {
              // getting system error from sql-server
              this.showDialog('error', 'SQL Server system message: ' + data.error)
              this.buttonSaveDisable = true
              // return
            }
            const jsonFromServer = data.content
            let i = 1
            if (jsonFromServer) {
              if (jsonFromServer.length > 0) {
                // console.log('jsonFromServer.length = ', jsonFromServer.length)
                this.buttonSaveDisable = true
                if (jsonFromServer[0].status) {
                  // getting [error in envilope] from server
                  // console.log('check. status=', jsonFromServer[0].status)
                  this.showDialog('error', 'SQL Server custom message: ' + jsonFromServer[0].status)
                } else {
                  // console.log('No error')
                  if (operFlag === 'SAVE') {
                    this.showDialog('success', 'Imported successfuly!')
                  }
                }
              }
              jsonFromServer.forEach(function (element) {
                // append column rownum
                element.rownum = i++
              })
              // console.log('jsonFromServer = ', jsonFromServer)
              this.tableData4control = jsonFromServer
              if (this.tableData4control.length > 0) { this.buttonSaveDisable = false }
            }
            // Getting content2 - XRFCheckSamples
            i = 1
            let CheckErrorCount = 0
            if (data.content2) {
              const jsonFromServer2 = data.content2
              jsonFromServer2.forEach(function (element) {
              // append column rownum
                element.rownum = i++
                if (element.Error) { CheckErrorCount++ }
              })
              // console.log('jsonFromServer2 = ', jsonFromServer2)
              this.tableData4XRFCheckSamples = jsonFromServer2
              this.controlTableXRFCheckSamplesRowCount = this.tableData4XRFCheckSamples.length
              this.controlTableXRFCheckSamplesErrorCount = CheckErrorCount
            }
            // Getting content3 - XRFCheckSamples
            i = 1
            let DespatchErrorCount = 0
            if (data.content3) {
              const jsonFromServer3 = data.content3
              jsonFromServer3.forEach(function (element) {
              // append column rownum
                element.rownum = i++
                if (element.Error !== '') { DespatchErrorCount++ }
              })
              // console.log('jsonFromServer2 = ', jsonFromServer2)
              this.tableData4SampleDespatch = jsonFromServer3
              this.controlTableSampleDespatchRowCount = this.tableData4SampleDespatch.length
              this.controlTableSampleDespatchErrorCount = DespatchErrorCount
            }
            // Getting content4 - LabMetaData
            i = 1
            let LabErrorCount = 0
            if (data.content4) {
              const jsonFromServer4 = data.content4
              jsonFromServer4.forEach(function (element) {
              // append column rownum
                element.rownum = i++
                // console.log('error = ', element.Error)
                if (element.Error !== '') {
                  // console.count('element.Error = ' + element.Error)
                  LabErrorCount++
                }
              })
              // console.log('jsonFromServer2 = ', jsonFromServer2)
              this.tableData4LabMetaData = jsonFromServer4
              this.controlTableLabMetaDataRowCount = this.tableData4LabMetaData.length
              this.controlTableLabMetaDataErrorCount = LabErrorCount
            }
            // Getting content5 - SampleAndCheckImport
            i = 1
            let errCount = 0
            if (data.content5) {
              const jsonFromServer5 = data.content5
              jsonFromServer5.forEach(function (element) {
              // append column rownum
                element.rownum = i++
                if (element.Error) { errCount++ }
              })
              // console.log('jsonFromServer2 = ', jsonFromServer2)
              this.controlTableData4SampleAndCheckImport = jsonFromServer5
              this.controlRowCount4SampleAndCheckImport = this.controlTableData4SampleAndCheckImport.length
              this.controlRowCount4SampleAndCheckImportError = errCount
            }
            this.showCircleProgress = false
            console.timeEnd('timerFor=' + operFlag)
          } else {
            return Promise.reject(data)
          }
        })
        .catch(function (error) {
          console.log('Erorr when sending table: ', error)
          if (typeof this.showCircleProgress === 'undefined') {
            this.showCircleProgress = false
          }
        })
    },
    execute_send_table4save () {
      this.executeRequest('SAVE')
    },
    resetControlTables () {
      this.tableData4control = []

      this.tableData4XRFCheckSamples = []
      this.controlTableXRFCheckSamplesRowCount = 0
      this.controlTableXRFCheckSamplesErrorCount = 0

      this.tableData4SampleDespatch = []
      this.controlTableSampleDespatchRowCount = 0
      this.controlTableSampleDespatchErrorCount = 0

      this.tableData4LabMetaData = []
      this.controlTableLabMetaDataRowCount = 0
      this.controlTableLabMetaDataErrorCount = 0

      this.controlTableData4SampleAndCheckImport = []
      this.controlRowCount4SampleAndCheckImport = 0
      this.controlRowCount4SampleAndCheckImportError = 0
    },
    showDialog (typeOfDialog, textOfDialog) {
      this.dialogCaption = (typeOfDialog === 'error') ? 'Warning' : 'Info'
      this.dialogType = typeOfDialog // 'error' or 'success'
      this.dialogMessageText = textOfDialog
      this.dialog = true
    },
    showHelpGuide () {
      this.dialogImage = true
    },
    execute_validation () {
      this.pasteFromClipboard()
    },
    setWellslist () {
    },
    initValidatedRidsList () {
      // this.checkboxOption.disableSelectedRowKeys = this.disableSelectedRowKeysList
    },
    setInitLists () {
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytv3.aspx?view=ASSAYLABORATORY'
      f.fget(url)
        .then(res => {
          const result = res.content.map(a => a.LABCODE)
          this.laboratoryItems = result
        })

      const url2 = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytv3.aspx?view=QV_VS_LOOKUP_RO&where=%22FIELDTABLE%20=%27SAMPLECODE%27%20AND%20FIELDNAME%20=%20%27XRF_Model%27%22&orderby=LOOKUP'
      f.fget(url2)
        .then(res => {
          const result = res.content.map(a => a.LOOKUP)
          this.despatchedByItems = result
        })
      // sampleTypeItems
      const url3 = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytv3.aspx?view=STANDARDSDEFINITION&where=%22DESCRIPTION%20=%27XRF%20Standard%27%20%22&orderby=STANDARDID'
      f.fget(url3)
        .then(res => {
          const result = res.content.map(a => a.STANDARDID)
          this.sampleTypeItems = result
        })
    }
  },
  created () {
    this.setInitLists()
  }
}
</script>
