<template>
  <v-row
    fill-height
    no-gutters
  >
  <v-col cols="12">
  <v-row>
      <v-col cols="7">
        <v-card>
          <v-card-title dense>
            {{ caption }}
          </v-card-title>
        </v-card>
        <!-- <ShapeInfo /> -->
      </v-col>
      <v-col cols="4">
        <v-row
          no-gutters
          dense
        >
          <v-col>
            <div style="padding-top: 10px;">
              <v-btn
                v-on:click.native="execute_validation"
                dense
                color="darken-1"
                style="padding-left: 10px;"
                >
                  1.Fill table
              </v-btn>
              <v-btn
                class="ml-3"
                v-on:click.native="execute_send_table4check"
                dense
                color="darken-1"
                style="padding-left: 10px;"
                >
                  2.Verify
              </v-btn>
              <v-btn
                class="ml-3"
                :disabled="buttonSaveDisable"
                v-on:click.native="execute_send_table4save"
                dense
                color="darken-1"
                style="padding-left: 10px;"
                >
                  3.Save to DB
              </v-btn>
              <v-card v-if="showCircleProgress">
                <Loading />
              </v-card>
              <div>
                <div class="text-center">
                  <v-dialog
                    v-model="dialog"
                    width="500"
                  >
                    <v-card>
                      <v-card-title class="text-h5 grey lighten-2">
                        {{ dialogCaption }}
                      </v-card-title>
                      <v-card-text>
                        {{  dialogMessageText }}
                      </v-card-text>
                      <v-divider></v-divider>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          :color="dialogType"
                          text
                          @click="dialog = false"
                        >
                          Close
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </div>
                <div class="text-center">
                  <v-dialog
                    v-model="dialogImage"
                    width="1000"
                  >
                    <v-card>
                      <v-card-title class="text-h5 grey lighten-2">
                        {{ dialogCaptionImage }}
                      </v-card-title>
                      <v-card-text>
                        {{  dialogMessageTextImage }}
                      </v-card-text>
                      <v-img
                      src="./Guide_for_Upload_DespatchSampes_to_IDCARD.png"
                      ></v-img>
                      <v-divider></v-divider>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          :color="dialogType"
                          text
                          @click="dialogImage = false"
                        >
                          Close
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </div>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="1">
        <v-row>
          <v-col cols=6>
            <downloadExcel
              :data="tableData4control"
              :name="fileName"
              :worksheet="worksheet"
            >
              <v-btn
                icon
                outlined
              >
                <v-icon>mdi-table-arrow-right</v-icon>
              </v-btn>
            </downloadExcel>
          </v-col>
          <v-col cols ="6">
              <v-btn
                icon
                outlined
                v-on:click.native="showHelpGuide"
              >
                <v-icon>mdi-help</v-icon>
              </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row class="pl-1">
      <v-col cols="12">
        <v-row>
          <v-card>
            <v-tabs
              v-model="tab"
              color="primary"
              active-class="tab-active-class"
            >
              <v-tab :value="1">Excel table ({{ importTableRowCount }})</v-tab>
              <v-tab :value="2">Prepared ({{ controlTableRowCount }})</v-tab>
            </v-tabs>
            <v-window v-model="tab">
              <v-window-item :key="1" :value="1">
                <v-card class="pa-2">
                  <v-row >
                    <v-col cols="12"
                    style="display:flex;"
                    >
                      <v-combobox
                        style="z-index: 20; width: 150px"
                        v-model="laboratoryValue"
                        :items="laboratoryItems"
                        :hide-details=true
                        label="Laboratory"
                        return-object
                      ></v-combobox>
                      <v-menu 
                        style="z-index:20"
                        v-model="menudate1"
                        :close-on-content-click="false"
                      >
                        <template v-slot:activator="{ props }">
                          <span class="tooltipAB"
                            data-tooltip="Get this date from sampling geologist. This date must be earlier than the date of assay return.">
                          <v-text-field
                            class="custom-label-red pl-3"
                            style="width: 150px"
                            v-model="sendDateDTSShortString"
                            :hide-details=true
                            label="Send Date *"
                            prepenD-icon="mdi-calendar"
                            readonly
                            v-bind="props"
                          ></v-text-field>
                        </span>
                        </template>
                        <v-date-picker
                          color="primary"
                          first-day-of-week=1
                          v-model="sendDateDTS"
                          @input="menudate1 = false"
                        ></v-date-picker>
                      </v-menu>
                   
                      <v-combobox
                        class="pl-3"
                        style="z-index: 20; width: 260px"
                        v-model="despatchedByValue"
                        :items="despatchedByItems"
                        :hide-details=true
                        label="Despatched By"
                      ></v-combobox>
                    
                      <v-combobox
                        class="pl-3"
                        style="z-index: 20; width: 180px"
                        v-model="sampleTypeValue"
                        :items="sampleTypeItems"
                        :hide-details=true
                        label="Sample Type"
                      ></v-combobox>
                    
                      <v-combobox
                      class="custom-label-red pl-3"
                      style="z-index: 20; width: 150px"
                      v-model="analysisTypeValue"
                      :items="analysisTypeItems"
                      :hide-details=true
                      label="Analysis Type *"
                    ></v-combobox>
                    </v-col>
                  </v-row>
                  <v-row class="mt-1">
                    <v-text-field
                    class="pa-3"
                    v-model="commentValue"
                    :hide-details=true
                    label="Comments"></v-text-field>
                  </v-row>
                </v-card>
                <v-card  class="pa-3">
                  <v-data-table
                  :items-per-page=-1
                  :height="tableDataHeight"
                  :headers="columns"
                  :items="tableData"
                  :key="componentKeyForForceRendering"
                  row-key-field-name="rid"
                  :checkbox-option="checkboxOption"
                  :columnHiddenOption="columnHiddenOption"
                  :cell-style-option="cellStyleOption"
                  density="compact"
                  :cell-props="getCellProps">
                  <template #bottom></template>
                  </v-data-table>
                </v-card>
              </v-window-item>
              <v-window-item :key="2" :value="2" >
                <v-card class="pa-5"
                  color="basil"
                  flat
                >
                <v-row style="height: 120px">
                  <v-data-table
                    :items-per-page=-1
                    :height="200"
                    :headers="columns4short"
                    :items="tableData4short"
                    :key="componentKeyForForceRendering4short"
                    row-key-field-name="rownum"
                    :cell-style-option="cellStyleOption4short"
                    density="compact"
                    :cell-props="getCellPropsControltable">
                    <template #bottom></template>
                  </v-data-table>
                </v-row>
                <v-row>
                  <v-data-table
                    :items-per-page=-1
                    :height="tableData4controlHeight"
                    :headers="columns2control"
                    :items="tableData4control"
                    :key="componentKeyForForceRendering4control"
                    row-key-field-name="rownum"
                    :cell-style-option="cellStyleOption4control"
                    density="compact"
                    :cell-props="getCellPropsControltable">
                    <template #bottom></template>
                  </v-data-table>
                </v-row>
              </v-card>
            </v-window-item>
            </v-window>
          </v-card>
        </v-row>
        <v-row>
      </v-row>
      </v-col>
    </v-row>
  </v-col>
  </v-row>
</template>
<style>
    .correct-class1 {
        background: #e2f0ea !important;
        color: rgb(12, 138, 12)  !important;
        font-weight: bold;
    }
    .gray-class1 {
        background: #dbdbdb !important;
        color: rgb(116, 116, 116)  !important;
        font-weight: bold;
    }
    .table-show-class1 {
        background: #effff1 !important;
        /*  color: rgb(116, 116, 116)  !important; */
        /* font-weight: bold; */
    }
    .row-error-class1 {
        background: #fbe0e0 !important;
        /*  color: rgb(116, 116, 116)  !important; */
        /* font-weight: bold; */
    }
    .table-header-control-class {
      background: rgb(227, 229, 253) !important;
      /* color: blue !important; */
    }
    .table-header-DESPATCHNO-class {
      background: rgb(250, 219, 250) !important;
    }
    .v-progress-circular {
      margin: 1rem;
    }
    .table-CHECKID-class1 {
        background: #daedf9 !important;
        /*  color: rgb(116, 116, 116)  !important; */
        /* font-weight: bold; */
    }
    .custom-label-red .v-label {
      color: #db2c2c;
      opacity: 1;
    }
</style>
<script>
// import f from '@/store/fetch.js'
// import { VueUseComponentsResolver } from 'unplugin-vue-components/resolvers'
import { mapGetters } from 'vuex'
import f from '@/store/fetch.js'

export default {
  name: 'RImpSamplesDespatch',
  data () {
    return {
      dialog: false,
      dialogMessageText: '',
      dialogType: '',
      dialogCaption: 'Warning',
      dialogImage: false,
      dialogMessageTextImage: 'User guide for Import Despatch Samples',
      dialogTypeImage: '',
      dialogCaptionImage: 'User guide',
      tab: 0,
      showAll: false,
      pageIndex: 1,
      pageSize: 10,
      currentSelectedRidsList: [],
      columnHiddenOption: {
        // default hidden column keys
        defaultHiddenColumnKeys: ['rid_']
      },
      cellStyleOption: {
        bodyCellClass: ({ row, column, rowIndex }) => {
          if (column.field === 'rownum') {
            return 'gray-class1'
          }
          if (column.field === 'f3' && rowIndex === 3) {
            return 'table-show-class1' // table with data
          }
          if (column.field !== 'f1' && rowIndex >= 7) {
            return 'table-show-class1' // table with data
          }
        }
      },
      cellStyleOption4control: {
        bodyCellClass: ({ row, column, rowIndex }) => {
          if (column.field === 'rownum') {
            return 'gray-class1'
          }
          if (column.field !== 'rownum') {
            // console.log('row = ', row) // row-error-class1
            if (row.Error) {
              return 'row-error-class1'
            }
            if (row.CHECKID) {
              return 'table-CHECKID-class1'
            }
            return 'table-show-class1' // table with data
          }
        },
        headerCellClass: ({ column, rowIndex }) => {
          if (column.field === 'CHECKID' || column.field === 'DUPLICATENO' || column.field === 'STANDARDID') {
            return 'table-header-control-class'
          }
        }
      },
      cellStyleOption4short: {
        bodyCellClass: ({ row, column, rowIndex }) => {
          if (column.field === 'rownum') {
            return 'gray-class1'
          }
          if (column.field !== 'rownum') {
            // console.log('row = ', row) // row-error-class1
            if (row.Error) {
              return 'row-error-class1'
            }
            return 'table-show-class1' // table with data
          }
        },
        headerCellClass: ({ column, rowIndex }) => {
          if (column.field === 'CHECKID' || column.field === 'DUPLICATENO' || column.field === 'STANDARDID') {
            return 'table-header-control-class'
          }
        }
      },
      checkboxOption: {
        disableSelectedRowKeys: [],
        // defaultSelectedRowKeys: [],
        // row select change event
        selectedRowChange: ({ row, isSelected, selectedRowKeys }) => {
          // console.log('selectedRowChange. ', row, isSelected, selectedRowKeys)
          this.currentSelectedRidsList = selectedRowKeys
        },
        // selected all change event
        selectedAllChange: ({ isSelected, selectedRowKeys }) => {
          // console.log('selectedAllChange. ', isSelected, selectedRowKeys)
          this.currentSelectedRidsList = selectedRowKeys
        }
      },
      columns: [
        { key: 'rownum', key: 'rownum', title: 'rn', align: 'left', sortable: false },
        { key: 'f1', key_: '1', title: '№ пп', align: 'left', sortable: false },
        { key: 'f2', key_: '2', title: '№ пробы', align: 'left', sortable: false },
        { key: 'f3', key_: '3', title: '№ ящика', align: 'left', sortable: false },
        { key: 'f4', key_: '4', title: '№ скв', align: 'left', sortable: false },
        { key: 'f5', key_: '5', title: '№ станд.проб', align: 'left', sortable: false }
      ],
      fileName: 'samplesdespatch_list',
      worksheet: 'data',
      totalWellsList: [],
      tableData: [],
      footerData: [],
      diffValueFilter: [],
      rapportAttributeFilter: [],
      statusNameFilter: [],
      componentKeyForForceRendering: 0,
      columns2control: [
        { key: 'rownum', key_: 'rownum', title: 'rn', align: 'left', sortable: false },
        { key: 'SAMPLEID', key_: '1', title: 'SAMPLEID', align: 'left', sortable: false },
        { key: 'DESPATCHNO', key_: '2', title: 'DESPATCHNO', align: 'left', sortable: false },
        { key: 'DespatchBoxNumber', key_: '3', title: 'DespatchBoxNumber', align: 'left', sortable: false },
        { key: 'CHECKID', key_: '4', title: 'CHECKID', align: 'left', sortable: false },
        { key: 'DUPLICATENO', key_: '5', title: 'DUPLICATENO', align: 'left', sortable: false },
        { key: 'HOLEID', key_: '6', title: 'HOLEID', align: 'left', sortable: false },
        { key: 'StandardSample', key_: '7', title: 'StandardSample', align: 'left', sortable: false },
        { key: 'STANDARDID', key_: '8', title: 'STANDARDID', align: 'left', sortable: false },
        { key: 'Error', key_: '25', title: 'Error message', align: 'left', sortable: false },
        { key: 'Info', key_: '26', title: 'Info message', align: 'left', sortable: false }
      ],
      tableData4control: [],
      componentKeyForForceRendering4control: 1000,
      buttonSaveDisable: true,
      laboratoryItems: [],
      laboratoryValue: 'VOLKOV',
      despatchedByItems: [],
      despatchedByValue: 'BPATCHAKHANOV_KZ1',
      sampleTypeItems: [],
      sampleTypeValue: 'CAR',
      analysisTypeItems: ['URa', 'Gr', 'CO', 'Mo'],
      analysisTypeValue: 'URa',
      columns4short: [
        { key: 'rownum', key_: 'rownum', title: 'rn', align: 'left', sortable: false },
        { key: 'DESPATCHNO', key_: '1', title: 'DESPATCHNO', align: 'left', sortable: false },
        { key: 'SENDDATE', key_: '2', title: 'SENDDATE', align: 'left', sortable: false },
        { key: 'LABCODE', key_: '3', title: 'LABCODE', align: 'left', sortable: false },
        { key: 'COMMENTS', key_: '5', title: 'COMMENTS', align: 'left', sortable: false },
        { key: 'DespatchedBy', key_: '4', title: 'Despatched By', align: 'left', sortable: false },
        { key: 'DespatchSampleType', key_: '6', title: 'Despatch Sample Type', align: 'left', sortable: false },
        { key: 'Error', key_: '25', title: 'Error message', align: 'left', sortable: false },
        { key: 'Info', key_: '26', title: 'Info message', align: 'left', sortable: false }
      ],
      tableData4short: [],
      componentKeyForForceRendering4short: 1100,
      sendDateDTS: new Date(),
      menudate1: false,
      commentValue: '',
      showCircleProgress: false,
      windowHeight: window.innerHeight,
      tableDataHeight: (window.innerHeight - 370),
      tableData4controlHeight: (window.innerHeight - 370)
    }
  },
  computed: {
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return 'Import Despatch Samples' },
    sendDateDTSShortString () {
      return this.sendDateDTS.toLocaleString("sv-SE").substring(0,10)
    },
    disableSelectedRowKeysList () {
      const validatedRids = []
      this.tableData.forEach(function (element) {
        if (element.validated_date) {
          validatedRids.push(element.rid)
        }
      })
      return validatedRids
    },
    controlTableRowCount () {
      if (this.tableData4control) {
        return this.tableData4control.length
      }
      return 0
    },
    importTableRowCount () {
      if (this.tableData) {
        return this.tableData.length
      }
      return 0
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Import Despatch Samples'
    // this.$store.state.ui.active.page.url // = 'r/importvalidation/sd'
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  },
  methods: {
    getCellProps (data) {
      // console.log('h71. getCellProps data = ', data)
      if (data.column.key === 'rownum') { return { class: 'gray-class1' } } // rownum column
      if (data.column.key === 'f3' && data.index === 3) { return { class: 'correct-class1' } } // *** Green style for HOLEID value
      if (data.column.key !== 'rownum' && data.column.key !== 'f1' && data.index > 6 ) { return { class: 'table-show-class1' } } // *** Green style for all importing values
    },
    getCellPropsControltable (data) {
      // console.log('h71. getCellPropsControltable data = ', data)
      if (data.column.key === 'rownum') { return { class: 'gray-class1' } } // rownum column
      if (data.item.Error !== '') {
         return { class: 'row-error-class1' } // *** Red  style for correct rows
      } 
      if (data.item.CHECKID && data.item.CHECKID !== '') {
         return { class: 'table-CHECKID-class1' } // Blue rows for checksamples
      }
      return { class: 'table-show-class1' }// // *** Green style for correct rows
    },
    onResize () {
      this.windowHeight = window.innerHeight
      this.tableDataHeight = this.windowHeight - 370
      this.tableData4controlHeight = window.innerHeight - 370
      // console.log('windowHeight=', this.windowHeight)
    },
    pasteFromClipboard () {
      this.tab = 0
      this.tableData4short = []
      this.tableData4control = []
      navigator.clipboard.readText()
        .then(text => {
          // console.log('paste executed.')
          // console.log(text)
          /*  , code:  9 = tab, between cells
              , code:  13, 10 = between rows
          */
          const rows = text.split(/\r\n/gm)
          // let rowNumber = 0
          const row1 = []
          rows.forEach(element => {
            // rowNumber += 1
            // console.log('r. ', element)
            const cols = element.split(/\t/gm)
            const dataA = {}
            let i = 0
            cols.forEach(el2 => {
              // console.log('c. ', el2)
              const val = el2.replace('"', '').replace("'", '').replace("'", '').replace('"', '')
              // console.log('val = ', val)
              i += 1
              dataA['f' + i] = val.replace(/(\r\n|\n|\r)/gm, ' ')
            })
            row1.push(dataA)
          })
          // console.log('rows = ', rowNumber)
          // console.log('obj list: ', row1)
          // remove last empty rows
          let cutRows = 0
          let sumVal = ''
          // console.log('row1=', row1)
          for (let index = (row1.length - 1); index > 0; index--) {
            const lastElement = row1[index]
            // console.log('index = ', index, ', lastElement = ', lastElement)
            // console.log('lastElement.length = ', Object.keys(lastElement).length)

            for (const key in lastElement) {
              // console.log(key, lastElement[key])
              sumVal += lastElement[key]
            }
            if (sumVal === '') { cutRows++ } else { break }
          }
          // console.log('cutRows = ', cutRows)

          row1.length = row1.length - cutRows
          this.tableData = row1
          // add rownum attribute
          let i = 1
          this.tableData.forEach(function (element) {
            // append column rownum
            element.rownum = i++
          })
          // console.log('vv3. this.tableData = ', this.tableData)
        })
        .catch(err => {
          // возможно, пользователь не дал разрешение на чтение данных из буфера обмена
          console.log('Something went wrong.', err)
          console.log('возможно, пользователь не дал разрешение на чтение данных из буфера обмена.')
        })
      this.buttonSaveDisable = true
    },
    forceRerender () {
      // this function needed for apply list to status_name column filterList.
      this.componentKeyForForceRendering += 1
    },
    execute_send_table4check () {
      this.executeRequest('CHECK')
    },
    executeRequest (operFlag) {
      this.tab = 1
      // console.log('this.tableData = ', this.tableData)
      const clonedArray = this.tableData // this.tableData.map(a => { return { ...a } })
      // console.log('clonedArray = ', clonedArray)
      // console.log('forSQL = ', JSON.stringify(clonedArray))
      const bodyText = JSON.stringify(clonedArray).replace(/"/g, "'")
      console.log('body = ', bodyText)
      // tfn=RADIOECOLOGY_VALIDATE&p1=' + rids + '&p2=1'
      // console.log('laboratoryValue=', this.laboratoryValue, ', sendDateDTS=', this.sendDateDTS,
      //   ', despatchedByValue=', this.despatchedByValue, ', sampleTypeValue=', this.sampleTypeValue, ', analysisTypeValue=', this.analysisTypeValue)

      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/execsp3.aspx?tfn=IMPORT_DESPATCHSAMPLES&p1=' + operFlag + '&p2=' + this.laboratoryValue +
                  '&p3=' + this.sendDateDTSShortString + '&p4=' + this.despatchedByValue + '&p5=' + this.sampleTypeValue + '&p6=' + this.analysisTypeValue +
                  '&p7=' + (this.commentValue === '' ? '_empty_' : this.commentValue)
      this.showCircleProgress = true
      fetch(url,
        {
          method: 'POST',
          credentials: 'include',
          body: bodyText // "[{'f1':'50271'}]"
        })
        .then(async res => {
          this.showCircleProgress = false
          // console.log('res=', res)
          // console.log('res.text', res.text()) // to view rae data and error messages
          let data = []
          if (res.ok) {
            data = await res.json() // text() // .body // json()
            // console.log('4. dataRaw = ', data)
            if (data.error) {
              // getting system error from sql-server
              this.showDialog('error', 'SQL Server system message: ' + data.error)
              this.buttonSaveDisable = true
              // return
            }
            const jsonFromServer = data.content
            let i = 1
            if (jsonFromServer) {
              if (jsonFromServer.length > 0) {
                // console.log('jsonFromServer.length = ', jsonFromServer.length)
                this.buttonSaveDisable = true
                if (jsonFromServer[0].status) {
                  // getting [error in envilope] from server
                  // console.log('check. status=', jsonFromServer[0].status)
                  this.showDialog('error', 'SQL Server custom message: ' + jsonFromServer[0].status)
                } else {
                  // console.log('No error')
                  if (operFlag === 'SAVE') {
                    this.showDialog('success', 'Imported successfuly!')
                  }
                }
              }
              jsonFromServer.forEach(function (element) {
                // append column rownum
                element.rownum = i++
              })
              // console.log('jsonFromServer = ', jsonFromServer)
              this.tableData4short = jsonFromServer
              if (this.tableData4short.length > 0) { this.buttonSaveDisable = false }
            }
            // Getting content2
            i = 1
            if (data.content2) {
              const jsonFromServer2 = data.content2
              jsonFromServer2.forEach(function (element) {
              // append column rownum
                element.rownum = i++
              })
              // console.log('jsonFromServer2 = ', jsonFromServer2)
              this.tableData4control = jsonFromServer2
            }
          } else {
            return Promise.reject(data)
          }
        })
        .catch(function (error) {
          console.log('Erorr when sending table: ', error)
          if (typeof this.showCircleProgress === 'undefined') {
            this.showCircleProgress = false
          }
        })
    },
    execute_send_table4save () {
      this.executeRequest('SAVE')
    },
    showDialog (typeOfDialog, textOfDialog) {
      this.dialogCaption = (typeOfDialog === 'error') ? 'Warning' : 'Info'
      this.dialogType = typeOfDialog // 'error' or 'success'
      this.dialogMessageText = textOfDialog
      this.dialog = true
    },
    showHelpGuide () {
      this.dialogImage = true
    },
    execute_validation () {
      this.pasteFromClipboard()
    },
    setWellslist () {
    },
    initValidatedRidsList () {
      this.checkboxOption.disableSelectedRowKeys = this.disableSelectedRowKeysList
    },
    setInitLists () {
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytv3.aspx?view=ASSAYLABORATORY'
      f.fget(url)
        .then(res => {
          const result = res.content.map(a => a.LABCODE)
          this.laboratoryItems = result
        })

      const url2 = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytv3.aspx?view=VSCORELOOKUP&where="SUBGROUP = \'Sampling geologist\' and ACTIVE = 1"&orderby=DESCRIPTION'
      f.fget(url2)
        .then(res => {
          const result = res.content.map(a => a.LOOKUP)
          this.despatchedByItems = result
        })
      // sampleTypeItems
      const url3 = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytv3.aspx?view=SAMPLETYPE'
      f.fget(url3)
        .then(res => {
          const result = res.content.map(a => a.SAMPLETYPE)
          this.sampleTypeItems = result
        })
    }
  },
  created () {
    this.setWellslist()
    this.setInitLists()
  },
  watch: {
    showAll () {
      this.setWellslist()
    }
  }
}
</script>
