<template>
  <v-row
    fill-height
    no-gutters
  >
  <v-col cols="12">
  <v-row>
      <v-col cols="8">
        <v-card>
          <v-card-title dense>
            {{ caption }}
          </v-card-title>
        </v-card>
        <!-- <ShapeInfo /> -->
      </v-col>
      <v-col cols="3">
        <v-row
          no-gutters
          dense
        >
          <v-col cols="6">
            <v-switch
              v-model="showAll"
              dense
              label="Show all"
              style="height:20px"
              hint="Show all list"
            />
          </v-col>
          <v-col cols="6">
            <div style="padding-top: 10px;">
              <v-btn
                v-on:click.native="execute_validation"
                dense
                color="darken-1"
                style="padding-left: 10px;"
                >
                  Set Validated
              </v-btn>
              <div>
                <div class="text-center">
                  <v-dialog
                    v-model="dialog"
                    width="500"
                  >
                    <v-card>
                      <v-card-title class="text-h5 grey lighten-2">
                        Warning
                      </v-card-title>
                      <v-card-text>
                        {{  dialogMessageText }}
                      </v-card-text>
                      <v-divider></v-divider>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="error"
                          text
                          @click="dialog = false"
                        >
                          Close
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </div>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="1">
        <downloadExcel
          :data="totalWellsList"
          :name="fileName"
          :worksheet="worksheet"
        >
          <v-btn
            icon
            outlined
          >
            <v-icon>mdi-table-arrow-right</v-icon>
          </v-btn>
        </downloadExcel>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card>
          <ve-table :max-height="700"
          :columns="columns"
          :table-data="tableData"
          :key="componentKeyForForceRendering"
          row-key-field-name="rid"
          :checkbox-option="checkboxOption"
          :columnHiddenOption="columnHiddenOption"
          :cell-style-option="cellStyleOption"/>
        </v-card>
      </v-col>
    </v-row>
  </v-col>
  </v-row>
</template>
<style>
    .maxg_value-cell-class1 {
        background: #e2f0ea !important;
        color: rgb(12, 138, 12)  !important;
        font-weight: bold;
    }
</style>
<script>
import f from '@/store/fetch.js'
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      dialog: false,
      dialogMessageText: '',
      showAll: false,
      pageIndex: 1,
      pageSize: 10,
      currentSelectedRidsList: [],
      HOLEID: '',
      session_key: '',
      columnHiddenOption: {
        // default hidden column keys
        defaultHiddenColumnKeys: ['rid', 'validated_date_fmt']
      },
      cellStyleOption: {
        bodyCellClass: ({ row, column, rowIndex }) => {
          if (column.field === 'maxg_value') {
            return 'maxg_value-cell-class1'
          }
        }
      },
      checkboxOption: {
        disableSelectedRowKeys: [],
        // defaultSelectedRowKeys: [],
        // row select change event
        selectedRowChange: ({ row, isSelected, selectedRowKeys }) => {
          this.currentSelectedRidsList = selectedRowKeys
          // select holeid
          console.log('selectedRowHOLEID. ', isSelected)
          console.log('row.HOLEID ', row.HOLEID)
          this.HOLEID = row.HOLEID
          this.session_key = row.session_key
        },
        // selected all change event
        selectedAllChange: ({ isSelected, selectedRowKeys }) => {
          // console.log('selectedAllChange. ', isSelected, selectedRowKeys)
          this.currentSelectedRidsList = selectedRowKeys
        }
        // select holeid
        // selectedValidGT: ({ row, isSelected }) => {
        //   console.log('selectedRowHOLEID. ', isSelected)
        //   console.log('row.HOLEID ', row.HOLEID)
        //   this.HOLEID = row.HOLEID
        //   this.session_key = row.session_key
        // }
      },
      columns: [
        { field: 'rownum', key: 'rownum', title: '#', align: 'center' },
        { field: 'HOLEID', key: 'HOLEID', title: 'HOLEID', align: 'center' },
        // { field: 'PROJECTCODE', key: 'PROJECTCODE', title: 'PROJECTCODE', align: 'center' },
        { field: 'GEOLFROM', key: 'GEOLFROM', title: 'GEOLFROM', align: 'left' },
        { field: 'GEOLTO', key: 'GEOLTO', title: 'GEOLTO', align: 'left' },
        { field: 'GTGrade', key: 'GTGrade', title: 'GTGrade', align: 'left' },
        { field: 'GTGT', key: 'GTGT', title: 'GTGT', align: 'left' },
        // { field: 'GTCategory', key: 'GTCategory', title: 'GTCategory', align: 'left' },
        // { field: 'GTOrigin', key: 'GTOrigin', title: 'GTOrigin', align: 'left' },
        { field: 'filename', key: 'filename', title: 'Filename', align: 'left' },
        { field: 'session_key', key: 'session_key', title: 'Session key', align: 'left' },
        { field: 'validate_status', key: 'validate_status', title: 'validate status', align: 'left' },
        {
          field: '',
          key: 'checkbox_column',
          // type=checkbox
          type: 'checkbox',
          title: 'Validation',
          width: 50,
          align: 'center'
        },
        { field: 'validated_user', key: 'validated_user', title: 'Validated user', align: 'left' },
        { field: 'validated_date_fmt', key: 'validated_date_fmt', title: 'validated_date', align: 'left' },
        { field: 'rid', key: 'rid', title: 'rid', align: 'left' }
      ],
      fileName: 'validation_GT',
      worksheet: 'data',
      totalWellsList: [],
      tableData: [],
      footerData: [],
      diffValueFilter: [],
      rapportAttributeFilter: [],
      statusNameFilter: [],
      componentKeyForForceRendering: 0
    }
  },
  computed: {
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return 'Validation Import GT' },
    disableSelectedRowKeysList () {
      const validatedRids = []
      this.tableData.forEach(function (element) {
        if (element.validated_date) {
          validatedRids.push(element.rid)
        }
      })
      return validatedRids
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Validation Imported GT'
    // this.$store.state.ui.active.page.url // = 'r/importvalidation/gt'
  },
  methods: {
    forceRerender () {
      // this function needed for apply list to status_name column filterList.
      this.componentKeyForForceRendering += 1
    },
    execute_validation () {
      const rids = this.currentSelectedRidsList.toString()
      const HOLEID = this.HOLEID
      const sessionkey = this.session_key
      console.log('rids', rids)
      // collect selected rows
      if (rids.length === 0) {
        this.dialogMessageText = 'No one rows selected. Please, select validation rows.'
        this.dialog = true
      } else {
        const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/execsp1.aspx?tfn=IMPORT_GT_VALIDATE&p1=' + HOLEID + '&p2=' + sessionkey + '&p3=1'
        console.log('url', url)
        f.fget(url)
          .then(res => {
            console.log('', res)
            if (res.content[0].status !== 'OK') {
              this.dialogMessageText = res.content[0].status
              this.dialog = true
            }
            this.setWellslist()
          })
      }
    },
    setWellslist () {
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=IMPORT_GT_VALIDATE'
      f.fget(url)
        .then(res => {
          this.totalWellsList = res.content
          this.tableData = this.totalWellsList
          // filter by ShowAll
          if (!this.showAll) {
            this.tableData = this.totalWellsList.filter(function (el) {
              return el.validated_user === ''
            })
          }

          let i = 1
          this.tableData.forEach(function (element) {
            // append column rownum
            element.rownum = i++
            if (element.validated_date) {
              const rpTs = new Date(element.validated_date)
              element.validated_date_fmt = rpTs.toLocaleDateString('fr-CA') + ' ' + rpTs.toLocaleTimeString('it-IT')
            }
            // if (element.file_holeid !== element.HOLEID) {
            //   element.HOLEID = element.file_holeid + ' => ' + element.HOLEID
            // }
          })
          this.initValidatedRidsList()
        })
    },
    initValidatedRidsList () {
      this.checkboxOption.disableSelectedRowKeys = this.disableSelectedRowKeysList
    }
  },
  created () {
    this.setWellslist()
  },
  watch: {
    showAll () {
      this.setWellslist()
    }
  }
}
</script>
