<template>
  <v-row
    fill-height
    no-gutters
  >
  <v-col cols="12">
  <v-row>
      <v-col cols="7">
        <v-card>
          <v-card-title dense>
            {{ caption }}
          </v-card-title>
        </v-card>
        <!-- <ShapeInfo /> -->
      </v-col>
      <v-col cols="4">
        <v-row
          no-gutters
          dense
        >
          <v-col>
            <div style="padding-top: 10px;">
              <v-btn
                v-on:click.native="execute_validation"
                dense
                color="darken-1"
                style="padding-left: 10px;"
                >
                  1.Fill table
              </v-btn>
              <v-btn
                v-on:click.native="execute_send_table4check"
                dense
                color="darken-1"
                style="padding-left: 10px;"
                >
                  2.Verify
              </v-btn>
              <v-btn
              :disabled="buttonSaveDisable"
                v-on:click.native="execute_send_table4save"
                dense
                color="darken-1"
                style="padding-left: 10px;"
                >
                  3.Save to DB
              </v-btn>
              <div>
                <div class="text-center">
                  <v-dialog
                    v-model="dialog"
                    width="500"
                  >
                    <v-card>
                      <v-card-title class="text-h5 grey lighten-2">
                        {{ dialogCaption }}
                      </v-card-title>
                      <v-card-text>
                        {{  dialogMessageText }}
                      </v-card-text>
                      <v-divider></v-divider>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          :color="dialogType"
                          text
                          @click="dialog = false"
                        >
                          Close
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </div>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="1">
        <downloadExcel
          :data="tableData4control"
          :name="fileName"
          :worksheet="worksheet"
        >
          <v-btn
            icon
            outlined
          >
            <v-icon>mdi-table-arrow-right</v-icon>
          </v-btn>
        </downloadExcel>
      </v-col>
    </v-row>
    <v-row class="pr-7 pl-1">
      <v-col cols="12">
        <v-row>
          <v-card class="pa-2">
            <v-tabs
              v-model="tab"
              color="primary"
              active-class="tab-active-class"
            >
              <v-tab :value="1">Excel table ({{ importTableRowCount }})</v-tab>
              <v-tab :value="2">Prepared ({{ controlTableRowCount }})</v-tab>
            </v-tabs>
            <!-- <v-tabs-items v-model="tab"> -->
            <v-window v-model="tab">
              <v-window-item :key="1" :value="1">
                  <!-- <v-tab-item :key="1"> -->
                <v-card class="pa-3">
                  <v-row>
                    <v-col cols="1">
                      <v-menu
                        v-model="menudate1"
                        :close-on-content-click="false">
                        <template v-slot:activator="{ props }">
                          <v-text-field
                            v-model="importDateDTSShortString"
                            label="Import Date"
                            prepenD-icon="mdi-calendar"
                            readonly
                            :hide-details=true
                            v-bind="props"
                          ></v-text-field>
                        </template>
                          <v-date-picker
                            color="primary"
                            v-model="importDateDTS"
                            @input="menudate1 = false"
                          ></v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col cols="1">
                      <v-text-field
                          v-model="controlTypeValue"
                          :disabled=true
                          :hide-details=true
                          label="Control Type"></v-text-field>
                    </v-col>
                  </v-row>
                </v-card>
                <v-card class="pt-1"
                  >
                 <!--  <ve-table -->
                  <v-data-table
                  id="input-accomanying-source-table"
                  :fixed-header=true
                  :items-per-page=-1
                  :height="tableDataHeight"
                  :headers="columns"
                  :items="tableData"
                  :key="componentKeyForForceRendering"
                  row-key-field-name="rid"
                  :checkbox-option="checkboxOption"
                  :columnHiddenOption="columnHiddenOption"
                  :cell-style-option="cellStyleOption"
                  density="compact"
                  :cell-props="getCellProps">
                  <template #bottom></template>
                  </v-data-table>
                </v-card>
                <!-- </v-tab-item> -->
              </v-window-item>
              <!-- <v-tab-item :key="2"> -->
              <v-window-item :key="2" :value="2">
                <v-card
                  color="basil"
                  flat>
                  <v-data-table
                    :fixed-header=true
                    :items-per-page=-1
                    :height="tableData4controlHeight"
                    :headers="columns2control"
                    :items="tableData4control"
                    :key="componentKeyForForceRendering4control"
                    row-key-field-name="rownum"
                    :cell-style-option="cellStyleOption4control"
                    density="compact"
                    :cell-props="getCellPropsControltable">
                    <template #bottom></template>
                  </v-data-table>
                </v-card>
              </v-window-item>
              <!-- </v-tabs-items> -->
            </v-window>
          </v-card>
        </v-row>
        <v-row>
      </v-row>
      </v-col>
    </v-row>
  </v-col>
  </v-row>
</template>
<style>
    .correct-class1 {
        background: #e2f0ea !important;
        color: rgb(12, 138, 12)  !important;
        font-weight: bold;
    }
    .gray-class1 {
        background: #dbdbdb !important;
        color: rgb(116, 116, 116)  !important;
        font-weight: bold;
    }
    .table-show-class1 {
        background: #effff1 !important;
        /*  color: rgb(116, 116, 116)  !important; */
        /* font-weight: bold; */
    }
    .row-error-class1 {
        background: #fbe0e0 !important;
        /*  color: rgb(116, 116, 116)  !important; */
        /* font-weight: bold; */
    }
    .table-CHECKID-class1 {
        background: #daedf9 !important;
        /*  color: rgb(116, 116, 116)  !important; */
        /* font-weight: bold; */
    }
</style>
<script>
// import f from '@/store/fetch.js'
// import { VueUseComponentsResolver } from 'unplugin-vue-components/resolvers'
import { mapGetters } from 'vuex'

export default {
  name: 'RImpSamplesAccompList',
  data () {
    return {
      dialog: false,
      dialogMessageText: '',
      dialogType: '',
      dialogCaption: 'Warning',
      tab: 0,
      showAll: false,
      pageIndex: 1,
      pageSize: 10,
      currentSelectedRidsList: [],
      columnHiddenOption: {
        // default hidden column keys
        defaultHiddenColumnKeys: ['rid_']
      },
      cellStyleOption: {
        bodyCellClass: ({ row, column, rowIndex }) => {
          if (column.field === 'rownum') {
            return 'gray-class1'
          }
          if (column.field === 'f8' && rowIndex === 2) {
            return 'correct-class1' // HOLEID
          }
          if (column.field === 'f9' && rowIndex === 4) {
            return 'correct-class1' // Начальник
          }
          if (column.field === 'f9' && rowIndex === 6) {
            return 'correct-class1' // Геолог
          }
          if (column.field !== 'f1' && rowIndex >= 10) {
            return 'table-show-class1' // table with data
          }
        }
      },
      cellStyleOption4control: {
        bodyCellClass: ({ row, column, rowIndex }) => {
          if (column.field === 'rownum') {
            return 'gray-class1'
          }
          if (column.field !== 'rownum') {
            // console.log('row = ', row) // row-error-class1
            if (row.Error) {
              return 'row-error-class1'
            }
            if (row.CHECKID) {
              return 'table-CHECKID-class1'
            }
            return 'table-show-class1' // table with data
          }
        }
      },
      checkboxOption: {
        disableSelectedRowKeys: [],
        // defaultSelectedRowKeys: [],
        // row select change event
        selectedRowChange: ({ row, isSelected, selectedRowKeys }) => {
          // console.log('selectedRowChange. ', row, isSelected, selectedRowKeys)
          this.currentSelectedRidsList = selectedRowKeys
        },
        // selected all change event
        selectedAllChange: ({ isSelected, selectedRowKeys }) => {
          // console.log('selectedAllChange. ', isSelected, selectedRowKeys)
          this.currentSelectedRidsList = selectedRowKeys
        }
      },
      columns: [
        { key: 'rownum', key_: 'rownum', title: 'rn', align: 'left', sortable: false },
        { key: 'f1', key_: '1', title: '№ п.п.', align: 'left', sortable: false },
        { key: 'f2', key_: '2', title: 'Номер пробы', align: 'left', sortable: false },
        { key: 'f3', key_: '3', title: 'Начало интервала, м', align: 'left', sortable: false },
        { key: 'f4', key_: '4', title: 'Конец интервала, м', align: 'left', sortable: false },
        { key: 'f5', key_: '5', title: 'Начало интервала, м', align: 'left', sortable: false },
        { key: 'f6', key_: '6', title: 'Конец интервала, м', align: 'left', sortable: false },
        { key: 'f7', key_: '7', title: 'Вес проб, г', align: 'left', sortable: false },
        { key: 'f8', key_: '8', title: 'Длина интервала, м', align: 'left', sortable: false },
        { key: 'f9', key_: '9', title: 'Радиометрия SPPγ, cps (с экраном)', align: 'start', sortable: false },
        { key: 'f10', key_: '10', title: 'Литология', align: 'left', sortable: false },
        { key: 'f11', key_: '11', title: 'Подготовка пробы', align: 'left', sortable: false },
        { key: 'f12', key_: '12', title: 'плотность', align: 'left', sortable: false },
        { key: 'f13', key_: '13', title: 'влажность', align: 'left', sortable: false },
        { key: 'f14', key_: '14', title: 'гранулометрия', align: 'left', sortable: false },
        { key: 'f15', key_: '15', title: 'Ra', align: 'left', sortable: false },
        { key: 'f16', key_: '16', title: 'U', align: 'left', sortable: false },
        { key: 'f17', key_: '17', title: 'Ra/U', align: 'left', sortable: false },
        { key: 'f18', key_: '18', title: 'CO3', align: 'left', sortable: false },
        { key: 'f19', key_: '19', title: 'K/Th', align: 'left', sortable: false },
        { key: 'f20', key_: '20', title: '14 Elements', align: 'left', sortable: false },
        { key: 'f21', key_: '21', title: '26 Elements', align: 'left', sortable: false },
        { key: 'f22', key_: '22', title: 'skip', align: 'left', sortable: false },
        { key: 'f23', key_: '23', title: 'skip', align: 'left', sortable: false },
        { key: 'f24', key_: '24', title: 'skip', align: 'left', sortable: false },
        { key: 'f25', key_: '25', title: 'skip', align: 'left', sortable: false },
        { key: 'f26', key_: '26', title: 'DUPLICATe NO', align: 'left', sortable: false }
      ],
      fileName: 'accompanying_list',
      worksheet: 'data',
      totalWellsList: [],
      tableData: [],
      footerData: [],
      diffValueFilter: [],
      rapportAttributeFilter: [],
      statusNameFilter: [],
      componentKeyForForceRendering: 0,
      columns2control: [
        { key: 'rownum', key_: 'rownum', title: 'rn', align: 'left' },
        { key: 'SAMPLEID', key_: '1', title: 'SAMPLEID', align: 'left' },
        { key: 'HOLEID', key_: '2', title: 'HOLEID', align: 'left' },
        { key: 'PROJECTCODE', key_: '3', title: 'PROJECTCODE', align: 'left' },
        { key: 'PRIORITY', key_: '4', title: 'PRIORITY', align: 'left' },
        { key: 'SAMPLETYPE', key_: '5', title: 'SAMPLETYPE', align: 'left' },
        { key: 'AnalysisType', key_: '6', title: 'Analysis Type', align: 'left' },
        { key: 'SAMPFROM', key_: '7', title: 'SAMPFROM', align: 'left' },
        { key: 'SAMPTO', key_: '8', title: 'SAMPTO', align: 'left' },
        { key: 'SampleNumber', key_: '9', title: 'Sample Number', align: 'left' },
        { key: 'SampledBy', key_: '10', title: 'SampledBy', align: 'left' },
        { key: 'ImportDate', key_: '11', title: 'ImportDate', align: 'left' },
        { key: 'InterpretedFrom', key_: '12', title: 'Interpreted From', align: 'left' },
        { key: 'InterpretedTo', key_: '13', title: 'Interpreted To', align: 'left' },
        { key: 'SampWeightBag_g', key_: '14', title: 'Samp Weight Bag g', align: 'left' },
        { key: 'SampSPPScreen_cps', key_: '15', title: 'SampSPPScreen cps', align: 'left' },
        { key: 'AnalyseSampGrain', key_: '16', title: 'Analyse Samp Grain', align: 'left' },
        { key: 'AnalysisRequired_Ra', key_: '17', title: 'Analysis Required Ra', align: 'left' },
        { key: 'AnalysisRequired_U', key_: '18', title: 'Analysis Required U', align: 'left' },
        { key: 'AnalysisRequired_URa', key_: '19', title: 'Analysis Required URa', align: 'left' },
        { key: 'AnalysisRequired_CO3', key_: '20', title: 'Analysis Required CO3', align: 'left' },
        { key: 'DUPLICATENO', key_: '21', title: 'DUPLICATE NO', align: 'left' },
        { key: 'CHECKID', key_: '23', title: 'CHECKID', align: 'left' },
        { key: 'CHECKSTAGE', key_: '22', title: 'CHECKSTAGE', align: 'left' },
        { key: 'STANDARDID', key_: '24', title: 'STANDARDID', align: 'left' },
        { key: 'Error', key_: '25', title: 'Error message', align: 'left' },
        { key: 'Info', key_: '26', title: 'Info message', align: 'left' }
      ],
      tableData4control: [],
      componentKeyForForceRendering4control: 1000,
      buttonSaveDisable: true,
      importDateDTS: new Date(Date.now()),
      menudate1: false,
      controlTypeValue: 'key_dpl_control',
      windowHeight: window.innerHeight,
      tableDataHeight: (window.innerHeight - 328),
      tableData4controlHeight: (window.innerHeight - 240)
    }
  },
  computed: {
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return 'Import Accompanying List' },
    importDateDTSShortString () {
      return this.importDateDTS.toLocaleString("sv-SE").substring(0,10)
    },
    disableSelectedRowKeysList () {
      const validatedRids = []
      this.tableData.forEach(function (element) {
        if (element.validated_date) {
          validatedRids.push(element.rid)
        }
      })
      return validatedRids
    },
    controlTableRowCount () {
      if (this.tableData4control) {
        return this.tableData4control.length
      }
      return 0
    },
    importTableRowCount () {
      if (this.tableData) {
        return this.tableData.length
      }
      return 0
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Import Accompanying List'
    // this.$store.state.ui.active.page.url // = 'r/importvalidation/al'
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  },
  methods: {
    getCellProps (data) {
      // console.log('h71. getCellProps data = ', data)
      if (data.column.key === 'rownum') { return { class: 'gray-class1' } } // rownum column
      if (data.column.key === 'f8' && data.index === 2) { return { class: 'correct-class1' } } // *** Green style for HOLEID value
      if (data.column.key === 'f9' && data.index === 6) { return { class: 'correct-class1' } } // *** Green style for Geologyst value
      if (data.column.key !== 'rownum' && data.column.key !== 'f1' && data.index > 9) { return { class: 'table-show-class1' } } // *** Green style for all importing values
    },
    getCellPropsControltable (data) {
      // console.log('h71. getCellPropsControltable data = ', data)
      if (data.column.key === 'rownum') { return { class: 'gray-class1' } } // rownum column
      if (data.item.Error !== '') {
         return { class: 'row-error-class1' } // *** Red  style for correct rows
      } 
      if (data.item.CHECKID !== '') {
         return { class: 'table-CHECKID-class1' } // Blue rows for checksamples
      }
      return { class: 'table-show-class1' }// // *** Green style for correct rows
    },
    onResize () {
      this.windowHeight = window.innerHeight
      this.tableDataHeight = this.windowHeight - 328
      this.tableData4controlHeight = window.innerHeight - 240
      // console.log('windowHeight=', this.windowHeight)
    },
    pasteFromClipboard () {
      this.tab = 0
      this.tableData4control = [] // clear control table
      navigator.clipboard.readText()
        .then(text => {
          // console.log('paste executed.')
          // console.log(text)
          /*  , code:  9 = tab, between cells
              , code:  13, 10 = between rows
          */
          const rows = text.split(/\r\n/gm)
          // let rowNumber = 0
          const row1 = []
          rows.forEach(element => {
            // rowNumber += 1
            // console.log('r. ', element)
            const cols = element.split(/\t/gm)
            const dataA = {}
            let i = 0
            cols.forEach(el2 => {
              // console.log('c. ', el2)
              const val = el2.replace('"', '').replace("'", '').replace("'", '').replace('"', '')
              // console.log('val = ', val)
              i += 1
              dataA['f' + i] = val.replace(/(\r\n|\n|\r)/gm, ' ')
            })
            row1.push(dataA)
          })

          // Cut last empty rows
          let cutRows = 0
          let sumVal = ''
          // console.log('row1=', row1)
          for (let index = (row1.length - 1); index > 0; index--) {
            const lastElement = row1[index]
            // console.log('index = ', index, ', lastElement = ', lastElement)
            // console.log('lastElement.length = ', Object.keys(lastElement).length)
            for (const key in lastElement) {
              // console.log(key, lastElement[key])
              sumVal += lastElement[key]
            }
            if (sumVal === '') { cutRows++ } else { break }
          }
          // console.log('cutRows = ', cutRows)
          row1.length = row1.length - cutRows
          this.tableData = row1
          let i = 1
          this.tableData.forEach(function (element) {
            // append column rownum
            element.rownum = i++
          })
          // console.log('this.tableData = ', this.tableData)
        })
        .catch(err => {
          // возможно, пользователь не дал разрешение на чтение данных из буфера обмена
          console.log('Something went wrong.', err)
          console.log('возможно, пользователь не дал разрешение на чтение данных из буфера обмена.')
        })
      this.buttonSaveDisable = true
    },
    forceRerender () {
      // this function needed for apply list to status_name column filterList.
      this.componentKeyForForceRendering += 1
    },
    execute_send_table4check () {
      this.tab = 1
      // console.log('this.tableData = ', this.tableData)
      const clonedArray = this.tableData // this.tableData.map(a => { return { ...a } })
      // console.log('clonedArray = ', clonedArray)
      // console.log('forSQL = ', JSON.stringify(clonedArray))
      const bodyText = JSON.stringify(clonedArray).replace(/"/g, "'")
      // console.log('body = ', bodyText)
      // tfn=RADIOECOLOGY_VALIDATE&p1=' + rids + '&p2=1'
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/execsp2.aspx?tfn=IMPORT_ACCOMPANYINGLIST&p1=CHECK&p2=' + this.importDateDTSShortString + '&p3=' + this.controlTypeValue
      fetch(url,
        {
          method: 'POST',
          credentials: 'include',
          body: bodyText // "[{'f1':'50271'}]"
        })
        .then(async res => {
          // console.log('res=', res)
          const data = await res.json() // text() // .body // json()
          if (res.ok) {
            // console.log('4. dataRaw = ', data)
            if (data.error) {
              // getting system error from sql-server
              this.showDialog('error', 'SQL Server system message: ' + data.error)
              this.buttonSaveDisable = true
              // return
            }
            const jsonFromServer = data.content
            let i = 1
            if (jsonFromServer) {
              if (jsonFromServer.length > 0) {
                // console.log('jsonFromServer.length = ', jsonFromServer.length)
                if (jsonFromServer[0].status) {
                  // getting [error in envilope] from server
                  // console.log('check. status=', jsonFromServer[0].status)
                  this.showDialog('error', 'SQL Server custom message: ' + jsonFromServer[0].status)
                  this.buttonSaveDisable = true
                  // return
                }
              }
            }
            jsonFromServer.forEach(function (element) {
              // append column rownum
              element.rownum = i++
            })
            // console.log('jsonFromServer = ', jsonFromServer)
            this.tableData4control = jsonFromServer
            if (this.tableData4control.length > 0) { this.buttonSaveDisable = false }
          } else {
            return Promise.reject(data)
          }
        })
        .catch(function (error) {
          console.log('Erorr when sending table: ', error)
        })
    },
    execute_send_table4save () {
      this.tab = 1
      // console.log('this.tableData = ', this.tableData)
      const clonedArray = this.tableData // this.tableData.map(a => { return { ...a } })
      // console.log('clonedArray = ', clonedArray)
      const bodyText = JSON.stringify(clonedArray).replace(/"/g, "'")
      // console.log('body = ', bodyText)
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/execsp2.aspx?tfn=IMPORT_ACCOMPANYINGLIST&p1=SAVE&p2=' + this.importDateDTS + '&p3=' + this.controlTypeValue
      fetch(url,
        {
          method: 'POST',
          credentials: 'include',
          body: bodyText // "[{'f1':'50271'}]"
        })
        .then(async res => {
          const data = await res.json() // text() // .body // json()
          // console.log('6. res = ', res)
          if (res.ok) {
            // console.log('54. dataRaw = ', data)
            if (data.error) {
              // getting system error from sql-server
              this.showDialog('error', 'SQL Server system message: ' + data.error)
            }
            const jsonFromServer = data.content
            let i = 1
            if (jsonFromServer) {
              if (jsonFromServer.length > 0) {
                // console.log('jsonFromServer.length = ', jsonFromServer.length)
                if (jsonFromServer[0].status) {
                  // getting [error in envilope] from sql-server
                  // console.log('status=', jsonFromServer[0].status)
                  this.showDialog('error', 'SQL Server custom message: ' + jsonFromServer[0].status)
                  // may be set null to this.tableData4control???
                  return
                } else {
                  // console.log('No error')
                  this.showDialog('success', 'Import successful!')
                  this.buttonSaveDisable = true
                }
              }
            }
            jsonFromServer.forEach(function (element) {
              // append column rownum
              element.rownum = i++
            })
            // console.log('jsonFromServer = ', jsonFromServer)
            this.tableData4control = jsonFromServer
          } else {
            console.log('res =', res, '. data = ', data)
            return Promise.reject(data)
          }
        })
        .catch(function (error) {
          console.log('Erorr when sending table: ', error)
        })
    },
    showDialog (typeOfDialog, textOfDialog) {
      this.dialogCaption = (typeOfDialog === 'error') ? 'Warning' : 'Info'
      this.dialogType = typeOfDialog // 'error' or 'success'
      this.dialogMessageText = textOfDialog
      this.dialog = true
    },
    execute_validation () {
      this.pasteFromClipboard()
    },
    setWellslist () {
    },
    initValidatedRidsList () {
      this.checkboxOption.disableSelectedRowKeys = this.disableSelectedRowKeysList
    }
  },
  created () {
    this.setWellslist()
  },
  watch: {
    showAll () {
      this.setWellslist()
    }
  }
}
</script>
