<template>
  <v-row
    fill-height
    no-gutters
  >
  <v-col cols="12">
  <v-row>
      <v-col cols="8">
        <v-card>
          <v-card-title dense>
            {{ caption }}
          </v-card-title>
        </v-card>
        <!-- <ShapeInfo /> -->
      </v-col>
      <v-col cols="3">
        <v-card>
          <v-text-field
            v-if="false"
            v-model="search"
            dense
            prepend-icon="mdi-magnify"
            label="search"
            single-line
            hide-details
            cols="4"
          >
            <!-- In this example you can see how can look Group icon instead of the word group in the header
                <v-text-field
                prepend-icon="mdi-playlist-plus"
                label="Group"
              ></v-text-field>             -->
          </v-text-field>
        </v-card>
      </v-col>
      <v-col cols="1">
        <downloadExcel
          :data="totalWellsList"
          :name="fileName"
          :worksheet="worksheet"
        >
          <v-btn
            icon
            outlined
          >
            <v-icon>mdi-table-arrow-right</v-icon>
          </v-btn>
        </downloadExcel>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-data-table 
          :height="700"
          :headers="columns"
          :items="tableData"
          :key="componentKeyForForceRendering"
          items-per-page="-1">
          </v-data-table>
         <!--  <ve-table :max-height="700"
          :columns="columns"
          :table-data="tableData"
          :footer-data="footerData"
          :key="componentKeyForForceRendering"/>-->
        </v-card> 
      </v-col>
    </v-row>
  </v-col>
  </v-row>
</template>

<style scoped>
.v-table {
  --v-table-header-height: 32px;
}
</style>

<script>
import f from '@/store/fetch.js'
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      pageIndex: 1,
      pageSize: 10,
      columns: [
        { key: 'rownum', key_: 'a', title: 'N', width: 30, align: 'center' },
        { key: 'rapport_asset', key_: 'b', title: 'Rapport asset', align: 'center' },
        {
          // eslint-disable-next-line object-property-newline
          key: 'rapport_attribute', key_: 'c', title: 'Rapport attribute', align: 'left',
          filter: {
            filterList: [
              {
                value: 0,
                label: 'PR_sum',
                selected: false
              },
              {
                value: 1,
                label: 'VR_sum',
                selected: false
              },
              {
                value: 2,
                label: 'KU_sum',
                selected: false
              },
              {
                value: 3,
                label: 'U',
                selected: false
              }
            ],
            isMultiple: true,
            // filter confirm hook
            filterConfirm: (filterList) => {
              const labels = filterList
                .filter((x) => x.selected)
                .map((x) => x.label)
              this.searchByRappAttributeField(labels)
            },
            // filter reset hook
            filterReset: (filterList) => {
              this.searchByRappAttributeField([])
            }
          }
        },
        { key: 'rapport_value', key_: 'd', title: 'Rapport value', align: 'center' },
        { key: 'rapport_timestamp_fmt', key_: 'e', title: 'Rapport timestamp', align: 'center' },
        { key: 'filename', key_: 'f', title: 'Filename', align: 'left' },
        { key: 'pi_value', key_: 'g', title: 'PI value', align: 'center' },
        { key: 'pi_timestamp_fmt', key_: 'h', title: 'PI timestamp', align: 'center' },
        {
          // eslint-disable-next-line object-property-newline
          key: 'diff_value', key_: 'i', title: 'Diff value', align: 'center',
          filter: {
            filterList: [
              {
                value: 0,
                label: 'Sort ABS() desc',
                selected: false
              },
              {
                value: 1,
                label: 'Hide 0',
                selected: false
              }
            ],
            isMultiple: true,
            // filter confirm hook
            filterConfirm: (filterList) => {
              const labels = filterList
                .filter((x) => x.selected)
                .map((x) => x.label)
              this.searchByDiffValueField(labels)
            },
            // filter reset hook
            filterReset: (filterList) => {
              this.searchByDiffValueField([])
            }
          }
        },
        {
          // eslint-disable-next-line object-property-newline
          key: 'status_name', key_: 'j', title: 'Status name', align: 'left',
          filter: {
            filterList: [], /* will be updated after getting wells list. see updateStatusNameFilterList() */
            isMultiple: true,
            // filter confirm hook
            filterConfirm: (filterList) => {
              const labels = filterList
                .filter((x) => x.selected)
                .map((x) => x.label)
              this.searchByStatusNameField(labels)
            },
            // filter reset hook
            filterReset: (filterList) => {
              this.searchByStatusNameField([])
            }
          }
        }
      ],
      fileName: 'Rapport_Sommaire',
      worksheet: 'data',
      totalWellsList: [],
      tableData: [],
      footerData: [],
      diffValueFilter: [],
      rapportAttributeFilter: [],
      statusNameFilter: [],
      componentKeyForForceRendering: 0
    }
  },
  computed: {
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    caption () { return 'Rapport Sommaire ' + this.getCaption }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'QC OSIDEM DAILY RAPPORT SOMMAIRE'
    // this.$store.state.ui.active.page.url // = 'r/production/rappsomm'
  },
  methods: {
    forceRerender () {
      // this function needed for apply list to status_name column filterList.
      this.componentKeyForForceRendering += 1
    },
    setWellslist () {
      const url = 'https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=REPORT_DAILY_RAPPSOMM'
      f.fget(url)
        .then(res => {
          let i = 1
          // console.log('res.content=', res.content)
          res.content.forEach(function (element) {
            element.rownum = i++
            // append new column rapport_timestamp_fmt for correct date format '2023-06-13' (from rapport_timestamp='6/13/2023 12:00:00 AM')
            if (element.rapport_timestamp) {
              const rpTs = new Date(element.rapport_timestamp)
              element.rapport_timestamp_fmt = rpTs.toLocaleDateString('fr-CA')
            }
            // append new column pi_timestamp_fmt for correct date format '2023-06-13' (from pi_timestamp='6/13/2023 12:00:00 AM')
            if (element.pi_timestamp) {
              const piTs = new Date(element.pi_timestamp)
              element.pi_timestamp_fmt = piTs.toLocaleDateString('fr-CA')
            }
            // remove redundant zero
            if (element.diff_value === '0.0000') {
              element.diff_value = '0'
            }
          })
          this.totalWellsList = res.content
          this.tableData = this.totalWellsList

          this.initFooterData()
          this.initStatusNameFilterList() // making status_names list for use in filter (in header of column)
          this.forceRerender() // call this function for apply unique status_names list to filter (in header of column)
        })
    },
    initStatusNameFilterList () {
      const uniqStatusNames = this.getStatusNameListForFiltering()
      // find 'status_name' node in "columuns" definition, for add list of unique status_name to node 'filterList'
      this.columns.forEach(element => {
        if (element.field === 'status_name') {
          element.filter.filterList = uniqStatusNames
        }
      })
    },
    // getting unique Status Names from totalWellsList in special format - ready to use with table-component (for filtering)
    getStatusNameListForFiltering () {
      if (!this.totalWellsList) {
        return []
      }
      // getting unique Status Names from totalWellsList
      const uniqStatusNames = [...new Set(this.totalWellsList.map(item => item.status_name))]
      let counter = 0
      const arrStatusNamesList = []
      // making object list for using in filtering with format - ready to use with table-component (for filtering)
      uniqStatusNames.forEach(element => {
        const item = {}
        item.value = counter++
        item.label = element
        item.selected = false
        arrStatusNamesList.push(item)
      })
      return arrStatusNamesList
    },
    initFooterData () {
      // prepare Footer data for table
      // calculate Summary for diff_value
      let diffSum = 0
      if (this.tableData) {
        this.tableData.forEach(element => {
          if (element.diff_value !== '') {
            diffSum += parseFloat(element.diff_value)
          }
        })
      }
      // setting parameters for footer row
      this.footerData = [
        {
          rowKey: 0,
          status_name: 'Row count: ' + this.tableData.length,
          diff_value: 'Sum: ' + Math.round(diffSum)
        }
      ]
    },
    // Filtering functions below
    searchByRappAttributeField (labels) {
      this.rapportAttributeFilter = labels
      this.applyFilter()
    },
    searchByDiffValueField (labels) {
      this.diffValueFilter = labels
      this.applyFilter()
    },
    searchByStatusNameField (labels) {
      this.statusNameFilter = labels
      this.applyFilter()
    },
    // consolidated filtering function for all column filters
    applyFilter () {
      const labelsRA = this.rapportAttributeFilter
      this.tableData = this.totalWellsList.filter(
        (x) => labelsRA.length === 0 || labelsRA.includes(x.rapport_attribute)
      )
      const labelsDV = this.diffValueFilter
      if (labelsDV.includes('Hide 0')) {
        this.tableData = this.tableData.filter(
          (x) => labelsDV.length === 0 || (x.diff_value !== '0' && x.diff_value !== '')
        )
      }
      if (labelsDV.includes('Sort ABS() desc')) {
        this.tableData.sort((a, b) => (Math.abs(a.diff_value) < Math.abs(b.diff_value)) ? 1 : ((Math.abs(b.diff_value) < Math.abs(a.diff_value)) ? -1 : 0))
      }
      // filter for Status_name
      const labelsSN = this.statusNameFilter
      this.tableData = this.tableData.filter(
        (x) => labelsSN.length === 0 || labelsSN.includes(x.status_name)
      )
      this.initFooterData()
    }
  },
  created () {
    this.setWellslist()
  }
}
</script>
