<template>
  <v-row
    fill-height
    no-gutters
  >
    <v-col
      :cols="12"
      fill-height
    >
      <AdminRightsDT />
    </v-col>
  </v-row>
</template>
<script>

export default {
  computed: {
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Administring - General info'
    // this.$store.state.ui.active.page.url // = 'ad/rights'
  }
}
</script>
