<template>
  <v-app>
    <AppBar /> 
    <v-main fill-height style="--v-layout-top: 48px;">
      <v-container class="pa-2"
        fluid
        fill-height
        __blockedAzim
      >
        <!-- <transition
          name="fade"
          mode="out-in"
        >
          <router-view
            style="height:100%;"
          />
        </transition> -->
        <router-view
            style="height:100%;"
          ></router-view>
      </v-container>
    </v-main>
    <AppFooter />
   <!--  <div>
      <TestPage/>
    </div> -->
  </v-app>
 
</template>

<script setup>
import HelloWorld from './components/HelloWorld.vue'
import TheWelcome from './components/TheWelcome.vue'
import TestPage from './components/TestPage.vue'

import { mapActions, mapGetters } from 'vuex'
// console.log('hello script setup')
</script>


<script>
/*  first; : getPathP1 / payload[0] = p // b | prof | w | r | s  / MSU58 / 
    second :  MSU58 | -12K-B | production | importvalidation 
    third :   payload[1] = this.getShapeType.type // [id/idcard] [dh/summary1] [id/drillholes] 
                [details] []

*/
export default {
  name: 'App',
  data () {
    return {
      debugMode: 0 // 1 enabled or 0 disabled
    }
  },
  computed: {
    ...mapGetters('ui2', ['getShapeType', 'getPathP1']),
    // ...mapGetters('sde', ['gettbSdeAttrFT']),
    p1 () {
      return this.$route.params.p1
    }
  },
  watch: {
    p1 () {
      if (this.$route.params.p1) {
        // console.log('App.watch. call this.initiate, p1  = ', this.$route.params.p1)
        this.initiate()
      } else {
        // console.log('App.watch. p1 is null, call this.setShapeType this.$route.path =', this.$route.path)
        this.setShapeType(this.$route.path)
      }
    }
  }, // watch: {
  mounted () {
    // console.log('H8. App.mounted() started')
    this.setUser()
    this.setUserRights()
    this.setWellDataDropDownList()
    this.setShapeType(this.$route.path)
    this.setTBlocks()
    this.setTBlocksGEOS()
    this.setTBlocksBounds()
    this.setTDeposBounds()
    this.setGeos3DBounds()
    this.setGEOS3d()
    this.setProfiles()
    this.setDeposits()
    this.setDHs()
    this.initiate()
  }, // mounted
  methods: {
    ...mapActions('tblocks', ['setTBlocks', 'setTDeposBounds', 'setTBlocksBounds', 'setGeos3DBounds', 'setTBlocksGEOS']),
    ...mapActions('tblocksgeos', ['setTBlocksGEOS']),
    ...mapActions('profiles', ['setProfiles']),
    ...mapActions('deposits', ['setDeposits']),
    ...mapActions('qcresultsbydeposit', ['setQCresultsbydeposit']),
    ...mapActions('depositsamples', ['setDepositsamples']),
    ...mapActions('ui2', ['setShapeType', 'setPathP1', 'setUser', 'setUserRights']),
    ...mapActions('ui3', ['setWellDataDropDownList']),
    ...mapActions('geos3d', ['setGEOS3d']),
    ...mapActions('dhs', ['setDHs']),
    ...mapActions('bhistory', ['setBHistory', 'clearBHistory']),
    ...mapActions('drillholes', ['setDrillholes']),
    ...mapActions('dhsummary1', ['setDHSummary1']),
    ...mapActions('dhsummary2', ['setDHSummary2']),
    ...mapActions('dhsummary3', ['setDHSummary3']),
    ...mapActions('dh3dhistory', ['setDH3Dhistory', 'getDH3DhistDistinct']),
    ...mapActions('wells', ['setWells', 'resetWells', 'setActiveWell']),
    ...mapActions('wellspiacq', ['setWellsPIACQ', 'resetWellsPIACQ', 'setActiveWell']),
    // added by YS on 2021-12-24 for https://dev.azure.com/orano/DevOps%20BU%20Mines/_backlogs/backlog/idcard/Features/?workitem=29071
    ...mapActions('wellsgtmap', ['setWellsgtmap', 'resetWellsgtmap']),
    // added by YS on 2021-12-24 for https://dev.azure.com/orano/DevOps%20BU%20Mines/_backlogs/backlog/idcard/Features/?workitem=29071
    ...mapActions('wellsgt', ['setWellsGt', 'resetWellsGt']),
    ...mapActions('sde', ['settbSdeAttrFT']),
    ...mapActions('sdecells', ['settbSdeCellsFT']),
    ...mapActions('depositparam', ['settbDepositParamsFT']),
    ...mapActions('wellsgrm', ['setWellsGrm']),
    ...mapActions('wellshsgt', ['setWellsHsGt', 'resetWellsHsGt']),
    ...mapActions('to25annex1', ['setTO25Blocks']),
    // added by AN 18.12.2023 for osidem QC feature https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=BLOCK_INJECTING_PRODUCERS&p1=%
    ...mapActions('injectingproducers', ['setInjectingProducersFT', 'resetInjectingProducersFT']),
    // actions to extract data for single well - well object in main menu

    // action to load HoleDetails+ data for the well from GEOS_EXTRA.[rr].IC_TFN_HOLE_DETAILS
    ...mapActions('holedetails', ['setHoleDetailsFT']),
    // action to load XRF picking data for the well from GEOS_EXTRA.[rr].[IC_TFN_HOLE_XRF]
    ...mapActions('holexrf', ['setHoleXRFFT']),

    // action to load Samples picking data for the well from GEOS_EXTRA.[rr].[IC_TFN_HOLE_SAMPLES]
    ...mapActions('holesamples', ['setHoleXRFFTSamples']),
    ...mapActions('holesamplesgra', ['setHoleXRFFTSamplesGra']),
    ...mapActions('holesamplesco', ['setHoleXRFFTSamplesCo']),
    // actions to extract data for single well - well object in main menu

    // setDisclaimerShape () {},
    initiate () {
    
      this.setShapeType(this.$route.path)
      this.setPathP1(this.$route.params.p1)

      // waiting for optimiation by Azim:
      const splitedPath = this.$route.path.split('/')
      // console.log('V77. this.$route.path = ', this.$route.path, ', splitedPath = ', splitedPath)
      if (splitedPath[1] === 'b' &&  splitedPath[3] ==='demdash') {
        // Для demdash - не выполняеем команды ниже!!!
        return
      }

      if (this.getShapeType.type === 'TB_DEM') {
        this.setBlockData(this.getPathP1)
      } else if (this.getShapeType.type === 'TB_GEOS') {
        this.setTBlockDataGEOS(this.getPathP1)
      } else if (this.getShapeType.type === '3D_GEOS') {
        this.setG3DModel(this.getPathP1)
      /* }  else if (this.getShapeType.type === 'PROF') {
         if (this.debugMode === 1) console.log('Trying set (download) profile data ...' + this.getPathP1)
        this.setProfileData(this.getPathP1) */
      } else if (this.getShapeType.type === 'DEPO') {
        if (this.debugMode === 1) console.log('Trying set (download) deposit data ...' + this.getPathP1)
        this.setDepositData(this.getPathP1)
      } else if (this.getShapeType.type === 'WELL') {
        this.setWellData(this.getPathP1)
      } /* else if (this.getShapeType.type === 'REPORT') {
        this.setReportData(this.getPathP1)
      } else if (this.getShapeType.type === 'SAMPLING') {
        this.setSamplingData(this.getPathP1)
      } */
    },
   /*  setProfileData (p) {
      console.log('App.setProfileData p=', p)
      const payload = []
      payload[0] = p
      payload[1] = this.getShapeType.type
      payload[2] = 0
      if (this.debugMode === 1) console.log('Trying setDrillholes (download) profile data ...' + this.getPathP1)
      //this.setDrillholes(payload) // from ...mapActions('drillholes', ['setDrillholes']),
    }, */
    setDepositData (p) {
      this.resetWells()
      this.clearBHistory()
      const payload = []
      payload[0] = p
      payload[1] = this.getShapeType.type
      payload[2] = 0
      if (this.debugMode === 1) console.log('Trying setDrillholes (download) deposit data ...' + this.getPathP1)
      this.setDrillholes(payload) // from ...mapActions('drillholes', ['setDrillholes']),
      this.setQCresultsbydeposit(payload)
      this.setWells(payload)
      this.setWellsgtmap(payload)
      this.setWellsGt(payload)
      this.setWellsHsGt(payload)
      this.setBHistory(payload)
      this.settbDepositParamsFT(payload)
      this.setDepositsamples(payload)
    },
    setTBlockDataGEOS (p) {
      this.resetWells()
      this.resetWellsHsGt()
      this.clearBHistory()
      const payload = []
      payload[0] = p
      payload[1] = this.getShapeType.type
      payload[2] = 20
      this.setDrillholes(payload)
      this.setDHSummary1(payload)
      this.setDHSummary2(payload)
      this.setDHSummary3(payload)
      this.setActiveWell(payload)
      this.setWells(payload)
      this.settbSdeAttrFT(payload)
      this.setBHistory(payload)
      this.setWellsGt(payload)
      this.setWellsGrm(payload)
      this.setWellsHsGt(payload)
    },

    setBlockData (p) { // Tech. Block
      console.log('')

      this.resetWellsGt()
      this.resetWellsHsGt()
      this.resetWells()
      this.resetWellsPIACQ()
      // added by YS on 2021-12-24 for https://dev.azure.com/orano/DevOps%20BU%20Mines/_backlogs/backlog/idcard/Features/?workitem=29071
      // this.resetWellsgtmap()
      this.resetWellsgtmap()
      // added by AN for osidem QC for https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=BLOCK_INJECTING_PRODUCERS&p1=%
      this.resetInjectingProducersFT()

      this.clearBHistory()
      const payload = []
      payload[0] = p
      payload[1] = this.getShapeType.type
      payload[2] = 20
      this.setDrillholes(payload)
      this.setDHSummary1(payload)
      this.setDHSummary2(payload)
      this.setDHSummary3(payload)
      this.setActiveWell(payload)
      this.setWells(payload)
      this.setWellsPIACQ(payload)
      // added by YS on 2021-12-24 for https://dev.azure.com/orano/DevOps%20BU%20Mines/_backlogs/backlog/idcard/Features/?workitem=29071
      // this.setWellsgtmap(payload)
      this.setWellsgtmap(payload)
      // added by YS on 2021-12-24 for https://dev.azure.com/orano/DevOps%20BU%20Mines/_backlogs/backlog/idcard/Features/?workitem=29071
      this.setWellsGt(payload)
      console.log('H51. before this.setBHistory(payload). payload = ', payload)
      this.setBHistory(payload)
      this.setWellsGrm(payload)
      this.setWellsHsGt(payload)
      this.setTO25Blocks(p)
      this.settbSdeAttrFT(payload)
      this.settbSdeCellsFT(p)
      this.settbDepositParamsFT(payload)
      // added by AN for osidem QC for https://gis-katco.bdom.ad.corp/asp/geos/idcard/querytfn1.aspx?tfn=BLOCK_INJECTING_PRODUCERS&p1=%
      this.setInjectingProducersFT(payload)
    },

    setG3DModel (p) {
      this.resetWells()
      this.resetWellsHsGt()
      this.clearBHistory()
      const payload = []
      payload[0] = p
      payload[1] = this.getShapeType.type
      payload[2] = 0
      this.setDrillholes(payload)
      this.setDHSummary1(payload)
      this.setDHSummary2(payload)
      this.setDHSummary3(payload)
      this.setDH3Dhistory(payload)
      this.setActiveWell(payload)
      this.setWells(payload)
      this.setBHistory(payload)
      this.settbSdeAttrFT(payload)
      this.setWellsGt(payload)
      this.setWellsGrm(payload)
      this.setWellsHsGt(payload)
    },

    setWellData (p) {
      // loading well data
      this.clearBHistory()
      const payload = []
      payload[0] = p
      payload[1] = this.getShapeType.type
      // loading HoleDetails+ data for the well from GEOS_EXTRA.[rr].IC_TFN_HOLE_DETAILS
      this.setHoleDetailsFT(payload)
      // loading XRF picking data for the well from GEOS_EXTRA.[rr].[IC_TFN_HOLE_XRF]
      this.setHoleXRFFT(payload)
      this.setWellsGt(payload)
      this.setHoleXRFFTSamples(payload)
      this.setHoleXRFFTSamplesGra(payload)
      this.setHoleXRFFTSamplesCo(payload)
    }/* ,
    setReportData (p) {
      // loading Report data
      const payload = []
      payload[0] = p
      payload[1] = this.getShapeType.type
      // console.log('payload[0]=' + payload[0] + ', payload[1]=' + payload[1])
      // this.setDrillholes(payload)
    },
    setSamplingData (p) {
      // loading sampling data
      const payload = []
      payload[0] = p
      payload[1] = this.getShapeType.type
      // console.log('payload[0]=' + payload[0] + ', payload[1]=' + payload[1])
      // this.setDrillholes(payload)
    } */
  }
}
</script>

<style lang="scss">

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

</style>
