<template>
  <v-row
    no-gutters
    dense
  >
    <v-col>
      <v-row
        no-gutters
        dense
      >
        <v-col>
          <v-data-table
            v-if="getBHistoryFT"
            dense
            :headers="headers_l"
            :items="getBHistoryFT"
            :items-per-page="-1"
            class="elevation-1"
          />

          <v-card v-if="!getBHistoryFT">
            <Loading />
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'BHISRTechBlocksHDT',
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters('bhistory', ['getBHistoryFT', 'getBHShapes']),
    ...mapGetters('ui2', ['getShapeType', 'getPathP1']),
    headers_l () {
      console.log('h02. this.getShapeType.type = ', this.getShapeType.type)
      let res = []
      if (this.getShapeType.type === 'TB_DEM') {
        res = [
          { title: 'Status', value: 'STATUS' },
          { title: 'From (date)', value: 'GDB_FROM_DATE' },
          { title: 'Area, m2', value: 'STArea' }
        ]
      } 
      if (this.getShapeType.type === 'TB_GEOS') {
        res = [
          { title: 'Category', value: 'Reserves_category' },
          { title: 'Surface (m2)', value: 'STArea' },
          { title: 'Cut-off (m%)', value: 'CUT_OFF' },
          { title: 'tU', value: 'RESERVEStU' },
          { title: 'Estimated by', value: 'AUTHOR' },
          { title: 'Estimation date', value: 'GDB_FROM_DATE' },
          { title: 'Is Valid?', value: 'VALIDATED' },
          { title: 'Request ID', value: 'REQUESTID' }
        ]
      }
      return res
    }
  }
}
</script>
