<template>
  <v-row>
    <v-col :cols="12">
      <v-row
        no-gutters
      >
        <v-col :cols="12">
          <v-card v-if="!getBHistoryFT || !getBHShapes ">
            <Loading />
          </v-card>

          <span v-if="getBHShapes">
            <v-chip
              :color="color1"
              @click="poly1visible=!poly1visible"
            >
              <v-icon v-if="!poly1visible">mdi-eye-off</v-icon>
              <v-icon v-if="poly1visible">mdi-eye</v-icon>
            </v-chip>
            <ColorPicker
              :color_p="color1"
              @getBackColor="setColor1"
            />
            <v-chip
              v-for="(date,i) in getBHShapes.dates"
              :key="i"
              dense
              :color="chipColor(0,i,activeShapeIndex)"
              @click="activeShapeIndex=i"
            >
              <small v-if="i==activeShapeIndex"> <strong> <u>{{ date.date._i }} {{ date.rid }} </u></strong> </small>
              <small v-if="i!=activeShapeIndex"> {{ date.date._i }} {{ date.rid }} </small>
            </v-chip>
          </span>
          <br>
          <span v-if="getBHShapes">
            <v-chip
              :color="polygonsStyles[1].fillColor"
              @click="poly2visible=!poly2visible"
            >
              <v-icon v-if="!poly2visible">mdi-eye-off</v-icon>
              <v-icon v-if="poly2visible">mdi-eye</v-icon>
            </v-chip>
            <ColorPicker
              :color_p="color2"
              @getBackColor="setColor2"
            />
            <v-chip
              v-for="(dateP,i) in getBHShapes.dates"
              :key="i"
              dense
              :color="chipColor(1,i,activeShapeIndex2)"
              @click="activeShapeIndex2=i"
            >
              <small v-if="i==activeShapeIndex2"> <strong> <u>{{ dateP.date._i }} {{ dateP.rid }} </u></strong> </small>
              <small v-if="i!=activeShapeIndex2"> {{ dateP.date._i }} {{ dateP.rid }} </small>
            </v-chip>
          </span>
          <v-btn
            primary
            @click="flyToBlock(getPathP1)"
          >
            <v-icon>mdi-target</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row id="map">
        <v-col
          :cols="12"
          style="background-color: transparent;"
        >
          <v-img
            height="100%"
            width="100%"
          >
          <!-- <l-map
              ref="map"
              :center="[44.237,68.922]"
              style="background-color: transparent; height:650px; overflow:hidden"
              :zoom="zoom"
              :options="{ preferCanvas: true }"
              :bounds="bounds" -->
            <l-map
              ref="map"
              :center="[44.237,68.922]"
              style="background-color: transparent; height:650px; overflow:hidden"
              :zoom="zoom"
              :options="{ preferCanvas: true }"
              @update:bounds="boundsUpdated"
            >
              <l-tile-layer url="https://{s}.tile.osm.org/{z}/{x}/{y}.png" />

              <l-feature-group v-if="getBHShapes">
                <l-feature-group
                  v-if="getBHShapes.geoJSONs.length>0"
                  ref="shape"
                >
                  <l-geo-json
                    v-if="poly1visible"
                    :geojson="getBHShapes.geoJSONs[activeShapeIndex]"
                    :options-style="poly1GeoStyler"
                    :key = "poly1key"
                  />
                  <l-geo-json
                    v-if="poly2visible"
                    :geojson="getBHShapes.geoJSONs[activeShapeIndex2]"
                    :options-style="poly2GeoStyler"
                    :key = "poly2key"
                  />
                </l-feature-group>
              </l-feature-group>
            </l-map>
          </v-img>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'BHShape',
  props: {
  },
  data () {
    return {
      color1: '#00BB55',
      color2: '#AA0033',
      zoom: 16, // 17,
      activeShapeIndex: 0,
      activeShapeIndex2: 0,
      poly1visible: true,
      poly2visible: true,
      bounds: {
        type: [Array, Object],
        custom: true,
        default: [[44.5, 69.2], [44.51, 69.3]]
      },
      poly1key: 1000,
      poly2key: 5000,
      poly1GeoStyler: (feature) => ({
          color: this.color1,
          fillColor: this.color1,
          opacity: 0.5
      }),
      poly2GeoStyler: (feature) => ({
          color: this.color2,
          fillColor: this.color2,
          opacity: 0.5
      }),
    }
  },
  computed: {
    ...mapGetters('bhistory', ['getBHistoryFT', 'getBHShapes']),
    ...mapGetters('tblocks', ['getTBlocksBounds']),
    ...mapGetters('ui2', ['getShapeType', 'getPathP1', 'getCaption']),
    polygonsStyles () {
      return [
        {
          color: this.color1,
          fillColor: this.color1,
          opacity: 0.5
        },
        {
          color: this.color2,
          fillColor: this.color2,
          opacity: 0.5
        }
      ]
    }
  },
  watch: {
    getBHShapes () { this.update() },
    getTBlocksBounds () {
      this.update()
    },
    getBHistoryFT () { this.update() }
  },
  mounted: function () {
    this.$nextTick(function () {
      this.update()
      let color1_l = localStorage.getItem('IDCard-shape-history-color1')
      let color2_l = localStorage.getItem('IDCard-shape-history-color2')
      if (color1_l !== 'false') { this.color1 = color1_l }
      if (color2_l !== 'false') { this.color2 = color2_l }
    })
  },
  methods: {
    getCorrectDate(dateL) {
      const dateS =  dateL.toLocaleString('sv-SE')
      console.log('dateL = ', dateL, ', dateS = ', dateS)
      return 'dsadadasd'
    },
    setColor1 (color_l) {
      this.color1 = color_l
      localStorage.setItem('IDCard-shape-history-color1', this.color1)
      this.poly1key = this.poly1key + 1 // reinit map poygon color
    },
    setColor2 (color_l) {
      this.color2 = color_l
      localStorage.setItem('IDCard-shape-history-color2', this.color2)
      this.poly2key = this.poly2key + 1 // reinit map poygon color
    },
    boundsUpdated (bounds) {
      this.bounds = bounds
    },
    flyToBlock (blockName) {
      if (this.getTBlocksBounds && this.$refs.map) {
        this.bounds = this.getTBlocksBounds[blockName]
        //this.$refs.map.leafletObject.flyToBounds(this.bounds, { duration: 0.5 })
        if (this.$refs.map && this.$refs.map.leafletObject) {
          console.log('h82. this.$refs.map - then')
          this.$refs.map.leafletObject.flyToBounds(this.bounds, { duration: 0.5 })
        } else {
          console.log('h83. this.$refs.map - else')
          setTimeout(function(){ this.$refs.map.leafletObject.flyToBounds(this.bounds, { duration: 0.5 }) }, 1000);
        }
      }
    },
    update () {
      if (this.getBHistoryFT && this.getBHShapes) {
        this.activeShapeIndex = 0
        this.activeShapeIndex2 = 0
        this.flyToBlock(this.getPathP1)
      }
    },
    chipColor (styleArrayIndex, eIndex, activeIndex) {
      if (eIndex === activeIndex) return this.polygonsStyles[styleArrayIndex].fillColor
      else return 'grey'
    }
  }
}
</script>
