<template>
  <v-row
    no-gutters
    dense
  >
    <v-col>
      <v-data-table
        v-if="getTO25BlocksFT"
        :height="tableDataHeight"
        :fixed-header = "true"
        dense
        :headers="headers"
        :items="getTO25BlocksFT"
        :items-per-page="-1"
        class="elevation-1"
        multi-sort
      />
      <v-card v-if="!getTO25BlocksFT">
        <Loading />
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'BHTO25Annex1DT',
  data () {
    return {
      version: '1.0.0',
      headers: [
        { title: 'BLOCK', key: 'block_name' },
        { title: 'YEAR',  key: 'YEAR' },
        { title: 'MONTH',  key: 'MONTH'  },
        { title: 'Reserves estimated, t', key: 'Reservest' },
        { title: 'Days Of Acidification Reported Month', key: 'DaysOfAcidificationReportedMonth' },
        { title: 'Months Of Acidification Accumulated', key: 'MonthsOfAcidificationAccumulated' },
        { title: 'Days Of Extraction Reported Month', key: 'DaysOfExtractionReportedMonth' },
        { title: 'Months Of Extraction Accumulated', key: 'MonthsOfExtractionAccumulated' },
        { title: 'Number Producers Total', key: 'NBProducersTotal' },
        { title: 'Number Producers Operating', key: 'NBProducersOperating' },
        { title: 'Number Injectors Total', key: 'NBInjectorsTotal' },
        { title: 'Number Injectors Operating', key: 'NBInjectorsOperating' },
        { title: 'Producers Flowrate, M3h', key: 'ProducersFlowrateM3h' },
        { title: 'Injectors Flowrate, M3h', key: 'InjectorsFlowrateM3h' },
        { title: 'PR Volume 1000m3 Reported Month', key: 'PRVolume1000m3ReportedMonth' },
        { title: 'PR Volume 1000m3 Accumulated', key: 'PRVolume1000m3Accumulated' },
        { title: 'Average Conc UMgDm3 Reported Month', key: 'AverageConcUMgDm3ReportedMonth' },
        { title: 'Average Conc UMgDm3 Accumulated', key: 'AverageConcUMgDm3Accumulated' },
        { title: 'kgU in PR Reported Month', key: 'kgU_inPR_ReportedMonth' },
        { title: 'tU inPR Accumulated', key: 'tU_inPR_Accumulated' },
        { title: 'Production kg U Reported Month', key: 'Production_kgUReportedMonth' },
        { title: 'Production tU Accumulated', key: 'Production_tUAccumulated' },
        { title: 'Recovery Factor Pct', key: 'RecoveryFactorPct' },
        { title: 'Over Extraction T', key: 'OverExtractionT' },
        { title: 'VR Volume Injected Reported Month, 1000m3', key: 'VRVolumeInjectedReportedMonth_1000m3' },
        { title: 'VR Volume Injected Accumulated, 1000m3', key: 'VRVolumeInjectedAccumulated_1000m3' },
        { title: 'Liquid Over Solid Acidification Phase Ratio', key: 'LiquidOverSolidAcidificationPhaseRatio' },
        { title: 'Liquid Over Solid Exploitation Phase Ratio', key: 'LiquidOverSolidExploitationPhaseRatio' },
        { title: 'userID', key: 'userID' },
        { title: 'update Date', key: 'updateDate' }

      ],
      tableDataHeight: window.innerHeight - 160,
    }
  },
  computed: {
    ...mapGetters('to25annex1', ['getTO25BlocksFT'])
  },
  mounted: function () {
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
  },
  methods: {
    onResize () {
      this.tableDataHeight = window.innerHeight - 160
    },
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  }
}
</script>
