<template>
  <v-app-bar
    density="compact"
    light
    color="light"
    app
    dense
  >
    <router-link to="/">
      <v-img
        alt="Logo"
        src="./katco.png"
        class="shrink mr-2"
        transition="scale-transition"
        width="36"
      />
    </router-link>
    <router-link
      to="/"
      style="text-decoration: none;"
    >
      <v-toolbar-title style="color: #c3bebe;">ID Card<sup>3</sup></v-toolbar-title>
    </router-link>
    <span class="mx-2">&mdash;</span>
    <v-col cols="2">
      <v-select
        density="compact"
        v-model="typeSelect"
        :items="types"
        solo
        single-line
        hide-details
        dense
        light
        bg-color="white"
      />
    </v-col>
    <span class="mx-2">&mdash;</span>
    <strong v-if="p1">{{ p1 }}</strong>
    <!-- > -->
    <app-block-auto-complete
      v-if="showTBlockDEM"
    />
    <App3dGEOSAutoComplete v-if="showG3DModel" />
    <AppGEOSTBlockAutoComplete v-if="showTBlockGEOS" />
    <AppProfileAutoComplete v-if="showProfile" />
    <AppDepositAutoComplete v-if="showDeposit" />
    <AppDHsAutoComplete v-if="showWell" />
    <AppReportAutoComplete v-if="showReport" />
    <AppSamplingAutoComplete v-if="showSampling" />
    <span class="mx-2">&emsp;</span>

    <AppDrawerMenu></AppDrawerMenu>

    <strong v-if="p1">{{ this.$store.state.ui.active.page.name }}</strong>
    <v-chip
      color="gray"
      x-small
      class="ml-2"
      inline
      v-text="`${getAppVersion}`"
    />
    <a class="link-to-old-version pl-7"
      href="https://gis-katco.bdom.ad.corp/GEOS/IDCARD125" 
      target="_blank"> 
      <v-toolbar-title >Open old version IDCard<sup>1</sup></v-toolbar-title></a>
    <v-spacer />
            <span class="tooltipAB"
            data-tooltip="User Guide">
            <v-chip
              small
              class="mr-2"
              color="light"
            >
              <v-icon
                   @click="ShowHelpDialogPressed"
                  >mdi-help</v-icon>
            </v-chip>
            </span>
            <!-- <KHelpDialog
              :show-dialog-prop="dialogHelpShowKey"
              :header-text="this.jsonData && this.jsonData.headerText ? this.jsonData.headerText : ''"
              :pre-text="this.jsonData && this.jsonData.preText ? this.jsonData.preText : ''"
              :past-text="this.jsonData && this.jsonData.pastText ? this.jsonData.pastText : ''"
            /> -->
            <KHelpDialog
              :showDialogProp="dialogHelpShowKey"></KHelpDialog>
    <span class="tooltipAB"
      data-tooltip="Access rights administration">
      <v-chip
        v-if="checkAccessForAdminPage()"
        small
        class="mr-2"
        color="light"
      >
        <v-icon
          x-small
          class="mr-1"
          @click="openAdminRights"
        >mdi-account-edit-outline
        </v-icon>
      </v-chip>
    </span>
    <v-chip
      small
      class="mr-2"
      style="background-color: #1976d2 !important;"
    >
      <v-icon
        x-small
        class="mr-1"
      >
        mdi-account
      </v-icon>
      <span v-if="getUser">{{ getUser.CURRENTUSER }}</span>
      <v-icon
        v-if="rights=='access4Alert'"
        x-small
        class="mr-2"
      >
        mdi-database-alert-outline
      </v-icon>
      <v-icon
        v-if="rights=='accessEditor'"
        small
        class="mr-1"
      >
        mdi-database-edit-outline
      </v-icon>
      <v-icon
        v-if="rights=='accessReader'"
        small
        class="mr-1"
      >
        mdi-database-outline
      </v-icon>
    </v-chip>
  </v-app-bar>
</template>



<script>
import { mapGetters } from 'vuex' // mapActions
import { computed }  from 'vue';
import { useStore } from 'vuex';

import k from '@/lib/k.js'



export default {
  name: 'AppBar',
  data () { 
    return {
      types: ['Tech. Block', 'Tech. Block Estimation', '3D Model', 'Profile', 'Deposit', 'Well', 'Report', 'Sampling'],
      typeSelect: null,
      rights: null,
      dialogHelpShowKey: 0,
      jsonData: null,
      helpPath: ''
    }
  },
  computed: {
    ...mapGetters('ui2', ['getShapeType', 'getUser', 'getUserRights', 'getPathP1']),
    showTBlockDEM () { return this.typeSelect === 'Tech. Block' },
    showTBlockGEOS () { return this.typeSelect === 'Tech. Block Estimation' },
    showG3DModel () { return this.typeSelect === '3D Model' },
    showProfile () { return this.typeSelect === 'Profile' },
    showDeposit () { return this.typeSelect === 'Deposit' },
    showWell () { return this.typeSelect === 'Well' },
    showReport () { return this.typeSelect === 'Report' },
    showSampling () { return this.typeSelect === 'Sampling' },
    p1 () { return this.$route.params.p1 },
    // getUserRights () {const store = useStore(); return computed(() => store.state.ui2.getUserRights)}
    getAppVersion () { return this.$store.state.AppVersion }
  },
  watch: {

    typeSelect (newType) {
      // console.log('AppBar. watch typeSelect =', newType )
      if (newType !== this.getShapeType.caption) {
        if (this.typeSelect === 'Tech. Block') {
          this.$store.state.ui.active.page.url = 'id/idcard'
          this.$router.push('/b/')}
        if (this.typeSelect === 'Tech. Block Estimation') {
          this.$store.state.ui.active.page.url = 'dh/summary1'
          this.$router.push('/gtb/')}
        if (this.typeSelect === '3D Model') {
          this.$store.state.ui.active.page.url = 'dh/summary1'
          this.$router.push('/g3d/')}
        if (this.typeSelect === 'Profile') {
          this.$store.state.ui.active.page.url = 'id/drillholes'
          this.$router.push('/prof/')
        }
        if (this.typeSelect === 'Deposit') { 
          this.$store.state.ui.active.page.url = 'id/idcard'
          this.$router.push('/depo/') }
        if (this.typeSelect === 'Well') { 
          this.$store.state.ui.active.page.url = 'details'
          this.$router.push('/w/') 
        }
        if (this.typeSelect === 'Report') {
          this.$store.state.ui.active.page.url = 'rappsomm'
          this.$router.push('/r/')}
        if (this.typeSelect === 'Sampling') { 
          this.$store.state.ui.active.page.url = 'al'
          this.$router.push('/s/') }

      }
    },
    getUser () {
      let res = ''
      if (this.getUser) {
        if (this.getUser.HAS4ACCESS !== '4') res = 'access4Alert'
        else if (this.getUser.GEOSEXTRA_ADMIN === '1' || this.getUser.GEOSEXTRA_RR_M === '1') res = 'accessEditor'
        else res = 'accessReader'
      }
      this.rights = res
    },
     getShapeType (newShapeType) {
      // *** Это нужно чтобы при вставке в адресную строку ссылки: https://localhost:4343/#/w/TS_KD_4110_1/details
      // *** В верхнем списке меню было выбрано "Well"
      // *** В списке скважин не выбрано - "TS_KD_4110_1", не было выбрано и в старом айдикарде (на vue2).

      // console.log('AppBar. watch. 01 newShapeType = ', newShapeType)
      if (newShapeType !== null && newShapeType.caption !== null) {
        // console.log('AppBar. watch. 02 newShapeType.caption = ', newShapeType.caption)        
        if (newShapeType.caption !== this.typeSelect ) {
          // console.log('AppBar. watch. 03 newShapeType !== this.typeSelect.  this.typeSelect = ', this.typeSelect)    
          this.typeSelect = newShapeType.caption
        } else {
          // console.log('AppBar. watch. 04 newShapeType.caption === this.typeSelect.')
        }
      }
    } 
  },
  mounted: function () {
    this.$nextTick(function () {
      // Код, который будет запущен только после отображения всех представлений
      //  console.log('AppBar. mounted. this.getShapeType = ', this.getShapeType)
      if (this.getShapeType) {
        this.typeSelect = this.getShapeType.caption
        // this.fetchData()
      }
    })
  },
  methods: {
    openAdminRights () {
      // if (this.$router.history.current.path && this.$router.history.current.path !== '/ad/rights') {
        this.$router.push('/ad/rights')
      // }
    },
    checkAccessForAdminPage () {
      //console.log('hi71. checkAccessForAdminPage started')
      // const storeL = useStore()
      // const getUserRightsL = computed(() => storeL.state.ui2.getUserRights)
      //console.log('hi72. checkAccessForAdminPage. getUserRights = ', this.getUserRights)
      // return
      if (this.getUserRights) {
        const arr = this.getUserRights.filter(el => { return el.routepath.endsWith('/ad/rights') })
        //console.log('hi73. checkAccessForAdminPage. admin arr = ', arr)
        return (arr.length > 0)
      }
      return false
    },
    ShowHelpDialogPressed () {
      // this.fetchData()
      /* const dd =  this.dialogHelpShowKey
      console.info('dd = ', dd) */
      this.dialogHelpShowKey += 1
    }
  }
}
</script>

<style>

.v-app-bar.v-app-bar--fixed {
  z-index: 21;
}


.v-toolbar__content,.v-toolbar__extension {
    padding: 4px 16px
}

.v-app-bar.v-toolbar {
    background: #726f6f;
    color: white;
}

/* sample */
.tooltipAB {
 border-bottom: 1px dotted #0077AA;
 cursor: help;
}

.tooltipAB::after {
 background: rgba(71, 59, 59, 0.8);
 border-radius: 8px 8px 8px 0px;
 box-shadow: 10px 10px 10px rgba(63, 57, 57, 0.5);
 color: #FFF;
 content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
 margin-top: 20px;
 opacity: 0; /* Наш элемент прозрачен... */
 padding: 3px 26px;
 position: absolute;
 visibility: hidden; /* ...и скрыт. */

 transition: all 0.4s ease-in-out; /* Добавить плавности по вкусу */
}

.tooltipAB:hover::after {
 opacity: 1; /* Показываем его */
 visibility: visible;
 z-index: 10000;
}

.link-to-old-version { 
  color: #fafd2d;
}
</style>
