<template>
  <v-navigation-drawer
    v-model="$store.state.showAppDrawer"
    app
    overflow
    temporary
    dense
  >
    <div
      v-for="group in getPageGroupsAppliedRights"
      :key="group.name"
      class="my-2 pl-3"
    >
      <h4
        class="mb-2"
        v-text="group.name"
      />
      <div
        v-for="page in group.pages"
        :key="page.url"
        color="success"
        block
      >
        <router-link
          :to="'/' + getShapeType.url + '/' + getPathP1 + '/'+ page.url"
          v-text="page.desc"
        />
        <v-icon
          v-if="page.ext"
          small
          class="ml-2"
        >
          mdi-open-in-new
        </v-icon>
      </div>
    </div>

    <v-switch class="pl-3"
      v-model="$vuetify.theme.dark"
      primary
      label="Dark theme"
    />
  </v-navigation-drawer>
</template>

<style>
.v-navigation-drawer {
  z-index: 30 !important;
  }
</style>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'AppDrawer',

  data: () => ({
    drawer: null,
    languages: [
      { code: 'ru', title: 'Русский (Russian)', shortTitle: 'Русский' },
      { code: 'kk', title: 'Қазақша (Kazakh)', shortTitle: 'Қазақша' },
      { code: 'en', title: 'English', shortTitle: 'English' },
      { code: 'fr', title: 'Français (French)', shortTitle: 'Français' }
    ]
  }),
  computed: {
    ...mapGetters('ui2', ['getShapeType', 'getPageGroupsAppliedRights', 'getPathP1'])
  },
  methods: {
  }

}

</script>

<style scoped>
  .flag {
    width:24px;
    height:18px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:20px;
    display:inline-block;
    margin-right:6px;
  }
  .en {
    background-image: url(/assets/en.svg)
  }
  .fr {
    background-image: url(/assets/fr.svg)
  }
  .kk {
    background-image: url(/assets/kk.svg)
  }
  .ru {
    background-image: url(/assets/ru.svg)
  }
</style>
