<template>
  <v-row>
    <v-col cols="2">
      <v-autocomplete
        v-if="getWellDataDropDownList"
        v-model="selected"
        :items="getWellDataDropDownList"
        prepend-inner-icon="mdi-magnify"
        single-line
        hide-details
        return-object
        dense
        item-title="UI_string"
        item-value="rid"
        light
        solo
        density="compact"
        bg-color="white"
      />
    </v-col>
    <v-col cols="10">
      {{ UI_help_string }}
    </v-col>
  </v-row>
</template>

<script>
// eslint-disable @typescript-eslint/camelcase
import { mapGetters } from 'vuex'

export default {
  name: 'AppDHDataAutoComplete',

  data: () => ({
    loading: false,
    selected: null
  }),

  computed: {
    ...mapGetters('ui3', ['getWellDataDropDownList']),
    UI_help_string () {
      let res = null
      if (this.selected) res = this.selected.UI_help_string
      return res
    }
  },

  watch: {
    selected () {
      console.log('go to show data from: ' + this.selected.UI_string)
    }
  },
  mounted () {
    this.$store.state.ui.active.page.name = 'Drillhole - Data'
    this.$store.state.ui.active.page.url = 'data'
  }
}
</script>
