<template>
  <div class="text-center">
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      offset-y
    >
      <template v-slot:activator="{ props }">
        <v-btn
          dark
          v-bind="props"
          icon
          @click="showMenuList(props)"
        >
        <v-app-bar-nav-icon/>
        </v-btn>
      </template>

      <v-card
      min-width="450"
      ><div
          class="my-2 pl-3"
        >
          <h4
            class="mb-2"
          >{{ menuHeaderTitle }}</h4>
          <div
            v-for="item in menuUrlList"
            :key="item.url"
            color="success"
            block
            >
            <span
              :class="[item.tooltip ? 'tooltipAB' : '']"
              :data-tooltip="item.tooltip">
              <router-link
                :to="item.url"
                v-text="item.menu_title"
                @click="menu = false"
              />
            </span>
          </div>
        </div>
        
        <v-switch class="pl-3"
          v-model="$vuetify.theme.dark"
          primary
          label="Dark theme"
        />
      </v-card>
    </v-menu>
  </div>
</template>

<script>
// import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      menu: false,
      menuUrlList: null
    }
  },
  computed: {
    // ...mapGetters('ui2', ['getShapeType', 'getPathP1']),
    currentSeparatedRouteFullPath() {
      let params = [{p0:''},{p1:''},{p2:''}]
      // console.log('this.$route = ', this.$route)
      const splited = this.$route.fullPath.split('/')
      // console.log('splited = ', splited)
      params.p0=(splited.length>1?splited[1]:'') // "b"
      params.p1=(splited.length>2?splited[2]:'') // "MCI02"
      params.p2=(splited.length>3?splited[3]:'') + (splited.length>4?'/'+splited[4]:'') // "id/drillholes"

      return params
    },
    menuHeaderTitle () {
      return this.$route.meta.header_title + ' subpages'
    }
  },
  mounted () {
    this.$router.beforeResolve((to, from, next) => {
      this.menu = false
      next()
    })
  },
  methods: {
    showMenuList(param) {
      if (param['aria-expanded']==="false") {
        // console.log('Going to open')
        this.setMenuItemsList()
      }
    },
    setMenuItemsList () {
      const currentUrl = this.currentSeparatedRouteFullPath
      // console.log('H30. routeParts = ', currentUrl)
      this.menuUrlList = []
      const listOfItems = this.$route.matched[0].children
      listOfItems.forEach(routesEl => {
        if (routesEl.meta) {
          const routesElPathSplited = routesEl.path.split('/')
          const url_f = routesEl.path.replace(routesElPathSplited[1], currentUrl.p0).replace(routesElPathSplited[2], currentUrl.p1)
          // console.log('url_f = ', url_f)
          const itemT = routesEl.meta
          console.log('itemT = ', itemT)
          itemT.url = url_f
          this.menuUrlList.push(itemT)
        }
      });
    },
  }
}
</script>
