<template>
  <v-col cols="2">
    <v-autocomplete
      v-if="getDHsFT"
      v-model="selected"
      :items="getDHsFT"
      prepend-inner-icon="mdi-magnify"
      single-line
      hide-details
      return-object
      dense
      item-title="id"
      item-value="id"
      light
      solo
      density="compact"
      bg-color="white"
    />
  </v-col>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'AppDHsAutoComplete',

  data: () => ({
    loading: false,
    selected: null
  }),

  computed: {
    ...mapGetters('dhs', ['getDHsFT'])
  },

  watch: {
    selected () {
      let togo = this.$store.state.ui.active.page.url
      console.info('this.$store.state.ui.active.page.url = ', this.$store.state.ui.active.page.url)
      if (togo === 'Home') togo = 'Status'
      if (this.selected) {
        console.info('this.selected.id = ', this.selected.id)
        this.$router.push('/w/' + this.selected.id + '/' + togo)
      }
    }
  }
}
</script>
