<template>
  <v-footer
    dark
    color="blue-grey darken-4"
    app
    permanent
    style="font-size: 10pt; padding-top: 0px; padding-bottom: 0px;"
  >
    <v-col
      class="text-center pa-2"
      cols="12"
    >
      2020-{{ new Date().getFullYear() }} &mdash; <strong>Katco DMG</strong>
    </v-col>
  </v-footer>
</template>

<script>
export default {
  name: 'AppFooter',
  data () {
    return {
    }
  }
}
</script>

<style>
.v-footer--absolute, .v-footer--fixed {
    z-index: 20;
}
</style>
