<template>
  <v-col cols="2">
    <v-autocomplete
      v-if="getTBlocksGEOS"
      v-model="selected"
      :items="getTBlocksGEOS"
      prepend-inner-icon="mdi-magnify"
      single-line
      hide-details
      return-object
      dense
      item-title="name"
      item-value="name"
      light
      solo
      density="compact"
      bg-color="white"
    />
  </v-col>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'AppGEOSTBlockAutoComplete',

  data: () => ({
    loading: false,
    selected: null
  }),

  computed: {
    ...mapGetters('tblocksgeos', ['getTBlocksGEOS'])
  },

  watch: {
    selected () {
      let togo = this.$store.state.ui.active.page.url
      if (togo === 'Home') togo = 'Status'
      if (this.selected) {
        this.$router.push('/gtb/' + this.selected.name + '/' + togo)
      }
    }
  }
}
</script>
