<template>
  <v-col cols="2">
    <v-autocomplete
      v-if="reportList"
      v-model="selected"
      :items="reportList"
      prepend-inner-icon="mdi-magnify"
      single-line
      hide-details
      return-object
      dense
      item-title="name"
      item-value="value"
      light
      solo
      density="compact"
      bg-color="white"
    />
  </v-col>
</template>

<script>
// import { mapGetters } from 'vuex'

export default {
  name: 'AppSamplingAutoComplete',

  data: () => ({
    loading: false,
    selected: null,
    reportList: [{ name: 'Import', value: 'import' }]
  }),

  computed: {
    // ...mapGetters('deposits', ['getDeposits'])
  },

  watch: {
    selected () {
      let togo = this.$store.state.ui.active.page.url
      if (togo === 'Home') togo = 'Status'
      if (this.selected) {
        if (this.selected.value === 'import') togo = 'al'
        this.$router.push('/s/' + this.selected.value + '/' + togo)
      }
    }
  }
}
</script>
