<template>
  <v-menu
    :close-on-content-click=false
  >
    <template v-slot:activator="{ props }">
      <v-icon
        :color="color"
        v-bind="props"
      >
        mdi-palette
      </v-icon>
    </template>
    <v-color-picker
      v-model="color"
    />
  </v-menu>
</template>

<script>
export default {
  name: 'ColorPicker',
  props: {
    color_p: String
  },
  data () { return {
      color: null
    }
  },
  watch: {
    color () {
      this.$emit('getBackColor', this.color);
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      // Код, который будет запущен только после отображения всех представлений
      this.color = this.color_p
    })
  }
}
</script>

<style>

</style>
