<template>
  <v-select
    v-model="filter"
    :items="items"
    multiple
    :prepend-icon="filterCustomSelectionIcon(value, items)"
    dense
    @input="$emit('input', filter)"
  >
    <!-- With that :menu-props="{
          you can control a lot of properties including width of the column
          example: :menu-props="{maxWidth: 80}"                   -->
    <template v-slot:selection="{ item, index }">
      <span
        v-if="index === 0"
        style="padding-right:5px"
      >
        {{ headerText }}
      </span>

      <span
        v-if="filterFull(value, items)"
        class="grey--text caption"
      >

        <span v-if="index === 0">
          (All)
        </span>

      </span>

      <span v-if="!filterFull(value, items)">
        <u v-if="index === 0">
          {{ item }}
        </u>
        <small
          v-if="index === 1"
          class="grey--text caption"
        >
          (+{{ value.length - 1 }})
        </small>
      </span>
    </template>
  </v-select>
</template>

<script>

export default {

  name: 'DataTableHeaderColumn',
  props: {
    items: Array,
    headerText: String,
    value: Array,
    table: Array,
    column: String
  },

  data: () => ({
    filter: []
  }),
  watch: {
    value () {
      this.filter = this.value
    }
  },
  created: function () {
    //        this.filter = this.value
  },
  mounted: function () {
    this.$nextTick(function () {
      // Код, который будет запущен только после отображения всех представлений
      this.filter = this.value
    })
  },

  methods: {
    filterCustomSelectionIcon (selection, fulllist) {
      if (selection && selection.length === fulllist.length) return ''
      // "mdi-arrow-down-drop-circle-outline"
      else return 'mdi-filter-menu'
    },
    filterFull (selection, fulllist) {
      if (selection && selection.length === fulllist.length) return true
      else return false
    }
  }
}

</script>

<style scoped>
</style>
