<template>
  <v-row style="margin-left:10px">
    <v-col>
      <v-chip>
        <router-link
          :to="'/' + getShapeType.url + '/' + getPathP1 + '/'+ urlArray[0]"
          v-text="text[0]"
        />
      </v-chip>
      <v-chip>
        <router-link
          :to="'/' + getShapeType.url + '/' + getPathP1 + '/'+ urlArray[1]"
          v-text="text[1]"
        />
      </v-chip>
      <v-chip>
        <router-link
          :to="'/' + getShapeType.url + '/' + getPathP1 + '/'+ urlArray[3]"
          v-text="text[3]"
        />
      </v-chip>
      <v-chip>
        <router-link
          :to="'/' + getShapeType.url + '/' + getPathP1 + '/'+ urlArray[4]"
          v-text="text[4]"
        />
      </v-chip>
      <v-chip>
        <router-link
          :to="'/' + getShapeType.url + '/' + getPathP1 + '/'+ urlArray[5]"
          v-text="text[5]"
        />
      </v-chip>
      <v-chip>
        <router-link
          :to="'/' + getShapeType.url + '/' + getPathP1 + '/'+ urlArray[2]"
          v-text="text[2]"
        />
      </v-chip>
      <v-chip>
        <router-link
          :to="'/' + getShapeType.url + '/' + getPathP1 + '/'+ urlArray[6]"
          v-text="text[6]"
        />
      </v-chip>
      <!-- <v-chip>
        <router-link
          :to="'/' + getShapeType.url + '/' + getPathP1 + '/'+ urlArray[3]"
          v-text="text[3]"
        />
      </v-chip> -->
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'DHTabs',

  data: () => ({
    drawer: null,
    text: ['Details', 'XRF picking table', 'XRF chart', 'Samples U/Ra', 'Samples Gra', 'Samples CO', 'XRF vs Sampling U/Ra chart'],
    // text: ['Data', 'Details', 'XRF picking table', 'XRF chart'],
    urlArray: ['details', 'xrf', 'xrfchart', 'samples', 'samplesgra', 'samplesco', 'mixchart']
    // urlArray: ['data', 'details', 'xrf', 'xrfchart']
  }),
  computed: {
    ...mapGetters('ui2', ['getShapeType', 'getPathP1'])
  },
  methods: {
  }

}

</script>
