<template>
  <v-dialog
        v-model="dialog2Component"
        max-width="500px"
      >
        <v-card
         :key="key4Render">
          <v-card-title>
            {{ title }}
          </v-card-title>
          <v-card-text>
            {{ message }}
          </v-card-text>
          <v-card-actions>
            <v-btn v-if="showButtonOK"
              color="primary"
              text
              @click="pressedKey('OK')"
            >
              OK
            </v-btn>
            <v-btn v-if="showButtonYes"
              color="primary"
              text
              @click="pressedKey('Yes')"
            > Yes </v-btn>
            <v-btn v-if="showButtonNo"
              color="cancel"
              text
              @click="pressedKey('No')"
            > No </v-btn>
            <v-btn v-if="showButtonClose"
              color="secondary"
              text
              @click="pressedKey('Close')"
            >
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
  </v-dialog>
</template>

<script>

export default {
  name: 'DialogComponent',
  props: {
    title: String,
    message: String,
    objectToStore: Object,
    showButtonYes: { type: Boolean, default: false },
    showButtonNo: { type: Boolean, default: false },
    showButtonClose: { type: Boolean, default: false },
    showButtonOK: { type: Boolean, default: false }
  },
  data () {
    return {
      dialog2Component: true,
      key4Render: 0
    }
  },
  watch: {
    message () {
      this.key4Render += 1
    }
  },
  methods: {
    pressedKey (key) {
      if (this.objectToStore) {
        const object = []
        object.key = key
        object.obj = this.objectToStore
        this.$emit('ReturnPressedKey', object)
      } else {
        this.$emit('ReturnPressedKey', key)
      }
    }
  }
}

</script>
