<template>
  <span>
    {{ holeId }}
    <a
      :href="link"
      target="_blank"
    >
      <v-icon
        small
      >
        mdi-open-in-new
      </v-icon>
    </a>
  </span>
</template>

<script>
// eslint-disable @typescript-eslint/camelcase
export default {
  name: 'HoleID',
  props: ['holeId'],
  computed: {
    link () {
      const b = window.location.href.indexOf('#')
      return window.location.href.substring(0, b) + '#/w/' + this.holeId + '/details'
    }
  },
  methods: {
  }
}
</script>

<style>

</style>
