<template>
      <v-row>
        <v-col
          v-if="Result"
          cols="12"
        >
          <v-row>
            <v-col cols="11">
              <v-card
                v-if="data2.length==0"
                elevation="8"
                color="green"
                :style="cardStyles"
              >
                <v-row>
                  <v-col cols="11">
                    <v-card-text>{{ itemNumber + '. ' + goodText + ' ' + headerText }}</v-card-text>
                  </v-col>
                  <v-col cols="1">
                    <v-icon
                      v-if="showTable"
                      @click="showTable=!showTable"
                    >mdi-eye-off
                    </v-icon>
                    <v-icon
                      v-if="!showTable"
                      @click="showTable=!showTable"
                    >mdi-eye
                    </v-icon>
                  </v-col>
                </v-row>
              </v-card>

              <v-card
                v-if="data2.length>0"
                color="orange"
              >
              <v-row>
                <v-col cols="11">
                  <v-card-text>{{ itemNumber + '. ' + 'Attention ! ' + headerText + '. ' + data2.length + ' item(s).'}}</v-card-text>
                </v-col>
                <v-col cols="1">
                  <v-icon
                    v-if="showTable"
                    @click="showTable=!showTable"
                  >mdi-eye-off
                  </v-icon>
                  <v-icon
                    v-if="!showTable"
                    @click="showTable=!showTable"
                  >mdi-eye
                  </v-icon>
                </v-col>
              </v-row>
              </v-card>
            </v-col>
                    <v-col
          v-if="(data2.length>0)"
          cols="1"
        >
          <v-btn
            class="ma-1"
            color="light-blue"
            @click="copy"
          >
            <v-icon>
              mdi-file-document-multiple-outline
            </v-icon>
          </v-btn>
        </v-col>
          </v-row>
            <v-row><br></v-row>
            <v-data-table
            v-if="showTable"
            dense
            :headers="headers"
            :items="data2"
            :items-per-page="15"
            class="elevation-3"
            show-group-by
          >
            <template v-slot:[`item.HOLEID`]="{ item }">
              <span>
                <HoleID :hole-id="item.HOLEID" />
              </span>
            </template>
          </v-data-table>
        </v-col>
        <v-card v-if="!Result">
          <Loading />
        </v-card>
      </v-row>
</template>

<script>
import f from '@/store/fetch.js'
import k from '@/lib/k.js'

export default {
  name: 'KDataTable',
  props: {
    headerText: String, // this text will be added to both good case (if there are no records in downloaded table ) and notgood case (there are records)
    tfn: String,
    p2: {
      type: String,
      default: ''
    },
    p3: {
      type: String,
      default: ''
    },
    goodText: { // this text will be added to the beginning of the text in case if there are no records in downloaded table
      type: String,
      default: ''
    },
    itemNumber: { // this text will be added to the beginning of the text in case if there are no records in downloaded table
      type: String,
      default: ''
    },
    showTable1: { // if you give any string then it will shown by default, if do not give then will be shown only after click on eye icon
      type: String,
      default: ''
    }
  },
  data () {
    return {
      showTable: '',
      data2: [],
      Result: 0,
      dynamicHeaders: '',
      headers: [],
      cardStyles: { // css for v-card
        margin: '0',
        padding: '0'
      }
    }
  },
  computed: {
    p1 () {
      return this.$route.params.p1
    }
  },
  watch: {
    p1 () {
      if (this.$route.params.p1) {
        this.getData()
      }
    }
  },
  methods: {
    copy () {
      let csv = this.headers.map(header => header.text).join('\t') + '\r\n' // Use this.headers to generate CSV headers
      csv += this.data2.map(item => {
        return this.headers.map(header => item[header.value]).join('\t')
      }).join('\r\n')
      navigator.clipboard.writeText(csv)
    },
    getData () {
      this.Result = 0
      this.data2 = []
      const url = k.idcardAspUrl() + 'querytfn1.aspx?tfn=' + this.tfn + '&p1=' + this.p1 + '&p2=' + this.p2 + '&p3=' + this.p3
      f.fget(url)
        .then(res => {
          this.data2 = res.content
          this.Result = res.result
          if (this.data2.length > 0) {
            // Convert this.dynamicHeaders into the headers format for Vuetify
            this.headers = Object.keys(this.data2[0]).map(key => {
              return {
                text: key,
                value: key,
                groupable: false
              }
            })
          }
        })
    }
  },
  mounted () {
    this.getData()
    this.showTable = this.showTable1
  }
}
</script>
