<template>
  <div
    class="text-center">
    <v-dialog
      v-model="helpDialogVisible"
      :width="dialogFormWidth"
    >
      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
          {{ headerText }}
        </v-card-title>
        <v-card-text>
          {{ preText }}
        </v-card-text>
        <v-img
          v-if="imgFullPath"
          :src="imgFullPath"
          />
        <v-card-text>
          {{ pastText }}
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="info"
            text
            @click="helpDialogVisible = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script setup>
  import { ref, onMounted } from 'vue'

  const el = ref()
  onMounted(() => {
    el.value // <div>
  })
</script>

<script>

import k from '@/lib/k.js'
export default {
  name: 'KHelpDialog',
  props: {
    showDialogProp: { type: Number, default: 0 },
    /* headerText: { type: String, default: '' },
    preText: { type: String, default: '' },
    pastText: { type: String, default: '' } */
  },
  data () {
    return {
      helpDialogVisible: false,
      helpFileExist: false,
      helpFolderPath: '',
      headerText: '',
      preText: '',
      pastText: '',
      imgFullPath: '',
      dialogFormWidth: 500
    }
  },
  methods: {
    fetchJsonFromHelpFile () {
      this.headerText = ''
      this.preText= ''
      this.pastText= ''
      this.imgFullPath = ''
      
      // Make an HTTP request to fetch the JSON data
      // console.debug('this.helpPath = ', this.helpPath)
      if (this.helpFolderPath) {
        const fullJsonUrl = this.helpFolderPath + '/help.json'
        console.info('h01. fullJsonUrl = ', fullJsonUrl)
        fetch(fullJsonUrl) // You may need to adjust the file path or provide a full URL
          .then(response => {
            console.log('h02. response = ', response)
            if (response.status === 404) {
              console.log('h03. no json file') // never comes here
              return {} // Return an empty object for a 404 error
            } else if (response.ok) {
              const content = response.text() // response.json()   // comes here everytime
              console.log('h04. response.ok. content = ', content)
              return content // Parse JSON for successful responses
            } else {
              console.log( )
              throw new Error('h05. Error fetching JSON data')
            }
          })
          .then(dataText => { 
            // Comes here when jsonfile exists
            // console.log('h06. response.ok. dataText = ', dataText) 
            try {
              let data = JSON.parse(dataText);
              console.log('h06.1. response.ok. JSON parsed data = ', data) 
              
              this.headerText = data.headerText
              this.preText = data.preText 
              this.pastText = data.pastText 
              this.helpFileExist = true
              this.dialogFormWidth = 1000
              // set image path
              this.imgFullPath = this.helpFolderPath + '/help.png' 
            } catch (e) {
              // not a json-file
              this.dialogFormWidth = 500
              this.preText = 'Файл помощи не доступен или отсутствует.'
              console.log('h.02. Not a json-file')
            } 
          })
          .catch(error => {
            // Comes here when we got unexpected error
            console.log('Error when fetching:', error)
          })
      }
    }    
  },
  computed: {
  },
  watch: {
    showDialogProp () {
      const endOfPath = this.$route.path.split('/').slice(3).join('/')
      console.info('watch. showDialogProp started, endOfPath =', endOfPath )
      this.helpFolderPath = '' + k.idcardUrl() + 'help/' + endOfPath

      this.helpDialogVisible = true
      this.fetchJsonFromHelpFile()
    }
  }
}
</script>
