<template>
  <v-progress-circular
    indeterminate
    color="primary"
    :class="classText"
    :size="sizeOfCircle"
  />
</template>

<script>
export default {
  name: 'Loading',
  props: {
    sizeOfCircle: { type: String, default: '40' },
    classText:  { type: String, default: 'mt-4 mb-4' }
  },
  computed: {
  },
  methods: {
  }
}
</script>

<style>

</style>
