<template>
  <v-row>
    <v-col>
      <!-- <span>{{ d[0]+' '+d[1] }}</span> -->
      <!-- @click="dToConsoleLog" -->
      <v-row
        v-if="d[0]"
      >
        <v-col cols="12">
          <v-btn
            class="ma-2"
            color="indigo"
            @click="refreshChart"
          >
            <v-icon>
              mdi-refresh
            </v-icon>
          </v-btn>
          <EVChart
            class="chart"
            :style="cStyle"
            :option="option"
          />
        </v-col>
      </v-row>
      <Loading
        v-if="!d[0]"
      />
    </v-col>
  </v-row>
</template>

<script>
import { use } from 'echarts/core'
import { CanvasRenderer } from 'echarts/renderers'
import {
  PieChart,
  ScatterChart
} from 'echarts/charts'
import {
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  ToolboxComponent,
  DataZoomComponent,
  VisualMapComponent,
  TimelineComponent,
  CalendarComponent
} from 'echarts/components'
import
// VChart,
{ THEME_KEY } from 'vue-echarts'

use([
  ScatterChart,
  CanvasRenderer,
  PieChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  ToolboxComponent,
  DataZoomComponent,
  VisualMapComponent,
  TimelineComponent,
  CalendarComponent
])

export default {
  name: 'Scatter',
  components: {
    // VChart
  },
  provide: {
    [THEME_KEY]: 'dark' // $vuetify.theme.dark
  },
  props: {
    d: Array,
    titleText: String,
    xAxisName: String,
    yAxisName: String,
    cStyle: String,
    seriesSymbolSize: {
      type: Number,
      default: 10
    },
    tooltipFormatter: { // https://echarts.apache.org/en/option.html#tooltip.formatter
      type: String,
      default: '{c0}'
    }
  },
  computed: {
    dComputed () {
      return this.d
    }
  },
  watch: {
    dComputed: {
      handler: function (dnew) { this.option.series[0].data = dnew },
      deep: true
    }
  },
  data () {
    return {
      style: this.style,
      option: { // https://echarts.apache.org/en/option.html
        // dataset: {
        //   source: this.d
        // },
        tooltip: {
          trigger: 'item',
          show: true,
          triggerOn: 'mousemove',
          formatter: this.tooltipFormatter
        },
        title: {
          text: this.titleText,
          show: true
        },
        xAxis: {
          name: this.xAxisName,
          nameLocation: 'center',
          offset: 1,
          nameGap: 20,
          splitLine: {
            lineStyle:
              {
                width: 2
              }
          }
        },
        yAxis: {
          name: this.yAxisName,
          nameLocation: 'center',
          nameGap: 35
        },
        series: [{
          type: 'scatter',
          symbolSize: this.seriesSymbolSize,
          data: []
        }]
      }
    }
  },
  methods: {
    dToConsoleLog () {
      console.log('d ' + this.d)
      console.log('this.option.series[0].data '); console.log(this.option.series[0].data)
      console.log('this.option.series[0].data[0] '); console.log(this.option.series[0].data[0])
    },
    refreshChart () {
      const even = this.d.filter(n => n % 2 !== 0)
      this.option.series[0].data = even
    }
  }
}
</script>

<style scoped>
</style>
