<template>
  <span v-if="gettbSdeAttrFT">
    <small>
      {{ text }}
      <a
        v-if="link"
        :href="link"
      >
        <v-icon small>mdi-link</v-icon>
      </a>
    </small>
  </span>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'ShapeInfo',
  data () {
    return {
      text: '',
      link: ''
    }
  },
  computed: {
    ...mapGetters('ui2', ['getShapeType']),
    ...mapGetters('sde', ['gettbSdeAttrFT'])
  },
  watch: {
    gettbSdeAttrFT () {
      this.update()
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      this.update()
    })
  },
  methods: {
    update () {
      if (this.gettbSdeAttrFT) {
        const today = new Date().toISOString().slice(0, 10)
        const b = window.location.href.indexOf('#')
        const l = window.location.href.substring(0, b) + '#/'
        let res = 'Selection of drillholes based on the shape of the polygon '
        if (this.getShapeType.type === 'TB_DEM') {
          res += this.gettbSdeAttrFT[0].BLOCK + ' '
          res += ' modified by  ' + this.gettbSdeAttrFT[0].EDIT_MODIFIER + ' on ' + this.gettbSdeAttrFT[0].EDIT_MODIFYDATE
          this.link = l + 'b/' + this.gettbSdeAttrFT[0].BLOCK + '/id/idcard'
        } else if (this.getShapeType.type === 'TB_GEOS') {
          res += this.gettbSdeAttrFT[0].BLOCK + ' ' + this.gettbSdeAttrFT[0].REQUESTID
          res += ' modified '
          res += this.gettbSdeAttrFT[0].EDIT_MODIFIER ? 'by  ' + this.gettbSdeAttrFT[0].EDIT_MODIFIER : ''
          res += ' on ' + this.gettbSdeAttrFT[0].EDIT_MODIFYDATE
          res += ' ' + this.gettbSdeAttrFT[0].Reserves_category + ' '
          this.link = l + 'b/' + this.gettbSdeAttrFT[0].BLOCK + '/bh/design'
        } else if (this.getShapeType.type === '3D_GEOS') {
          res += this.gettbSdeAttrFT[0].ProjectID + ' '
          this.link = ''
        }
        res += ' (' + this.gettbSdeAttrFT[0].STArea + 'm2)'
        res += '. Drillholes are the actual list from acQuire/Atomgeo databases as of ' + today
        this.text = res
      }
    }
  }
}
</script>

<style>

</style>
