<template>
  <v-chip
    :color="getStatusColor(xrfStatus)"
    dark
  >
    {{ xrfStatus }}
  </v-chip>
</template>

<script>
// eslint-disable @typescript-eslint/camelcase
export default {
  name: 'XRFStatus',
  props: ['xrfStatus'],
  methods: {
    getStatusColor (x) {
      if (x === 'Picked') return 'green'
      else return 'red'
    }
  }
}
</script>

<style>

</style>
